2026/05/24/ckzQIk7MN5GIcYwH.json
{"nodes":[{"parameters":{"path":"getvars","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,-16],"id":"4590467b-5e10-443d-b9d2-c853986d35aa","name":"getvars","webhookId":"0fcf2730-20c9-4278-868c-7459c64aa9ae","credentials":{"httpBasicAuth":{"id":"smVI9SwS2nXdox38","name":"getVar-01...J9S"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-208],"id":"ce13f417-2d30-4389-a15a-6ec5702225a3","name":"When clicking ‘Execute workflow’"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[592,-112],"id":"e8e57df6-9b51-422c-90ff-6173d1d0d2d4","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"ce4e3d30-42dd-4b52-9bea-2c8f799069d9","name":"appid_discord","value":"1455743225087266869","type":"string"},{"id":"b2123835-4272-41bd-a8d6-687661a50905","name":"pubkey_discord","value":"95efaec6310c395923ae895e7d2f657832079fb324decea60f8cf2da17953814","type":"string"},{"id":"c1313ae3-9109-4f5a-9271-1c22bf73f61c","name":"clientid_discord","value":"1455743225087266869","type":"string"},{"id":"a28d8546-9465-454a-b6b6-cbe88205cc1a","name":"clientsecret_discord","value":"HerQlTdOo0Fq-olkuj7LHwhayT1DYDvG","type":"string"},{"id":"c1793848-374d-4af3-baa8-28569af8a5bf","name":"super-admin","value":"[\"saladin1980\",\"alpha_ms\",\"iblakexi\"]","type":"array"},{"id":"eb7c4dc4-cbb3-40ba-9466-df7738a26095","name":"api-auth-token","value":"wEERGi1skLGwltOZprjUerXzOA86lr148HPS9feAxqHPkHo5EVam1i4r6ldSsear","type":"string"},{"id":"gv-game-version","name":"game_version","value":"={{ $json.sc_version }}","type":"string"},{"id":"gv-sc-build","name":"sc_build","value":"={{ $json.sc_build }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-112],"id":"6288d337-21b4-4473-ae64-e0b8f1d817d4","name":"set defaults"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  SPLIT_PART(game_version, '-', 1) AS sc_version,\n  SPLIT_PART(game_version, '-', 2) AS sc_build\nFROM datap4k_ships_raw \nORDER BY imported_at DESC \nLIMIT 1;","options":{}},"id":"pg-game-version","name":"Get Game Version","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[144,-112],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"getvars":{"main":[[{"node":"Get Game Version","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Game Version","type":"main","index":0}]]},"set defaults":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Game Version":{"main":[[{"node":"set defaults","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}