2026/05/24/ffO1MCnmKc5VIjuS.json
{"nodes":[{"parameters":{},"id":"c4ce1873-2ad8-4af8-88c5-377112ead65f","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,224]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,144],"id":"b3f83c4b-827c-4f1a-b4af-9f52b0426779","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,32],"id":"137a56f2-5054-448b-8442-289f98eae3a1","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,0],"id":"2e851913-4e6a-46e7-8c05-3136c352596d","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2016,80],"id":"d0dc8dcf-7817-4e6a-ab9b-70d63ab250ab","name":"Execute a SQL query","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  COALESCE(\n    c.metadata->>'slug',\n    lower(regexp_replace(c.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug\nFROM companies c\nORDER BY c.name;\n","options":{}},"id":"6f42e11b-c7b1-4230-83fa-77d8d512c78e","name":"Companies – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[224,144],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.source,\n  c.source_id,\n  c.name,\n  COALESCE(\n    c.metadata->>'slug',\n    lower(regexp_replace(c.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug,\n\n  -- metadata scope (ONLY from companies.metadata)\n  (c.metadata->>'is_item_manufacturer')::int    AS meta_is_item_manufacturer,\n  (c.metadata->>'is_vehicle_manufacturer')::int AS meta_is_vehicle_manufacturer,\n  c.metadata->>'industry'  AS meta_industry,\n  c.metadata->>'nickname'  AS meta_nickname,\n\n  -- NEW: vehicle count (deterministic, Phase-5 join rule)\n  (\n    SELECT COUNT(*)\n    FROM vehicles v\n    WHERE v.company_uex_id = c.source_id\n  ) AS vehicle_count\n\nFROM companies c\nWHERE c.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"49df6fa9-cd1d-479a-a817-d8cf1ffee3b2","name":"Company – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[672,0],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — COMPANIES (Phase 5 Stub)\n// Entity Type: misc\n// Source Table: companies\n// Hashing: clone-style stableStringify + FNV hash16 (NO crypto)\n// IMPORTANT: JSONKB file path is NOT derived from kbdefaults.\n//           kbdefaults is reserved for later markdown/link workflows.\n// ============================================================\n\n// ---------- input: Company detail ----------\nconst cItems = $items(\"Company – Detail\");\nif (!cItems || cItems.length === 0) {\n  throw new Error('JSONKB Companies: Missing input from node \"Company – Detail\".');\n}\nconst c = cItems[0].json;\n\n\n\n// ---------- helpers ----------\nfunction safeStr(v) {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  return s.length ? s : null;\n}\n\nfunction boolish(v) {\n  if (v === true || v === false) return v;\n  if (v === 1 || v === 0) return Boolean(v);\n  const s = String(v ?? '').toLowerCase();\n  if (s === 'true' || s === '1' || s === 'yes') return true;\n  if (s === 'false' || s === '0' || s === 'no') return false;\n  return false;\n}\n\n// ---------- core identity ----------\nconst id   = c.id;\nconst name = safeStr(c.name) || '(Unknown Company)';\nconst slug =\n  safeStr(c.slug) ||\n  (safeStr(c.source_id) ? safeStr(c.source_id).replace(':', '-') : null);\n\nif (!id) throw new Error('JSONKB Companies: company id is missing.');\nif (!slug) throw new Error(`JSONKB Companies: slug is missing for ${name}.`);\n\nconst source    = safeStr(c.source) || 'uex';\nconst source_id = safeStr(c.source_id);\n\n// ---------- uex_id (derived from source_id only; deterministic) ----------\nlet uex_id = null;\nif (source_id && source_id.includes(':')) {\n  const p = parseInt(source_id.split(':')[1], 10);\n  if (!Number.isNaN(p)) uex_id = p;\n}\n\n// ---------- metadata (LOCKED: from companies.metadata via meta_*) ----------\nconst nickname                = safeStr(c.meta_nickname);\nconst industry                = safeStr(c.meta_industry);\nconst is_item_manufacturer    = boolish(c.meta_is_item_manufacturer);\nconst is_vehicle_manufacturer = boolish(c.meta_is_vehicle_manufacturer);\n\n// ---------- vehicle count (from Company – Detail SQL) ----------\nconst vehicle_count = Number(c.vehicle_count ?? 0);\n\n// ---------- entity_metadata ----------\nconst entity_metadata = {\n  uex_company_id: uex_id,\n  nickname,\n  industry,\n  is_item_manufacturer,\n  is_vehicle_manufacturer,\n  vehicle_count,\n};\n\n// ---------- kb_text (sentence-based, count-aware) ----------\nconst kb_text = [\n  `${name}${nickname ? `, also known as ${nickname},` : ''} is a company` +\n    (industry ? ` operating in the ${industry} industry` : '') +\n    (is_vehicle_manufacturer ? ' that manufactures vehicles.' :\n     is_item_manufacturer ? ' that manufactures items.' :\n     '.'),\n  vehicle_count > 0\n    ? `It currently has ${vehicle_count} vehicle${vehicle_count === 1 ? '' : 's'} associated.`\n    : null\n].filter(Boolean).join(' ');\n\n// ---------- kb_links (future-ready; DO NOT drive jsonkb_file_path from kbdefaults) ----------\nconst kb_links = {\n  kb_page_path: `/kb/${slug}`,\n  kb_browse_path: `/browse?category=company`,\n};\n\n// ---------- rag_hints (simple + cheap) ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      name: 'vehicles_by_company',\n      description: 'Vehicles manufactured by this company',\n      sql:\n`SELECT\n  v.id   AS vehicle_id,\n  v.name AS vehicle_name,\n  v.slug,\n  v.scu,\n  v.is_spaceship,\n  v.is_ground_vehicle\nFROM vehicles v\nWHERE v.company_uex_id = :company_source_id\nORDER BY v.name`,\n      params: {\n        company_source_id: source_id,\n      },\n    }\n  ],\n  notes: null,\n};\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Companies (Phase5 Stub)',\n  game_version: null,\n  is_live_only: true,\n  content_hash: null,\n};\n\n// ---------- build JSONKB ----------\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type: 'company',\n  entity_id: id,\n  entity_slug: slug,\n  entity_name: name,\n\n  source,\n  source_id,\n  source_table: 'companies',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\n// ---------- stable stringify + hash16 (clone logic) ----------\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null;\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm);\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n    return v;\n  }\n\n  return JSON.stringify(norm(value));\n}\n\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\n\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/company/${slug}`;\n\n// ---------- output ----------\nreturn [\n  {\n    json: {\n      company_id: id,\n      slug,\n      name,\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"05a5fdf7-39fb-4f43-9f1a-1f2d3b942bc0","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[896,0]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,0],"id":"abb25016-ea53-4767-97ba-9ff9623da0a0","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"id":"ccf39226-04a4-4613-bfd5-f3f0317f46d9","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,0],"id":"424b32c0-dc2e-4e07-aa74-41eff6027bf5","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Companies – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Companies – List","type":"main","index":0}]]},"Companies – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Company – Detail","type":"main","index":0}]]},"Company – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}