2026/05/24/jBBIs2O7teWlO2Sr.json
{"nodes":[{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/cities/","options":{}},"id":"60e520a4-74f7-4f28-b3ae-c279fce7a7c1","name":"Get Cities","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-16,-176],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-80],"id":"2489e0c7-bac5-4d18-a774-61decf56d45a","name":"JS Cities","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,-176],"id":"001d0bd5-5a5b-46ca-a2c7-724b4665684e","name":"Loop Over Cities"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/cities/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for jurisdictions'\n)\nRETURNING id;\n","options":{}},"id":"a012f799-f9b0-4f19-a99f-00a3de1565e2","name":"Create Batch Cities","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,-272],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_cities_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Cities\"].json[\"id\"]}},{{ JSON.stringify($('JS Cities').item.json.row) }}"}},"id":"9c649f67-80c3-40c3-85c3-6c33a2621984","name":"Insert uex_cities_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[880,-176],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-176],"id":"af56958c-2505-496c-baea-929d9e6a9886","name":"When Executed by Another Workflow"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[432,-176],"id":"c6b7c542-7f0b-4704-b2fa-82f6d103c67c","name":"Merge"}],"connections":{"Get Cities":{"main":[[{"node":"JS Cities","type":"main","index":0},{"node":"Create Batch Cities","type":"main","index":0}]]},"JS Cities":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Cities":{"main":[[],[{"node":"Insert uex_cities_raw","type":"main","index":0}]]},"Create Batch Cities":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_cities_raw":{"main":[[{"node":"Loop Over Cities","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Cities","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Cities","type":"main","index":0}]]}},"pinData":{},"meta":null}