2026/05/24/sWB5iKk9Ipk7UAiB.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"workflow-launcher","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"a625a19b-3944-4405-8e94-6909b9d10ded","name":"Launcher Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,304],"webhookId":"9e7a509c-3181-4f25-98b6-21066ed8d055"},{"parameters":{"jsCode":"const SHARED_TOKEN = 'lkjhgasdf123498765';\nconst body = $input.first().json.body || $input.first().json;\nif (body.token !== SHARED_TOKEN) {\n  return [{ json: { ok: false, error: 'Unauthorized' } }];\n}\nreturn [{ json: { ok: true, action: body.action, workflowId: body.workflowId, payload: body.payload || {} } }];"},"id":"5c534364-ea5e-4f60-917e-2b6262d8a831","name":"Validate Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"721c28e9-d456-4203-ab73-d7eaf22a8173","name":"Auth OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"list","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"run","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"83e40805-bec3-4cbe-8795-96c740091c7b","name":"Route by Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1024,304]},{"parameters":{"url":"https://n8.saladins.io/api/v1/workflows?active=true&limit=100","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"a95dfd76-f6b3-4dde-b500-b95f49f3064d","name":"Fetch n8n Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1280,160],"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const data = $input.first().json.data || [];\nreturn [{\n  json: {\n    ok: true,\n    workflows: data.map(w => ({\n      id: String(w.id),\n      name: w.name,\n      tags: (w.tags || []).map(t => t.name || t)\n    }))\n  }\n}];"},"id":"492e8180-f9c4-440e-800a-7583ebe81e68","name":"Build Workflow List","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,160]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"138b3e11-084c-430d-b233-5c9b25f83493","name":"Respond with List","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1808,160]},{"parameters":{"jsCode":"const ALLOWED = {\n  \"contact-agent\":   \"vTj3T7xemfhW2zCD\",\n  \"email-agent\":     \"AF7htbvRdeybWDWB\",\n  \"calendar-agent\":  \"1CYo5HW7wvNnMzjO\",\n  \"content-creator\": \"MX376XOGKbfUZVeB\",\n  \"memories-agent\":  \"kiPBd79y0nNyKoOR\"\n};\nconst { workflowId, payload } = $input.first().json;\nconst targetId = ALLOWED[workflowId];\nif (!targetId) {\n  return [{ json: { ok: false, error: 'Workflow not found or not allowed: ' + workflowId } }];\n}\nreturn [{ json: { ok: true, targetId, workflowId, payload: payload || {} } }];"},"id":"6108a2be-39d5-40c1-9d59-21e97ef86d15","name":"Validate and Map Workflow","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5a6aa47f-b9a6-42a2-a7a7-d28725988c8c","name":"Run Allowed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,352]},{"parameters":{"workflowId":"={{ $json.targetId }}","options":{"waitForSubWorkflow":false}},"id":"7af818a1-a829-445e-ab13-6ec05925d5c5","name":"Execute Sub-workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,288]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, workflowId: $(\"Validate and Map Workflow\").item.json.workflowId, message: \"Workflow triggered\" }) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"cc5e40f1-2b87-4c39-bd80-dd5828a7bb90","name":"Respond Run OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2064,288]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, error: $json.error }) }}","options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"56d9b171-548b-45cb-b944-0096cddf7cc3","name":"Respond Run Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1808,464]},{"parameters":{"respondWith":"json","responseBody":"{\"ok\":false,\"error\":\"Unknown action. Use list or run.\"}","options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"b8fed334-4dcd-41cf-8fa7-ac013e99b396","name":"Respond Unknown Action","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1280,528]},{"parameters":{"respondWith":"json","responseBody":"{\"ok\":false,\"error\":\"Unauthorized\"}","options":{"responseCode":401,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"e2323499-4b14-44d6-9266-69db0dd86452","name":"Respond Unauthorized","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1024,480]}],"connections":{"Launcher Webhook":{"main":[[{"node":"Validate Token","type":"main","index":0}]]},"Validate Token":{"main":[[{"node":"Auth OK?","type":"main","index":0}]]},"Auth OK?":{"main":[[{"node":"Route by Action","type":"main","index":0}],[{"node":"Respond Unauthorized","type":"main","index":0}]]},"Route by Action":{"main":[[{"node":"Fetch n8n Workflows","type":"main","index":0}],[{"node":"Validate and Map Workflow","type":"main","index":0}],[{"node":"Respond Unknown Action","type":"main","index":0}]]},"Fetch n8n Workflows":{"main":[[{"node":"Build Workflow List","type":"main","index":0}]]},"Build Workflow List":{"main":[[{"node":"Respond with List","type":"main","index":0}]]},"Validate and Map Workflow":{"main":[[{"node":"Run Allowed?","type":"main","index":0}]]},"Run Allowed?":{"main":[[{"node":"Execute Sub-workflow","type":"main","index":0}],[{"node":"Respond Run Error","type":"main","index":0}]]},"Execute Sub-workflow":{"main":[[{"node":"Respond Run OK","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}