2026/05/24/VyVCSj49ur6XiWPp.json
{"nodes":[{"parameters":{"formTitle":"Upload Jsons","formDescription":"=","formFields":{"values":[{"fieldLabel":"Json Files","fieldType":"file","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"path":"Datapack","customCss":":root {\n  --font-family: 'Inter Tight', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-label: 13px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 13px;\n  --font-size-paragraph: 13px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-test-notice: 12px;\n  --font-size-html-h1: 26px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n  --color-background: #0d1117;\n  --color-card-bg: #161b22;\n  --color-card-border: #30363d;\n  --color-card-shadow: rgba(0,0,0,0.5);\n  --color-header: #e6edf3;\n  --color-header-subtext: #8b949e;\n  --color-label: #c9d1d9;\n  --color-html-text: #c9d1d9;\n  --color-input-border: #30363d;\n  --color-input-text: #c9d1d9;\n  --color-focus-border: #388bfd;\n  --color-submit-btn-bg: #238636;\n  --color-submit-btn-text: #ffffff;\n  --color-link: #58a6ff;\n  --color-html-link: #58a6ff;\n  --color-error: #f85149;\n  --color-required: #f85149;\n  --color-clear-button-bg: #484f58;\n  --color-test-notice-text: #e3b341;\n  --color-test-notice-bg: #1a1400;\n  --color-test-notice-border: #9e6a03;\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n  --container-width: 500px;\n  --submit-btn-height: 44px;\n  --checkbox-size: 18px;\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --card-padding: 28px;\n  --margin-bottom-card: 14px;\n  --card-margin-bottom: 14px;\n  --padding-form-input: 10px;\n  --padding-test-notice-vertical: 10px;\n  --padding-test-notice-horizontal: 20px;\n  --opacity-placeholder: 0.35;\n  --box-shadow-card: 0 4px 24px 0 var(--color-card-shadow);\n}\n<body>\n<div style=\"margin:0 0 20px;padding:14px 16px;background:#0d1117;border:1px solid #30363d;border-radius:8px;\">\n  <div style=\"font-size:10px;color:#484f58;letter-spacing:.08em;text-transform:uppercase;margin-bottom:10px;\">Required files — 11 total</div>\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:4px 20px;font-family:monospace;font-size:11px;color:#58a6ff;line-height:1.8;\">\n    <span>ships.json</span><span>ground_vehicles.json</span>\n    <span>armor.json</span><span>weapons.json</span>\n    <span>components.json</span><span>items.json</span>\n    <span>shops.json</span><span>crafting.json</span>\n    <span>mining.json</span><span>mining_gear.json</span>\n    <span>loot_tables.json</span>\n  </div>\n</div></body>"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[0,-80],"id":"7d41e416-9436-459b-a22c-bf2ed236a9af","name":"On form submission","webhookId":"1a1a9b8e-c794-4a9b-ae7e-2991ab362b2d"},{"parameters":{"operation":"executeQuery","query":"\nCREATE TABLE IF NOT EXISTS datap4k_ships_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_ground_vehicles_raw(id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_armor_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_weapons_raw        (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_components_raw     (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_items_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_shops_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_crafting_raw       (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_mining_raw         (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_mining_gear_raw    (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_loot_tables_raw    (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,-320],"id":"7d4fc26a-d33a-4ab5-ad81-8040b01177f4","name":"Init Tables","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-96],"id":"2146dc9c-3443-4016-ad63-7b5f1dc89d1f","name":"Loop Over Files"},{"parameters":{"operation":"fromJson","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,-80],"id":"1a1a5f69-a515-4e9f-a493-52e934330bd9","name":"Extract from File"},{"parameters":{"jsCode":"\nconst FILE_TABLE_MAP = {\n  'ships.json':          'datap4k_ships_raw',\n  'ground_vehicles.json':'datap4k_ground_vehicles_raw',\n  'armor.json':          'datap4k_armor_raw',\n  'weapons.json':        'datap4k_weapons_raw',\n  'components.json':     'datap4k_components_raw',\n  'items.json':          'datap4k_items_raw',\n  'shops.json':          'datap4k_shops_raw',\n  'crafting.json':       'datap4k_crafting_raw',\n  'mining.json':         'datap4k_mining_raw',\n  'mining_gear.json':    'datap4k_mining_gear_raw',\n  'loot_tables.json':    'datap4k_loot_tables_raw',\n};\n\nconst binaryData = ($binary && $binary.data) ? $binary.data : {};\nconst fileName = binaryData.fileName || $json.filename || $json.fileName || '';\nif (!fileName) throw new Error('Missing filename — no binary.data.fileName');\n\nconst tableName = FILE_TABLE_MAP[fileName];\nif (!tableName) throw new Error('Unknown DataPack file: \"' + fileName + '\"');\n\n// extractFromFile with keepSource:json nests parsed content under $json.data\n// fall back to $json itself if that key is absent\nconst d = $json.data || $json;\n\nconst meta = d.meta || {};\nconst gameVersion = meta.game_version || 'unknown';\nlet records = [];\n\nif (fileName === 'ships.json') {\n  // {meta, ships: [...]}\n  records = d.ships || [];\n}\nelse if (fileName === 'ground_vehicles.json') {\n  // {meta, vehicles: {type, version, list: [...]}}\n  records = ((d.vehicles || {}).list) || [];\n}\nelse if (fileName === 'armor.json') {\n  // {meta, armor: {slots: [{slot-id, slot-name, items: [...]}]}}\n  // slot field already present on each item — just flatten\n  var slots = ((d.armor || {}).slots) || [];\n  records = slots.reduce(function(acc, slot) { return acc.concat(slot.items || []); }, []);\n}\nelse if (fileName === 'weapons.json') {\n  // {meta, weapons: {categories: [{category-id, items: [...]}]}}\n  // inject \"category\" so SQL can read data->>'category'\n  var cats = ((d.weapons || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { category: catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'components.json') {\n  // {components: {categories: [{category-id, items: [...]}]}}\n  // inject \"category-id\" so SQL CASE on data->>'category-id' works\n  var cats = ((d.components || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { 'category-id': catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'items.json') {\n  // {meta, items: {categories: [{category-id, items: [...]}]}}\n  var cats = ((d.items || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { 'category-id': catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'shops.json') {\n  // {meta, shops: [{shop, location, inventory: [...]}]}\n  // inject shop + location so SQL reads data->>'shop', data->>'location'\n  var shops = d.shops || [];\n  records = shops.reduce(function(acc, s) {\n    return acc.concat((s.inventory || []).map(function(item) {\n      return Object.assign({}, item, { shop: s.shop, location: s.location });\n    }));\n  }, []);\n}\nelse if (fileName === 'crafting.json') {\n  // {meta, crafting: {categories: [{category-id, items: [{manufacturer, family, variants: [...]}]}]}}\n  // flatten to individual variants, inject category-id + family + manufacturer\n  var cats = ((d.crafting || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).reduce(function(acc2, item) {\n      return acc2.concat((item.variants || []).map(function(v) {\n        return Object.assign({}, v, {\n          'category-id': catId,\n          'family': item.family,\n          'manufacturer': item.manufacturer\n        });\n      }));\n    }, []));\n  }, []);\n}\nelse if (fileName === 'mining.json') {\n  // {meta, elements: [...], compositions: [...], planet-mineables: [...]}\n  // inject _section so SQL filters WHERE data->>'_section' = 'elements'\n  records = [].concat(\n    (d.elements || []).map(function(r) { return Object.assign({}, r, { _section: 'elements' }); }),\n    (d.compositions || []).map(function(r) { return Object.assign({}, r, { _section: 'compositions' }); }),\n    (d['planet-mineables'] || []).map(function(r) { return Object.assign({}, r, { _section: 'planet-mineables' }); })\n  );\n}\nelse if (fileName === 'mining_gear.json') {\n  // {meta, mining-gear: {categories: [{category-id, items: [...]}]}}\n  // inject \"category\" so SQL reads data->>'category'\n  var cats = ((d['mining-gear'] || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { category: catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'loot_tables.json') {\n  // {meta, loot: {categories: [{category-id, category-name, loot-tables: [{name, rarity, archetypes:[]}]}]}}\n  // each row = one loot table entry, with category-id + category-name injected\n  var cats = ((d.loot || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    var catName = cat['category-name'] || catId;\n    return acc.concat((cat['loot-tables'] || []).map(function(table) {\n      return Object.assign({}, table, { 'category-id': catId, 'category-name': catName });\n    }));\n  }, []);\n}\n\nreturn [{\n  json: {\n    tableName: tableName,\n    fileName: fileName,\n    gameVersion: gameVersion,\n    recordCount: records.length,\n    records: records\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-80],"id":"9a4f3c96-7b5a-441d-b90d-57dbb730f09b","name":"Identify Table"},{"parameters":{"jsCode":"\nconst { tableName, gameVersion, records } = $json;\n\nif (!tableName) throw new Error('Missing tableName');\nif (!Array.isArray(records)) throw new Error('records is not an array');\nif (!/^[a-zA-Z0-9_]+$/.test(tableName)) throw new Error('Unsafe table name: ' + tableName);\n\nconst gv = String(gameVersion || 'unknown').replace(/'/g, \"''\");\nconst sqlParts = [];\n\n// Always truncate the table first\nsqlParts.push('TRUNCATE TABLE ' + tableName + ';');\n\n// Build batch inserts (500 rows each)\nif (records.length > 0) {\n  const BATCH = 500;\n  for (let i = 0; i < records.length; i += BATCH) {\n    const chunk = records.slice(i, i + BATCH);\n    const values = chunk.map(function(r) {\n      const escaped = JSON.stringify(r).replace(/'/g, \"''\");\n      return \"('\" + escaped + \"'::jsonb, '\" + gv + \"', NOW())\";\n    }).join(',');\n    sqlParts.push('INSERT INTO ' + tableName + ' (data, game_version, imported_at) VALUES ' + values + ';');\n  }\n}\n\nreturn [{ json: { sql: sqlParts.join('\\n'), tableName: tableName, recordCount: records.length } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,-80],"id":"3dffefbd-456a-4e24-9065-bf7bfccd3a9c","name":"Build Insert SQL"},{"parameters":{"operation":"executeQuery","query":"{{$json.sql}}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,-80],"id":"9e8c52c6-2b33-4838-bee1-ba42d4d965da","name":"Execute Insert","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of items) {\n  if (!item.binary) continue;\n\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n\n    output.push({\n      binary: {\n        data: file\n      },\n      json: {\n        filename: file.fileName || '',\n        size: file.fileSize || file.bytes || 0,\n        type: file.mimeType || file.fileType || '',\n        extension: file.fileExtension || ''\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-96],"id":"eb9c4266-b360-4963-9752-2d00434f444e","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT normalize_datap4k();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,-304],"id":"c4d7df91-c547-4d69-8de4-56c18417fce1","name":"normalize datapack","executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT clear_datap4k();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-320],"id":"2619a3c4-0694-414e-9c9c-401940612aa8","name":"Clear Data","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd7b6381-c3e4-49ad-86f0-a61acf5430fd","leftValue":"={{ Object.keys($binary).length }}","rightValue":11,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,-80],"id":"b15ed877-303f-4c25-88a8-7e6363e3dd51","name":"If"},{"parameters":{"operation":"completion","completionTitle":"Completed the Upload of data","completionMessage":"At this time the files are uploaded please be mindful the files are uploaded but will take time to process and each morning new data is put in.","options":{"formTitle":"Data P4K upload processing","customCss":"@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&display=swap');\n\n:root {\n  --font-family: 'Inter Tight', 'Inter', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-body: 13px;\n  --font-size-label: 13px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 13px;\n  --font-size-paragraph: 13px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-test-notice: 12px;\n  --font-size-html-h1: 26px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n\n  /* Dark space theme */\n  --color-background: #0d1117;\n  --color-card-bg: #161b22;\n  --color-card-border: #30363d;\n  --color-card-shadow: rgba(0, 0, 0, 0.4);\n\n  --color-header: #e6edf3;\n  --color-header-subtext: #8b949e;\n  --color-label: #c9d1d9;\n  --color-html-text: #c9d1d9;\n\n  --color-input-border: #30363d;\n  --color-input-text: #c9d1d9;\n  --color-focus-border: #388bfd;\n\n  --color-submit-btn-bg: #238636;\n  --color-submit-btn-text: #ffffff;\n\n  --color-link: #58a6ff;\n  --color-html-link: #58a6ff;\n  --color-error: #f85149;\n  --color-required: #f85149;\n  --color-clear-button-bg: #484f58;\n\n  --color-test-notice-text: #e3b341;\n  --color-test-notice-bg: #1c1c00;\n  --color-test-notice-border: #9e6a03;\n\n  /* Shape */\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n\n  /* Spacing */\n  --container-width: 480px;\n  --submit-btn-height: 44px;\n  --checkbox-size: 18px;\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --card-padding: 28px;\n  --margin-bottom-card: 14px;\n  --card-margin-bottom: 14px;\n  --padding-form-input: 10px;\n  --padding-test-notice-vertical: 10px;\n  --padding-test-notice-horizontal: 20px;\n\n  --opacity-placeholder: 0.4;\n  --box-shadow-card: 0 4px 24px 0 var(--color-card-shadow);\n}\n<span style=\"color:#3fb950;\">✓ Upload Complete</span>\n<p style=\"margin:0 0 12px;color:#8b949e;\">All 11 files were received and inserted into the raw tables.</p>\n<div style=\"background:#0d1117;border:1px solid #238636;border-radius:6px;padding:10px 14px;font-size:12px;color:#3fb950;\">\n  Normalization is running in the background — links and norms will update shortly. KB pipelines can be triggered once complete.\n</div>"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1024,-304],"id":"88b1fd5c-9a84-4736-ac8a-f2081a57a3af","name":"Form","webhookId":"6ff18be1-8ef7-4584-9ccc-4a206dad4576"},{"parameters":{"limitWaitTime":true,"resumeAmount":0.01,"resumeUnit":"minutes","options":{"formTitle":"=Completed: {{ $('Identify Table').item.json.fileName }}","formDescription":"=Just completed the {{$('Identify Table').item.json.fileName}} file. We will continue on with the next file, please be patient as may take a few minutes.","customCss":"@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&display=swap');\n\n:root {\n  --font-family: 'Inter Tight', 'Inter', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-body: 13px;\n  --font-size-label: 13px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 13px;\n  --font-size-paragraph: 13px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-test-notice: 12px;\n  --font-size-html-h1: 26px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n\n  /* Dark space theme */\n  --color-background: #0d1117;\n  --color-card-bg: #161b22;\n  --color-card-border: #30363d;\n  --color-card-shadow: rgba(0, 0, 0, 0.4);\n\n  --color-header: #e6edf3;\n  --color-header-subtext: #8b949e;\n  --color-label: #c9d1d9;\n  --color-html-text: #c9d1d9;\n\n  --color-input-border: #30363d;\n  --color-input-text: #c9d1d9;\n  --color-focus-border: #388bfd;\n\n  --color-submit-btn-bg: #238636;\n  --color-submit-btn-text: #ffffff;\n\n  --color-link: #58a6ff;\n  --color-html-link: #58a6ff;\n  --color-error: #f85149;\n  --color-required: #f85149;\n  --color-clear-button-bg: #484f58;\n\n  --color-test-notice-text: #e3b341;\n  --color-test-notice-bg: #1c1c00;\n  --color-test-notice-border: #9e6a03;\n\n  /* Shape */\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n\n  /* Spacing */\n  --container-width: 480px;\n  --submit-btn-height: 44px;\n  --checkbox-size: 18px;\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --card-padding: 28px;\n  --margin-bottom-card: 14px;\n  --card-margin-bottom: 14px;\n  --padding-form-input: 10px;\n  --padding-test-notice-vertical: 10px;\n  --padding-test-notice-horizontal: 20px;\n\n  --opacity-placeholder: 0.4;\n  --box-shadow-card: 0 4px 24px 0 var(--color-card-shadow);\n}\n✓ Processed: {{ $('Identify Table').item.json.fileName }}\n<p style=\"margin:0 0 10px;color:#8b949e;font-size:13px;\">\n  Inserted <strong style=\"color:#58a6ff;\">{{ $('Identify Table').item.json.recordCount }}</strong> records into \n  <code style=\"background:#0d1117;border:1px solid #30363d;padding:1px 6px;border-radius:4px;color:#c9d1d9;\">{{ $('Identify Table').item.json.tableName }}</code>.\n</p>\n<p style=\"margin:0;color:#484f58;font-size:12px;\">Moving to next file automatically&hellip;</p>"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1456,-80],"id":"80614b82-9519-4a75-881d-c2b2233053a1","name":"File completion","webhookId":"f7c87f44-cea3-4392-bc5d-a1679aeb6092"},{"parameters":{"operation":"completion","completionTitle":"Incomplete file upload","completionMessage":"At this time the expected file count was not met, please refer to the proper administration to see what may be happening. ","options":{"formTitle":"Data P4K upload processing","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[384,176],"id":"a50e7ccb-f130-4124-be98-a67a07618755","name":"Not enough files","webhookId":"6ff18be1-8ef7-4584-9ccc-4a206dad4576"}],"connections":{"On form submission":{"main":[[{"node":"If","type":"main","index":0}]]},"Init Tables":{"main":[[]]},"Loop Over Files":{"main":[[{"node":"normalize datapack","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Identify Table","type":"main","index":0}]]},"Identify Table":{"main":[[{"node":"Build Insert SQL","type":"main","index":0}]]},"Build Insert SQL":{"main":[[{"node":"Execute Insert","type":"main","index":0}]]},"Execute Insert":{"main":[[{"node":"File completion","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Clear Data":{"main":[[{"node":"Init Tables","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Clear Data","type":"main","index":0}],[{"node":"Not enough files","type":"main","index":0}]]},"normalize datapack":{"main":[[{"node":"Form","type":"main","index":0}]]},"File completion":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]}},"pinData":{},"meta":null}