2026/05/24/XUDejSMgLUD7Qb2h.json
{"nodes":[{"id":"2d0d55af-50d4-42c8-9800-52ecfd320bed","name":"KB Search Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,96],"parameters":{"path":"v3/kb-search","responseMode":"responseNode","options":{}},"webhookId":"cde3c4b1-2ccf-4e68-9758-050472aac47b"},{"id":"cd53f4c5-3d0d-4371-b2d7-4f2686e768c3","name":"Build SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"parameters":{"jsCode":"const params = ($json.query && typeof $json.query === 'object') ? $json.query : {};\nconst q = (params.q || '').trim();\nconst type = (params.type || 'general').trim();\n\nif (q.length < 2) {\n  return [{ json: { valid: false, q, type, is_general: false, sql: null } }];\n}\n\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\nconst safeQ = esc(q);\n\n// Build prefix-aware tsquery: last word gets :* so partial words match while typing\n// \"merc\" → to_tsquery('english', 'merc:*')  — matches mercury, merchant, etc.\n// \"star mer\" → to_tsquery('english', 'star & mer:*')\nconst words = safeQ.trim().split(/\\s+/).filter(function(w) { return w.length > 0; });\nconst tsqParts = words.map(function(w, i) {\n  return (i === words.length - 1) ? w + ':*' : w;\n});\nconst tsqStr = tsqParts.join(' & ');\nconst tsq = \"to_tsquery('english', '\" + tsqStr + \"')\";\n\nconst is_general = !type || type === 'general';\n\nlet sql;\nif (is_general) {\n  sql = \"SELECT slug AS entity_slug, name AS entity_name, entity_type, manufacturer, payload->'rsi'->'images'->>'slideshow_pager' AS image_url, COUNT(*) OVER() AS total_count FROM entity_display WHERE search_vector @@ \" + tsq + \" AND hidden = false ORDER BY ts_rank(search_vector, \" + tsq + \") DESC LIMIT 50\";\n} else {\n  sql = \"SELECT slug AS entity_slug, name AS entity_name, entity_type, manufacturer, payload->'rsi'->'images'->>'slideshow_pager' AS image_url FROM entity_display WHERE search_vector @@ \" + tsq + \" AND entity_type = '\" + esc(type) + \"' AND hidden = false ORDER BY ts_rank(search_vector, \" + tsq + \") DESC LIMIT 100\";\n}\n\nreturn [{ json: { valid: true, q, type, is_general, sql } }];"}},{"id":"3ebdc7cf-e894-465b-821c-50c633cb101e","name":"Check Valid","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1","leftValue":"={{ $json.valid }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"00fedbe1-c35c-4aa4-b621-74c7d984a545","name":"Run Search","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[672,0],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}},"alwaysOutputData":true},{"id":"a55b263b-4fd1-432a-9919-134e5aa60a58","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"parameters":{"jsCode":"const items = $input.all();\nconst buildSqlOut = $('Build SQL').first().json;\nconst is_general = buildSqlOut.is_general;\n\nconst validRows = items.filter(function(item) { return !!item.json.entity_slug; });\n\nconst results = validRows.map(function(item, idx) {\n  const row = {\n    entity_slug: item.json.entity_slug,\n    entity_name: item.json.entity_name,\n    entity_type: item.json.entity_type\n  };\n  if (item.json.manufacturer) { row.manufacturer = item.json.manufacturer; }\n  row.image_url = item.json.image_url || null;\n  row.kb_url = 'https://arkoncore.cc/kb/' + item.json.entity_type + '/' + item.json.entity_slug;\n  row.api_url = 'https://arkoncore.cc/api/lookup?slug=' + item.json.entity_slug;\n  if (is_general && idx === 0 && item.json.total_count !== undefined) {\n    row.count = String(item.json.total_count);\n  }\n  return row;\n});\n\nreturn [{ json: { results: results } }];"}},{"id":"1a866087-d431-4691-a2dd-9c86a485c1a2","name":"Respond Search","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,0],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json.results) }}","options":{}}},{"id":"852604a0-568f-427d-b7da-5eafb7a1818a","name":"Respond Empty","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[672,192],"parameters":{"respondWith":"json","responseBody":"[]","options":{}}}],"connections":{"KB Search Webhook":{"main":[[{"node":"Build SQL","type":"main","index":0}]]},"Build SQL":{"main":[[{"node":"Check Valid","type":"main","index":0}]]},"Check Valid":{"main":[[{"node":"Run Search","type":"main","index":0}],[{"node":"Respond Empty","type":"main","index":0}]]},"Run Search":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond Search","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"}}