2026/05/24/YwKJEDTynNDRw5O8.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_refinery_methods_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Refinery_methods\"].json[\"id\"]}},{{ JSON.stringify($('JS refinery_methods').item.json.row) }}"}},"id":"a22d5867-43ce-4960-b5dc-38be361087f7","name":"Insert uex_refinery_methods_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[864,3760],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/refineries_methods/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for refinery_methods'\n)\nRETURNING id;\n","options":{}},"id":"59fd167d-a29d-45ab-add6-f96b53dcb1e7","name":"Create Batch Refinery_methods","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[192,3664],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/refineries_methods/","options":{}},"id":"32ead097-34d4-4d12-b2d2-be11ecafca54","name":"Get refineries_methods","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-32,3760],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,3856],"id":"0c0c28ff-ae88-4d34-913c-480d0fff36c0","name":"JS refinery_methods","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,3760],"id":"2ff2717a-4361-4694-b23d-aa847d195e55","name":"Loop Over refinery_methods"},{"parameters":{"inputSource":"passthrough"},"id":"603a4c86-4177-41ca-baba-872cc65538d8","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-256,3760]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,3760],"id":"50f366cf-9bac-419e-b64a-31bfd13bd2e3","name":"Merge"}],"connections":{"Get refineries_methods":{"main":[[{"node":"JS refinery_methods","type":"main","index":0},{"node":"Create Batch Refinery_methods","type":"main","index":0}]]},"JS refinery_methods":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over refinery_methods":{"main":[[],[{"node":"Insert uex_refinery_methods_raw","type":"main","index":0}]]},"Create Batch Refinery_methods":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_refinery_methods_raw":{"main":[[{"node":"Loop Over refinery_methods","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get refineries_methods","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over refinery_methods","type":"main","index":0}]]}},"pinData":{},"meta":null}