2026/05/24/Z9znADrxJ5cy84Ja.json
{"nodes":[{"parameters":{},"id":"dba910b6-a4e9-4b20-b51f-c5548613d656","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,216]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,144],"id":"9256c1c0-4f9c-4d15-9e05-2213a9c213cc","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  (c.metadata->>'kind') AS commodity_type,\n  (c.metadata->>'id') AS uex_commodity_id\nFROM commodities c\nORDER BY c.name;\n","options":{}},"id":"f2f1acb5-5319-4d77-a096-432d6b1d6e96","name":"Commodities – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,144],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  (c.metadata->>'uex_id')  AS uex_commodity_id,\n  (c.metadata->>'kind')    AS category,\n  (c.metadata->>'code')    AS commodity_code,\n  c.source_id,\n\n  COALESCE(\n    (\n      SELECT COUNT(*) \n      FROM (\n        SELECT DISTINCT t2.id\n        FROM prices p2\n        JOIN trade_terminals t2\n          ON t2.id = p2.terminal_id\n        WHERE p2.commodity_id = c.id\n          AND p2.asset_type = 'commodity'\n          AND GREATEST(\n                COALESCE(p2.sell_price, 0),\n                COALESCE(p2.buy_price, 0)\n              ) > 0\n      ) AS term_ids\n    ),\n    0\n  ) AS terminals_total,\n\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'terminal_name', sub.terminal_name,\n                 'price', sub.price\n               )\n               ORDER BY sub.terminal_name\n             )\n      FROM (\n        SELECT DISTINCT\n          t1.name AS terminal_name,\n          GREATEST(\n            COALESCE(p1.sell_price, 0),\n            COALESCE(p1.buy_price, 0)\n          ) AS price\n        FROM prices p1\n        JOIN trade_terminals t1\n          ON t1.id = p1.terminal_id\n        WHERE p1.commodity_id = c.id\n          AND p1.asset_type = 'commodity'\n          AND GREATEST(\n                COALESCE(p1.sell_price, 0),\n                COALESCE(p1.buy_price, 0)\n              ) > 0\n      ) AS sub\n    ),\n    '[]'::jsonb\n  ) AS terminals_with_price\n\nFROM commodities c\nWHERE c.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"bb8009e5-8ee2-4822-8c25-e2280af46948","name":"Commodity – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[672,160],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,24],"id":"6ecf974c-c45a-481b-96ba-3841a43d96e5","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,160],"id":"7ddcbd0a-7a91-4cf2-8af8-e9ee54f85c87","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2016,224],"id":"5bbe6e94-912e-442b-a957-23d1ca8014f2","name":"Execute a SQL query","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — COMMODITIES\n// Inputs (by node name):\n// - Commodity – Detail\n// - Get KB share file\n// - Set KB folder defaults\n// ============================================================\n\n// Pull commodity detail row\nconst dItems = $items(\"Commodity – Detail\");\nif (!dItems || dItems.length === 0) {\n  throw new Error('JSONKB Commodities: Missing input from node \"Commodity – Detail\".');\n}\nconst row = dItems[0].json;\n\n\n\n// ---------- helpers ----------\nfunction slugify(s) {\n  return String(s || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nfunction asNum(x) {\n  if (x === null || x === undefined || x === '') return null;\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction compactObj(obj) {\n  if (!obj || typeof obj !== 'object') return obj;\n  const out = Array.isArray(obj) ? [] : {};\n  for (const [k, v] of Object.entries(obj)) {\n    if (v === null || v === undefined) continue;\n\n    if (typeof v === 'object' && !Array.isArray(v)) {\n      const inner = compactObj(v);\n      if (inner && Object.keys(inner).length) out[k] = inner;\n      continue;\n    }\n\n    if (Array.isArray(v)) {\n      if (v.length) out[k] = v;\n      continue;\n    }\n\n    out[k] = v;\n  }\n  return out;\n}\n\n// Deep-stable stringify (prevents hash flapping)\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null;\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm);\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n    return v;\n  }\n  return JSON.stringify(norm(value));\n}\n\n// ---------- slug ----------\nconst name = row.name || 'Unknown Commodity';\nconst slug = slugify(name);\nif (!slug) throw new Error('JSONKB Commodities: slug is empty.');\n\n// ---------- kb_links (share_url + file_path unaltered) ----------\n\n// NOTE: Set KB folder defaults in v0.5 may still be vehicles; we hard-default safely for commodities here.\nconst kb_links = {\n  kb_page_path: `/kb/${slug}`,\n  kb_browse_path: `/browse?category=commodity`,\n};\n\n// ---------- deterministic kb_text ----------\nconst code = row.commodity_code || row.code || 'N/A';\nconst category = row.category || row.commodity_type || 'Unknown';\nconst terminalsTotal = Number(row.terminals_total ?? 0) || 0;\n\nconst kb_text =\n  `${name} is a commodity in the \"${category}\" category (code ${code}). ` +\n  `It has been seen at ${terminalsTotal} trade terminals with live price data.`;\n\n// ---------- entity_metadata (compact) ----------\nlet entity_metadata = {\n  uex_commodity_id: row.uex_commodity_id != null ? Number(row.uex_commodity_id) : null,\n  code: code !== 'N/A' ? code : null,\n  category: category !== 'Unknown' ? category : null,\n  terminals_total: asNum(row.terminals_total) ?? terminalsTotal,\n};\n\nentity_metadata = compactObj(entity_metadata);\n\n// ---------- rag_hints (LOCKED-SPEC-ONLY: leave empty until spec provides commodity hints) ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      id: \"commodity.terminals\",\n      description: \"Trade terminals where this commodity is available.\",\n      params: [\n        { name: \"commodity_id\", type: \"uuid\", required: true }\n      ],\n      sql_template: `SELECT\n  t.id,\n  t.name,\n  t.terminal_type,\n  l.name AS location_name,\n  s.name AS system_name\nFROM trade_terminal_commodities tc\nJOIN trade_terminals t ON t.id = tc.terminal_id\nJOIN locations l ON l.id = t.location_id\nJOIN systems s ON s.id = l.system_id\nWHERE tc.commodity_id = :commodity_id\nORDER BY s.name, l.name, t.name;`\n    },\n    {\n      id: \"commodity.price_points\",\n      description: \"Buy and sell prices for this commodity across terminals.\",\n      params: [\n        { name: \"commodity_id\", type: \"uuid\", required: true }\n      ],\n      sql_template: `SELECT\n  s.name AS system_name,\n  l.name AS location_name,\n  t.name AS terminal_name,\n  tcp.price_buy,\n  tcp.price_sell,\n  tcp.game_version\nFROM trade_commodity_prices tcp\nJOIN trade_terminals t ON t.id = tcp.terminal_id\nJOIN locations l ON l.id = t.location_id\nJOIN systems s ON s.id = l.system_id\nWHERE tcp.commodity_id = :commodity_id\nORDER BY s.name, l.name, t.name;`\n    }\n  ],\n  notes: null\n};\n\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Commodities v1',\n  game_version: null,\n  is_live_only: true,\n};\n\n// ---------- hash (FNV32 doubled => 16 hex chars) ----------\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\n// ---------- JSONKB object ----------\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type: 'commodity',\n  entity_id: row.id || null,\n  entity_slug: slug,\n  entity_name: name,\n\n  source: 'uex',\n  source_id: row.source_id,\n  source_table: 'commodities',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\n// Single hash includes rag_hints (per your current rule)\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/commodity/${slug}`;\n\nreturn [\n  {\n    json: {\n      commodity_id: row.id,\n      slug,\n      name,\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"4f129ef8-64f1-4e0c-8dbe-c0100e641bda","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[896,160]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,160],"id":"2bdeeb2c-5a94-4244-8ac5-4f62c105bda8","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,160],"id":"422b8b48-a103-4769-8ad3-349907dc8914","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,160],"id":"b7ce7739-25d7-41c0-b166-240ace7f4946","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Commodities – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Commodities – List","type":"main","index":0}]]},"Commodities – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Commodity – Detail","type":"main","index":0}]]},"Commodity – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{"Manual Trigger":[{"json":{},"pairedItem":{"item":0}}]},"meta":null}