2026/06/02/3kQYfTqMEkimJMoy.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_commodities_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Commodities\"].json[\"id\"]}},{{ JSON.stringify($('JS commodities').item.json.row) }}"}},"id":"398f230e-2020-463f-abf1-5034fe44bd53","name":"Insert uex_commodities_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,2112],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/commodities/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for commodities'\n)\nRETURNING id;\n","options":{}},"id":"505056f2-0d2c-4e32-a5ac-acbad5e54c06","name":"Create Batch Commodities","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[288,2016],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/commodities/","options":{}},"id":"d0894e95-7833-4106-9275-9184b9b3480c","name":"Get commodities","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[64,2112],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2208],"id":"d8ca1dbc-2caf-4dc3-9a7c-380b161067ee","name":"JS commodities","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,2112],"id":"768f0fff-49a5-4ef4-a1d3-caae796e6a4f","name":"Loop Over commodities"},{"parameters":{"inputSource":"passthrough"},"id":"fcce7663-8a88-4458-8e05-d53b64d40b98","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,2112]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,2112],"id":"47bd2d3f-4a90-4339-9fef-cfd8c5b1907d","name":"Merge"}],"connections":{"Get commodities":{"main":[[{"node":"JS commodities","type":"main","index":0},{"node":"Create Batch Commodities","type":"main","index":0}]]},"JS commodities":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over commodities":{"main":[[],[{"node":"Insert uex_commodities_raw","type":"main","index":0}]]},"Create Batch Commodities":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_commodities_raw":{"main":[[{"node":"Loop Over commodities","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get commodities","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over commodities","type":"main","index":0}]]}},"pinData":{},"meta":null}