2026/06/02/4qepbW5FjZ90ulGi.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_vehicle_loaners_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Vehicle_loaners\"].json[\"id\"]}},{{ JSON.stringify($('JS vehicle_loaners').item.json.row) }}"}},"id":"80cde3a8-d76f-4d78-b55c-8391dfa5cc09","name":"Insert uex_vehicle_loaners_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,2640],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/vehicles_loaners/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for vehicle_loaners'\n)\nRETURNING id;\n","options":{}},"id":"b567d73f-7e27-4bd3-98dc-beab2a00e612","name":"Create Batch Vehicle_loaners","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,2544],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/vehicles_loaners/","options":{}},"id":"4d807fe8-415c-43f2-8c67-f894128142a0","name":"Get vehicles_loaners","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,2640],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,2736],"id":"2a1ec4e9-e86c-40d1-8955-6594ce3cb47a","name":"JS vehicle_loaners","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,2640],"id":"a1a1afcb-51df-4294-805d-e759fd87f5a9","name":"Loop Over vehicle_loaners"},{"parameters":{"inputSource":"passthrough"},"id":"76d7d786-0629-4068-bfa1-dc9fce85edd1","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,2640]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,2640],"id":"45676361-52ff-4aa4-852a-114e777ffb39","name":"Merge"}],"connections":{"Get vehicles_loaners":{"main":[[{"node":"JS vehicle_loaners","type":"main","index":0},{"node":"Create Batch Vehicle_loaners","type":"main","index":0}]]},"JS vehicle_loaners":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over vehicle_loaners":{"main":[[],[{"node":"Insert uex_vehicle_loaners_raw","type":"main","index":0}]]},"Create Batch Vehicle_loaners":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_vehicle_loaners_raw":{"main":[[{"node":"Loop Over vehicle_loaners","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get vehicles_loaners","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over vehicle_loaners","type":"main","index":0}]]}},"pinData":{},"meta":null}