2026/06/02/ci4SwJnKU7NU5qJe.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_jurisdictions_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Jurisdictions\"].json[\"id\"]}},{{ JSON.stringify($('JS jurisdictions').item.json.row) }}"}},"id":"dd434393-8012-4337-909f-d41bbd5ad03d","name":"Insert uex_jurisdictions_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[576,4816],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/jurisdictions/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for jurisdictions'\n)\nRETURNING id;\n","options":{}},"id":"b3ede5de-2b94-4180-861f-566e70626cd5","name":"Create Batch Jurisdictions","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-96,4720],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/jurisdictions/","options":{}},"id":"e68483d5-3433-4087-bc55-32043bdfab13","name":"Get jurisdictions","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-320,4816],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,4912],"id":"968af228-ffae-4577-8427-262313e93beb","name":"JS jurisdictions","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[352,4816],"id":"c9264116-3111-4e19-b6a9-fea272bdc123","name":"Loop Over jurisdictions"},{"parameters":{"inputSource":"passthrough"},"id":"8576ec9e-eb20-4c51-b5b4-645e6651b45f","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-544,4816]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[128,4816],"id":"98cbf7e1-1047-4e8e-b238-418fa6d23113","name":"Merge"}],"connections":{"Get jurisdictions":{"main":[[{"node":"Create Batch Jurisdictions","type":"main","index":0},{"node":"JS jurisdictions","type":"main","index":0}]]},"JS jurisdictions":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over jurisdictions":{"main":[[],[{"node":"Insert uex_jurisdictions_raw","type":"main","index":0}]]},"Create Batch Jurisdictions":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_jurisdictions_raw":{"main":[[{"node":"Loop Over jurisdictions","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get jurisdictions","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over jurisdictions","type":"main","index":0}]]}},"pinData":{},"meta":null}