2026/06/02/eDu4W91quJbMxLfB.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_fuel_prices_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Fuel_prices\"].json[\"id\"]}},{{ JSON.stringify($('JS fuel_prices').item.json.row) }}"}},"id":"fa1a4ab3-d913-40fb-a68c-7f2ed64cbf9c","name":"Insert uex_fuel_prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,4032],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/fuel_prices_all/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for fuel_prices'\n)\nRETURNING id;\n","options":{}},"id":"223d719d-8d20-47a8-8ee5-a9c0a0b6f307","name":"Create Batch Fuel_prices","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,3936],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/fuel_prices_all/","options":{}},"id":"2976f679-2fd2-48b5-b8a5-eca995bddb96","name":"Get fuel_prices_all","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,4032],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,4128],"id":"a161cabc-7830-42c2-8f7b-71652165180b","name":"JS fuel_prices","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,4032],"id":"dd0c2c0a-90b4-4f73-bb43-8d88f69e693e","name":"Loop Over fuel_prices"},{"parameters":{"inputSource":"passthrough"},"id":"e8dcb3b4-bed9-438f-8b3a-1626701c5496","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,4032]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,4032],"id":"8634caed-e8fc-4b3d-9f04-6d9cfb891f95","name":"Merge"}],"connections":{"Get fuel_prices_all":{"main":[[{"node":"JS fuel_prices","type":"main","index":0},{"node":"Create Batch Fuel_prices","type":"main","index":0}]]},"JS fuel_prices":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over fuel_prices":{"main":[[],[{"node":"Insert uex_fuel_prices_raw","type":"main","index":0}]]},"Create Batch Fuel_prices":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_fuel_prices_raw":{"main":[[{"node":"Loop Over fuel_prices","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get fuel_prices_all","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over fuel_prices","type":"main","index":0}]]}},"pinData":{},"meta":null}