2026/06/02/UmJFWJPJI87rsDWm.json
{"nodes":[{"parameters":{},"id":"a6477254-1268-4aa0-8224-40297597a283","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"inputSource":"passthrough"},"id":"5994c97d-4ef5-45b7-b4a6-fcb5fb4fa4d7","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,192]},{"parameters":{"operation":"executeQuery","query":"SELECT id, slug, name, class, type, sub_type, manufacturer\nFROM datap4k_components_norm\nORDER BY type, name;","options":{}},"id":"b92c54a3-2a02-4398-8772-da10c9a03bdd","name":"Components – List","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[224,96],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"options":{}},"id":"e97c2569-370c-48ea-bbee-830ecc358933","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,96]},{"parameters":{"jsCode":"const row = $input.first().json;\n\n// --- helpers ---\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  return Array.isArray(raw) ? raw : [];\n}\nfunction fmtNum(v, dec) {\n  if (v === null || v === undefined) return null;\n  const n = Number(v);\n  if (!Number.isFinite(n)) return null;\n  return n.toLocaleString('en-US', {\n    minimumFractionDigits: dec || 0,\n    maximumFractionDigits: dec || 0\n  });\n}\nfunction statLabel(key) {\n  const map = {\n    'hp': 'HP', 'decay': 'Decay Rate', 'regen-per-sec': 'Regen/s',\n    'delay-down-sec': 'Delay (Down, s)', 'delay-damage-sec': 'Delay (Damage, s)',\n    'speed-mms': 'Speed (mm/s)', 'spool-sec': 'Spool (s)', 'fuel-per-gm': 'Fuel/Gm',\n    'cooldown-sec': 'Cooldown (s)', 'fuel': 'Fuel Capacity', 'q-fuel': 'Q-Fuel Capacity',\n    'max-range-m': 'Max Range (m)', 'ideal-range-m': 'Ideal Range (m)',\n    'damage-per-shot': 'Damage/Shot', 'fire-rate-per-min': 'Fire Rate (RPM)',\n    'projectile-speed-mps': 'Projectile Speed (m/s)',\n    'ammo': 'Ammo', 'damage': 'Damage', 'fov-deg': 'FOV (°)',\n    'range-m': 'Range (m)', 'tracking': 'Tracking', 'speed-mps': 'Speed (m/s)',\n    'lifetime-sec': 'Lifetime (s)', 'lock-time-sec': 'Lock Time (s)',\n    'power': 'Power Output', 'power-draw': 'Power Draw',\n    'cooling': 'Cooling Rate', 'heat': 'Heat Gen',\n    'volume': 'Volume (SCU)', 'scu': 'SCU',\n    'force': 'Force', 'range': 'Range'\n  };\n  return map[key] || key.replace(/-/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n}\n\nconst slug = row.slug || (row.class || row.name || 'unknown')\n  .toLowerCase().replace(/_/g, '-').replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');\n\nconst uexPrices  = parsePrices(row.uex_prices);\nconst dp4kPrices = parsePrices(row.datap4k_prices);\n\nconst lines = [];\nlines.push('# ' + row.name);\nlines.push('');\n\n// Core attributes\nlines.push('- **Category:** ' + (row.uex_category_name || row.type || 'Component'));\nif (row.uex_category_section) lines.push('- **Section:** ' + row.uex_category_section);\nif (row.type && row.type !== row.uex_category_name) lines.push('- **Type:** ' + row.type);\nif (row.sub_type) lines.push('- **Subtype:** ' + row.sub_type);\nif (row.manufacturer) lines.push('- **Manufacturer:** ' + row.manufacturer);\nif (row.size) lines.push('- **Size:** S' + row.size);\nif (row.grade) lines.push('- **Grade:** ' + row.grade);\nlines.push('');\n\n// Stats table\nconst stats = (typeof row.stats === 'string') ? JSON.parse(row.stats || '{}') : (row.stats || {});\nconst statKeys = Object.keys(stats).filter(k => stats[k] !== null && stats[k] !== undefined && stats[k] !== 0);\nif (statKeys.length > 0) {\n  lines.push('## Stats');\n  lines.push('');\n  lines.push('| Stat | Value |');\n  lines.push('|---|---|');\n  for (const k of statKeys) {\n    const v = stats[k];\n    const display = (typeof v === 'number') ? fmtNum(v, 2) : String(v);\n    lines.push('| ' + statLabel(k) + ' | ' + display + ' |');\n  }\n  lines.push('');\n}\n\n// Pricing\nif (uexPrices.length > 0) {\n  lines.push('## Where to Buy (Live UEX Prices)');\n  lines.push('');\n  lines.push('| Terminal | Buy (aUEC) | Sell (aUEC) |');\n  lines.push('|---|---|---|');\n  for (const p of uexPrices) {\n    const buy  = p.buy  ? Number(p.buy).toLocaleString('en-US')  : '—';\n    const sell = p.sell ? Number(p.sell).toLocaleString('en-US') : '—';\n    lines.push('| ' + p.terminal + ' | ' + buy + ' | ' + sell + ' |');\n  }\n  lines.push('');\n} else if (dp4kPrices.length > 0) {\n  lines.push('## Where to Buy (DataPack Prices)');\n  lines.push('');\n  lines.push('| Shop | Location | Buy (aUEC) | Sell (aUEC) |');\n  lines.push('|---|---|---|---|');\n  for (const p of dp4kPrices) {\n    const buy  = p.buy  ? Number(p.buy).toLocaleString('en-US')  : '—';\n    const sell = p.sell ? Number(p.sell).toLocaleString('en-US') : '—';\n    lines.push('| ' + p.shop + ' | ' + p.location + ' | ' + buy + ' | ' + sell + ' |');\n  }\n  lines.push('');\n} else {\n  lines.push('## Pricing');\n  lines.push('');\n  lines.push('No purchase pricing currently available.');\n  lines.push('');\n}\n\nreturn [{\n  json: {\n    slug,\n    markdown_detailed: lines.join('\\n')\n  }\n}];"},"id":"3e105ffb-9226-4064-8f20-242475165927","name":"Build Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,112]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug    = (item.slug || '').replace(/'/g, \"''\");\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) \"\n  + \"VALUES ('\" + slug + \"', 'component', NULL, '\" + content + \"', 'KB - Components Markdown v1', now(), now()) \"\n  + \"ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, \"\n  + \"source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"50344750-f49f-4380-9f8d-b1eaddfe245d","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,112]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"b209540b-54e4-4ee1-886a-754c5a5202ae","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,112],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"WITH price_agg AS (\n  SELECT p.item_external_id,\n    jsonb_agg(jsonb_build_object(\n      'terminal', t.name, 'buy', p.buy_price, 'sell', p.sell_price\n    ) ORDER BY t.name) AS uex_prices\n  FROM prices p\n  JOIN trade_terminals t ON t.id = p.terminal_id\n  WHERE GREATEST(COALESCE(p.buy_price, 0), COALESCE(p.sell_price, 0)) > 0\n  GROUP BY p.item_external_id\n),\nshop_agg AS (\n  SELECT si.item_raw_id,\n    jsonb_agg(jsonb_build_object(\n      'shop', si.shop, 'location', si.location,\n      'buy', si.buy_auec, 'sell', si.sell_auec\n    ) ORDER BY si.shop) AS datap4k_prices\n  FROM datap4k_shop_inventory si\n  WHERE si.item_raw_table = 'datap4k_components_raw'\n    AND GREATEST(COALESCE(si.buy_auec, 0), COALESCE(si.sell_auec, 0)) > 0\n  GROUP BY si.item_raw_id\n)\nSELECT\n  cn.id, cn.raw_id, cn.class, cn.name,\n  cn.type, cn.sub_type, cn.size, cn.grade,\n  cn.manufacturer, cn.manufacturer_code,\n  cn.stats,\n  cn.uex_id, cn.uex_category_name, cn.uex_category_section,\n  cn.slug, cn.source_slug,\n  COALESCE(pa.uex_prices,  '[]'::jsonb) AS uex_prices,\n  COALESCE(sa.datap4k_prices, '[]'::jsonb) AS datap4k_prices\nFROM datap4k_components_norm cn\nLEFT JOIN price_agg pa ON pa.item_external_id = cn.uex_id AND cn.uex_id IS NOT NULL\nLEFT JOIN shop_agg  sa ON sa.item_raw_id = cn.raw_id\nWHERE cn.id = {{ $json.id }};","options":{}},"id":"c96bb7fb-f396-4cae-bc06-c5ae8251f7b9","name":"Components – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[688,112],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Components – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Components – List","type":"main","index":0}]]},"Components – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Components – Detail","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Components – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]}},"pinData":{},"meta":null}