2026/06/02/WGMKVEZXzIh836rp.json
{"nodes":[{"parameters":{"path":"v3/manufacturer","authentication":"basicAuth","responseMode":"lastNode","responseData":"allEntries","options":{}},"id":"41e85418-024f-4e6c-aad4-0ef199e032f9","name":"Manufacturer Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"1b7ac8bf-89bc-4431-9c06-8f6942649e3a","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  (ml.canonical_name IS NOT NULL AND ml.canonical_name != '') AS found,\n  v.input_slug,\n  ml.canonical_name,\n  ml.slug AS mfr_slug,\n  COALESCE(\n    (\n      SELECT json_agg(\n        json_build_object(\n          'slug', ed.slug,\n          'name', ed.name,\n          'entity_type', ed.entity_type,\n          'category', ed.category\n        )\n        ORDER BY ed.entity_type, ed.name\n      )\n      FROM entity_display ed\n      WHERE ed.manufacturer = ml.canonical_name\n    ),\n    '[]'::json\n  ) AS products\nFROM (VALUES ($1::text)) AS v(input_slug)\nLEFT JOIN manufacturer_lookup ml ON ml.slug = v.input_slug","options":{"queryBatching":"independently","queryReplacement":"={{ $json.query.slug }}"}},"id":"27d8e886-dd69-4afe-8cfe-8366329463a5","name":"Resolve & Fetch","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const row = $input.first().json;\n\nif (!row.found) {\n  return [{ json: { error: 'manufacturer not found', slug: row.input_slug } }];\n}\n\nconst entityTypeFilter = $('Manufacturer Webhook').first().json.query?.entity_type || '';\n\nconst products = {};\nlet total = 0;\nfor (const p of (row.products || [])) {\n  if (entityTypeFilter && p.entity_type !== entityTypeFilter) continue;\n  if (!products[p.entity_type]) products[p.entity_type] = [];\n  products[p.entity_type].push({ slug: p.slug, name: p.name, category: p.category });\n  total++;\n}\n\nreturn [{ json: { slug: row.mfr_slug, canonical_name: row.canonical_name, products, total } }];"},"id":"f150f98b-2221-4fdd-9337-74233ba49f8f","name":"Group Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]}],"connections":{"Manufacturer Webhook":{"main":[[{"node":"Resolve & Fetch","type":"main","index":0}]]},"Resolve & Fetch":{"main":[[{"node":"Group Results","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}