2026/05/27/fAfHPbXqYG4d8U1q.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_vehicles_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Vehicles\"].json[\"id\"]}},{{ JSON.stringify($('JS vehicles').item.json.row) }}"}},"id":"66175706-c19a-4e80-a2ef-760c35ae3a71","name":"Insert uex_vehicles_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,2416],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/vehicles/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for vehicles'\n)\nRETURNING id;\n","options":{}},"id":"4feee4ba-a7ec-4e84-83ab-8c89cdf8fa39","name":"Create Batch Vehicles","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,2320],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/vehicles/","options":{}},"id":"62c9b8a6-deaf-4b5a-9848-f1cf1d2e9e0b","name":"Get vehicles","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,2416],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,2512],"id":"8696a06d-eb4d-4ea9-a287-b67cb02d0faf","name":"JS vehicles","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,2416],"id":"94acc1ec-d201-49f2-8510-679a4b37c29a","name":"Loop Over vehicles"},{"parameters":{"inputSource":"passthrough"},"id":"ffe605da-a574-44df-a0fd-7a8d3e8e405a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,2416]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,2416],"id":"4f68db27-ddee-4a89-a1c9-388eb77e2d74","name":"Merge"}],"connections":{"Get vehicles":{"main":[[{"node":"JS vehicles","type":"main","index":0},{"node":"Create Batch Vehicles","type":"main","index":0}]]},"JS vehicles":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over vehicles":{"main":[[],[{"node":"Insert uex_vehicles_raw","type":"main","index":0}]]},"Create Batch Vehicles":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_vehicles_raw":{"main":[[{"node":"Loop Over vehicles","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get vehicles","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over vehicles","type":"main","index":0}]]}},"pinData":{},"meta":null}