2026/05/27/IJq2kJWI14gA8iWZ.json
{"nodes":[{"parameters":{"path":"v3/folder","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,432],"id":"bcfb5689-2707-4bdd-841d-230b5186f8f9","name":"Webhook FolderList","webhookId":"45faed71-ace9-4200-953c-25e4200f79bb"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[576,432],"id":"135e58f3-f59a-465b-a2fe-a4fd2c029b0e","name":"Respond to lookup1"},{"parameters":{"operation":"executeQuery","query":"\nSELECT\n  s.group_key, s.group_label, s.entity_type, s.sub_key, s.sub_field,\n  COALESCE(fcc.display_name_override, s.display_name) AS display_name,\n  s.total_count, s.browse_count, s.group_sort, s.sub_sort, s.parent_key\nFROM (\n\n  -- ── Weapons ────────────────────────────────────────────────────────────────\n  SELECT\n    'weapons'::text AS group_key, 'Weapons'::text AS group_label,\n    'weapon'::text  AS entity_type,\n    payload->>'category' AS sub_key, 'category'::text AS sub_field,\n    CASE payload->>'category'\n      WHEN 'fps'         THEN 'FPS Weapons'\n      WHEN 'ship'        THEN 'Ship Weapons'\n      WHEN 'attachments' THEN 'Attachments'\n      ELSE initcap(payload->>'category')\n    END AS display_name,\n    COUNT(*)::int AS total_count,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int AS browse_count,\n    1 AS group_sort,\n    CASE payload->>'category'\n      WHEN 'fps' THEN 1 WHEN 'ship' THEN 2 WHEN 'attachments' THEN 3 ELSE 9\n    END AS sub_sort,\n    NULL::text AS parent_key\n  FROM entity_display WHERE entity_type = 'weapon' AND NOT hidden\n  GROUP BY payload->>'category'\n\n  UNION ALL\n\n  -- ── Armor ──────────────────────────────────────────────────────────────────\n  SELECT\n    'armor', 'Armor', 'armor', payload->>'slot', 'slot',\n    CASE payload->>'slot'\n      WHEN 'Helmet' THEN 'Helmets' WHEN 'Torso'     THEN 'Body Armor'\n      WHEN 'Legs'   THEN 'Legs'    WHEN 'Arms'       THEN 'Arms'\n      WHEN 'Undersuit' THEN 'Undersuits' WHEN 'Backpack' THEN 'Backpacks'\n      ELSE initcap(payload->>'slot')\n    END,\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int,\n    2,\n    CASE payload->>'slot'\n      WHEN 'Helmet' THEN 1 WHEN 'Torso' THEN 2 WHEN 'Legs' THEN 3\n      WHEN 'Arms'   THEN 4 WHEN 'Undersuit' THEN 5 WHEN 'Backpack' THEN 6\n      ELSE 9\n    END,\n    NULL::text\n  FROM entity_display WHERE entity_type = 'armor' AND NOT hidden\n  GROUP BY payload->>'slot'\n\n  UNION ALL\n\n  -- ── Vehicles: Ships ────────────────────────────────────────────────────────\n  SELECT 'vehicles','Vehicles','vehicle',NULL,NULL,'Ships',\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int,\n    3, 1, NULL::text\n  FROM entity_display WHERE entity_type = 'vehicle' AND NOT hidden\n\n  UNION ALL\n\n  -- ── Vehicles: Ground Vehicles ──────────────────────────────────────────────\n  SELECT 'vehicles','Vehicles','ground_vehicle',NULL,NULL,'Ground Vehicles',\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int,\n    3, 2, NULL::text\n  FROM entity_display WHERE entity_type = 'ground_vehicle' AND NOT hidden\n\n  UNION ALL\n\n  -- ── Vehicles: Ship Components summary ─────────────────────────────────────\n  SELECT 'vehicles','Vehicles','component','components',NULL,'Ship Components',\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE hi.slug IS NULL)::int,\n    3, 3, NULL::text\n  FROM entity_display ed\n  LEFT JOIN datap4k_hidden_items hi\n    ON hi.slug = ed.slug AND hi.entity_type = 'component'\n  WHERE ed.entity_type = 'component'\n\n  UNION ALL\n\n  -- ── Component sub-sub-types (children of 'components') ────────────────────\n  -- folder_category_config filtering handled by outer wrapper JOIN\n  SELECT\n    'vehicles','Vehicles','component',\n    comp_type, 'type',\n    CASE comp_type\n      WHEN 'PowerPlant'                   THEN 'Power Plants'\n      WHEN 'Cooler'                        THEN 'Coolers'\n      WHEN 'Shield'                        THEN 'Shields'\n      WHEN 'QuantumDrive'                  THEN 'Quantum Drives'\n      WHEN 'MiningModifier'                THEN 'Mining Modifiers'\n      WHEN 'Module'                        THEN 'Modules'\n      WHEN 'SalvageModifier'               THEN 'Salvage Equipment'\n      WHEN 'ExternalFuelTank'              THEN 'External Fuel Tanks'\n      WHEN 'TractorBeam'                   THEN 'Tractor Beams'\n      WHEN 'EMP'                           THEN 'EMP'\n      WHEN 'Cargo'                         THEN 'Cargo'\n      WHEN 'LifeSupportGenerator'          THEN 'Life Support'\n      WHEN 'QuantumFuelTank'               THEN 'Quantum Fuel Tanks'\n      WHEN 'DockingCollar'                 THEN 'Docking Collars'\n      WHEN 'QuantumInterdictionGenerator'  THEN 'QI Generators'\n      WHEN 'JumpDrive'                     THEN 'Jump Drives'\n      ELSE comp_type\n    END,\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE hidden = false)::int,\n    3,\n    CASE comp_type\n      WHEN 'PowerPlant' THEN 31 WHEN 'Cooler' THEN 32 WHEN 'Shield' THEN 33\n      WHEN 'QuantumDrive' THEN 34 WHEN 'MiningModifier' THEN 35 WHEN 'Module' THEN 36\n      WHEN 'SalvageModifier' THEN 37 WHEN 'ExternalFuelTank' THEN 38\n      WHEN 'TractorBeam' THEN 39 WHEN 'EMP' THEN 40 WHEN 'Cargo' THEN 41\n      WHEN 'LifeSupportGenerator' THEN 42 WHEN 'QuantumFuelTank' THEN 43\n      WHEN 'DockingCollar' THEN 44 WHEN 'QuantumInterdictionGenerator' THEN 45\n      WHEN 'JumpDrive' THEN 46 ELSE 99\n    END,\n    'components'::text\n  FROM (\n    SELECT\n      ed.payload->>'type'   AS comp_type,\n      (hi.slug IS NOT NULL) AS hidden\n    FROM entity_display ed\n    LEFT JOIN datap4k_hidden_items hi\n      ON hi.slug = ed.slug AND hi.entity_type = 'component'\n    WHERE ed.entity_type = 'component'\n      AND ed.payload->>'type' IN (\n        'PowerPlant','Cooler','Shield','QuantumDrive','MiningModifier',\n        'Module','SalvageModifier','ExternalFuelTank','TractorBeam',\n        'EMP','Cargo','LifeSupportGenerator','QuantumFuelTank',\n        'DockingCollar','QuantumInterdictionGenerator','JumpDrive'\n      )\n  ) comp_base\n  GROUP BY comp_type\n  HAVING COUNT(*) FILTER (WHERE hidden = false) >= 3\n\n  UNION ALL\n\n  -- ── Mining ─────────────────────────────────────────────────────────────────\n  SELECT\n    'mining','Mining','mining', payload->>'section','section',\n    CASE payload->>'section'\n      WHEN 'elements' THEN 'Elements' WHEN 'compositions' THEN 'Compositions'\n      WHEN 'planet-mineables' THEN 'Planet Mineables'\n      ELSE initcap(replace(payload->>'section','-',' '))\n    END,\n    COUNT(*)::int, COUNT(*)::int,\n    4,\n    CASE payload->>'section'\n      WHEN 'elements' THEN 1 WHEN 'compositions' THEN 2\n      WHEN 'planet-mineables' THEN 3 ELSE 9\n    END,\n    NULL::text\n  FROM entity_display WHERE entity_type = 'mining' AND NOT hidden\n  GROUP BY payload->>'section'\n\n  UNION ALL\n\n  -- ── Items ──────────────────────────────────────────────────────────────────\n  SELECT\n    'items','Items','items', payload->>'category','category',\n    CASE payload->>'category'\n      WHEN 'misc' THEN 'Miscellaneous' WHEN 'food-drink' THEN 'Food & Drink'\n      WHEN 'melee' THEN 'Melee Weapons' WHEN 'medical-stim' THEN 'Medical & Stims'\n      WHEN 'tool-gadget' THEN 'Tools & Gadgets' WHEN 'hacking-tool' THEN 'Hacking Tools'\n      WHEN 'throwable' THEN 'Throwables' ELSE initcap(payload->>'category')\n    END,\n    COUNT(*)::int, COUNT(*)::int,\n    5,\n    CASE payload->>'category'\n      WHEN 'misc' THEN 1 WHEN 'food-drink' THEN 2 WHEN 'melee' THEN 3\n      WHEN 'medical-stim' THEN 4 WHEN 'tool-gadget' THEN 5\n      WHEN 'hacking-tool' THEN 6 WHEN 'throwable' THEN 7 ELSE 9\n    END,\n    NULL::text\n  FROM entity_display WHERE entity_type = 'items' AND NOT hidden\n  GROUP BY payload->>'category'\n\n  UNION ALL\n\n  -- ── Mining Gear ────────────────────────────────────────────────────────────\n  SELECT 'mining_gear','Mining Gear','mining_gear',NULL,NULL,'All Mining Gear',\n    COUNT(*)::int, COUNT(*)::int, 6, 1, NULL::text\n  FROM entity_display WHERE entity_type = 'mining_gear' AND NOT hidden\n\n  UNION ALL\n\n  -- ── Universe ───────────────────────────────────────────────────────────────\n  SELECT 'universe','Universe','system',NULL,NULL,'Star Systems',\n    COUNT(*)::int,COUNT(*)::int,7,1,NULL::text\n  FROM entity_display WHERE entity_type='system'\n  UNION ALL\n  SELECT 'universe','Universe','planet',NULL,NULL,'Planets',\n    COUNT(*)::int,COUNT(*)::int,7,2,NULL::text\n  FROM entity_display WHERE entity_type='planet'\n  UNION ALL\n  SELECT 'universe','Universe','moon',NULL,NULL,'Moons',\n    COUNT(*)::int,COUNT(*)::int,7,3,NULL::text\n  FROM entity_display WHERE entity_type='moon'\n  UNION ALL\n  SELECT 'universe','Universe','location',NULL,NULL,'Locations',\n    COUNT(*)::int,COUNT(*)::int,7,4,NULL::text\n  FROM entity_display WHERE entity_type='location'\n\n  UNION ALL\n\n  -- ── Economy ────────────────────────────────────────────────────────────────\n  SELECT 'economy','Economy','terminal',NULL,NULL,'Trade Terminals',\n    COUNT(*)::int,COUNT(*)::int,8,1,NULL::text\n  FROM entity_display WHERE entity_type='terminal'\n  UNION ALL\n  SELECT 'economy','Economy','commodity',NULL,NULL,'Commodities',\n    COUNT(*)::int,COUNT(*)::int,8,2,NULL::text\n  FROM entity_display WHERE entity_type='commodity'\n  UNION ALL\n  SELECT 'economy','Economy','company',NULL,NULL,'Companies',\n    COUNT(*)::int,COUNT(*)::int,8,3,NULL::text\n  FROM entity_display WHERE entity_type='company'\n\n) s\n-- ── Universal config filter + display_name_override ─────────────────────────\n-- NULL sub_key rows (flat entries) never match the JOIN — always shown\n-- Any non-null sub_key can be hidden by inserting a row with hidden=true\nLEFT JOIN folder_category_config fcc\n  ON  fcc.group_key   = s.group_key\n  AND fcc.entity_type = s.entity_type\n  AND fcc.sub_key     = s.sub_key\nWHERE fcc.hidden IS NOT TRUE\n-- group_sort keeps groups in order\n-- COALESCE(parent_key,'') groups children after their parent row\n-- COALESCE(sort_order, sub_sort) puts lower sort_order values first within context\nORDER BY s.group_sort, COALESCE(s.parent_key, ''), COALESCE(fcc.sort_order, s.sub_sort)\n","options":{}},"id":"4cbc9a7c-09c0-4b42-8f22-dbad9f473d27","name":"Get KB Folders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[128,432],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst groupMap   = {};\nconst groupOrder = [];\n\nfor (const item of items) {\n  const {\n    group_key, group_label, entity_type,\n    sub_key, sub_field, display_name,\n    total_count, browse_count, parent_key\n  } = item.json;\n\n  if (!groupMap[group_key]) {\n    groupMap[group_key] = {\n      group_key, group_label,\n      total_count: 0, browse_count: 0,\n      sub_types: []\n    };\n    groupOrder.push(group_key);\n  }\n\n  const g = groupMap[group_key];\n\n  if (!parent_key) {\n    // Normal sub_type — add to group, accumulate group totals\n    g.total_count  += Number(total_count);\n    g.browse_count += Number(browse_count);\n    const entry = {\n      entity_type,\n      sub_key:     sub_key   || null,\n      sub_field:   sub_field || null,\n      display_name,\n      total_count:  Number(total_count),\n      browse_count: Number(browse_count)\n    };\n    // Pre-attach children array for entries that will have children\n    // (identified by sub_key matching a known parent key)\n    entry._childrenHolder = sub_key || null;\n    g.sub_types.push(entry);\n  } else {\n    // Sub-sub-type — find parent sub_type by its sub_key matching parent_key\n    const parent = g.sub_types.find(st => st._childrenHolder === parent_key);\n    if (parent) {\n      if (!parent.children) parent.children = [];\n      parent.children.push({\n        entity_type,\n        sub_key:     sub_key   || null,\n        sub_field:   sub_field || null,\n        display_name,\n        total_count:  Number(total_count),\n        browse_count: Number(browse_count)\n      });\n    }\n  }\n}\n\n// Clean up internal marker\nfor (const g of Object.values(groupMap)) {\n  for (const st of g.sub_types) {\n    delete st._childrenHolder;\n  }\n}\n\nreturn [{ json: { groups: groupOrder.map(k => groupMap[k]) } }];\n"},"id":"b689a3c0-da32-41e7-9328-40d7ed93d922","name":"Format Folder List","type":"n8n-nodes-base.code","typeVersion":2,"position":[352,432]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,224],"id":"f1698989-dc27-4f4c-b6bb-fe9b24f87780","name":"Manual testing node"}],"connections":{"Webhook FolderList":{"main":[[{"node":"Get KB Folders","type":"main","index":0}]]},"Get KB Folders":{"main":[[{"node":"Format Folder List","type":"main","index":0}]]},"Format Folder List":{"main":[[{"node":"Respond to lookup1","type":"main","index":0}]]},"Manual testing node":{"main":[[{"node":"Get KB Folders","type":"main","index":0}]]}},"pinData":{},"meta":null}