2026/05/27/IVNwR3Sfz5xLzD9N.json
{"nodes":[{"parameters":{},"id":"696255b0-7786-410c-927f-ffb4fa7784b9","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[1296,368],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"5ffbd7ff-596c-4d69-a327-95ab9e31c144","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1072,880],"typeVersion":1},{"parameters":{},"id":"d552bfbd-24cc-43ab-b008-ba837525e234","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1088,1280],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"4cf656ea-b62c-4c9a-9a2c-f3cd4736af6f","name":"n8n","type":"n8n-nodes-base.n8n","position":[1712,448],"typeVersion":1,"credentials":{"n8nApi":{"id":"n6E3URY5DyHNobeS","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"bc776b1e-de7a-4c5c-ab3e-fc6ede7f6d93","name":"Return","type":"n8n-nodes-base.set","position":[3056,1088],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"cc1748c6-972e-4909-a0d9-2aada40e49b6","name":"If file too large","type":"n8n-nodes-base.if","position":[1728,1008],"typeVersion":2},{"parameters":{},"id":"68c529b3-8530-42c9-8efa-7c35ea6c24f0","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1728,1264],"typeVersion":2},{"parameters":{},"id":"627cc21c-1f7f-4266-a558-357289bb2746","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2592,1088],"typeVersion":1},{"parameters":{},"id":"6e77f25e-b58c-4e23-a5c7-1951c36e59b6","name":"File is different","type":"n8n-nodes-base.noOp","position":[2592,1248],"typeVersion":1},{"parameters":{},"id":"37d72317-7140-45eb-ac62-e88ec7b9fc97","name":"File is new","type":"n8n-nodes-base.noOp","position":[2592,1440],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":"name"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"770c9612-e6fb-4d6c-9a89-459e7d5acc31","name":"Create new file","type":"n8n-nodes-base.github","position":[2816,1440],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"aHMqkmQF3v40wUe7","name":"GitHub Token"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":"name"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"121272d6-0535-494e-b14a-3cc00f87cb8d","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2816,1248],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"aHMqkmQF3v40wUe7","name":"GitHub Token"}}},{"parameters":{"options":{}},"id":"2847116a-c862-4803-8079-a40e4edd22f7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1920,448],"typeVersion":3},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":2}]}},"id":"ec0c92a3-73fa-480b-bdd3-e51648e8b0a0","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1312,544],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"289ec775-7191-4710-85e8-ae33542f9fbd","name":"Create sub path","type":"n8n-nodes-base.set","position":[2176,1264],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"b9bf504a-3acf-4706-992d-a522e9693df8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1072,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=saladin1980"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n-workflows-api.arkoncore.cc"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"2470503e-cb6a-44a5-a4aa-b431874e2e09","name":"Config","type":"n8n-nodes-base.set","position":[1360,1280],"typeVersion":3.4},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1495253329163321384","mode":"list","cachedResultName":"github-notifications","cachedResultUrl":"https://discord.com/channels/196315042797322240/1495253329163321384"},"content":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options":{}},"id":"a7d835f2-de5e-4121-acad-9041c126401c","name":"Starting Message","type":"n8n-nodes-base.discord","position":[1520,448],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"simkir token"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1454495559917371599","mode":"list","cachedResultName":"Arkon Core","cachedResultUrl":"https://discord.com/channels/1454495559917371599"},"channelId":{"__rl":true,"value":"1455384170455891988","mode":"list","cachedResultName":"github-stuff","cachedResultUrl":"https://discord.com/channels/1454495559917371599/1455384170455891988"},"content":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options":{},"embeds":{"values":[]}},"id":"c71ddc51-cbf9-4437-b2b4-9d60f2e1a039","name":"Completed Notification","type":"n8n-nodes-base.discord","position":[2576,304],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","executeOnce":true,"typeVersion":2,"credentials":{"discordBotApi":{"id":"p8QyFNOanKPRGVUu","name":"Arkon"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":"name"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"110ba2cd-6a39-4663-81d5-6b2893d42e18","name":"Get file data","type":"n8n-nodes-base.github","position":[1536,1008],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"0mLWxTwg0b0YwWpg","name":"GitHub account"}},"continueOnFail":true},{"parameters":{},"id":"2366b904-8f2f-42ce-aa2f-fc941cb73ad4","name":"Wait","type":"n8n-nodes-base.wait","position":[2560,640],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":"name"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"e9ad632a-0506-4709-a485-67c45bf388f6","name":"Get file","type":"n8n-nodes-base.github","position":[1952,992],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"aHMqkmQF3v40wUe7","name":"GitHub Token"}}},{"parameters":{"amount":10},"id":"656913c3-cb57-4129-ae12-42f70800a9ef","name":"Wait1","type":"n8n-nodes-base.wait","position":[2192,320],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"const _ = require(\"underscore\")\n\nlet fileInput = null\n\nif (Object.keys($input.first().json).includes(\"content\")) {\n  fileInput = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString())\n}\n\nconst n8nInput = $input.last().json.data\n\nif (!fileInput) {\n  return {\n    \"githubStatus\": \"new\"\n  }\n}\n\nif (_.isMatch(fileInput, n8nInput)) {\n  return {\n    \"githubStatus\": \"same\"\n  }\n} else {\n  return {\n    \"githubStatus\": \"different\"\n  }\n}"},"id":"09738ea8-1a61-4967-ac3d-2a9f64b39329","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1952,1264],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"7cb7b34c-8742-44c3-9792-1084abf2783a","name":"Switch","type":"n8n-nodes-base.switch","position":[2368,1264],"typeVersion":3.2},{"parameters":{"amount":10},"id":"c6410f39-34d8-448f-9efd-d66da067637b","name":"Wait2","type":"n8n-nodes-base.wait","position":[2560,464],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"a3c4ff40-9887-4e38-985a-f32536d9306f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1454495559917371599","mode":"list","cachedResultName":"Arkon Core","cachedResultUrl":"https://discord.com/channels/1454495559917371599"},"channelId":{"__rl":true,"value":"1455384170455891988","mode":"list","cachedResultName":"github-stuff","cachedResultUrl":"https://discord.com/channels/1454495559917371599/1455384170455891988"},"content":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"21052f64-d4b6-4b67-8cb4-dd022a0dab71","name":"Inform Failed Flows","type":"n8n-nodes-base.discord","position":[2752,640],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordBotApi":{"id":"p8QyFNOanKPRGVUu","name":"Arkon"}}},{"parameters":{"workflowId":{"__rl":true,"value":"IVNwR3Sfz5xLzD9N","mode":"list","cachedResultUrl":"/workflow/IVNwR3Sfz5xLzD9N","cachedResultName":"Backup n8n workflows to Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"2bdbcb80-2c2b-4fb8-bddb-eb9e6c6db0e0","name":"Call 'Backup n8n workflows to Github'","type":"n8n-nodes-base.executeWorkflow","position":[2336,544],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2384,304],"id":"9be06ad8-35c4-42a9-b3bb-9b6d61540ecf","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"b1bbb80b-b0dc-468c-9db8-a86ace747898","name":"content","value":"=The Git backup here. Below is my latest activity: ``` ✅ Success to backup {{ $('Loop Over Items').item.json.id }} ```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2752,464],"id":"a39ecbde-f79f-4aba-893b-52d561d4cdfd","name":"Edit Fields"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Call 'Backup n8n workflows to Github'","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"Call 'Backup n8n workflows to Github'":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-05-04T01:00:36.006-04:00","Readable date":"May 4th 2026, 1:00:36 am","Readable time":"1:00:36 am","Day of week":"Monday","Year":"2026","Month":"May","Day of month":"04","Hour":"01","Minute":"00","Second":"36","Timezone":"America/New_York (UTC-04:00)"},"pairedItem":{"item":0}}],"Execute Workflow Trigger":[{"json":{"updatedAt":"2026-04-25T23:17:18.218Z","createdAt":"2025-11-23T17:44:45.670Z","id":"S5yK3RAgxoWp1Era","name":"UEX Commodities Prices Raw","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"40f9bdca-f936-41ac-8176-255982386ba9","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,4896]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,4848],"id":"d88a99c2-b5a8-48bb-985a-4656c6a08948","name":"Merge"},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/commodities_raw_prices_all/","options":{}},"id":"3cfbe725-3e22-41b3-aa69-76b172471a26","name":"Get Commodities prices","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-384,4896],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => {\n  \n  let asset_type;\n  let asset_source_id;\n\n  // Detect type based on which ID exists\n  if (row.id_item !== undefined) {\n    // Item pricing\n    asset_type = 'item';\n    asset_source_id = `items:${row.id_item}`;\n  } else if (row.id_commodity !== undefined) {\n    // Commodity pricing\n    asset_type = 'commodity';\n    asset_source_id = `commodities:${row.id_commodity}`;\n  } else {\n    throw new Error('Row does not contain id_item or id_commodity — cannot determine asset type');\n  }\n\n  return {\n    json: {\n      row,\n      asset_type,\n      asset_source_id\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,4896],"id":"a5872860-2b8e-4fbe-aca8-cccbe204d265","name":"JS Commodities Prices All","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/commodities_prices_all/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for commodities_prices_all'\n)\nRETURNING id;\n","options":{}},"id":"fdd08a77-8942-417f-8e5f-7101be2e289b","name":"Create Batch Items Commodities All","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-192,4720],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,4848],"id":"61f13da7-01e3-4ccf-8024-aadbee557a6b","name":"Loop Over Commodities Prices"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_prices_raw (\n    ingest_batch_id,\n    asset_type,\n    asset_source_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::TEXT,\n    $3::TEXT,\n    $4::jsonb\n);","options":{"queryReplacement":"={{$node[\"Create Batch Items Commodities All\"].json[\"id\"]}},{{ $json.asset_type }},{{ $json.asset_source_id }},{{ $json.row }}"}},"id":"d5df519a-7ef2-42e0-9795-edc24cb2d887","name":"Insert uex_prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[464,4864],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Start":{"main":[[{"node":"Get Commodities prices","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Commodities Prices","type":"main","index":0}]]},"Get Commodities prices":{"main":[[{"node":"Create Batch Items Commodities All","type":"main","index":0},{"node":"JS Commodities Prices All","type":"main","index":0}]]},"JS Commodities Prices All":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create Batch Items Commodities All":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Loop Over Commodities Prices":{"main":[[],[{"node":"Insert uex_prices_raw","type":"main","index":0}]]},"Insert uex_prices_raw":{"main":[[{"node":"Loop Over Commodities Prices","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"6t3fbcBJXnp5ZNhe","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"17a85b10-6343-44cd-bd05-d1b71e265167","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-24T20:53:58.879Z","createdAt":"2026-05-24T20:53:58.879Z","role":"workflow:owner","workflowId":"S5yK3RAgxoWp1Era","projectId":"oagtFyYO5Ukt7aJ8"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-25T17:29:43.973Z","createdAt":"2026-04-25T17:29:43.973Z","id":"5HxDCchvczlTccEc","name":"v3"},{"updatedAt":"2026-04-25T17:29:43.646Z","createdAt":"2026-04-25T17:29:43.646Z","id":"aWjpuw4mBym8JRsG","name":"v2"},{"updatedAt":"2026-04-25T17:14:51.923Z","createdAt":"2026-04-25T17:14:51.923Z","id":"khL3CjD7OdrlYJYn","name":"uex"},{"updatedAt":"2026-04-25T17:14:51.593Z","createdAt":"2026-04-25T17:14:51.593Z","id":"tgWEqRaGVbLB2Fj0","name":"arkoncore"}]},"pairedItem":{"item":0}}]},"meta":{"templateId":"3990","templateCredsSetupCompleted":true}}