2026/05/27/MlLfWXi6YmCy8oSq.json
{"nodes":[{"parameters":{},"id":"5820a741-9c3c-4651-9680-e68d16b20e79","name":"When workflow is called","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,64]},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, file, slot, tier, manufacturer, uex_category_name, uex_category_section, slug FROM datap4k_armor_norm WHERE slug IS NOT NULL AND slug != '' ORDER BY uex_category_section, uex_category_name, name;","options":{"queryBatching":"independently"}},"id":"2e8da16c-76d4-4fac-b00d-178cf96d3cb6","name":"List Armor","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,144],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"id":"75d47163-41fa-4efa-a31b-d7d484445988","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,144]},{"parameters":{"operation":"executeQuery","query":"SELECT an.id, an.raw_id, an.file, an.name, an.slug, an.slot, an.tier, an.manufacturer, an.micro_scu, an.container_scu, an.temp_min_c, an.temp_max_c, an.rad_capacity, an.rad_diss_rate, an.dmg_res_physical, an.dmg_res_energy, an.dmg_res_distortion, an.dmg_res_biochemical, an.dmg_res_stun, an.dmg_res_force, an.dmg_res_thermal, an.sig_ir_emission, an.sig_ir_reduce_abs, an.sig_em_emission, an.sig_em_reduce_abs, an.uex_id, an.uex_category_name, an.uex_category_section, COALESCE((  SELECT jsonb_agg(jsonb_build_object('terminal',t.name,'buy',p.buy_price,'sell',p.sell_price) ORDER BY t.name)   FROM prices p JOIN trade_terminals t ON t.id=p.terminal_id   WHERE p.item_external_id=an.uex_id AND an.uex_id IS NOT NULL     AND GREATEST(COALESCE(p.buy_price,0),COALESCE(p.sell_price,0))>0 AND p.asset_type='item'), '[]'::jsonb) AS uex_prices, COALESCE((  SELECT jsonb_agg(jsonb_build_object('shop',si.shop,'location',si.location,'buy',si.buy_auec,'sell',si.sell_auec) ORDER BY si.shop)   FROM datap4k_shop_inventory si   WHERE si.item_raw_id=an.raw_id AND si.item_raw_table='datap4k_armor_raw'     AND GREATEST(COALESCE(si.buy_auec,0),COALESCE(si.sell_auec,0))>0), '[]'::jsonb) AS datap4k_prices FROM datap4k_armor_norm an WHERE an.id={{$json[\"id\"]}};","options":{"queryBatching":"independently"}},"id":"ca8d383b-be33-4236-8bb8-ff870d9c69a6","name":"Armor Detail","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,160],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"\nconst row = $input.first().json;\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  return Array.isArray(raw) ? raw : [];\n}\nfunction fmtPct(v) { const n = parseFloat(v); return (!v||isNaN(n)||n===0)?null:n.toFixed(0)+'%'; }\nfunction fmtC(v) { const n=parseFloat(v); if(!v||isNaN(n))return null; return (n>=0?'+':'')+n.toFixed(0)+'C'; }\nfunction hash16(s) {\n  let h = 2166136261;\n  for (let i = 0; i < s.length; i++) { h ^= s.charCodeAt(i); h = Math.imul(h, 16777619) >>> 0; }\n  return h.toString(16).padStart(8, '0');\n}\nconst uex  = parsePrices(row.uex_prices);\nconst dp4k = parsePrices(row.datap4k_prices);\nconst cat  = row.uex_category_name || row.slot || 'Armor';\nconst sect = row.uex_category_section || 'Armor';\nconst mfr  = row.manufacturer || '';\nconst sentences = [];\nif (mfr) sentences.push(`${row.name} is a ${(row.tier||'').toLowerCase()} ${(row.slot||'armor').toLowerCase()} by ${mfr}.`);\nelse     sentences.push(`${row.name} is a ${(row.slot||'armor').toLowerCase()}.`);\nif (parseFloat(row.dmg_res_physical) > 0) sentences.push(`${fmtPct(row.dmg_res_physical)} physical resistance.`);\nif (parseFloat(row.dmg_res_energy)   > 0) sentences.push(`${fmtPct(row.dmg_res_energy)} energy resistance.`);\nconst tMin = fmtC(row.temp_min_c), tMax = fmtC(row.temp_max_c);\nif (tMin && tMax) sentences.push(`Thermal range ${tMin} to ${tMax}.`);\nif (uex.length)       sentences.push(`Available at ${uex.length} UEX terminal${uex.length>1?'s':''} with live pricing.`);\nelse if (dp4k.length) sentences.push(`Shop data from DataPack (${dp4k.length} location${dp4k.length>1?'s':''}).`);\nelse                  sentences.push('No live purchase pricing currently available.');\nconst DMG_KEYS = ['physical','energy','distortion','biochemical','stun','force','thermal'];\nconst dmg_res = {};\nDMG_KEYS.forEach(k => { const v=parseFloat(row[`dmg_res_${k}`]); if(!isNaN(v)&&v>0) dmg_res[k]=v; });\nconst contentStr = JSON.stringify({name:row.name,file:row.file||'',slot:row.slot||'',tier:row.tier||''});\nconst ch = hash16(contentStr);\nconst jsonkb = {\n  source:'datap4k', source_id:`datap4k_armor_norm:${row.id}`,\n  entity_name:row.name, entity_type:'armor', entity_slug:row.slug||'',\n  entity_id:String(row.id), source_table:'datap4k_armor_norm', kb_version:1,\n  slot:row.slot||null, tier:row.tier||null, manufacturer:mfr||null,\n  category:cat, section:sect, file:row.file||null,\n  dmg_resistance:dmg_res,\n  signature:{ir_emission:parseFloat(row.sig_ir_emission)||null,ir_reduce_abs:parseFloat(row.sig_ir_reduce_abs)||null,em_emission:parseFloat(row.sig_em_emission)||null,em_reduce_abs:parseFloat(row.sig_em_reduce_abs)||null},\n  environmental:{temp_min_c:parseFloat(row.temp_min_c)||null,temp_max_c:parseFloat(row.temp_max_c)||null,rad_capacity:parseFloat(row.rad_capacity)||null,rad_diss_rate:parseFloat(row.rad_diss_rate)||null},\n  inventory:{micro_scu:parseFloat(row.micro_scu)||null,container_scu:parseFloat(row.container_scu)||null},\n  uex_id:row.uex_id?parseInt(row.uex_id):null,\n  uex_prices:uex, datap4k_prices:dp4k,\n  kb_text:sentences.join(' '), kb_links:[], rag_hints:[], entity_metadata:{},\n  provenance:{source:'datap4k_armor_norm',workflow:'JSONKB - Armor v1',content_hash:ch}\n};\njsonkb.slug = jsonkb.entity_slug;\njsonkb.jsonkb_file_path = `jsonkb/armor/${jsonkb.entity_slug}.json`;\nreturn [{ json: { ...jsonkb, _content_hash: ch } }];\n"},"id":"3eea578a-0542-4db7-a695-9a986726a8b8","name":"Build JSONKB","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,160]},{"parameters":{"jsCode":"\nconst row = $input.first().json;\nconst slug = row.entity_slug || '';\nif (!slug) return [];\nconst ch = row._content_hash || row.provenance?.content_hash || '';\nconst copy = { ...row };\ndelete copy._content_hash;\nreturn [{ json: { entity_slug:slug, entity_type:'armor', content_hash:ch, content:JSON.stringify(copy) } }];\n"},"id":"db3824e4-7b28-49df-8927-b426aa8efb45","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,160]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_store (entity_slug, entity_type, content, content_hash, updated_at) VALUES ('{{$json[\"entity_slug\"]}}', 'armor', '{{$json[\"content\"].replace(/'/g, \"''\")}}'::jsonb, '{{$json[\"content_hash\"]}}', now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content=EXCLUDED.content, content_hash=EXCLUDED.content_hash, updated_at=now();","options":{"queryBatching":"independently"}},"id":"52b6fb6e-6319-40de-aa0c-c9298aa3f9a4","name":"Upsert jsonkb_store","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1984,160],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  'armor',\n  NULL,\n  '{{$(\"Build JSONKB\").item.json.entity_slug}}',\n  '{{$(\"Build JSONKB\").item.json.jsonkb_file_path}}',\n  '{{$(\"Build JSONKB\").item.json.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;","options":{"queryBatching":"independently"}},"id":"e11c2f24-b6ba-45aa-ac04-78e450462f03","name":"Log Change","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2208,224],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$(\"Build JSONKB\").item.json.entity_slug}}' AND entity_type = 'armor'","options":{}},"id":"552a2884-e06a-4195-9ef7-caa3a4d3f774","name":"Get Existing Hash","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1120,160],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = $input.first().json;\nconst currentHash = buildResult.provenance?.content_hash || buildResult._content_hash || null;\nconst existingHash = existingRow ? existingRow.content_hash : null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"id":"ef9dfc24-9517-4f8e-894c-7831ede24b27","name":"Compare Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9de136fb-9413-4c61-b186-dc3388a423d3","leftValue":"={{$json[\"should_write\"]}}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"5337bd51-269e-4634-8df8-96074b629575","name":"Should Write","type":"n8n-nodes-base.if","typeVersion":2,"position":[1536,160]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,224],"id":"80f0229b-52bd-48d9-8589-73d30246a231","name":"Manual"}],"connections":{"When workflow is called":{"main":[[{"node":"List Armor","type":"main","index":0}]]},"List Armor":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Armor Detail","type":"main","index":0}]]},"Armor Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert jsonkb_store","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert jsonkb_store":{"main":[[{"node":"Log Change","type":"main","index":0}]]},"Log Change":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Manual":{"main":[[{"node":"List Armor","type":"main","index":0}]]}},"pinData":{},"meta":null}