2026/06/08/6t3fbcBJXnp5ZNhe.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-544,-48],"id":"bd41abe7-4b9c-4bfb-a980-50c3c8822f3a","name":"Error Trigger"},{"parameters":{"dataTableId":{"__rl":true,"value":"y4eNdezskZ6uxhlu","mode":"list","cachedResultName":"Error Log","cachedResultUrl":"/projects/oagtFyYO5Ukt7aJ8/datatables/y4eNdezskZ6uxhlu"},"columns":{"mappingMode":"defineBelow","value":{"WorkflowName":"={{ $('Error Trigger').item.json.workflow.name }}","ExecutionURL":"={{ $('Error Trigger').item.json.execution.url }}","Errormsg":"={{ $('Error Trigger').item.json.execution.error.message }}","NodeName":"={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"},"matchingColumns":[],"schema":[{"id":"WorkflowName","displayName":"WorkflowName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NodeName","displayName":"NodeName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Errormsg","displayName":"Errormsg","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ExecutionURL","displayName":"ExecutionURL","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-160,-336],"id":"b9a56077-1bd1-4040-aa31-aec8d6e3e85d","name":"Insert row"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.execution.error.workflowId }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-336,-48],"id":"1cacff50-e436-41e9-ab5a-7f39b62c2091","name":"Get a workflow","credentials":{"n8nApi":{"id":"n6E3URY5DyHNobeS","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b2c24162-ddd3-4ef8-96e5-1c4896e29796","leftValue":"={{ $json.tags[0].name }}","rightValue":"arkoncore","operator":{"type":"string","operation":"equals"}},{"id":"ba83852c-9c2e-478f-9ba5-07e51e900e8c","leftValue":"={{ $json.tags[1].name }}","rightValue":"arkoncore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"15e1bce6-3691-42c8-a64d-8d168840f6d9","leftValue":"={{ $json.tags[2].name }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"69e5d748-3daf-45ca-88b1-360b6a1b6137","leftValue":"={{ $json.tags[3].name }}","rightValue":"arkoncore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c6c33c3f-709c-4e94-8461-89cde8e653ba","leftValue":"={{ $json.tags[4].name }}","rightValue":"arkoncore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-128,-48],"id":"ca903886-6e75-48ad-81a6-a8056813dc57","name":"If"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"785675077236686849","mode":"list","cachedResultName":"🧪bot-stuff","cachedResultUrl":"https://discord.com/channels/196315042797322240/785675077236686849"},"content":"=Error occured in workflow:\n{{ $('Error Trigger').item.json.workflow.name }}\nCurrent time is: {{ $now.format('yyyy-MM-dd hh:mma') }}\nExection URL: {{ $('Error Trigger').item.json.execution.url }}\nLast Node Executed: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nError Message: {{ $('Error Trigger').item.json.execution.error.message }}","options":{"flags":["SUPPRESS_EMBEDS"]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[176,128],"id":"e584c338-5b68-4743-8c2f-60cdfedd8ba3","name":"Send a message Wolf","webhookId":"61d68a2a-8d4a-47dc-a569-15c7f68e62cd","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"simkir token"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1454495559917371599","mode":"list","cachedResultName":"Arkon Core","cachedResultUrl":"https://discord.com/channels/1454495559917371599"},"channelId":{"__rl":true,"value":"1490113399239999542","mode":"list","cachedResultName":"api-logs","cachedResultUrl":"https://discord.com/channels/1454495559917371599/1490113399239999542"},"content":"=Error occured in workflow:\n{{ $('Error Trigger').item.json.workflow.name }}\nCurrent time is: {{ $now.format('yyyy-MM-dd hh:mma') }}\nExection URL: {{ $('Error Trigger').item.json.execution.url }}\nLast Node Executed: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\nError Message: {{ $('Error Trigger').item.json.execution.error.message }}","options":{},"embeds":{"values":[]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[192,-192],"id":"cdf2f163-79f0-45bc-8e47-504edc631894","name":"Send a message","webhookId":"b63ac4ba-718b-4827-8a02-ace14b05ead7","executeOnce":true,"credentials":{"discordBotApi":{"id":"p8QyFNOanKPRGVUu","name":"Arkon"}},"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert row","type":"main","index":0},{"node":"Send a message","type":"main","index":0},{"node":"Send a message Wolf","type":"main","index":0}],[{"node":"Insert row","type":"main","index":0},{"node":"Send a message Wolf","type":"main","index":0}]]}},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"55756","url":"https://n8.saladins.io/workflow/0X6emQPQCnJgeJ8v/executions/55756","error":{"level":"warning","tags":{},"description":"Ensure that no rows proposed for insertion within the same command have duplicate constrained values.","errorResponse":{"level":"warning","tags":{},"description":"Ensure that no rows proposed for insertion within the same command have duplicate constrained values.","timestamp":1777349394928,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT normalize_datap4k();\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,64],"id":"d20b4d0b-61eb-4ea0-8e3d-1d88c2431e03","name":"normalize datap4k","alwaysOutputData":false,"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},"messages":[],"message":"ON CONFLICT DO UPDATE command cannot affect row a second time","stack":"NodeOperationError: ON CONFLICT DO UPDATE command cannot affect row a second time\n    at parsePostgresError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:123:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:267:19\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts:149:9)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/router.ts:41:17)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/PostgresV2.node.ts:26:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2339:11","executionId":"55780","workflowId":"z231GEBCKESuhY21"},"timestamp":1777349394945,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT normalize_datap4k();\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,64],"id":"d20b4d0b-61eb-4ea0-8e3d-1d88c2431e03","name":"normalize datap4k","alwaysOutputData":false,"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},"messages":[],"executionId":"55780","workflowId":"z231GEBCKESuhY21","message":"ON CONFLICT DO UPDATE command cannot affect row a second time","stack":"NodeOperationError: ON CONFLICT DO UPDATE command cannot affect row a second time\n    at parsePostgresError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:123:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/helpers/utils.ts:267:19\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts:149:9)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/actions/router.ts:41:17)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Postgres/v2/PostgresV2.node.ts:26:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_2d19a9be2839cb42cd2e8c9cacd05d5a/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2339:11"},"lastNodeExecuted":"Call '0100 - Normalize/Ontology'","mode":"trigger","executionContext":{"version":1,"establishedAt":1777348840032,"source":"trigger","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"midnight start","type":"n8n-nodes-base.scheduleTrigger"}}},"workflow":{"id":"0X6emQPQCnJgeJ8v","name":"0000 - Start Ingest master"}},"pairedItem":{"item":0}}]},"meta":{"templateCredsSetupCompleted":true}}