2026/06/08/uRFMk53bogd0rvTz.json
{"nodes":[{"parameters":{"path":"v3/lookup","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"a31520d9-d811-4018-9c03-98d880e3604b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,304],"webhookId":"e565c437-5868-4ea3-bc52-fb12a6e58293","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"operation":"executeQuery","query":"WITH direct AS (\n    SELECT\n      ed.slug,\n      ed.entity_type,\n      ed.name,\n      ed.manufacturer,\n      ed.category,\n      ed.uex_id,\n      ed.is_base_variant,\n      ed.payload,\n      ed.built_at,\n      NULL::text AS kb_blurb,\n      NULL::text AS variant_slug,\n      ml.slug AS manufacturer_slug\n    FROM entity_display ed\n    LEFT JOIN manufacturer_lookup ml ON ml.canonical_name = ed.manufacturer\n    WHERE ed.slug = $1\n      AND ($2 = '*' OR ed.entity_type = $2)\n    ORDER BY CASE ed.entity_type\n      WHEN 'vehicle'        THEN 0\n      WHEN 'ground_vehicle' THEN 1\n      WHEN 'weapon'         THEN 2\n      WHEN 'armor'          THEN 3\n      WHEN 'component'      THEN 4\n      ELSE 5\n    END\n  ),\n  source_slug_fallback AS (\n    SELECT\n      ed.slug,\n      ed.entity_type,\n      ed.name,\n      ed.manufacturer,\n      ed.category,\n      ed.uex_id,\n      ed.is_base_variant,\n      ed.payload,\n      ed.built_at,\n      NULL::text AS kb_blurb,\n      NULL::text AS variant_slug,\n      ml.slug AS manufacturer_slug\n    FROM entity_display ed\n    LEFT JOIN manufacturer_lookup ml ON ml.canonical_name = ed.manufacturer\n    WHERE ed.payload->>'source_slug' = $1\n      AND ($2 = '*' OR ed.entity_type = $2)\n    ORDER BY CASE ed.entity_type\n      WHEN 'vehicle'        THEN 0\n      WHEN 'ground_vehicle' THEN 1\n      WHEN 'weapon'         THEN 2\n      WHEN 'armor'          THEN 3\n      WHEN 'component'      THEN 4\n      ELSE 5\n    END\n  ),\n  variant_fallback AS (\n    SELECT\n      ed.slug,\n      ed.entity_type,\n      ed.name,\n      ed.manufacturer,\n      ed.category,\n      ed.uex_id,\n      ed.is_base_variant,\n      ed.payload,\n      ed.built_at,\n      NULL::text AS kb_blurb,\n      $1::text AS variant_slug,\n      ml.slug AS manufacturer_slug\n    FROM entity_display ed\n    LEFT JOIN manufacturer_lookup ml ON ml.canonical_name = ed.manufacturer\n    WHERE ed.entity_type = 'vehicle'\n      AND ed.payload->'variants' @> jsonb_build_array(jsonb_build_object('slug', $1))\n  )\n  SELECT * FROM direct\n  UNION ALL\n  SELECT * FROM source_slug_fallback\n  WHERE NOT EXISTS (SELECT 1 FROM direct)\n  UNION ALL\n  SELECT * FROM variant_fallback\n  WHERE NOT EXISTS (SELECT 1 FROM direct)\n    AND NOT EXISTS (SELECT 1 FROM source_slug_fallback)","options":{"queryBatching":"independently","queryReplacement":"={{ $json.query.slug }},{{  $json.query.entity_type ?? '*' }}"}},"id":"da6ce99d-3cb9-4b48-a1b0-4cfdfdd62335","name":"Lookup Entity","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[416,304],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85e42a8d-e40a-405f-a6c3-61ccb5600173","leftValue":"={{ $input.all().filter(item => item.json.slug != null).length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[576,304],"id":"5160974e-9a51-4a83-aae4-004ee9fcfc99","name":"If"},{"parameters":{"respondWith":"json","responseBody":"[]","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[784,400],"id":"fe2ec2a5-5d41-4079-9078-0cd0a0eae472","name":"Respond Nothing Found"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Lookup Entity').all().map(i => i.json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[784,208],"id":"8eafd990-69c5-47a8-a592-7eb9525c768f","name":"Respond Found output the data"}],"connections":{"Webhook":{"main":[[{"node":"Lookup Entity","type":"main","index":0}]]},"Lookup Entity":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond Found output the data","type":"main","index":0}],[{"node":"Respond Nothing Found","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}