2026/06/08/Vv9be2x4dW6f03wa.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"v3/orgs/verify/init","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"307531d8-e77f-4040-9906-6d383c697519","name":"Verify Init Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"f89d39ba-790a-4ea6-b4fe-b4db09563ecf","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"const body = $json.body || {};\nconst user_id = (body.user_id || '').trim();\nconst org_id = (body.org_id || '').trim();\nif (!user_id) throw new Error('user_id is required');\nif (!org_id) throw new Error('org_id is required');\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRe.test(user_id)) throw new Error('user_id must be a valid UUID');\nif (!uuidRe.test(org_id)) throw new Error('org_id must be a valid UUID');\nconst chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\nlet token = 'ARKON-';\nfor (let i = 0; i < 8; i++) { token += chars[Math.floor(Math.random() * chars.length)]; }\nconst expires_at = new Date(Date.now() + 86400000).toISOString();\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\nconst sql = \"UPDATE sc_orgs SET pending_verify_token = '\" + esc(token) + \"', pending_verify_expires_at = '\" + expires_at + \"'::timestamptz WHERE org_id = '\" + org_id + \"'::uuid RETURNING org_id, slug, name\";\nreturn [{ json: { user_id, org_id, token, expires_at, sql } }];"},"id":"23abb970-7bdc-42c9-8b1b-ce848af4ace6","name":"Build Verify Init","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"b2a9bc45-4e16-45fa-a85b-b39536adffa3","name":"DB Store Verify Token","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,0],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const init = $('Build Verify Init').first().json;\nconst dbRow = $input.first().json;\nif (!dbRow.org_id) return [{ json: { ok: false, error: 'Org not found' } }];\nreturn [{ json: { ok: true, token: init.token, expires_at: init.expires_at, org: { org_id: dbRow.org_id, slug: dbRow.slug, name: dbRow.name }, instructions: 'Paste the token into the Introduction box at https://robertsspaceindustries.com/en/orgs/' + dbRow.slug + '/admin/content then call verify/confirm' } }];"},"id":"f4b11ad5-e9fb-4b09-9b46-b0579944dd09","name":"Build Init Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0]},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"725a2d53-a0b1-417d-bcce-c814a04cb1c3","name":"Respond Verify Init","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1216,0]},{"parameters":{"httpMethod":"POST","path":"v3/orgs/verify/confirm","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"7ed175a6-fbfc-4231-bb36-79211479cb45","name":"Verify Confirm Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,400],"webhookId":"d3450f29-ca2f-4cc0-9d3c-9f50a0b9ed6c","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"const body = $json.body || {};\nconst user_id = (body.user_id || '').trim();\nconst org_id = (body.org_id || '').trim();\nif (!user_id) throw new Error('user_id is required');\nif (!org_id) throw new Error('org_id is required');\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRe.test(user_id)) throw new Error('user_id must be a valid UUID');\nif (!uuidRe.test(org_id)) throw new Error('org_id must be a valid UUID');\nreturn [{ json: { user_id, org_id } }];"},"id":"f3825aef-b0dc-419e-bdb1-79f74d0549b5","name":"Build Confirm Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,400]},{"parameters":{"operation":"executeQuery","query":"SELECT o.org_id, o.slug, o.name, o.pending_verify_token, o.pending_verify_expires_at FROM (VALUES ($1::uuid)) AS x(oid) LEFT JOIN sc_orgs o ON o.org_id = x.oid","options":{"queryReplacement":"={{ $json.org_id }}"}},"id":"6c052844-4668-43e9-b5e2-e6701fed6d71","name":"DB Get Org For Confirm","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,400],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"url":"={{ 'https://robertsspaceindustries.com/orgs/' + $('DB Get Org For Confirm').first().json.slug }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":8000}},"id":"5961d46d-f068-43dd-bd41-3b968b61dfb3","name":"RSI Scrape Org Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,400]},{"parameters":{"jsCode":"const confirmParams = $('Build Confirm Params').first().json;\nconst orgRow = $('DB Get Org For Confirm').first().json;\nconst rsiResp = $input.first().json || {};\nconst noop = 'SELECT 1 AS noop';\nif (!orgRow.org_id) return [{ json: { ok: false, reason: 'org_not_found', sql_org: noop, sql_user: noop } }];\nconst token = orgRow.pending_verify_token;\nif (!token) return [{ json: { ok: false, reason: 'no_pending_token', sql_org: noop, sql_user: noop } }];\nconst expiresAt = orgRow.pending_verify_expires_at;\nif (expiresAt && new Date(expiresAt) < new Date()) return [{ json: { ok: false, reason: 'token_expired', sql_org: noop, sql_user: noop } }];\nconst html = typeof rsiResp === 'string' ? rsiResp : (rsiResp.data || rsiResp.body || JSON.stringify(rsiResp));\nif (html.indexOf(token) === -1) return [{ json: { ok: false, reason: 'token_not_found', sql_org: noop, sql_user: noop } }];\nconst userId = confirmParams.user_id;\nconst orgId = confirmParams.org_id;\nconst now = new Date().toISOString();\nconst sql_org = \"UPDATE sc_orgs SET verified_at = '\" + now + \"'::timestamptz, verified_by = '\" + userId + \"'::uuid, pending_verify_token = NULL, pending_verify_expires_at = NULL WHERE org_id = '\" + orgId + \"'::uuid\";\nconst sql_user = \"UPDATE users SET managed_org_id = '\" + orgId + \"'::uuid WHERE user_id = '\" + userId + \"'::uuid\";\nreturn [{ json: { ok: true, reason: 'verified', sql_org, sql_user } }];"},"id":"8208c818-73b5-4040-91c5-4fe7353936c9","name":"Check Token And Build SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,400]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql_org }}","options":{}},"id":"88730e68-c7fa-40f2-9a7d-2a577cb91675","name":"DB Verify Org","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('Check Token And Build SQL').first().json.sql_user }}","options":{}},"id":"0dbf3342-b864-4c2b-9dc8-249ed36b7432","name":"DB Set Managed Org","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1824,400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const check = $('Check Token And Build SQL').first().json;\nconst params = $('Build Confirm Params').first().json;\nif (!check.ok) {\n  const msgs = { org_not_found: 'Org not found', no_pending_token: 'No token - call verify/init first', token_expired: 'Token expired - call verify/init', token_not_found: 'Token not found on RSI org page - check Introduction box' };\n  return [{ json: { ok: false, verified: false, reason: check.reason, message: msgs[check.reason] || check.reason } }];\n}\nreturn [{ json: { ok: true, verified: true, org_id: params.org_id, user_id: params.user_id } }];"},"id":"cd704e5c-aa0d-4076-840f-d051472abd59","name":"Build Confirm Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,400]},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"47be57c0-63a7-4c72-8cfd-0a066e97cf9d","name":"Respond Verify Confirm","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2432,400]}],"connections":{"Verify Init Webhook":{"main":[[{"node":"Build Verify Init","type":"main","index":0}]]},"Build Verify Init":{"main":[[{"node":"DB Store Verify Token","type":"main","index":0}]]},"DB Store Verify Token":{"main":[[{"node":"Build Init Response","type":"main","index":0}]]},"Build Init Response":{"main":[[{"node":"Respond Verify Init","type":"main","index":0}]]},"Verify Confirm Webhook":{"main":[[{"node":"Build Confirm Params","type":"main","index":0}]]},"Build Confirm Params":{"main":[[{"node":"DB Get Org For Confirm","type":"main","index":0}]]},"DB Get Org For Confirm":{"main":[[{"node":"RSI Scrape Org Page","type":"main","index":0}]]},"RSI Scrape Org Page":{"main":[[{"node":"Check Token And Build SQL","type":"main","index":0}]]},"Check Token And Build SQL":{"main":[[{"node":"DB Verify Org","type":"main","index":0}]]},"DB Verify Org":{"main":[[{"node":"DB Set Managed Org","type":"main","index":0}]]},"DB Set Managed Org":{"main":[[{"node":"Build Confirm Response","type":"main","index":0}]]},"Build Confirm Response":{"main":[[{"node":"Respond Verify Confirm","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true}}