2026/06/08/xruvwtU6WClc8TVC.json
{"nodes":[{"parameters":{},"id":"81314a70-d19f-4fdf-b997-57870f1eaad2","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,96]},{"parameters":{"inputSource":"passthrough"},"id":"bcc29cb8-c552-41f5-b9a1-bd8e7aaf39c7","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-80]},{"parameters":{"operation":"executeQuery","query":"SELECT id, slug, name, manufacturer, category\nFROM datap4k_mining_gear_norm\nORDER BY category, name;","options":{}},"id":"5d6ab8ee-56e6-4372-9be3-62d218b53e59","name":"Mining Gear – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,0],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"id":"15fdd63a-932f-440a-9be6-e3e03753ec4c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  mg.id, mg.raw_id, mg.slug, mg.name, mg.manufacturer, mg.category, mg.size,\n  mg.filter_modifier, mg.shatter_modifier, mg.charge_rate_modifier,\n  mg.instability_modifier, mg.window_size_modifier, mg.catastrophic_rate_modifier,\n  mg.stats, mg.uex_id,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'terminal', t.name,\n      'buy', p.buy_price,\n      'sell', p.sell_price\n    ) ORDER BY t.name)\n    FROM prices p\n    JOIN trade_terminals t ON t.id = p.terminal_id\n    WHERE p.item_external_id = mg.uex_id\n      AND mg.uex_id IS NOT NULL\n      AND GREATEST(COALESCE(p.buy_price, 0), COALESCE(p.sell_price, 0)) > 0\n  ), '[]'::jsonb) AS uex_prices,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'shop', si.shop,\n      'location', si.location,\n      'buy', si.buy_auec,\n      'sell', si.sell_auec\n    ) ORDER BY si.shop)\n    FROM datap4k_shop_inventory si\n    WHERE si.item_raw_id = mg.raw_id\n      AND si.item_raw_table = 'datap4k_mining_gear_raw'\n      AND GREATEST(COALESCE(si.buy_auec, 0), COALESCE(si.sell_auec, 0)) > 0\n  ), '[]'::jsonb) AS datap4k_prices\n\nFROM datap4k_mining_gear_norm mg\nWHERE mg.id = {{$json[\"id\"]}};","options":{}},"id":"c0a316dd-0876-4f72-8cc3-8ab03ccf770a","name":"Mining Gear – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[608,32],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"var row = items[0].json;\nvar catLabels = {\n  'mining-laser': 'Mining Laser',\n  'mining-module-active': 'Mining Module (Active)',\n  'mining-module-passive': 'Mining Module (Passive)',\n  'mining-gadget': 'Mining Gadget'\n};\nvar categoryLabel = catLabels[row.category] || row.category || 'Mining Gear';\nvar name = row.name || 'Unknown';\nvar slug = row.slug || name.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\nvar mfr = row.manufacturer || null;\nvar size = row.size ? Number(row.size) : null;\n\n\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  if (Array.isArray(raw)) return raw;\n  return [];\n}\nfunction fmtPrice(v) {\n  if (v === null || v === undefined) return null;\n  var n = Number(v);\n  if (!Number.isFinite(n) || n <= 0) return null;\n  return n.toLocaleString('en-US', {minimumFractionDigits: 0, maximumFractionDigits: 0});\n}\nvar uexPrices = parsePrices(row.uex_prices);\nvar datap4kPrices = parsePrices(row.datap4k_prices);\nvar hasUex = uexPrices.length > 0;\nvar hasDp4k = datap4kPrices.length > 0;\n\nfunction statsToText(row) {\n  if (row.category === 'mining-laser') {\n    var parts = [];\n    var flat = [['Filter Modifier', row.filter_modifier],['Shatter Modifier', row.shatter_modifier],['Charge Rate Modifier', row.charge_rate_modifier],['Instability Modifier', row.instability_modifier],['Window Size Modifier', row.window_size_modifier],['Catastrophic Rate Modifier', row.catastrophic_rate_modifier]];\n    for (var i = 0; i < flat.length; i++) { var v = flat[i][1]; if (v === null || v === undefined) continue; var n = Number(v); if (!Number.isFinite(n)) continue; parts.push(flat[i][0] + ' ' + (n >= 0 ? '+' : '') + n + '%'); }\n    return parts.length ? parts.join(', ') : null;\n  } else {\n    var stats = row.stats;\n    if (typeof stats === 'string') { try { stats = JSON.parse(stats); } catch(e) { stats = []; } }\n    if (!Array.isArray(stats) || !stats.length) return null;\n    return stats.map(function(s) { return s.label + ' ' + s.value; }).join(', ');\n  }\n}\n\nvar statsText = statsToText(row);\nvar sentences = [];\nvar s1 = 'The ' + name + ' is a ' + (size ? 'size ' + size + ' ' : '') + categoryLabel.toLowerCase() + (mfr ? ' manufactured by ' + mfr : '') + '.';\nsentences.push(s1);\nif (row.category === 'mining-laser') sentences.push('Mining lasers are attached to ships or handheld mining tools to extract resources from rocks.');\nelse if (row.category === 'mining-module-active') sentences.push('Active modules are temporarily equipped to a mining laser to boost performance during a session.');\nelse if (row.category === 'mining-module-passive') sentences.push('Passive modules provide persistent stat changes when equipped to a mining laser.');\nelse if (row.category === 'mining-gadget') sentences.push('Mining gadgets are throwable devices used during the extraction process to affect rock properties.');\nif (statsText) sentences.push((row.category === 'mining-laser' ? 'Key stats' : 'Modifiers') + ': ' + statsText + '.');\nif (hasUex) {\n  sentences.push('Available at ' + uexPrices.length + ' terminal' + (uexPrices.length > 1 ? 's' : '') + ' with live UEX pricing.');\n} else if (hasDp4k) {\n  sentences.push('Shop data available from DataPack (prices may be outdated).');\n} else {\n  sentences.push('No live purchase pricing is currently available in UEX.');\n}\nvar kb_text = sentences.join(' ');\n\nfunction fnv1a32Hex(str) { var hash = 0x811c9dc5; for (var i = 0; i < str.length; i++) { hash ^= str.charCodeAt(i); hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0; } return hash.toString(16).padStart(8, '0'); }\nfunction hash16(str) { return fnv1a32Hex(str) + fnv1a32Hex(str + '|v2'); }\nfunction stableStringify(val) { if (val === null || typeof val !== 'object') return JSON.stringify(val); if (Array.isArray(val)) return '[' + val.map(stableStringify).join(',') + ']'; var keys = Object.keys(val).sort(); return '{' + keys.map(function(k) { return JSON.stringify(k) + ':' + stableStringify(val[k]); }).join(',') + '}'; }\n\nvar entity_metadata = { category: row.category, category_label: categoryLabel, manufacturer: mfr, size: size };\nvar jsonkb = {\n  kb_version: '1.0', entity_type: 'mining_gear', entity_id: null, entity_slug: slug, entity_name: name,\n  source: 'datap4k', source_id: 'datap4k_mining_gear_norm:' + row.id, source_table: 'datap4k_mining_gear_norm',\n  kb_text: kb_text,\n  kb_links: { kb_page_path: '/kb/' + slug, kb_browse_path: '/browse?category=mining_gear' },\n  entity_metadata: entity_metadata,\n  rag_hints: { sql_hints: [], notes: null },\n  provenance: { generated_at: new Date().toISOString(), kb_generator_workflow: 'JSONKB - Mining Gear v1', game_version: null, is_live_only: false, content_hash: '' }\n};\nvar hashBasis = stableStringify({ entity_type: jsonkb.entity_type, entity_id: jsonkb.entity_id, kb_text: jsonkb.kb_text, entity_metadata: jsonkb.entity_metadata });\njsonkb.provenance.content_hash = hash16(hashBasis);\nreturn [{ json: { item_id: row.id, slug: slug, name: name, jsonkb: jsonkb, jsonkb_file_path: '/kb/mining_gear/' + slug } }];\n"},"id":"0e56a3bc-0d8a-4cc9-b060-d58ff3362fd2","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[816,32]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = 'mining_gear'","options":{}},"id":"485c9d45-a70a-4970-99a7-e995fec113c3","name":"Get Existing Hash","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1024,32],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb && buildResult.jsonkb.provenance ? buildResult.jsonkb.provenance.content_hash : null;\nconst existingHash = existingRow ? existingRow.content_hash : null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: Object.assign({}, buildResult, { should_write: should_write, existing_hash: existingHash }) }];\n"},"id":"ce4465f7-23f3-4665-b9bb-e9f2fb6c0220","name":"Compare Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,32]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2aa29290-1cc7-46f4-bc6a-96d9f6872717","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b061dd84-f9e8-4e3e-9296-19dc60121020","name":"Should Write","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,32]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$(\"Build JSONKB\").item.json.jsonkb.entity_type}}',\n  NULL,\n  '{{$(\"Build JSONKB\").item.json.slug}}',\n  '{{$(\"Build JSONKB\").item.json.jsonkb_file_path}}',\n  '{{$(\"Build JSONKB\").item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;","options":{}},"id":"ac6e8b80-990e-4e48-9527-dd10735bfa22","name":"Log Change","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1744,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"mining_gear","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"536a5dcd-2f55-4773-8982-1359956eb0f4","name":"Upsert to jsonkb_store","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Mining Gear – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Mining Gear – List","type":"main","index":0}]]},"Mining Gear – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Mining Gear – Detail","type":"main","index":0}]]},"Mining Gear – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Log Change":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Log Change","type":"main","index":0}]]}},"pinData":{},"meta":null}