2026/06/12/3amA2s6tztmpAZqL.json
{"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"node-wf-trigger","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[976,528]},{"parameters":{"numberInputs":14},"id":"node-merge","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2704,288]},{"parameters":{"rule":{"interval":[{"triggerAtHour":17,"triggerAtMinute":30}]}},"id":"node-schedule","name":"Schedule Trigger 1730","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[976,352]},{"parameters":{"workflowId":{"__rl":true,"value":"srMbYRlCubZnIUIX","mode":"list","cachedResultUrl":"/workflow/srMbYRlCubZnIUIX","cachedResultName":"Entity Display - Weapon Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1392,320],"id":"00e6872f-c95a-46a7-aa61-7fc971408007","name":"Call 'Entity Display - Weapon Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"VJMXFCgEzOpvXElV","mode":"list","cachedResultUrl":"/workflow/VJMXFCgEzOpvXElV","cachedResultName":"Entity Display - Armor Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1552,320],"id":"66e573cd-0bb5-49bf-88bc-e360349fd8d1","name":"Call 'Entity Display - Armor Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"qJIW1gtarBy49sUe","mode":"list","cachedResultUrl":"/workflow/qJIW1gtarBy49sUe","cachedResultName":"Entity Display - Component Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,320],"id":"1b4cfb0f-4209-4c09-9234-c31e350a5aab","name":"Call 'Entity Display - Component Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"TKGa67yRw1RZ0VqM","mode":"list","cachedResultUrl":"/workflow/TKGa67yRw1RZ0VqM","cachedResultName":"Entity Display - Items Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1872,320],"id":"6f66c12f-a39d-474a-9134-05f70845fcf0","name":"Call 'Entity Display - Items Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"1T9OzO8m7Q9IkMtS","mode":"list","cachedResultUrl":"/workflow/1T9OzO8m7Q9IkMtS","cachedResultName":"Entity Display - Mining Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2032,320],"id":"aad2f1c1-7b7f-44c4-b6b5-27d8595239a4","name":"Call 'Entity Display - Mining Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"ciuIDCjLK7AMCFkA","mode":"list","cachedResultUrl":"/workflow/ciuIDCjLK7AMCFkA","cachedResultName":"Entity Display - Ground Vehicle Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1376,544],"id":"f04ade92-07d7-41ea-9b3c-0c02428f8c81","name":"Call 'Entity Display - Ground Vehicle Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"FFILQhBWyeDem3Jj","mode":"list","cachedResultUrl":"/workflow/FFILQhBWyeDem3Jj","cachedResultName":"Entity Display - Commodity Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1536,544],"id":"61ab17a9-088f-424b-ad12-806ec364ab16","name":"Call 'Entity Display - Commodity Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"CNwsHugpDz69QNYT","mode":"list","cachedResultUrl":"/workflow/CNwsHugpDz69QNYT","cachedResultName":"Entity Display - Company Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1696,544],"id":"b42cded2-2057-4189-9d05-6cfba6c47c1b","name":"Call 'Entity Display - Company Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"ZUBPCrqVQvNG0RIt","mode":"list","cachedResultUrl":"/workflow/ZUBPCrqVQvNG0RIt","cachedResultName":"Entity Display - System Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1856,544],"id":"88d64c40-32a4-4fb7-a6fd-cee0ce0f4e00","name":"Call 'Entity Display - System Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"2LBYYxTZipsyWNCI","mode":"list","cachedResultUrl":"/workflow/2LBYYxTZipsyWNCI","cachedResultName":"Entity Display - Planet Moon Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2016,544],"id":"e4bdae12-796c-432c-8fd5-5818e7ddbfc3","name":"Call 'Entity Display - Planet Moon Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"W1UdijmGrczIQeI1","mode":"list","cachedResultUrl":"/workflow/W1UdijmGrczIQeI1","cachedResultName":"Entity Display - Mining Gear Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2192,320],"id":"f78f8100-19b8-4d08-b317-c026cfb96d06","name":"Call 'Entity Display - Mining Gear Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"gfzabF5iDxGxT4P2","mode":"list","cachedResultUrl":"/workflow/gfzabF5iDxGxT4P2","cachedResultName":"Entity Display - Vehicle (Ship) Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2336,320],"id":"6276dcba-8e80-40af-9514-0fa22b9db296","name":"Call 'Entity Display - Vehicle (Ship) Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"JfcazMuEe6LEyoua","mode":"list","cachedResultUrl":"/workflow/JfcazMuEe6LEyoua","cachedResultName":"Entity Display - Location Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2176,544],"id":"1cd27ad0-e352-4868-9601-71e0f2337d25","name":"Call 'Entity Display - Location Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"Uwmc2Z78AKG0o3Hv","mode":"list","cachedResultUrl":"/workflow/Uwmc2Z78AKG0o3Hv","cachedResultName":"Entity Display - Terminal Build v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2336,544],"id":"fb205d39-00ae-4118-ac16-a80f34067ade","name":"Call 'Entity Display - Terminal Build v2'","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"TRUNCATE entity_display;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1216,432],"id":"135e1204-9e0a-4340-8ca2-298e1dc8f631","name":"Truncate entity_display;","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"55283dd2-78b1-49f5-affd-c9065b761960","leftValue":"={{ $input.all().length }}","rightValue":14,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2912,480],"id":"4f37c33a-07b1-46cc-841d-b8a9f1075d96","name":"If"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1454495559917371599","mode":"list","cachedResultName":"Arkon Core","cachedResultUrl":"https://discord.com/channels/1454495559917371599"},"channelId":{"__rl":true,"value":"1490113399239999542","mode":"list","cachedResultName":"api-logs","cachedResultUrl":"https://discord.com/channels/1454495559917371599/1490113399239999542"},"content":"=<@92967305205530624> Returned an invalid count on entity display builds should be 14 at this time and was {{ $('Merge').all().length }}. Please check errors for thi.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3136,576],"id":"809cf185-fdc0-491c-a637-bde7fe3a6bb9","name":"Send a message","webhookId":"9548f8d0-ecde-4a19-946e-516b53d7a95d","executeOnce":true,"credentials":{"discordBotApi":{"id":"p8QyFNOanKPRGVUu","name":"Arkon"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1454495559917371599","mode":"list","cachedResultName":"Arkon Core","cachedResultUrl":"https://discord.com/channels/1454495559917371599"},"channelId":{"__rl":true,"value":"1490113399239999542","mode":"list","cachedResultName":"api-logs","cachedResultUrl":"https://discord.com/channels/1454495559917371599/1490113399239999542"},"content":"=Returned an valid count on entity display builds should be 14 at this time and it was: {{ $('Merge').all().length }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3136,368],"id":"30f55a5e-00d3-4c20-b603-1425a67a14e9","name":"Send a message1","webhookId":"9548f8d0-ecde-4a19-946e-516b53d7a95d","executeOnce":true,"credentials":{"discordBotApi":{"id":"p8QyFNOanKPRGVUu","name":"Arkon"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Truncate entity_display;","type":"main","index":0}]]},"Schedule Trigger 1730":{"main":[[{"node":"Truncate entity_display;","type":"main","index":0}]]},"Call 'Entity Display - Weapon Build v2'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Call 'Entity Display - Armor Build v2'":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Call 'Entity Display - Component Build v2'":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Call 'Entity Display - Items Build v2'":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Call 'Entity Display - Mining Build v2'":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Call 'Entity Display - Ground Vehicle Build v2'":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Call 'Entity Display - Commodity Build v2'":{"main":[[{"node":"Merge","type":"main","index":8}]]},"Call 'Entity Display - Company Build v2'":{"main":[[{"node":"Merge","type":"main","index":9}]]},"Call 'Entity Display - System Build v2'":{"main":[[{"node":"Merge","type":"main","index":10}]]},"Call 'Entity Display - Planet Moon Build v2'":{"main":[[{"node":"Merge","type":"main","index":11}]]},"Call 'Entity Display - Mining Gear Build v2'":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Call 'Entity Display - Vehicle (Ship) Build v2'":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Call 'Entity Display - Location Build v2'":{"main":[[{"node":"Merge","type":"main","index":12}]]},"Call 'Entity Display - Terminal Build v2'":{"main":[[{"node":"Merge","type":"main","index":13}]]},"Truncate entity_display;":{"main":[[{"node":"Call 'Entity Display - Weapon Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Armor Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Component Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Items Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Mining Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Mining Gear Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Vehicle (Ship) Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Ground Vehicle Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Commodity Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Company Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - System Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Planet Moon Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Location Build v2'","type":"main","index":0},{"node":"Call 'Entity Display - Terminal Build v2'","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}