2026/06/12/B590FgNgcvWl403V.json
{"nodes":[{"parameters":{"formTitle":"DataP4K Upload","formDescription":"<p>Select all 11 JSON files at once. Processing starts automatically after submit.</p><ul><li><code>ships.json</code></li><li><code>ground_vehicles.json</code></li><li><code>armor.json</code></li><li><code>weapons.json</code></li><li><code>components.json</code></li><li><code>items.json</code></li><li><code>shops.json</code></li><li><code>crafting.json</code></li><li><code>mining.json</code></li><li><code>mining_gear.json</code></li><li><code>loot_tables.json</code></li></ul>","formFields":{"values":[{"fieldLabel":"Json Files","fieldType":"file","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"path":"Datapack","customCss":":root {\n  --font-family: 'Inter Tight', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-label: 13px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 13px;\n  --font-size-paragraph: 13px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-test-notice: 12px;\n  --font-size-html-h1: 26px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n  --color-background: #0d1117;\n  --color-card-bg: #161b22;\n  --color-card-border: #30363d;\n  --color-card-shadow: rgba(0,0,0,0.5);\n  --color-header: #e6edf3;\n  --color-header-subtext: #8b949e;\n  --color-label: #c9d1d9;\n  --color-html-text: #c9d1d9;\n  --color-input-border: #30363d;\n  --color-input-text: #c9d1d9;\n  --color-focus-border: #388bfd;\n  --color-submit-btn-bg: #238636;\n  --color-submit-btn-text: #ffffff;\n  --color-link: #58a6ff;\n  --color-html-link: #58a6ff;\n  --color-error: #f85149;\n  --color-required: #f85149;\n  --color-clear-button-bg: #484f58;\n  --color-test-notice-text: #e3b341;\n  --color-test-notice-bg: #1a1400;\n  --color-test-notice-border: #9e6a03;\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n  --container-width: 500px;\n  --submit-btn-height: 44px;\n  --checkbox-size: 18px;\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --card-padding: 28px;\n  --margin-bottom-card: 14px;\n  --card-margin-bottom: 14px;\n  --padding-form-input: 10px;\n  --padding-test-notice-vertical: 10px;\n  --padding-test-notice-horizontal: 20px;\n  --opacity-placeholder: 0.35;\n  --box-shadow-card: 0 4px 24px 0 var(--color-card-shadow);\n}\n\np { color: #8b949e; font-size: 13px; margin: 0 0 12px; }\nul { list-style: none; padding: 0; margin: 0; display: grid; grid-template-columns: 1fr 1fr; gap: 4px; }\nli code { color: #58a6ff; background: #0d1117; border: 1px solid #30363d; border-radius: 4px; padding: 3px 8px; font-size: 11px; display: block; }"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-368,240],"id":"9feafb72-57b0-4946-bb55-cb0f6f9c5584","name":"On form submission","webhookId":"bf1c2316-2937-49fb-8a58-89cd6c3d0b06"},{"parameters":{"operation":"executeQuery","query":"\nCREATE TABLE IF NOT EXISTS datap4k_ships_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_ground_vehicles_raw(id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_armor_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_weapons_raw        (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_components_raw     (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_items_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_shops_raw          (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_crafting_raw       (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_mining_raw         (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_mining_gear_raw    (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS datap4k_loot_tables_raw    (id SERIAL PRIMARY KEY, data JSONB NOT NULL, game_version TEXT, imported_at TIMESTAMPTZ DEFAULT NOW());\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,0],"id":"63523134-a396-46b2-94f4-c91cb8ad9fe0","name":"Init Tables","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,224],"id":"6859f154-7f99-4ce7-a704-176fe43d9f04","name":"Loop Over Files"},{"parameters":{"operation":"fromJson","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[640,240],"id":"7240dd23-136a-4e05-ba0d-7158e1531988","name":"Extract from File"},{"parameters":{"jsCode":"\nconst FILE_TABLE_MAP = {\n  'ships.json':          'datap4k_ships_raw',\n  'ground_vehicles.json':'datap4k_ground_vehicles_raw',\n  'armor.json':          'datap4k_armor_raw',\n  'weapons.json':        'datap4k_weapons_raw',\n  'components.json':     'datap4k_components_raw',\n  'items.json':          'datap4k_items_raw',\n  'shops.json':          'datap4k_shops_raw',\n  'crafting.json':       'datap4k_crafting_raw',\n  'mining.json':         'datap4k_mining_raw',\n  'mining_gear.json':    'datap4k_mining_gear_raw',\n  'loot_tables.json':    'datap4k_loot_tables_raw',\n};\n\nconst binaryData = ($binary && $binary.data) ? $binary.data : {};\nconst fileName = binaryData.fileName || $json.filename || $json.fileName || '';\nif (!fileName) throw new Error('Missing filename — no binary.data.fileName');\n\nconst tableName = FILE_TABLE_MAP[fileName];\nif (!tableName) throw new Error('Unknown DataPack file: \"' + fileName + '\"');\n\nconst d = $json.data || $json;\n\nconst meta = d.meta || {};\nconst gameVersion = meta.game_version || 'unknown';\nlet records = [];\n\nif (fileName === 'ships.json') {\n  records = d.ships || [];\n}\nelse if (fileName === 'ground_vehicles.json') {\n  records = ((d.vehicles || {}).list) || [];\n}\nelse if (fileName === 'armor.json') {\n  var slots = ((d.armor || {}).slots) || [];\n  records = slots.reduce(function(acc, slot) { return acc.concat(slot.items || []); }, []);\n}\nelse if (fileName === 'weapons.json') {\n  var cats = ((d.weapons || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { category: catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'components.json') {\n  var cats = ((d.components || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { 'category-id': catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'items.json') {\n  var cats = ((d.items || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { 'category-id': catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'shops.json') {\n  var shops = d.shops || [];\n  records = shops.reduce(function(acc, s) {\n    return acc.concat((s.inventory || []).map(function(item) {\n      return Object.assign({}, item, { shop: s.shop, location: s.location });\n    }));\n  }, []);\n}\nelse if (fileName === 'crafting.json') {\n  var cats = ((d.crafting || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).reduce(function(acc2, item) {\n      return acc2.concat((item.variants || []).map(function(v) {\n        return Object.assign({}, v, {\n          'category-id': catId,\n          'family': item.family,\n          'manufacturer': item.manufacturer\n        });\n      }));\n    }, []));\n  }, []);\n}\nelse if (fileName === 'mining.json') {\n  records = [].concat(\n    (d.elements || []).map(function(r) { return Object.assign({}, r, { _section: 'elements' }); }),\n    (d.compositions || []).map(function(r) { return Object.assign({}, r, { _section: 'compositions' }); }),\n    (d['planet-mineables'] || []).map(function(r) { return Object.assign({}, r, { _section: 'planet-mineables' }); })\n  );\n}\nelse if (fileName === 'mining_gear.json') {\n  var cats = ((d['mining-gear'] || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    return acc.concat((cat.items || []).map(function(item) {\n      return Object.assign({}, item, { category: catId });\n    }));\n  }, []);\n}\nelse if (fileName === 'loot_tables.json') {\n  var cats = ((d.loot || {}).categories) || [];\n  records = cats.reduce(function(acc, cat) {\n    var catId = cat['category-id'];\n    var catName = cat['category-name'] || catId;\n    return acc.concat((cat['loot-tables'] || []).map(function(table) {\n      return Object.assign({}, table, { 'category-id': catId, 'category-name': catName });\n    }));\n  }, []);\n}\n\nreturn [{\n  json: {\n    tableName: tableName,\n    fileName: fileName,\n    gameVersion: gameVersion,\n    recordCount: records.length,\n    records: records\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,240],"id":"73be3032-bf40-4f82-900a-b2036825b418","name":"Identify Table"},{"parameters":{"jsCode":"\nconst { tableName, gameVersion, records } = $json;\n\nif (!tableName) throw new Error('Missing tableName');\nif (!Array.isArray(records)) throw new Error('records is not an array');\nif (!/^[a-zA-Z0-9_]+$/.test(tableName)) throw new Error('Unsafe table name: ' + tableName);\n\nconst gv = String(gameVersion || 'unknown').replace(/'/g, \"''\");\nconst sqlParts = [];\n\n\nif (records.length > 0) {\n  const BATCH = 500;\n  for (let i = 0; i < records.length; i += BATCH) {\n    const chunk = records.slice(i, i + BATCH);\n    const values = chunk.map(function(r) {\n      const escaped = JSON.stringify(r).replace(/'/g, \"''\");\n      return \"('\" + escaped + \"'::jsonb, '\" + gv + \"', NOW())\";\n    }).join(',');\n    sqlParts.push('INSERT INTO ' + tableName + ' (data, game_version, imported_at) VALUES ' + values + ';');\n  }\n}\n\nreturn [{ json: { sql: sqlParts.join('\\n'), tableName: tableName, recordCount: records.length } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,240],"id":"383d8077-e4a9-4bc0-af33-d52e71bf49de","name":"Build Insert SQL"},{"parameters":{"operation":"executeQuery","query":"{{$json.sql}}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,240],"id":"9fdc3af4-70ae-4e1f-b058-a311d6649949","name":"Execute Insert","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of items) {\n  if (!item.binary) continue;\n\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n\n    output.push({\n      binary: {\n        data: file\n      },\n      json: {\n        filename: file.fileName || '',\n        size: file.fileSize || file.bytes || 0,\n        type: file.mimeType || file.fileType || '',\n        extension: file.fileExtension || ''\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,224],"id":"ae6658c7-979c-44a3-8c54-532a22cd0e4c","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT clear_datap4k();","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"id":"fcccbf40-99c5-4a4f-a9bd-aecc0e84b81d","name":"Clear Data","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bd7b6381-c3e4-49ad-86f0-a61acf5430fd","leftValue":"={{ Object.keys($binary).length }}","rightValue":11,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,240],"id":"d2b9abde-0c6e-495d-80cd-81038c1a76b9","name":"If"},{"parameters":{"operation":"completion","completionTitle":"Upload Complete","completionMessage":"=<p>All -{{$('Loop Over Files').all().length}}- files received and inserted into the raw tables.</p><p><strong>Normalization</strong> running in the background — KB pipelines can be triggered once complete.</p>","options":{"formTitle":"DataP4K — Processing","customCss":":root {\n  --font-family: 'Inter Tight', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-label: 13px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 13px;\n  --font-size-paragraph: 13px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-test-notice: 12px;\n  --font-size-html-h1: 26px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n  --color-background: #0d1117;\n  --color-card-bg: #161b22;\n  --color-card-border: #238636;\n  --color-card-shadow: rgba(0,0,0,0.5);\n  --color-header: #3fb950;\n  --color-header-subtext: #8b949e;\n  --color-label: #c9d1d9;\n  --color-html-text: #c9d1d9;\n  --color-input-border: #30363d;\n  --color-input-text: #c9d1d9;\n  --color-focus-border: #3fb950;\n  --color-submit-btn-bg: #238636;\n  --color-submit-btn-text: #ffffff;\n  --color-link: #3fb950;\n  --color-html-link: #3fb950;\n  --color-error: #f85149;\n  --color-required: #f85149;\n  --color-clear-button-bg: #484f58;\n  --color-test-notice-text: #e3b341;\n  --color-test-notice-bg: #1a1400;\n  --color-test-notice-border: #9e6a03;\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n  --container-width: 500px;\n  --submit-btn-height: 44px;\n  --checkbox-size: 18px;\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --card-padding: 28px;\n  --margin-bottom-card: 14px;\n  --card-margin-bottom: 14px;\n  --padding-form-input: 10px;\n  --padding-test-notice-vertical: 10px;\n  --padding-test-notice-horizontal: 20px;\n  --opacity-placeholder: 0.35;\n  --box-shadow-card: 0 4px 24px 0 var(--color-card-shadow);\n}\n\np { color: #8b949e; font-size: 13px; margin: 0 0 10px; }\nstrong { color: #3fb950; }"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[864,16],"id":"9c2d960a-2a7a-40e2-a9cc-d8d5d393bed8","name":"Form","webhookId":"6ff18be1-8ef7-4584-9ccc-4a206dad4576"},{"parameters":{"operation":"completion","completionTitle":"Incomplete Upload","completionMessage":"<p>Expected <strong>11 files</strong> — count did not match.</p><p>No data was modified. Select all files from the DataP4K export folder and try again.</p>","options":{"formTitle":"DataP4K — Error","customCss":":root {\n  --font-family: 'Inter Tight', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-label: 13px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 13px;\n  --font-size-paragraph: 13px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-test-notice: 12px;\n  --font-size-html-h1: 26px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n  --color-background: #0d1117;\n  --color-card-bg: #161b22;\n  --color-card-border: #b91c1c;\n  --color-card-shadow: rgba(0,0,0,0.5);\n  --color-header: #f85149;\n  --color-header-subtext: #8b949e;\n  --color-label: #c9d1d9;\n  --color-html-text: #c9d1d9;\n  --color-input-border: #30363d;\n  --color-input-text: #c9d1d9;\n  --color-focus-border: #f85149;\n  --color-submit-btn-bg: #b91c1c;\n  --color-submit-btn-text: #ffffff;\n  --color-link: #f85149;\n  --color-html-link: #f85149;\n  --color-error: #f85149;\n  --color-required: #f85149;\n  --color-clear-button-bg: #484f58;\n  --color-test-notice-text: #e3b341;\n  --color-test-notice-bg: #1a1400;\n  --color-test-notice-border: #9e6a03;\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n  --container-width: 500px;\n  --submit-btn-height: 44px;\n  --checkbox-size: 18px;\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --card-padding: 28px;\n  --margin-bottom-card: 14px;\n  --card-margin-bottom: 14px;\n  --padding-form-input: 10px;\n  --padding-test-notice-vertical: 10px;\n  --padding-test-notice-horizontal: 20px;\n  --opacity-placeholder: 0.35;\n  --box-shadow-card: 0 4px 24px 0 var(--color-card-shadow);\n}\n\np { color: #8b949e; font-size: 13px; margin: 0 0 10px; }\nstrong { color: #f85149; }"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[16,496],"id":"a945d479-a2e1-460b-b01d-109727e6cf52","name":"Not enough files","webhookId":"6ff18be1-8ef7-4584-9ccc-4a206dad4576"},{"parameters":{"workflowId":{"__rl":true,"value":"z231GEBCKESuhY21","mode":"list","cachedResultUrl":"/workflow/z231GEBCKESuhY21","cachedResultName":"1700 - Normalize/Ontology"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[576,32],"id":"42fcbbf1-b401-4736-b7c7-5d8207f7e5e5","name":"Call '1700 - Normalize/Ontology'","executeOnce":true}],"connections":{"On form submission":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Files":{"main":[[{"node":"Call '1700 - Normalize/Ontology'","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Identify Table","type":"main","index":0}]]},"Identify Table":{"main":[[{"node":"Build Insert SQL","type":"main","index":0}]]},"Build Insert SQL":{"main":[[{"node":"Execute Insert","type":"main","index":0}]]},"Execute Insert":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Clear Data":{"main":[[{"node":"Init Tables","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Clear Data","type":"main","index":0}],[{"node":"Not enough files","type":"main","index":0}]]},"Call '1700 - Normalize/Ontology'":{"main":[[{"node":"Form","type":"main","index":0}]]}},"pinData":{"On form submission":[{"json":{"Json Files":[{"filename":"armor.json","mimetype":"application/json","size":3163646},{"filename":"components.json","mimetype":"application/json","size":1013568},{"filename":"crafting.json","mimetype":"application/json","size":1664046},{"filename":"ground_vehicles.json","mimetype":"application/json","size":17575},{"filename":"items.json","mimetype":"application/json","size":145520},{"filename":"loot_tables.json","mimetype":"application/json","size":141303},{"filename":"mining.json","mimetype":"application/json","size":62302},{"filename":"mining_gear.json","mimetype":"application/json","size":26875},{"filename":"ships.json","mimetype":"application/json","size":7778281},{"filename":"shops.json","mimetype":"application/json","size":1268017},{"filename":"weapons.json","mimetype":"application/json","size":499721}],"submittedAt":"2026-05-25T00:10:41.920-04:00","formMode":"production"},"binary":{"Json_Files_0":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"armor.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/81c99a0c-30f7-4005-8412-c06d0de1aee1","fileSize":"3.16 MB","bytes":3163646},"Json_Files_1":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"components.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/7baf9b58-b68e-4ee0-8421-3bd0c9c19cb9","fileSize":"1.01 MB","bytes":1013568},"Json_Files_2":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"crafting.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/296d538c-0ff1-4dcc-92fc-f19b8752db91","fileSize":"1.66 MB","bytes":1664046},"Json_Files_3":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"ground_vehicles.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/e1c420e9-caa6-4706-8cde-b68f38acbcca","fileSize":"17.6 kB","bytes":17575},"Json_Files_4":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"items.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/2683001a-15c6-40c5-9e2d-d2c394c5dffd","fileSize":"146 kB","bytes":145520},"Json_Files_5":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"loot_tables.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/9c680dd9-d88a-4378-b425-5f7740c581aa","fileSize":"141 kB","bytes":141303},"Json_Files_6":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"mining.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/16abf4ab-ca8a-46ac-9c20-1aa0d75ad727","fileSize":"62.3 kB","bytes":62302},"Json_Files_7":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"mining_gear.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/8a25f83a-1a61-4e8f-8f76-9b07543ce79b","fileSize":"26.9 kB","bytes":26875},"Json_Files_8":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"ships.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/7cc5fb4d-4c37-4e6e-b1da-0c9fb18df0b7","fileSize":"7.78 MB","bytes":7778281},"Json_Files_9":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"shops.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/5ef46c2a-565d-49c7-a6ab-518f7d33cf1e","fileSize":"1.27 MB","bytes":1268017},"Json_Files_10":{"mimeType":"application/json","fileType":"json","fileExtension":"json","data":"filesystem-v2","fileName":"weapons.json","id":"filesystem-v2:workflows/B590FgNgcvWl403V/executions/192/binary_data/95531b2b-7d55-4eb7-930c-49768c951cf0","fileSize":"500 kB","bytes":499721}},"pairedItem":{"item":0}}]},"meta":null}