2026/06/12/dptXvNwTURuJ6clZ.json
{"nodes":[{"parameters":{},"id":"38c32daa-d74e-4b71-9227-bd4eaadf5420","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,0]},{"parameters":{"inputSource":"passthrough"},"id":"71faca2f-57d6-46c1-ba27-b7c5a92d1a9c","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-176]},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, class_name, manufacturer, category, subtype\nFROM datap4k_weapons_norm\nORDER BY category, subtype, name;","options":{}},"id":"47efe9da-e1c7-4e0d-ab26-b9edc05b8377","name":"Weapons – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,0],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"options":{}},"id":"2bd4cd47-542b-4544-9a3d-4b1ff8b08f75","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  wn.id, wn.raw_id, wn.slug, wn.name, wn.class_name, wn.category, wn.subtype,\n  wn.display_type, wn.manufacturer, wn.size,\n  wn.mag_capacity, wn.fire_rate_rpm, wn.ammo_speed_ms,\n  wn.ideal_range_m, wn.max_range_m, wn.inventory_scu,\n  wn.dmg_energy, wn.dmg_physical, wn.dmg_thermal,\n  wn.dmg_distortion, wn.dmg_biochemical, wn.total_damage,\n  wn.uex_id, wn.uex_category_name, wn.uex_category_section,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'terminal', t.name, 'buy', p.buy_price, 'sell', p.sell_price\n    ) ORDER BY t.name)\n    FROM prices p\n    JOIN trade_terminals t ON t.id = p.terminal_id\n    WHERE p.item_external_id = wn.uex_id\n      AND wn.uex_id IS NOT NULL\n      AND GREATEST(COALESCE(p.buy_price, 0), COALESCE(p.sell_price, 0)) > 0\n  ), '[]'::jsonb) AS uex_prices,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'shop', si.shop, 'location', si.location,\n      'buy', si.buy_auec, 'sell', si.sell_auec\n    ) ORDER BY si.shop)\n    FROM datap4k_shop_inventory si\n    WHERE si.item_raw_id = wn.raw_id\n      AND si.item_raw_table = 'datap4k_weapons_raw'\n      AND GREATEST(COALESCE(si.buy_auec, 0), COALESCE(si.sell_auec, 0)) > 0\n  ), '[]'::jsonb) AS datap4k_prices\n\nFROM datap4k_weapons_norm wn\nWHERE wn.id = {{$json[\"id\"]}};","options":{}},"id":"e7fbd7ba-ad80-43f9-a879-aa90144aeb7c","name":"Weapons – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[592,16],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"jsCode":"const row = $input.first().json;\nconst slug = row.slug || (row.class_name || row.name || 'unknown')\n  .toLowerCase().replace(/_/g, '-').replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');\nfunction catLabel(cat, sub) {\n  if (cat === 'fps') return sub === 'Gadget' ? 'FPS Gadget' : 'FPS Weapon';\n  if (cat === 'ship') {\n    if (sub === 'Gun') return 'Ship Gun';\n    if (sub === 'Missile') return 'Ship Missile';\n    if (sub === 'Torpedo') return 'Ship Torpedo';\n    return 'Ship Weapon';\n  }\n  if (cat === 'attachments') return 'Weapon Attachment';\n  return cat || 'Weapon';\n}\nconst categoryLabel = catLabel(row.category, row.subtype);\nconst typeLabel = row.display_type || row.subtype || '';\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  return Array.isArray(raw) ? raw : [];\n}\nfunction fmtNum(v, dec) {\n  if (v === null || v === undefined) return null;\n  const n = Number(v);\n  if (!Number.isFinite(n) || n <= 0) return null;\n  return n.toLocaleString('en-US', { minimumFractionDigits: dec || 0, maximumFractionDigits: dec || 0 });\n}\nconst uexPrices = parsePrices(row.uex_prices);\nconst dp4kPrices = parsePrices(row.datap4k_prices);\nconst lines = [];\nlines.push('# ' + row.name);\nlines.push('');\nlines.push('- **Category:** ' + categoryLabel);\nif (typeLabel && typeLabel !== categoryLabel) lines.push('- **Type:** ' + typeLabel);\nif (row.manufacturer) lines.push('- **Manufacturer:** ' + row.manufacturer);\nif (row.size) lines.push('- **Size:** S' + row.size);\nif (row.mag_capacity) lines.push('- **Magazine:** ' + row.mag_capacity + ' rounds');\nif (row.fire_rate_rpm) lines.push('- **Fire Rate:** ' + Math.round(Number(row.fire_rate_rpm)) + ' RPM');\nif (row.ammo_speed_ms) lines.push('- **Ammo Speed:** ' + Math.round(Number(row.ammo_speed_ms)) + ' m/s');\nlines.push('');\nconst dmgRows = [\n  ['Energy', fmtNum(row.dmg_energy, 2)],\n  ['Physical', fmtNum(row.dmg_physical, 2)],\n  ['Thermal', fmtNum(row.dmg_thermal, 2)],\n  ['Distortion', fmtNum(row.dmg_distortion, 2)],\n  ['Biochemical', fmtNum(row.dmg_biochemical, 2)]\n].filter(r => r[1] !== null);\nif (dmgRows.length > 0 || (row.total_damage && Number(row.total_damage) > 0)) {\n  lines.push('## Damage');\n  lines.push('');\n  lines.push('| Type | Per Shot |');\n  lines.push('|---|---|');\n  dmgRows.forEach(r => lines.push('| ' + r[0] + ' | ' + r[1] + ' |'));\n  if (row.total_damage && Number(row.total_damage) > 0) {\n    lines.push('| **Total** | **' + fmtNum(row.total_damage, 2) + '** |');\n  }\n  lines.push('');\n}\nif (row.ideal_range_m || row.max_range_m) {\n  lines.push('## Range');\n  lines.push('');\n  lines.push('| Ideal Range | Max Range |');\n  lines.push('|---|---|');\n  lines.push('| ' + (fmtNum(row.ideal_range_m, 0) || '-') + ' m | ' + (fmtNum(row.max_range_m, 0) || '-') + ' m |');\n  lines.push('');\n}\nlines.push('## Availability');\nlines.push('');\nif (uexPrices.length > 0) {\n  lines.push('> _Prices from UEX (live data)._');\n  lines.push('');\n  lines.push('| Terminal | Buy (aUEC) | Sell (aUEC) |');\n  lines.push('|---|---|---|');\n  uexPrices.forEach(p => lines.push('| ' + p.terminal + ' | ' + (fmtNum(p.buy, 0) || '-') + ' | ' + (fmtNum(p.sell, 0) || '-') + ' |'));\n} else if (dp4kPrices.length > 0) {\n  lines.push('> _Prices from DataPack (may be outdated)._');\n  lines.push('');\n  lines.push('| Shop | Location | Buy (aUEC) | Sell (aUEC) |');\n  lines.push('|---|---|---|---|');\n  dp4kPrices.forEach(dp => lines.push('| ' + dp.shop + ' | ' + dp.location + ' | ' + (fmtNum(dp.buy, 0) || '-') + ' | ' + (fmtNum(dp.sell, 0) || '-') + ' |'));\n} else {\n  lines.push('_No purchase pricing currently available._');\n}\nreturn [{ json: { item_id: row.id, slug, name: row.name, markdown_detailed: lines.join('\\n') } }];"},"id":"7bce7dc1-68a3-4700-8b16-7e862d443f92","name":"Build Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,16]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) \"\n  + \"VALUES ('\" + slug + \"', 'weapon', NULL, '\" + content + \"', 'KB - Weapons Markdown v1', now(), now()) \"\n  + \"ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, \"\n  + \"source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"8857d2e4-45d6-474e-a5f4-c807de5612c6","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"76be6f22-4b46-444c-93cb-ca90600dfd16","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1200,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Weapons – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Weapons – List","type":"main","index":0}]]},"Weapons – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Weapons – Detail","type":"main","index":0}]]},"Weapons – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}