2026/06/12/fOXFCzQIKIDC576Z.json
{"nodes":[{"parameters":{},"id":"cd3889f0-98ce-4550-bc1e-1da9b545d4f7","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,0]},{"parameters":{"functionCode":"// Based on \"Location – Detail\" output\nconst row = items[0].json;\n\n// ---------- Terminals list ----------\n\nlet terminals = [];\nif (Array.isArray(row.terminals_list)) {\n  terminals = row.terminals_list;\n} else if (typeof row.terminals_list === 'string') {\n  try {\n    terminals = JSON.parse(row.terminals_list);\n  } catch (e) {\n    terminals = [];\n  }\n} else if (row.terminals_list && typeof row.terminals_list === 'object') {\n  terminals = row.terminals_list;\n}\n\n// Normalize & sort\nterminals = (terminals || [])\n  .map(t => String(t).trim())\n  .filter(t => t.length > 0);\n\nterminals.sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }));\n\nconst total = Number(row.terminals_total ?? terminals.length) || 0;\n\n// ---------- Shared header lines ----------\n\nconst headerLines = [];\n\nheaderLines.push(`# ${row.name}`);\nheaderLines.push('');\n\nheaderLines.push(`- **Location Type:** ${row.location_type || 'Unknown'}`);\nheaderLines.push(`- **System:** ${row.system_name || 'Unknown'}`);\nheaderLines.push(`- **Body / Orbit:** ${row.body_name_or_orbit || 'N/A'}`);\nheaderLines.push(`- **UEX Location ID:** ${row.uex_location_id || 'N/A'}`);\nheaderLines.push('');\n\n// Overview stub (you can wire proper description later)\n// headerLines.push('## Overview');\n// headerLines.push('');\n// headerLines.push('_TODO: Add description, landmarks, and gameplay notes for this location._');\n// headerLines.push('');\n\n// ---------- SUMMARY VERSION (limited list) ----------\n\nlet suffixSummary = '';\nlet shownSummary = terminals;\nif (total > 5) {\n  shownSummary = terminals.slice(0, 5);\n  suffixSummary = ` (${shownSummary.length} of ${total})`;\n}\n\nconst summaryLines = [...headerLines];\n\nsummaryLines.push(`## Trade Terminals${suffixSummary}`);\nsummaryLines.push('');\nsummaryLines.push('> _Note: Lists below are unordered and not ranked._');\nsummaryLines.push('');\n\nif (shownSummary.length === 0) {\n  summaryLines.push('_No trade terminals with live commodity prices are currently tracked at this location._');\n} else {\n  for (const name of shownSummary) {\n    summaryLines.push(`- ${name}`);\n  }\n  if (total > shownSummary.length) {\n    summaryLines.push('… and more');\n  }\n}\n\n// ---------- DETAILED VERSION (full list) ----------\n\nconst detailedLines = [...headerLines];\n\ndetailedLines.push('## Trade Terminals');\ndetailedLines.push('');\ndetailedLines.push('> _Detailed view. Lists below are unordered and not ranked._');\ndetailedLines.push('');\n\nif (terminals.length === 0) {\n  detailedLines.push('_No trade terminals with live commodity prices are currently tracked at this location._');\n} else {\n  for (const name of terminals) {\n    detailedLines.push(`- ${name}`);\n  }\n}\n\n// ---------- Slug + file paths ----------\n\nconst slug = row.slug ||\n  row.name.toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n\nconst filePathSummary  = `/RAG/KB/locations/${slug}.md`;\nconst filePathDetailed = `/RAG/KB/locations/${slug}_detailed.md`;\n\nreturn [\n  {\n    json: {\n      location_id: row.id,\n      slug,\n      name: row.name,\n\n      markdown_summary: summaryLines.join('\\n'),\n      filePath_summary: filePathSummary,\n\n      markdown_detailed: detailedLines.join('\\n'),\n      filePath_detailed: filePathDetailed,\n    },\n  },\n];\n"},"id":"b57e6513-0b75-4457-91f6-bd919be6a283","name":"Build Markdown","type":"n8n-nodes-base.function","typeVersion":1,"position":[736,16]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,-192],"id":"839bd8e3-cb3b-46c9-a741-8f6f891b7064","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[352,0],"id":"85568094-6572-47ef-b237-c194f53580a5","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  l.id,\n  l.name,\n  COALESCE(\n    l.metadata->>'slug',\n    lower(regexp_replace(l.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug,\n  l.location_type,\n  s.name AS system_name,\n  b.name AS body_name,\n  CASE\n    WHEN (l.metadata->>'is_space_station') = '1'\n         AND b.name IS NOT NULL\n      THEN 'Orbits ' || b.name\n    WHEN b.name IS NOT NULL\n      THEN b.name\n    ELSE 'N/A'\n  END AS body_name_or_orbit,\n  l.metadata->>'id' AS uex_location_id,\n  COUNT(DISTINCT tt.id) FILTER (WHERE tt.id IS NOT NULL) AS terminals_total,\n  COALESCE(\n    JSONB_AGG(DISTINCT tt.name ORDER BY tt.name)\n      FILTER (WHERE tt.id IS NOT NULL),\n    '[]'::jsonb\n  ) AS terminals_list\nFROM locations l\nJOIN systems s\n  ON s.id = l.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nLEFT JOIN bodies b\n  ON b.id = l.body_id\nLEFT JOIN trade_terminals tt\n  ON tt.location_id = l.id\nWHERE l.id = '{{$json[\"id\"]}}'\nGROUP BY\n  l.id,\n  l.name,\n  l.metadata,\n  l.location_type,\n  s.name,\n  b.name;\n","options":{}},"id":"b137b432-98ba-494a-bad7-80bac2fb2b26","name":"Location – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[576,16],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst locationId = item.location_id || null;\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) VALUES ('\" + slug + \"', 'location', '\" + locationId + \"'::uuid, '\" + content + \"', 'KB - Locations Markdown v2.2', now(), now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, entity_type = EXCLUDED.entity_type, source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"e01e93f0-e01c-42a1-b815-e6e1a6c83a61","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"3416549b-fd7c-474f-9e3f-8ab5797ddd5f","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1056,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  l.id,\n  l.name,\n  COALESCE(\n    l.metadata->>'slug',\n    lower(regexp_replace(l.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug\nFROM locations l\nJOIN systems s\n  ON s.id = l.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nLEFT JOIN trade_terminals tt\n  ON tt.location_id = l.id\nLEFT JOIN prices p\n  ON p.terminal_id = tt.id\n AND p.asset_type = 'commodity'\n AND p.sell_price > 0\nWHERE\n  (\n    (l.metadata->>'is_available_live') = '1'\n    OR EXISTS (\n      SELECT 1\n      FROM trade_terminals tt2\n      JOIN prices p2\n        ON p2.terminal_id = tt2.id\n       AND p2.asset_type = 'commodity'\n       AND p2.sell_price > 0\n      WHERE tt2.location_id = l.id\n    )\n  )\nGROUP BY\n  l.id,\n  l.name,\n  l.metadata\nORDER BY\n  l.name;\n","options":{}},"id":"5f272948-53b0-4560-8c61-d035b78d9313","name":"Locations List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[176,0],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Locations List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Locations List","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Location – Detail","type":"main","index":0}]]},"Location – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Locations List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}