2026/06/12/saka8i8caQB9j9og.json
{"nodes":[{"id":"047fd6bc-54d9-4c9f-84a5-bd8cfac52fab","name":"SC Check Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"v3/users/sc-verify/check","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"899ce126-7f42-4472-be0b-c0bb5ea00402","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"ba811375-c66a-4832-acf1-b05671286ee6","name":"Validate Handle","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0],"parameters":{"jsCode":"const handle = (($json.body && $json.body.handle) || '').trim();\nif (!handle) throw new Error('handle is required');\nif (!/^[a-zA-Z0-9_-]{2,60}$/.test(handle)) throw new Error('Invalid handle format');\nreturn [{ json: { handle: handle } }];"}},{"id":"5c35a9ce-f7d9-4c9a-8915-ee49682de974","name":"RSI Check Profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,0],"parameters":{"url":"={{ \"https://robertsspaceindustries.com/citizens/\" + $json.handle }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":8000}}},{"id":"78f83539-88c8-4187-b3b3-5c2f4b82d563","name":"Build Check Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"parameters":{"jsCode":"const handle = $('Validate Handle').first().json.handle;\nconst status = ($input.first().json || {}).statusCode;\nreturn [{ json: { handle: handle, exists: status === 200, status_code: status } }];"}},{"id":"2eefa101-8c31-44fd-99cd-f90145fb835f","name":"Respond SC Check","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1216,0],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"f017c7ae-f4cd-4953-8be5-dfadc4eaa75c","name":"SC Confirm Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,400],"parameters":{"httpMethod":"POST","path":"v3/users/sc-verify/confirm","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"3a9b8464-0656-4bba-b2fc-535d10f0b1c3","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"c97aee5f-500d-458b-90e3-16ba1e477136","name":"Validate Confirm Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,400],"parameters":{"jsCode":"const body = $json.body || {};\nconst handle = (body.handle || '').trim();\nconst code = String(body.code || '').trim();\nconst userId = (body.user_id || '').trim();\nif (!handle) throw new Error('handle is required');\nif (!code) throw new Error('code is required');\nif (!userId) throw new Error('user_id is required');\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(userId)) throw new Error('user_id must be a valid UUID');\nreturn [{ json: { handle: handle, code: code, user_id: userId } }];"}},{"id":"a8456c7a-9217-4c07-a221-85b72905be57","name":"RSI Fetch Bio","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,400],"parameters":{"url":"={{ \"https://robertsspaceindustries.com/citizens/\" + $json.handle }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":10000}}},{"id":"72625609-5865-49c6-937c-eb057ff27e6d","name":"Check Bio for Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,400],"parameters":{"jsCode":"const prev = $('Validate Confirm Input').first().json;\nconst handle = prev.handle;\nconst code = prev.code;\nconst userId = prev.user_id;\nconst resp = $input.first().json || {};\nconst statusCode = resp.statusCode;\nconst htmlBody = resp.data || resp.body || '';\nif (statusCode !== 200) {\n  return [{ json: { verified: false, reason: 'RSI profile not found', handle: handle, sql: 'SELECT 1' } }];\n}\nvar verified = htmlBody.indexOf(code) !== -1;\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\nvar sql = verified\n  ? \"UPDATE users SET sc_handle='\" + esc(handle) + \"', sc_verified=true, sc_verified_at=NOW() WHERE user_id='\" + esc(userId) + \"'::uuid RETURNING user_id, sc_handle, sc_verified\"\n  : 'SELECT 1';\nreturn [{ json: { verified: verified, handle: handle, user_id: userId, sql: sql, reason: verified ? null : 'Code not found in RSI bio' } }];"}},{"id":"032f38d2-3265-4d59-97b1-57fad3656f7f","name":"DB Save SC Handle","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1216,400],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"ed298747-d254-4c49-8285-49343c86307b","name":"Build Confirm Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,400],"parameters":{"jsCode":"const r = $('Check Bio for Code').first().json;\nreturn [{ json: { verified: r.verified, handle: r.handle, reason: r.reason !== undefined ? r.reason : null } }];"}},{"id":"8e9be29e-ae2f-4d47-95c0-c052fb1bb2bb","name":"Respond SC Confirm","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1824,400],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"SC Check Webhook":{"main":[[{"node":"Validate Handle","type":"main","index":0}]]},"Validate Handle":{"main":[[{"node":"RSI Check Profile","type":"main","index":0}]]},"RSI Check Profile":{"main":[[{"node":"Build Check Response","type":"main","index":0}]]},"Build Check Response":{"main":[[{"node":"Respond SC Check","type":"main","index":0}]]},"SC Confirm Webhook":{"main":[[{"node":"Validate Confirm Input","type":"main","index":0}]]},"Validate Confirm Input":{"main":[[{"node":"RSI Fetch Bio","type":"main","index":0}]]},"RSI Fetch Bio":{"main":[[{"node":"Check Bio for Code","type":"main","index":0}]]},"Check Bio for Code":{"main":[[{"node":"DB Save SC Handle","type":"main","index":0}]]},"DB Save SC Handle":{"main":[[{"node":"Build Confirm Response","type":"main","index":0}]]},"Build Confirm Response":{"main":[[{"node":"Respond SC Confirm","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}