2026/06/12/vsGqSUvjozsxIhHo.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_vehicle_purchase_prices_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Vehicle_purchase_prices\"].json[\"id\"]}},{{ JSON.stringify($('JS vehicle_purchase_prices').item.json.row) }}"}},"id":"1d2b9a75-84d9-4ea8-9eb5-8b089c656eb3","name":"Insert uex_vehicle_purchase_prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,3264],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/vehicles_purchases_prices/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for vehicle_purchase_prices'\n)\nRETURNING id;\n","options":{}},"id":"7c13e26c-3210-47bb-9567-399506c582b4","name":"Create Batch Vehicle_purchase_prices","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,3088],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/vehicles_purchases_prices/","options":{}},"id":"a1b1b822-764e-459a-ada1-5e5e6c026936","name":"Get vehicles_purchases_prices","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,3264],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,3264],"id":"72da8912-3649-429c-ad10-3b233b3c64b0","name":"JS vehicle_purchase_prices","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,3264],"id":"bf608c86-6fbc-4338-813a-107e75974b9f","name":"Loop Over vehicle_purchase_prices"},{"parameters":{"inputSource":"passthrough"},"id":"33b95b67-ef4f-4713-acdb-4dc292e11108","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,3264]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,3232],"id":"27022b1c-e1e6-4d75-a52f-09978ca01e9c","name":"Merge"}],"connections":{"Get vehicles_purchases_prices":{"main":[[{"node":"JS vehicle_purchase_prices","type":"main","index":0},{"node":"Create Batch Vehicle_purchase_prices","type":"main","index":0}]]},"JS vehicle_purchase_prices":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over vehicle_purchase_prices":{"main":[[],[{"node":"Insert uex_vehicle_purchase_prices_raw","type":"main","index":0}]]},"Create Batch Vehicle_purchase_prices":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_vehicle_purchase_prices_raw":{"main":[[{"node":"Loop Over vehicle_purchase_prices","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get vehicles_purchases_prices","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over vehicle_purchase_prices","type":"main","index":0}]]}},"pinData":{},"meta":null}