2026/06/12/vuYC1S4Un8X1k40G.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_moons_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Moons\"].json[\"id\"]}},{{ JSON.stringify($('JS moons').item.json.row) }}"}},"id":"9db69a31-b5b4-43f9-9a12-2c33c9d00d05","name":"Insert uex_moons_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,752],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/moons/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for moons'\n)\nRETURNING id;\n","options":{}},"id":"f10a90ac-2061-4177-b540-257bdb6b6a3d","name":"Create Batch Moons","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[288,656],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/moons/","options":{}},"id":"362ad1f8-65e1-4a3c-a27b-797139e31e00","name":"Get moons","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[64,752],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,848],"id":"2263b83f-d0ef-4444-aa46-46664e65bb65","name":"JS moons","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,752],"id":"0ba9443a-d1c0-46ad-9656-7426862c3965","name":"Loop Over moons"},{"parameters":{"inputSource":"passthrough"},"id":"a334d985-a48c-4d22-8897-1ab9c705bf32","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,752]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,752],"id":"c1ebed9e-81ef-43bd-8c48-c817989a02fd","name":"Merge"}],"connections":{"Get moons":{"main":[[{"node":"JS moons","type":"main","index":0},{"node":"Create Batch Moons","type":"main","index":0}]]},"JS moons":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over moons":{"main":[[],[{"node":"Insert uex_moons_raw","type":"main","index":0}]]},"Create Batch Moons":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_moons_raw":{"main":[[{"node":"Loop Over moons","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get moons","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over moons","type":"main","index":0}]]}},"pinData":{},"meta":null}