2026/06/04/Oc9D9xzS298TOJPN.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"DO $$\nDECLARE\n    tbl text;\nBEGIN\n    FOR tbl IN\n        SELECT tablename\n        FROM pg_tables\n        WHERE schemaname = 'public'\n          AND tablename LIKE 'uex_%_raw'\n    LOOP\n        EXECUTE format($cmd$\n            DELETE FROM %I\n            WHERE ingest_batch_id NOT IN (\n                SELECT id\n                FROM (\n                    SELECT\n                        b.id,\n                        b.source_endpoint,\n                        b.fetched_at,\n                        ROW_NUMBER() OVER (\n                            PARTITION BY b.source_endpoint\n                            ORDER BY b.fetched_at DESC\n                        ) AS rn\n                    FROM ingest_batches b\n                    WHERE b.source = 'uex'\n                ) t\n                WHERE t.rn <= 3  -- keep last 3 batches per endpoint\n            )\n        $cmd$, tbl);\n    END LOOP;\nEND $$;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,-96],"id":"4ee9d97c-262c-4b50-a4a7-2a6fa8a1d346","name":"Cleanup Raw Tables keeping last 3","executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"-- 1) Create a temp table to hold the results for this session\nDROP TABLE IF EXISTS tmp_uex_raw_cleanup_report;\n\nCREATE TEMP TABLE tmp_uex_raw_cleanup_report (\n    tablename      text,\n    rows_to_delete bigint\n);\n\n-- 2) Fill it using dynamic SQL in a DO block\nDO $$\nDECLARE\n    tbl text;\n    cnt bigint;\nBEGIN\n    FOR tbl IN\n        SELECT tablename\n        FROM pg_tables\n        WHERE schemaname = 'public'\n          AND tablename LIKE 'uex_%_raw'\n        ORDER BY tablename\n    LOOP\n        EXECUTE format($sql$\n            SELECT COUNT(*)\n            FROM %I\n            WHERE ingest_batch_id NOT IN (\n                SELECT id\n                FROM (\n                    SELECT\n                        b.id,\n                        b.source_endpoint,\n                        b.fetched_at,\n                        ROW_NUMBER() OVER (\n                            PARTITION BY b.source_endpoint\n                            ORDER BY b.fetched_at DESC\n                        ) AS rn\n                    FROM ingest_batches b\n                    WHERE b.source = 'uex'\n                ) t\n                WHERE t.rn <= 3  -- keep last 3 batches per endpoint\n            )\n        $sql$, tbl)\n        INTO cnt;\n\n        INSERT INTO tmp_uex_raw_cleanup_report (tablename, rows_to_delete)\n        VALUES (tbl, cnt);\n    END LOOP;\nEND $$;\n\n-- 3) Read the report\nSELECT *\nFROM tmp_uex_raw_cleanup_report\nWHERE rows_to_delete > 0\nORDER BY tablename;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-176,-32],"id":"dcf3a82b-0b5b-4282-b436-b40a7488f768","name":"Cleanup Raw Tables keeping last ","executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"071f84ef-9b7a-4446-a36a-fe6c2ebfe30b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,-32],"id":"58f91850-f744-4ca7-84b0-2a927c1d2a90","name":"If"},{"parameters":{"content":"## Runs at\n**Noon**"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-208],"id":"4cc69397-5ff4-4539-b8eb-2bcb02c16228","name":"Sticky Note"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-352,-176],"id":"0a1ade22-a4be-4e1c-9687-fcda2a220d58","name":"When Executed by Another Workflow"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,-16],"id":"6fe41c88-1a0a-45be-86be-456b662f53d2","name":"noon Schedule Trigger"}],"connections":{"Cleanup Raw Tables keeping last ":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Cleanup Raw Tables keeping last 3","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Cleanup Raw Tables keeping last ","type":"main","index":0}]]},"noon Schedule Trigger":{"main":[[{"node":"Cleanup Raw Tables keeping last ","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}