2026/06/04/PyynnqFdgfC6n3ZT.json
{"nodes":[{"parameters":{},"id":"bf2be41e-4a67-455b-bea4-807309ebde2a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,80]},{"parameters":{"inputSource":"passthrough"},"id":"cd0b3eb0-b685-40f8-beac-63a56e768a5c","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[16,-96]},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, class_name, manufacturer, category, subtype\nFROM datap4k_weapons_norm\nORDER BY category, subtype, name;","options":{}},"id":"5a2b139b-c2d6-4139-803c-41b1283b8b37","name":"Weapons – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,0],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"id":"ea2f6ba6-a275-4b2c-918f-04778092b9cc","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  wn.id, wn.raw_id, wn.slug, wn.name, wn.class_name, wn.category, wn.subtype,\n  wn.display_type, wn.manufacturer, wn.size,\n  wn.mag_capacity, wn.fire_rate_rpm, wn.ammo_speed_ms,\n  wn.ideal_range_m, wn.max_range_m, wn.inventory_scu,\n  wn.dmg_energy, wn.dmg_physical, wn.dmg_thermal,\n  wn.dmg_distortion, wn.dmg_biochemical, wn.total_damage,\n  wn.uex_id, wn.uex_category_name, wn.uex_category_section,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'terminal', t.name, 'buy', p.buy_price, 'sell', p.sell_price\n    ) ORDER BY t.name)\n    FROM prices p\n    JOIN trade_terminals t ON t.id = p.terminal_id\n    WHERE p.item_external_id = wn.uex_id\n      AND wn.uex_id IS NOT NULL\n      AND GREATEST(COALESCE(p.buy_price, 0), COALESCE(p.sell_price, 0)) > 0\n  ), '[]'::jsonb) AS uex_prices,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'shop', si.shop, 'location', si.location,\n      'buy', si.buy_auec, 'sell', si.sell_auec\n    ) ORDER BY si.shop)\n    FROM datap4k_shop_inventory si\n    WHERE si.item_raw_id = wn.raw_id\n      AND si.item_raw_table = 'datap4k_weapons_raw'\n      AND GREATEST(COALESCE(si.buy_auec, 0), COALESCE(si.sell_auec, 0)) > 0\n  ), '[]'::jsonb) AS datap4k_prices\n\nFROM datap4k_weapons_norm wn\nWHERE wn.id = {{$json[\"id\"]}};","options":{}},"id":"73c1ab55-2590-4e78-95a7-a568ac4ff6e9","name":"Weapons – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[592,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const row = $input.first().json;\nconst slug = row.slug || (row.class_name || row.name || 'unknown')\n  .toLowerCase().replace(/_/g, '-').replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');\nfunction catLabel(cat, sub) {\n  if (cat === 'fps') return sub === 'Gadget' ? 'FPS Gadget' : 'FPS Weapon';\n  if (cat === 'ship') {\n    if (sub === 'Gun') return 'Ship Gun';\n    if (sub === 'Missile') return 'Ship Missile';\n    return 'Ship Weapon';\n  }\n  if (cat === 'attachments') return 'Weapon Attachment';\n  return cat || 'Weapon';\n}\nconst categoryLabel = catLabel(row.category, row.subtype);\nconst mfr = row.manufacturer || null;\nconst size = row.size ? Number(row.size) : null;\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  return Array.isArray(raw) ? raw : [];\n}\nconst uexPrices = parsePrices(row.uex_prices);\nconst dp4kPrices = parsePrices(row.datap4k_prices);\nconst sentences = [];\nconst sizeStr = size ? ' size ' + size : '';\nsentences.push('The ' + row.name + ' is a' + sizeStr + ' ' + categoryLabel.toLowerCase() + (mfr ? ' manufactured by ' + mfr : '') + '.');\nif (row.category === 'fps') {\n  sentences.push('It is a ' + (row.display_type || row.subtype || 'personal') + ' weapon used in ground combat.');\n} else if (row.category === 'ship') {\n  sentences.push('It is a ship-mounted weapon used in space combat.');\n} else if (row.category === 'attachments') {\n  sentences.push('It is a weapon attachment that modifies firearm performance.');\n}\nconst dmgParts = [];\nif (row.total_damage && Number(row.total_damage) > 0) dmgParts.push(Number(row.total_damage).toFixed(2) + ' total damage per shot');\nif (row.fire_rate_rpm && Number(row.fire_rate_rpm) > 0) dmgParts.push(Math.round(Number(row.fire_rate_rpm)) + ' RPM fire rate');\nif (row.ideal_range_m && Number(row.ideal_range_m) > 0) dmgParts.push(Math.round(Number(row.ideal_range_m)) + ' m ideal range');\nif (dmgParts.length > 0) sentences.push('Key stats: ' + dmgParts.join(', ') + '.');\nif (uexPrices.length > 0) {\n  sentences.push('Available at ' + uexPrices.length + ' terminal' + (uexPrices.length > 1 ? 's' : '') + ' with live UEX pricing.');\n} else if (dp4kPrices.length > 0) {\n  sentences.push('Shop data available from DataPack (prices may be outdated).');\n} else {\n  sentences.push('No live purchase pricing is currently available in UEX.');\n}\nconst kb_text = sentences.join(' ');\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) { return fnv1a32Hex(str) + fnv1a32Hex(str + '|v2'); }\nfunction stableStringify(val) {\n  if (val === null || typeof val !== 'object') return JSON.stringify(val);\n  if (Array.isArray(val)) return '[' + val.map(stableStringify).join(',') + ']';\n  const keys = Object.keys(val).sort();\n  return '{' + keys.map(k => JSON.stringify(k) + ':' + stableStringify(val[k])).join(',') + '}';\n}\nconst entity_metadata = { category: row.category, category_label: categoryLabel, subtype: row.subtype || null, display_type: row.display_type || null, manufacturer: mfr, size };\nconst jsonkb = {\n  kb_version: '1.0', entity_type: 'weapon', entity_id: null, entity_slug: slug, entity_name: row.name,\n  source: 'datap4k', source_id: 'datap4k_weapons_norm:' + row.id, source_table: 'datap4k_weapons_norm',\n  kb_text,\n  kb_links: { kb_page_path: '/kb/' + slug, kb_browse_path: '/browse?folder=weapon' },\n  entity_metadata,\n  rag_hints: { sql_hints: [], notes: null },\n  provenance: { generated_at: new Date().toISOString(), kb_generator_workflow: 'JSONKB - Weapons v1', game_version: null, is_live_only: false, content_hash: '' }\n};\nconst hashBasis = stableStringify({ entity_type: jsonkb.entity_type, entity_id: jsonkb.entity_id, kb_text: jsonkb.kb_text, entity_metadata: jsonkb.entity_metadata });\njsonkb.provenance.content_hash = hash16(hashBasis);\nreturn [{ json: { item_id: row.id, slug, name: row.name, jsonkb, jsonkb_file_path: '/kb/weapon/' + slug } }];"},"id":"74bfedc7-2d9d-4966-b854-39279727b697","name":"Build JSONKB","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,16]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$(\"Build JSONKB\").item.json.slug}}' AND entity_type = 'weapon'","options":{}},"id":"d628ee27-35a4-49fe-a0fa-e6f0174d0b13","name":"Get Existing Hash","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1008,16],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = $input.first().json;\nconst currentHash = buildResult.jsonkb && buildResult.jsonkb.provenance ? buildResult.jsonkb.provenance.content_hash : null;\nconst existingHash = existingRow ? existingRow.content_hash : null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];"},"id":"3bcb4746-7ccc-48cc-9544-ee796eccd350","name":"Compare Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"98283a57-9e08-42e2-8d11-2baa79afe4e4","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ba76dd7f-4fd4-4e77-9977-11bb5d63be35","name":"Should Write","type":"n8n-nodes-base.if","typeVersion":2,"position":[1392,16]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash) VALUES ('weapon', NULL, '{{$(\"Build JSONKB\").item.json.slug}}', '{{$(\"Build JSONKB\").item.json.jsonkb_file_path}}', '{{$(\"Build JSONKB\").item.json.jsonkb.provenance.content_hash}}') ON CONFLICT DO NOTHING;","options":{}},"id":"fc1e9593-d91f-4a8c-a25f-0c7db70edd2c","name":"Log Change","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1920,0],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst slug = (buildResult.slug || '').replace(/'/g, \"''\");\nconst content = JSON.stringify(buildResult.jsonkb).replace(/'/g, \"''\");\nconst contentHash = buildResult.jsonkb.provenance.content_hash;\nconst query = \"INSERT INTO jsonkb_store (entity_slug, entity_type, content, content_hash, updated_at) \"\n  + \"VALUES ('\" + slug + \"', 'weapon', '\" + content + \"', '\" + contentHash + \"', NOW()) \"\n  + \"ON CONFLICT (entity_slug, entity_type) DO UPDATE SET \"\n  + \"content = EXCLUDED.content, content_hash = EXCLUDED.content_hash, updated_at = EXCLUDED.updated_at\";\nreturn [{ json: { query, entity_slug: buildResult.slug } }];"},"id":"5f6f600e-b0aa-42c9-a60f-864ee10dcee8","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,0]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"db05d648-8fc2-4549-ab91-252c470423d7","name":"Upsert to jsonkb_store","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1744,0],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Weapons – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Weapons – List","type":"main","index":0}]]},"Weapons – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Weapons – Detail","type":"main","index":0}]]},"Weapons – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Log Change":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Log Change","type":"main","index":0}]]}},"pinData":{},"meta":null}