2026/06/04/UJnZSMdIzMYPOZiY.json
{"nodes":[{"parameters":{},"id":"0632e90c-5a2c-4c57-b63e-1ddef1a81049","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,0]},{"parameters":{"functionCode":"// One company per loop\nconst row = items[0].json;\n\n// ---------- Helpers ----------\nfunction yn(v) {\n  const n = Number(v ?? 0);\n  return n === 1 ? 'Yes' : 'No';\n}\n\nconst slug = (row.slug || row.name)\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\n// ---------- Markdown ----------\nconst md = [];\n\nmd.push(`# ${row.name} `);\nmd.push('');\n\nmd.push(`- **Source:** ${row.source || 'N/A'}`);\nmd.push(`- **Source ID:** ${row.source_id || 'N/A'}`);\nmd.push(`- **UEX Company ID:** ${row.uex_company_id || 'N/A'}`);\nmd.push(`- **Company Code:** ${row.company_code || 'N/A'}`);\nmd.push(`- **Nickname:** ${row.nickname || 'N/A'}`);\nmd.push(`- **Industry:** ${row.industry || 'N/A'}`);\nmd.push(`- **Item Manufacturer:** ${yn(row.is_item_manufacturer)}`);\nmd.push(`- **Vehicle Manufacturer:** ${yn(row.is_vehicle_manufacturer)}`);\nmd.push('');\n\nif (row.wiki) {\n  md.push(`- **Wiki:** ${row.wiki}`);\n  md.push('');\n}\n\nmd.push(`## Overview`);\nmd.push('');\nmd.push(\n  `${row.name}${row.nickname && row.nickname !== row.name ? ` (“${row.nickname}”)` : ''}` +\n  `${row.industry ? ` operates in **${row.industry}**.` : ' has no industry recorded.'}`\n);\nmd.push('');\n\nmd.push(`## Manufacturer Flags`);\nmd.push('');\nmd.push(`| Flag | Value |`);\nmd.push(`|------|-------|`);\nmd.push(`| Item manufacturer | ${yn(row.is_item_manufacturer)} |`);\nmd.push(`| Vehicle manufacturer | ${yn(row.is_vehicle_manufacturer)} |`);\nmd.push('');\n\nmd.push(`## Notes`);\nmd.push('');\nmd.push('_No notes currently tracked._');\n\n// ---------- Output only DETAILED ----------\nconst filePathDetailed = `/RAG/KB/misc/${slug}_detailed.md`;\n\nreturn [\n  {\n    json: {\n      company_id: row.id,\n      slug,\n      name: row.name,\n      markdown_detailed: md.join('\\n'),\n      filePath_detailed: filePathDetailed,\n    },\n  },\n];\n"},"id":"401d02f9-24ff-4173-8500-93657aa6ae4d","name":"Build Markdown","type":"n8n-nodes-base.function","typeVersion":1,"position":[784,16]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0],"id":"8ec1466e-0343-4294-ae1f-c6b9e25192ff","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[16,-176],"id":"44bd7275-6412-4738-88e9-0e96927b2cbb","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  COALESCE(\n    c.metadata->>'slug',\n    lower(regexp_replace(c.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug\nFROM companies c\nORDER BY c.name;\n","options":{}},"id":"10bae0d9-a8a2-4cc2-ba2e-bb30488894e3","name":"Companies – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,0],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  COALESCE(\n    c.metadata->>'slug',\n    lower(regexp_replace(c.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug,\n\n  c.source,\n  c.source_id,\n\n  c.nickname,\n  c.industry,\n  NULLIF(c.wiki,'') AS wiki,\n\n  COALESCE(c.is_item_manufacturer::int, 0)    AS is_item_manufacturer,\n  COALESCE(c.is_vehicle_manufacturer::int, 0) AS is_vehicle_manufacturer,\n\n  c.company_code,\n  NULLIF(c.metadata->>'id','') AS uex_company_id\n\nFROM companies c\nWHERE c.id = '{{$json[\"id\"]}}';","options":{}},"id":"6a7e3e46-a751-4154-88e6-c48ccb504381","name":"Company – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[592,16],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst entityId = item.company_id || null;\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) VALUES ('\" + slug + \"', 'company', '\" + entityId + \"'::uuid, '\" + content + \"', 'KB - Company Markdown v2.2', now(), now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, entity_type = EXCLUDED.entity_type, source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"2d22edad-40e8-41d0-adc7-625793d72278","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"b9cce815-f5ba-475e-aa3a-b68ec85e7ed6","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1232,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Companies – List","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Company – Detail","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Companies – List","type":"main","index":0}]]},"Companies – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Company – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}