2026/06/04/x2afpRM9N2Be4ELy.json
{"nodes":[{"parameters":{"path":"v3/changelog","authentication":"basicAuth","responseMode":"lastNode","options":{}},"id":"wh-get","name":"Webhook GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,208],"webhookId":"v3-changelog-get","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id,version,release_date,label,title,description,changes,published FROM changelog ORDER BY created_at DESC","options":{}},"id":"pg-select","name":"Select All","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,208],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{data:items.map(i=>i.json)}}];"},"id":"fmt-list","name":"Format List","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,208]},{"parameters":{"httpMethod":"POST","path":"v3/changelog","authentication":"basicAuth","responseMode":"lastNode","options":{}},"id":"wh-post","name":"Webhook POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,432],"webhookId":"v3-changelog-post","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\";}const b=items[0].json.body;const ch=b.changes!==undefined?(\"'\"+ JSON.stringify(b.changes).replace(/'/g,\"''\") +\"'::jsonb\"):\"'[]'::jsonb\";const pub=b.published!==undefined?b.published:false;const rd=b.release_date?esc(b.release_date)+'::date':'CURRENT_DATE';const sql='INSERT INTO changelog (version,release_date,label,title,description,changes,published) VALUES ('+[esc(b.version),rd,esc(b.label),esc(b.title),esc(b.description),ch,pub].join(',')+') RETURNING *';return [{json:{sql}}];"},"id":"bld-ins","name":"Build INSERT","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,432]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"pg-insert","name":"Run INSERT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[656,432],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{data:items[0].json}}];"},"id":"fmt-post","name":"Format POST","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,432]},{"parameters":{"httpMethod":"PUT","path":"v3/changelog","authentication":"basicAuth","responseMode":"lastNode","options":{}},"id":"wh-put","name":"Webhook PUT","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,640],"webhookId":"v3-changelog-put","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\";}const b=items[0].json.body;const sets=[];if(b.version!==undefined)sets.push('version='+esc(b.version));if(b.release_date!==undefined)sets.push('release_date='+esc(b.release_date)+'::date');if(b.label!==undefined)sets.push('label='+esc(b.label));if(b.title!==undefined)sets.push('title='+esc(b.title));if(b.description!==undefined)sets.push('description='+esc(b.description));if(b.changes!==undefined)sets.push(\"changes='\"+JSON.stringify(b.changes).replace(/'/g,\"''\")+\"'::jsonb\");if(b.published!==undefined)sets.push('published='+b.published);if(!sets.length)return [{json:{error:'nothing to update'}}];const sql='UPDATE changelog SET '+sets.join(',')+ ' WHERE id='+esc(b.id)+' RETURNING *';return [{json:{sql}}];"},"id":"bld-upd","name":"Build UPDATE","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,640]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"pg-update","name":"Run UPDATE","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[656,640],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{data:items[0].json}}];"},"id":"fmt-put","name":"Format PUT","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,640]},{"parameters":{"httpMethod":"DELETE","path":"v3/changelog","authentication":"basicAuth","responseMode":"lastNode","options":{}},"id":"wh-del","name":"Webhook DELETE","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,864],"webhookId":"v3-changelog-delete","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\";}const b=items[0].json.body;const sql=\"DELETE FROM changelog WHERE id='\"+b.id.replace(/'/g,\"''\")+\"' RETURNING id\";return [{json:{sql}}];"},"id":"bld-del","name":"Build DELETE","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,864]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"pg-delete","name":"Run DELETE","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[656,864],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{success:true,id:items[0].json.id}}];"},"id":"fmt-del","name":"Format DELETE","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,864]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,336],"id":"f6b571d6-e7f5-405d-b95d-ca8c7ce42cda","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook GET":{"main":[[{"node":"Select All","type":"main","index":0}]]},"Select All":{"main":[[{"node":"Format List","type":"main","index":0}]]},"Webhook POST":{"main":[[{"node":"Build INSERT","type":"main","index":0}]]},"Build INSERT":{"main":[[{"node":"Run INSERT","type":"main","index":0}]]},"Run INSERT":{"main":[[{"node":"Format POST","type":"main","index":0}]]},"Webhook PUT":{"main":[[{"node":"Build UPDATE","type":"main","index":0}]]},"Build UPDATE":{"main":[[{"node":"Run UPDATE","type":"main","index":0}]]},"Run UPDATE":{"main":[[{"node":"Format PUT","type":"main","index":0}]]},"Webhook DELETE":{"main":[[{"node":"Build DELETE","type":"main","index":0}]]},"Build DELETE":{"main":[[{"node":"Run DELETE","type":"main","index":0}]]},"Run DELETE":{"main":[[{"node":"Format DELETE","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}