2026/05/25/2Vw5R5uuNOQQpNPB.json
{"nodes":[{"parameters":{},"id":"558f6a18-4e0d-4e60-986c-9b90f59d9148","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,216]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,144],"id":"c0b965ce-3703-43a3-9f10-fe4d6e9ba855","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,24],"id":"14375b34-896d-4911-8351-c4c0b2f14541","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  s.id,\n  s.name,\n  COALESCE(\n    s.metadata->>'slug',\n    lower(regexp_replace(s.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug\nFROM systems s\nJOIN active_systems asys\n  ON asys.id = s.id\nORDER BY s.name;\n","options":{}},"id":"1fbfd0dd-b8bd-4694-89b0-0da3b2569e61","name":"Systems – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[224,144],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  s.id,\n  s.name,\n  COALESCE(\n    s.metadata->>'slug',\n    lower(regexp_replace(s.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug,\n  s.metadata->>'id'   AS uex_system_id,\n  s.metadata->>'code' AS system_code,\n  s.metadata->>'is_available_live' AS is_available_live,\n  s.source_id,\n\n  -- Bodies (planets + moons) in this system\n  COALESCE(bodies.body_total, 0)              AS bodies_total,\n  COALESCE(bodies.bodies_list, '[]'::jsonb)   AS bodies_list,\n\n  -- Major locations in this system (cities, big hubs, etc.)\n  COALESCE(mlocs.major_locations_total, 0)            AS major_locations_total,\n  COALESCE(mlocs.major_locations_list, '[]'::jsonb)   AS major_locations_list\n\nFROM systems s\nJOIN active_systems asys\n  ON asys.id = s.id\n\nLEFT JOIN (\n  SELECT\n    b.system_id,\n    COUNT(*) AS body_total,\n    jsonb_agg(b.name ORDER BY b.name) AS bodies_list\n  FROM bodies b\n  WHERE COALESCE(b.metadata->>'is_available_live','1') = '1'\n  GROUP BY b.system_id\n) AS bodies\n  ON bodies.system_id = s.id\n\nLEFT JOIN (\n  SELECT\n    l.system_id,\n    COUNT(*) AS major_locations_total,\n    jsonb_agg(l.name ORDER BY l.name) AS major_locations_list\n  FROM locations l\n  WHERE\n    -- Cities are always major\n    l.location_type = 'city'\n    OR COALESCE(l.metadata->>'is_major_location','0') = '1'\n    OR l.location_type IN ('space_station','landing_zone','major_location')\n  GROUP BY l.system_id\n) AS mlocs\n  ON mlocs.system_id = s.id\n\nWHERE s.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"71e10c0c-7699-4119-8b3a-55b9636335ae","name":"System – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[672,160],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,160],"id":"2f241447-2c67-43a4-b6c6-986716176c24","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2016,224],"id":"088287ab-7825-4371-9e20-0bf15c0041ff","name":"Execute a SQL query","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — SYSTEMS\n// IMPORTANT: Explicitly read from specific upstream nodes\n// to avoid \"items[0]\" pointing at the wrong input.\n// ============================================================\n\n// Pull the system detail row from the named node\nconst sysItems = $items(\"System – Detail\");\nif (!sysItems || sysItems.length === 0) {\n  throw new Error('JSONKB Systems: Missing input from node \"System – Detail\".');\n}\nconst sys = sysItems[0].json;\n\n\n// ---------- Parse bodies list ----------\nlet bodies = [];\nif (Array.isArray(sys.bodies_list)) {\n  bodies = sys.bodies_list;\n} else if (typeof sys.bodies_list === 'string') {\n  try { bodies = JSON.parse(sys.bodies_list); } catch (e) { bodies = []; }\n} else if (sys.bodies_list && typeof sys.bodies_list === 'object') {\n  bodies = Object.values(sys.bodies_list);\n}\n\nbodies = (bodies || [])\n  .map(b => String(b || '').trim())\n  .filter(b => b.length > 0)\n  .sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }));\n\nconst bodiesTotal = Number(sys.bodies_total ?? bodies.length) || 0;\n\n// ---------- Parse major locations list ----------\nlet majorLocations = [];\nif (Array.isArray(sys.major_locations_list)) {\n  majorLocations = sys.major_locations_list;\n} else if (typeof sys.major_locations_list === 'string') {\n  try { majorLocations = JSON.parse(sys.major_locations_list); } catch (e) { majorLocations = []; }\n} else if (sys.major_locations_list && typeof sys.major_locations_list === 'object') {\n  majorLocations = Object.values(sys.major_locations_list);\n}\n\nmajorLocations = (majorLocations || [])\n  .map(l => String(l || '').trim())\n  .filter(l => l.length > 0)\n  .sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }));\n\nconst mlocsTotal = Number(sys.major_locations_total ?? majorLocations.length) || 0;\n\n// ---------- Slug ----------\nconst slug = String(sys.slug || sys.name || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\nif (!slug) {\n  throw new Error('JSONKB Systems: slug is empty (cannot write JSONKB file).');\n}\n\n// ---------- Deterministic kb_text ----------\nconst systemName = sys.name || 'Unknown System';\nconst isLive = String(sys.is_available_live) === '1' || sys.is_available_live === 1;\n\nconst statusLabel = isLive ? 'live' : 'planned or inactive';\n\n// Keep trade sentence as-is for now (you can gate later if you add a has_prices flag)\nconst kb_text =\n  `${systemName} is a star system containing ${bodiesTotal} planetary bodies and ${mlocsTotal} locations. ` +\n  `This system is ${statusLabel}.`;\n\n// ---------- entity_metadata ----------\nconst entity_metadata = {\n  uex_system_id: sys.uex_system_id != null ? Number(sys.uex_system_id) : null,\n  system_code: sys.system_code || null,\n  status: statusLabel,\n  body_count: bodiesTotal,\n  major_location_count: mlocsTotal,\n  bodies,\n  major_locations: majorLocations,\n};\n\n\nconst kb_links = {\n  kb_page_path: `/kb/${slug}`,\n  kb_browse_path: `/browse?category=system`,\n};\n\n// ---------- rag_hints (stub) ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      id: \"system.planets\",\n      description: \"List planet bodies in a system.\",\n      params: [{\"name\":\"system_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT b.id, b.name, b.slug\nFROM bodies b\nWHERE b.system_id = :system_id\n  AND lower(b.body_type) = 'planet'\nORDER BY b.name;`\n    },\n    {\n      id: \"system.moons\",\n      description: \"List moon bodies in a system.\",\n      params: [{\"name\":\"system_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT b.id, b.name, b.slug, b.parent_body_id\nFROM bodies b\nWHERE b.system_id = :system_id\n  AND lower(b.body_type) = 'moon'\nORDER BY b.name;`\n    },\n  ],\n  notes: null\n};\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Systems v1',\n  game_version: sys.game_version || null,\n  is_live_only: true,\n};\n\n// ---------- JSONKB object ----------\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type: 'system',\n  entity_id: sys.id || null,\n  entity_slug: slug,\n  entity_name: systemName,\n\n  source: sys.source || 'uex',\n  source_id: sys.source_id || (sys.uex_system_id != null ? `star_systems:${sys.uex_system_id}` : null),\n  source_table: 'systems',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null; // defensive; shouldn’t happen\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm); // keep array order\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n\n    return v;\n  }\n\n  return JSON.stringify(norm(value));\n}\n\n// ---------- hash (FNV32 doubled => 16 hex chars) ----------\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/system/${slug}`;\n\nreturn [\n  {\n    json: {\n      system_id: sys.id,\n      slug,\n      name: systemName,\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"71903929-e81b-4ff3-9a8f-b3e37ae27b79","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[896,160]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,160],"id":"3ccbda96-2eca-4bf1-813b-ba6be92a43ff","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,160],"id":"22bcd11a-96a7-4267-b1ff-be4f4de13f1a","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,160],"id":"1b4c1864-3007-40f6-b27f-b5bcd920ec83","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Systems – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Systems – List","type":"main","index":0}]]},"Systems – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"System – Detail","type":"main","index":0}]]},"System – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}