2026/05/25/5INofyHnxj8k8wWO.json
{"nodes":[{"parameters":{},"id":"e1b0ea7f-b222-4b77-9f50-997b0330ae7b","name":"When workflow is called","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, file, slot, tier, manufacturer, uex_category_name, uex_category_section, slug FROM datap4k_armor_norm WHERE slug IS NOT NULL AND slug != '' ORDER BY uex_category_section, uex_category_name, name;","options":{}},"id":"37825a6c-f1f1-40cb-868b-f8055563f7cd","name":"List Armor","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"options":{}},"id":"3fbdedc5-04ab-4525-bc7d-fa46459fff34","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0]},{"parameters":{"operation":"executeQuery","query":"SELECT an.id, an.raw_id, an.file, an.name, an.slug, an.slot, an.tier, an.manufacturer, an.micro_scu, an.container_scu, an.temp_min_c, an.temp_max_c, an.rad_capacity, an.rad_diss_rate, an.dmg_res_physical, an.dmg_res_energy, an.dmg_res_distortion, an.dmg_res_biochemical, an.dmg_res_stun, an.dmg_res_force, an.dmg_res_thermal, an.sig_ir_emission, an.sig_ir_reduce_abs, an.sig_em_emission, an.sig_em_reduce_abs, an.uex_id, an.uex_category_name, an.uex_category_section, COALESCE((  SELECT jsonb_agg(jsonb_build_object('terminal',t.name,'buy',p.buy_price,'sell',p.sell_price) ORDER BY t.name)   FROM prices p JOIN trade_terminals t ON t.id=p.terminal_id   WHERE p.item_external_id=an.uex_id AND an.uex_id IS NOT NULL     AND GREATEST(COALESCE(p.buy_price,0),COALESCE(p.sell_price,0))>0 AND p.asset_type='item'), '[]'::jsonb) AS uex_prices, COALESCE((  SELECT jsonb_agg(jsonb_build_object('shop',si.shop,'location',si.location,'buy',si.buy_auec,'sell',si.sell_auec) ORDER BY si.shop)   FROM datap4k_shop_inventory si   WHERE si.item_raw_id=an.raw_id AND si.item_raw_table='datap4k_armor_raw'     AND GREATEST(COALESCE(si.buy_auec,0),COALESCE(si.sell_auec,0))>0), '[]'::jsonb) AS datap4k_prices FROM datap4k_armor_norm an WHERE an.id={{$json[\"id\"]}};","options":{"queryBatching":"independently"}},"id":"d40d6dfe-72b4-4f63-96b3-764d88d8e33b","name":"Armor Detail","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,112],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"jsCode":"\nconst row = $input.first().json;\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  return Array.isArray(raw) ? raw : [];\n}\nfunction fmtPct(v) {\n  const n = parseFloat(v);\n  return (!v || isNaN(n) || n === 0) ? null : n.toFixed(0) + '%';\n}\nfunction fmtC(v) {\n  const n = parseFloat(v);\n  if (!v || isNaN(n)) return null;\n  return (n >= 0 ? '+' : '') + n.toFixed(0) + 'C';\n}\nfunction fmtScu(v) {\n  const n = parseFloat(v);\n  if (!v || isNaN(n) || n === 0) return null;\n  if (n >= 1000000) return (n/1000000).toFixed(3).replace(/\\.?0+$/,'') + ' SCU';\n  return (n/1000).toFixed(3).replace(/\\.?0+$/,'') + ' mSCU';\n}\nconst uex  = parsePrices(row.uex_prices);\nconst dp4k = parsePrices(row.datap4k_prices);\nconst lines = [];\nlines.push('# ' + row.name);\nlines.push('');\nlines.push('- **Slot:** ' + (row.slot || 'Unknown'));\nconst cat = row.uex_category_name || row.slot || 'Armor';\nlines.push('- **Category:** ' + cat);\nif (row.uex_category_section && row.uex_category_section !== cat)\n  lines.push('- **Section:** ' + row.uex_category_section);\nif (row.tier) lines.push('- **Tier:** ' + row.tier.charAt(0).toUpperCase() + row.tier.slice(1));\nif (row.manufacturer) lines.push('- **Manufacturer:** ' + row.manufacturer);\nconst DMG = [\n  ['dmg_res_physical','Physical'],['dmg_res_energy','Energy'],\n  ['dmg_res_distortion','Distortion'],['dmg_res_biochemical','Biochemical'],\n  ['dmg_res_stun','Stun'],['dmg_res_force','Force'],['dmg_res_thermal','Thermal']\n];\nconst dmgRows = DMG.map(([col,label]) => [label, fmtPct(row[col])]).filter(([,v]) => v);\nif (dmgRows.length) {\n  lines.push(''); lines.push('## Damage Resistance');\n  lines.push('| Type | Resistance |'); lines.push('|---|---|');\n  dmgRows.forEach(([l,v]) => lines.push(`| ${l} | ${v} |`));\n}\nconst envLines = [];\nconst tMin = fmtC(row.temp_min_c), tMax = fmtC(row.temp_max_c);\nif (tMin && tMax) envLines.push(`- **Temperature Range:** ${tMin} to ${tMax}`);\nif (parseFloat(row.rad_capacity) > 0) envLines.push(`- **Radiation Capacity:** ${parseInt(row.rad_capacity).toLocaleString()}`);\nconst scu = fmtScu(row.micro_scu);\nif (scu) envLines.push('- **Inventory:** ' + scu);\nif (envLines.length) { lines.push(''); lines.push('## Environmental & Storage'); envLines.forEach(l => lines.push(l)); }\nconst sigLines = [];\nif (parseFloat(row.sig_ir_emission) > 0) sigLines.push(`- **IR Emission:** ${parseFloat(row.sig_ir_emission).toFixed(0)}`);\nif (parseFloat(row.sig_ir_reduce_abs) > 0) sigLines.push(`- **IR Reduction:** ${parseFloat(row.sig_ir_reduce_abs).toFixed(0)}`);\nif (parseFloat(row.sig_em_emission) > 0) sigLines.push(`- **EM Emission:** ${parseFloat(row.sig_em_emission).toFixed(0)}`);\nif (parseFloat(row.sig_em_reduce_abs) > 0) sigLines.push(`- **EM Reduction:** ${parseFloat(row.sig_em_reduce_abs).toFixed(0)}`);\nif (sigLines.length) { lines.push(''); lines.push('## Signature'); sigLines.forEach(l => lines.push(l)); }\nif (uex.length) {\n  lines.push(''); lines.push('## UEX Prices');\n  lines.push('| Terminal | Buy | Sell |'); lines.push('|---|---|---|');\n  uex.slice(0,10).forEach(p => {\n    const buy  = (p.buy  && p.buy  > 0) ? p.buy.toLocaleString()  + ' aUEC' : '—';\n    const sell = (p.sell && p.sell > 0) ? p.sell.toLocaleString() + ' aUEC' : '—';\n    lines.push(`| ${p.terminal||'?'} | ${buy} | ${sell} |`);\n  });\n} else if (dp4k.length) {\n  lines.push(''); lines.push('## Shop Prices (DataPack)');\n  lines.push('| Shop | Location | Buy |'); lines.push('|---|---|---|');\n  dp4k.slice(0,10).forEach(p => {\n    const buy = (p.buy && p.buy > 0) ? p.buy.toLocaleString() + ' aUEC' : '—';\n    lines.push(`| ${p.shop||'?'} | ${p.location||'?'} | ${buy} |`);\n  });\n}\nreturn [{ json: { ...row, kb_markdown: lines.join('\\n') } }];\n"},"id":"60530f60-fd32-4670-bb75-8527b561bccc","name":"Build Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,112]},{"parameters":{"jsCode":"\nconst row = $input.first().json;\nconst slug = row.slug || '';\nif (!slug) return [];\nreturn [{ json: {\n  entity_slug: slug,\n  entity_type: 'armor',\n  content: row.kb_markdown || '',\n  source_workflow: 'KB - Armor Markdown v1',\n} }];\n"},"id":"08318e8d-fe52-4c33-aaa0-a0e6761e35a7","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,112]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) VALUES ('{{$json[\"entity_slug\"]}}', 'armor', NULL, '{{$json[\"content\"].replace(/'/g, \"''\")}}', '{{$json[\"source_workflow\"]}}', now(), now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content=EXCLUDED.content, updated_at=now();","options":{"queryBatching":"independently"}},"id":"d5ee39a9-a999-426a-96c8-6410e64282cb","name":"Upsert kb_content","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,112],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-176],"id":"0e172696-9397-48c7-b9da-1d43ff968df9","name":"When clicking ‘Execute workflow’"}],"connections":{"When workflow is called":{"main":[[{"node":"List Armor","type":"main","index":0}]]},"List Armor":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Armor Detail","type":"main","index":0}]]},"Armor Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert kb_content","type":"main","index":0}]]},"Upsert kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"List Armor","type":"main","index":0}]]}},"pinData":{},"meta":null}