2026/05/25/EcuFIcMNNHyu9DP1.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"sql-rw","responseMode":"responseNode","options":{}},"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"b10f0291-6775-47e0-94d9-187c46e0df17"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst query = body.query;\nif (!query || typeof query !== 'string') {\n  throw new Error('Missing or invalid query field');\n}\nreturn [{ json: { query } }];"},"id":"f6a7b8c9-d0e1-2345-fabc-456789012345","name":"Extract Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"a7b8c9d0-e1f2-3456-abcd-567890123456","name":"Run Query RW","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[688,304],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { rows: $input.all().map(i => i.json), count: $input.all().length } }}","options":{}},"id":"b8c9d0e1-f2a3-4567-bcde-678901234567","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[912,304]}],"connections":{"Webhook":{"main":[[{"node":"Extract Query","type":"main","index":0}]]},"Extract Query":{"main":[[{"node":"Run Query RW","type":"main","index":0}]]},"Run Query RW":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"meta":null}