2026/05/25/ESYDUb2ITecyoM2Y.json
{"nodes":[{"parameters":{},"id":"fc183307-3bb8-4234-8b55-0b5949bedadb","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,144]},{"parameters":{"inputSource":"passthrough"},"id":"ca4cd992-6033-48a8-8e84-30bbf7413be5","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,336]},{"parameters":{"operation":"executeQuery","query":"WITH price_agg AS (\n  SELECT\n    p.item_external_id,\n    jsonb_agg(jsonb_build_object(\n      'terminal', t.name, 'buy', p.buy_price, 'sell', p.sell_price\n    ) ORDER BY t.name) AS uex_prices\n  FROM prices p\n  JOIN trade_terminals t ON t.id = p.terminal_id\n  WHERE GREATEST(COALESCE(p.buy_price, 0), COALESCE(p.sell_price, 0)) > 0\n  GROUP BY p.item_external_id\n),\nshop_agg AS (\n  SELECT\n    si.item_raw_id,\n    jsonb_agg(jsonb_build_object(\n      'shop', si.shop, 'location', si.location,\n      'buy', si.buy_auec, 'sell', si.sell_auec\n    ) ORDER BY si.shop) AS datap4k_prices\n  FROM datap4k_shop_inventory si\n  WHERE si.item_raw_table = 'datap4k_components_raw'\n    AND GREATEST(COALESCE(si.buy_auec, 0), COALESCE(si.sell_auec, 0)) > 0\n  GROUP BY si.item_raw_id\n)\nSELECT\n  cn.id, cn.raw_id, cn.class, cn.name,\n  cn.type, cn.sub_type, cn.size, cn.grade,\n  cn.manufacturer, cn.manufacturer_code,\n  cn.stats,\n  cn.uex_id, cn.uex_category_name, cn.uex_category_section,\n  cn.slug, cn.source_slug,\n  COALESCE(pa.uex_prices,  '[]'::jsonb) AS uex_prices,\n  COALESCE(sa.datap4k_prices, '[]'::jsonb) AS datap4k_prices\nFROM datap4k_components_norm cn\nLEFT JOIN price_agg pa ON pa.item_external_id = cn.uex_id AND cn.uex_id IS NOT NULL\nLEFT JOIN shop_agg  sa ON sa.item_raw_id = cn.raw_id\nORDER BY cn.uex_category_section, cn.uex_category_name, cn.name;","options":{}},"id":"4046c964-ed86-4973-bf8b-9a8a94d7dfaa","name":"Components – List","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[224,240],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"id":"d2b9391e-3ac8-4e73-a226-46a9104c1f2c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,240]},{"parameters":{"jsCode":"const row = $input.first().json;\n\nconst slug = row.slug || (row.class || row.name || 'unknown')\n  .toLowerCase().replace(/_/g, '-').replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');\n\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  return Array.isArray(raw) ? raw : [];\n}\n\nconst uexPrices  = parsePrices(row.uex_prices);\nconst dp4kPrices = parsePrices(row.datap4k_prices);\nconst stats = (typeof row.stats === 'string') ? JSON.parse(row.stats || '{}') : (row.stats || {});\n\n// Build natural language description\nconst sentences = [];\nconst catName = row.uex_category_name || row.type || 'component';\nconst sizeStr = row.size ? ' size ' + row.size : '';\nconst mfr     = row.manufacturer || null;\nsentences.push(\n  'The ' + row.name + ' is a' + sizeStr + ' ' + catName.toLowerCase()\n  + (row.uex_category_section ? ' (' + row.uex_category_section + ')' : '')\n  + (mfr ? ', manufactured by ' + mfr : '') + '.'\n);\n\nif (row.grade) sentences.push('It is grade ' + row.grade + '.');\nif (row.sub_type) sentences.push('Subtype: ' + row.sub_type + '.');\n\n// Stats sentence\nconst statParts = [];\nconst statLabels = {\n  'hp': 'HP', 'regen-per-sec': 'regen/s',\n  'speed-mms': 'QD speed (mm/s)', 'spool-sec': 'spool time (s)',\n  'fuel': 'fuel capacity', 'q-fuel': 'Q-fuel capacity',\n  'damage-per-shot': 'damage/shot', 'fire-rate-per-min': 'fire rate (RPM)',\n  'ideal-range-m': 'ideal range (m)', 'damage': 'damage',\n  'speed-mps': 'speed (m/s)'\n};\nconst keySummary = ['hp','regen-per-sec','speed-mms','spool-sec','fuel','q-fuel',\n                    'damage-per-shot','fire-rate-per-min','ideal-range-m','damage','speed-mps'];\nfor (const k of keySummary) {\n  if (stats[k] !== undefined && stats[k] !== null && Number(stats[k]) > 0) {\n    statParts.push(Number(stats[k]).toFixed(2).replace(/\\.?0+$/, '') + ' ' + (statLabels[k] || k));\n  }\n}\nif (statParts.length > 0) sentences.push('Key stats: ' + statParts.join(', ') + '.');\n\nif (uexPrices.length > 0) {\n  sentences.push('Available at ' + uexPrices.length + ' terminal' + (uexPrices.length > 1 ? 's' : '') + ' with live UEX pricing.');\n} else if (dp4kPrices.length > 0) {\n  sentences.push('Shop data from DataPack available (' + dp4kPrices.length + ' location' + (dp4kPrices.length > 1 ? 's' : '') + ').');\n} else {\n  sentences.push('No live purchase pricing currently available in UEX.');\n}\n\nconst kb_text = sentences.join(' ');\n\n// Hashing\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) { return fnv1a32Hex(str) + fnv1a32Hex(str + '|v2'); }\nfunction stableStringify(val) {\n  if (val === null || typeof val !== 'object') return JSON.stringify(val);\n  if (Array.isArray(val)) return '[' + val.map(stableStringify).join(',') + ']';\n  return '{' + Object.keys(val).sort().map(k => JSON.stringify(k) + ':' + stableStringify(val[k])).join(',') + '}';\n}\n\nconst jsonkb = {\n  entity_type: 'component',\n  entity_slug: slug,\n  name:         row.name,\n  category:     catName,\n  section:      row.uex_category_section || null,\n  type:         row.type || null,\n  sub_type:     row.sub_type || null,\n  size:         row.size ? Number(row.size) : null,\n  grade:        row.grade ? Number(row.grade) : null,\n  manufacturer: mfr,\n  stats:        stats,\n  uex_id:       row.uex_id ? Number(row.uex_id) : null,\n  uex_prices:   uexPrices,\n  datap4k_prices: dp4kPrices,\n  kb_text,\n  provenance: {\n    source: 'datap4k_components_norm',\n    workflow: 'JSONKB - Components v1',\n    content_hash: hash16(stableStringify({\n      name: row.name, class: row.class, stats,\n      uex_prices: uexPrices, datap4k_prices: dp4kPrices\n    }))\n  }\n};\n\nreturn [{\n  json: {\n    slug,\n    jsonkb,\n    jsonkb_file_path: 'jsonkb/component/' + slug + '.json'\n  }\n}];"},"id":"5dad95c0-c8ff-4002-8c01-e2dc232aac65","name":"Build JSONKB","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,256]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$(\"Build JSONKB\").item.json.slug}}' AND entity_type = 'component'","options":{}},"id":"bb3d1f7b-904a-4308-892b-c75484acaea2","name":"Get Existing Hash","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[896,256],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult   = $('Build JSONKB').item.json;\nconst existingRow   = $input.first().json;\nconst currentHash   = buildResult.jsonkb && buildResult.jsonkb.provenance ? buildResult.jsonkb.provenance.content_hash : null;\nconst existingHash  = existingRow ? existingRow.content_hash : null;\nconst should_write  = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];"},"id":"e96040f9-597e-4759-890c-02781ed1fb4c","name":"Compare Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.should_write }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"80a264b9-975c-4703-bc1f-841f145c560d","name":"Should Write","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,256]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash) VALUES ('component', NULL, '{{$(\"Build JSONKB\").item.json.slug}}', '{{$(\"Build JSONKB\").item.json.jsonkb_file_path}}', '{{$(\"Build JSONKB\").item.json.jsonkb.provenance.content_hash}}') ON CONFLICT DO NOTHING;","options":{}},"id":"74b5b33c-a142-4826-9ee4-5551a68b8ba7","name":"Log Change","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1856,240],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst slug        = (buildResult.slug || '').replace(/'/g, \"''\");\nconst content     = JSON.stringify(buildResult.jsonkb).replace(/'/g, \"''\");\nconst contentHash = buildResult.jsonkb.provenance.content_hash;\nconst query = \"INSERT INTO jsonkb_store (entity_slug, entity_type, content, content_hash, updated_at) \"\n  + \"VALUES ('\" + slug + \"', 'component', '\" + content + \"', '\" + contentHash + \"', NOW()) \"\n  + \"ON CONFLICT (entity_slug, entity_type) DO UPDATE SET \"\n  + \"content = EXCLUDED.content, content_hash = EXCLUDED.content_hash, updated_at = EXCLUDED.updated_at\";\nreturn [{ json: { query, entity_slug: buildResult.slug } }];"},"id":"bc2f7f9e-2c27-4ea8-9e8d-6e0e413e98cb","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,240]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"c53de313-eeb0-4780-83e4-9278ef5b66a6","name":"Upsert to jsonkb_store","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1696,240],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Components – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Components – List","type":"main","index":0}]]},"Components – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Log Change":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Log Change","type":"main","index":0}]]}},"pinData":{},"meta":null}