2026/05/25/IJq2kJWI14gA8iWZ.json
{"nodes":[{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1536,448],"id":"92e1a9d1-3e07-4533-99e8-d7dd550f2d47","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c477890b-b383-4dbd-88b7-d3f8b716ae10","leftValue":"commodity","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"commodity"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ee447756-058a-4092-b981-c241e58d00c6","leftValue":"moon","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"moon"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b51ada5a-73ce-48b3-ae66-5b49217e6b03","leftValue":"terminal","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"terminal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"=system","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals"},"id":"a8e073f6-96e3-4e4f-89f2-7d5c28ff7656"}],"combinator":"and"},"renameOutput":true,"outputKey":"system"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c8f30fd-ac44-4c57-89c0-12f7360d183e","leftValue":"vehicle","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"vehicle"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a7350742-2a53-482c-8acb-42b5a52082f0","leftValue":"location","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"location"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6f24c36b-e45c-498f-af17-0632447cf72f","leftValue":"planet","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"planet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5c46c4fb-3080-4f41-bf96-6c4da0828466","leftValue":"misc","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"misc"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"079e6d7f-e8f2-4759-8fc6-ae9bfb4461f8","leftValue":"general","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"general"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"86af81d4-33db-4e32-9c03-ae00a3d92d02","leftValue":"armor","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"armor"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4c0954f0-99ac-4472-b2de-66353c706bbe","leftValue":"component","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"component"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5812565b-7dbd-4843-b365-550cbffb4567","leftValue":"weapon","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"weapon"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d894b0cd-4a21-4950-81f3-f2e444f0baef","leftValue":"mining_gear","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mining_gear"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-32,816],"id":"6cc12491-4ad7-4b9c-a592-adb5e329ab27","name":"Entity Type"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT ON (d.metadata->>'entity_slug')\n  d.id,\n  d.title,\n  d.source,\n  d.source_id,\n  d.metadata->>'entity_type' AS entity_type,\n  d.metadata->>'entity_slug' AS entity_slug,\n  d.metadata->>'entity_name' AS entity_name,\n  d.metadata->>'kb_text'     AS kb_text,\n  d.metadata->'kb_links'     AS kb_links,\n  d.updated_at\nFROM documents d\nWHERE d.metadata->>'entity_type' = $1\n  AND NOT EXISTS (SELECT 1 FROM datap4k_hidden_items h WHERE h.slug = d.metadata->>'entity_slug')\nORDER BY d.metadata->>'entity_slug', d.updated_at DESC;","options":{"queryReplacement":"={{ $('Webhook Site').item.json.query.type }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,-336],"id":"9b6016ac-663b-41b9-9532-bbea46d78371","name":"Get Full Document List","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"path":"v3/kb","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,944],"id":"1c8f3316-5db6-4ba6-9db4-b565b912262f","name":"Webhook Site","webhookId":"ac4783f1-5ec7-4ef4-a427-34c135c5ee5c","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b7bb7445-1b8e-4579-98c1-3fa88d706f7c","leftValue":"bodies","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bodies"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9fcb9329-6899-4c8c-b8a4-882ca439b9ef","leftValue":"cities","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cities"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c477890b-b383-4dbd-88b7-d3f8b716ae10","leftValue":"commodities","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"commodities"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4f4cbb92-5618-4f47-9208-c42bfa14bf59","leftValue":"companies","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"companies"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a7350742-2a53-482c-8acb-42b5a52082f0","leftValue":"locations","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"locations"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ee447756-058a-4092-b981-c241e58d00c6","leftValue":"moon","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"moon"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"53bad01f-00d2-41de-a7e2-259adfcbbf71","leftValue":"outposts","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outposts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6f24c36b-e45c-498f-af17-0632447cf72f","leftValue":"planet","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"planet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"75657239-10f8-43ba-b4b8-f6be1ab6039c","leftValue":"poi","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"poi"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5c46c4fb-3080-4f41-bf96-6c4da0828466","leftValue":"space_stations","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"space_stations"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"=star_systems","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals"},"id":"a8e073f6-96e3-4e4f-89f2-7d5c28ff7656"}],"combinator":"and"},"renameOutput":true,"outputKey":"star_systems"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b51ada5a-73ce-48b3-ae66-5b49217e6b03","leftValue":"terminals","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"terminals"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c8f30fd-ac44-4c57-89c0-12f7360d183e","leftValue":"vehicles","rightValue":"={{ $json.stype_norm }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"vehicles"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1088,-192],"id":"596092cf-418d-4e28-858b-52eb8eeafba5","name":"Source Type"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.job_norm }}","rightValue":"search","operator":{"type":"string","operation":"equals"},"id":"4415db2e-73bb-4fb1-93bd-956afd1a25bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"search"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d1c48a21-2f74-4ca0-9705-12941b761cdb","leftValue":"={{ $json.job_norm }}","rightValue":"list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"list"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[192,432],"id":"e15bf65d-bab8-4067-9498-c5023054bd4e","name":"What Job"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": true,\n  \"reason\": {\n    \"txt\": \"field empty\",\n    \"field\": \"job\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,912],"id":"1140679e-846a-4597-b456-67c0bbc50895","name":"Error missing Job"},{"parameters":{"assignments":{"assignments":[{"id":"92353cac-3d5e-4b8f-af2e-443a632f1414","name":"job_norm","value":"={{ $json.query.job?.toLowerCase().trim() }}","type":"string"},{"id":"c8a4995f-f108-42be-a1d8-ad7f91f101a1","name":"type_norm","value":"={{ $json.query.type?.toLowerCase().trim() || null }}","type":"string"},{"id":"6057a0c4-5248-42af-94dc-f3df016a6de1","name":"stype_norm","value":"={{ $json.query.stype?.toLowerCase().trim() || null }}","type":"string"},{"id":"cc2ba1ae-dc63-46d0-9e9e-4ee30478aa89","name":"q_norm","value":"={{ $json.query.q?.toLowerCase().trim() || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,944],"id":"328c1799-72cb-41b0-8236-e4be0729c070","name":"Normalize query params"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  split_part(d.source_id, ':', 1)                AS source_type,\n  d.metadata->>'entity_type'                     AS entity_type,\n  d.metadata->>'entity_slug'                     AS entity_slug,\n  d.metadata->>'entity_name'                     AS entity_name,\n  d.metadata->>'kb_text'                         AS kb_text,\n  d.metadata->'kb_links'->>'kb_detailed_url'     AS kb_detailed_url,\n  d.metadata->'kb_links'->>'kb_folder_url'       AS kb_folder_url,\n  d.updated_at\nFROM documents d\nWHERE d.source_id IS NOT NULL\n  AND ($2::text IS NULL OR d.metadata->>'entity_type' = $1)\n  AND (\n    d.metadata->>'entity_name' ILIKE '%' || $2 || '%'\n    OR d.metadata->>'entity_slug' ILIKE '%' || $2 || '%'\n    OR d.metadata->>'kb_text'     ILIKE '%' || $2 || '%'\n  )\n  AND NOT EXISTS (SELECT 1 FROM datap4k_hidden_items h WHERE h.slug = d.metadata->>'entity_slug')\nORDER BY d.metadata->>'entity_name' ASC;","options":{"queryReplacement":"={{ $json.type_norm}},{{ $json.q_norm }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,368],"id":"31875660-73cd-44a1-8646-8bd12f5b54db","name":"Get Search by Entity type","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": true,\n  \"reason\": {\n    \"txt\": \"Invalid entry\",\n    \"field\": \"stype\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,96],"id":"b99f01ed-33e9-424c-b8bf-6bab529cb6ea","name":"Error invalid source type"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": true,\n  \"reason\": {\n    \"txt\": \"Missing required\",\n    \"field\": \"type\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,1056],"id":"876c5840-f871-41fb-8c0f-1e2b7a0c8f1d","name":"Error missing entity type"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  split_part(d.source_id, ':', 1)                AS source_type,\n  d.metadata->>'entity_type'                     AS entity_type,\n  d.metadata->>'entity_slug'                     AS entity_slug,\n  d.metadata->>'entity_name'                     AS entity_name,\n  d.metadata->>'kb_text'                         AS kb_text,\n  d.metadata->'kb_links'->>'kb_detailed_url'     AS kb_detailed_url,\n  d.metadata->'kb_links'->>'kb_folder_url'       AS kb_folder_url,\n  d.updated_at\nFROM documents d\nWHERE d.source_id IS NOT NULL\n  AND ($1::text IS NULL OR split_part(d.source_id, ':', 1) = $1)\n  AND ($2::text IS NULL OR d.metadata->>'entity_type' = $2)\n  AND (\n    d.metadata->>'entity_name' ILIKE '%' || $3 || '%'\n    OR d.metadata->>'entity_slug' ILIKE '%' || $3 || '%'\n    OR d.metadata->>'kb_text'     ILIKE '%' || $3 || '%'\n  )\n  AND NOT EXISTS (SELECT 1 FROM datap4k_hidden_items h WHERE h.slug = d.metadata->>'entity_slug')\nORDER BY d.metadata->>'entity_name' ASC;","options":{"queryReplacement":"={{ $json.stype_norm }},{{ $json.type_norm}},{{ $json.q_norm }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,-96],"id":"a30d15aa-e2aa-44d2-820b-07e1251eae9e","name":"Get Search by Entity and Source type","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bfcdf687-6497-4886-a1d0-a00fa1428269","leftValue":"={{ $json.stype_norm }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[864,160],"id":"71dfe630-ef45-4fde-a74c-f3de5828f819","name":"source type empty?"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": true,\n  \"reason\": {\n    \"txt\": \"Search query too short or missing\",\n    \"field\": \"q\",\n    \"min_length\": 2\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,752],"id":"26ce9811-ff81-4f4e-9a77-dcf269c34449","name":"Error query missing or short"},{"parameters":{"assignments":{"assignments":[{"id":"4d2d3e52-25eb-449f-80a4-934d2fc45206","name":"=count","value":"={{ $(\"Get Full Document List\").all().length }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-336],"id":"ead00619-3ba9-4323-af1b-5efee10d1e89","name":"add Count"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"08a2168c-d1d8-4b6f-9a62-05c2ab2234d7","leftValue":"={{ $json.q_norm }}\n","rightValue":false,"operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"998f36a5-897b-4283-9b73-da8b21ce8836","leftValue":"={{ $json.q_norm.length }}","rightValue":2,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,352],"id":"2e225722-1f78-47dd-a81c-e84596db1d65","name":"Check Q length and not empty"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8eee7958-905a-43bc-8072-a08aa4d60342","leftValue":"general","rightValue":"={{ $json.type_norm }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,256],"id":"b944a3b1-e376-421f-8d0b-0dcae53ec099","name":"Type General check"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  split_part(d.source_id, ':', 1)                AS source_type,\n  d.metadata->>'entity_type'                     AS entity_type,\n  d.metadata->>'entity_slug'                     AS entity_slug,\n  d.metadata->>'entity_name'                     AS entity_name,\n  d.metadata->>'kb_text'                         AS kb_text,\n  d.metadata->'kb_links'->>'kb_detailed_url'     AS kb_detailed_url,\n  d.metadata->'kb_links'->>'kb_folder_url'       AS kb_folder_url,\n  d.updated_at\nFROM documents d\nWHERE d.source_id IS NOT NULL\n  AND (\n    d.metadata->>'entity_name' ILIKE '%' || $1 || '%'\n    OR d.metadata->>'entity_slug' ILIKE '%' || $1 || '%'\n    OR d.metadata->>'kb_text'     ILIKE '%' || $1 || '%'\n  )\n  AND NOT EXISTS (SELECT 1 FROM datap4k_hidden_items h WHERE h.slug = d.metadata->>'entity_slug')\nORDER BY d.metadata->>'entity_name' ASC;","options":{"queryReplacement":"={{ $json.q_norm }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,560],"id":"820b9b5b-c3f9-4732-94a3-49196e20b013","name":"Get Search Q only","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"assignments":{"assignments":[{"id":"4d2d3e52-25eb-449f-80a4-934d2fc45206","name":"=count","value":"={{ $(\"Get Search Q only\").all().length }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,560],"id":"493eb8dd-7e0c-4703-9006-30e363fd38ab","name":"add Count1"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1312,560],"id":"cb9f9aa4-fb04-40dc-85fc-0e9b7d3ac406","name":"Limit"},{"parameters":{"path":"v3/lookup","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-832,448],"id":"b7ef2aec-13d4-49b8-94f9-a952f06df0c8","name":"Webhook lookup","webhookId":"01623402-b3fb-43da-a526-8a033636920f","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}},"disabled":true},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-160,448],"id":"aefb2049-12c5-412a-9733-708e349df2f4","name":"Respond to lookup"},{"parameters":{"path":"v3/folder","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-832,128],"id":"bcfb5689-2707-4bdd-841d-230b5186f8f9","name":"Webhook FolderList","webhookId":"45faed71-ace9-4200-953c-25e4200f79bb"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-160,128],"id":"135e58f3-f59a-465b-a2fe-a4fd2c029b0e","name":"Respond to lookup1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.job_norm }}","rightValue":"search","operator":{"type":"string","operation":"equals"},"id":"4415db2e-73bb-4fb1-93bd-956afd1a25bb"}],"combinator":"and"},"renameOutput":true,"outputKey":"search"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d1c48a21-2f74-4ca0-9705-12941b761cdb","leftValue":"={{ $json.job_norm }}","rightValue":"list","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"list"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-256,928],"id":"963cb4f9-3ba4-413c-ae29-e575f2e18268","name":"What Job1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fc4669bb-399a-4e26-b9bc-6859f6cc1edf","leftValue":"={{ $json.query.slug }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-608,448],"id":"4dcd9b86-b466-428a-91d7-3c4f1b2641fe","name":"If"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": true,\n  \"reason\": {\n    \"txt\": \"Missing required\",\n    \"field\": \"slug\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,544],"id":"cf648070-3864-476b-b5bf-df971c45ebb0","name":"Error missing slug"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  '/KB/' || kc.entity_type || '/' || kc.entity_slug AS file_path,\n  NULL::text                                         AS share_url,\n  kc.entity_slug,\n  kc.entity_type,\n  kc.content                                         AS data,\n  kc.updated_at,\n  d.metadata->>'entity_name'                        AS entity_name,\n  d.metadata->'entity_metadata'->'urls'->>'rsi_store'  AS rsi_store_url,\n  d.metadata->'entity_metadata'->'urls'->>'video'      AS video_url,\n  d.metadata->'entity_metadata'->'urls'->>'uex_photo'  AS uex_photo_url\nFROM kb_content kc\nLEFT JOIN LATERAL (\n  SELECT metadata FROM documents\n  WHERE metadata->>'entity_slug' = $1\n  LIMIT 1\n) d ON true\nWHERE kc.entity_slug = $1\nORDER BY CASE kc.entity_type\n  WHEN 'planet'    THEN 1\n  WHEN 'moon'      THEN 2\n  WHEN 'system'    THEN 3\n  WHEN 'location'  THEN 4\n  WHEN 'terminal'  THEN 5\n  WHEN 'vehicle'   THEN 6\n  WHEN 'commodity' THEN 7\n  ELSE 9\nEND\nLIMIT 1","options":{"queryReplacement":"={{ $json.query.slug }}"}},"id":"c44ef6ef-fc5d-4f99-a318-43b742b078fd","name":"Get KB Content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-384,352],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"\nSELECT\n  s.group_key, s.group_label, s.entity_type, s.sub_key, s.sub_field,\n  COALESCE(fcc.display_name_override, s.display_name) AS display_name,\n  s.total_count, s.browse_count, s.group_sort, s.sub_sort, s.parent_key\nFROM (\n\n  -- ── Weapons ────────────────────────────────────────────────────────────────\n  SELECT\n    'weapons'::text AS group_key, 'Weapons'::text AS group_label,\n    'weapon'::text  AS entity_type,\n    payload->>'category' AS sub_key, 'category'::text AS sub_field,\n    CASE payload->>'category'\n      WHEN 'fps'         THEN 'FPS Weapons'\n      WHEN 'ship'        THEN 'Ship Weapons'\n      WHEN 'attachments' THEN 'Attachments'\n      ELSE initcap(payload->>'category')\n    END AS display_name,\n    COUNT(*)::int AS total_count,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int AS browse_count,\n    1 AS group_sort,\n    CASE payload->>'category'\n      WHEN 'fps' THEN 1 WHEN 'ship' THEN 2 WHEN 'attachments' THEN 3 ELSE 9\n    END AS sub_sort,\n    NULL::text AS parent_key\n  FROM entity_display WHERE entity_type = 'weapon' AND NOT hidden\n  GROUP BY payload->>'category'\n\n  UNION ALL\n\n  -- ── Armor ──────────────────────────────────────────────────────────────────\n  SELECT\n    'armor', 'Armor', 'armor', payload->>'slot', 'slot',\n    CASE payload->>'slot'\n      WHEN 'Helmet' THEN 'Helmets' WHEN 'Torso'     THEN 'Body Armor'\n      WHEN 'Legs'   THEN 'Legs'    WHEN 'Arms'       THEN 'Arms'\n      WHEN 'Undersuit' THEN 'Undersuits' WHEN 'Backpack' THEN 'Backpacks'\n      ELSE initcap(payload->>'slot')\n    END,\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int,\n    2,\n    CASE payload->>'slot'\n      WHEN 'Helmet' THEN 1 WHEN 'Torso' THEN 2 WHEN 'Legs' THEN 3\n      WHEN 'Arms'   THEN 4 WHEN 'Undersuit' THEN 5 WHEN 'Backpack' THEN 6\n      ELSE 9\n    END,\n    NULL::text\n  FROM entity_display WHERE entity_type = 'armor' AND NOT hidden\n  GROUP BY payload->>'slot'\n\n  UNION ALL\n\n  -- ── Vehicles: Ships ────────────────────────────────────────────────────────\n  SELECT 'vehicles','Vehicles','vehicle',NULL,NULL,'Ships',\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int,\n    3, 1, NULL::text\n  FROM entity_display WHERE entity_type = 'vehicle' AND NOT hidden\n\n  UNION ALL\n\n  -- ── Vehicles: Ground Vehicles ──────────────────────────────────────────────\n  SELECT 'vehicles','Vehicles','ground_vehicle',NULL,NULL,'Ground Vehicles',\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE is_base_variant IS NULL OR is_base_variant = true)::int,\n    3, 2, NULL::text\n  FROM entity_display WHERE entity_type = 'ground_vehicle' AND NOT hidden\n\n  UNION ALL\n\n  -- ── Vehicles: Ship Components summary ─────────────────────────────────────\n  SELECT 'vehicles','Vehicles','component','components',NULL,'Ship Components',\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE hi.slug IS NULL)::int,\n    3, 3, NULL::text\n  FROM entity_display ed\n  LEFT JOIN datap4k_hidden_items hi\n    ON hi.slug = ed.slug AND hi.entity_type = 'component'\n  WHERE ed.entity_type = 'component'\n\n  UNION ALL\n\n  -- ── Component sub-sub-types (children of 'components') ────────────────────\n  -- folder_category_config filtering handled by outer wrapper JOIN\n  SELECT\n    'vehicles','Vehicles','component',\n    comp_type, 'type',\n    CASE comp_type\n      WHEN 'PowerPlant'                   THEN 'Power Plants'\n      WHEN 'Cooler'                        THEN 'Coolers'\n      WHEN 'Shield'                        THEN 'Shields'\n      WHEN 'QuantumDrive'                  THEN 'Quantum Drives'\n      WHEN 'MiningModifier'                THEN 'Mining Modifiers'\n      WHEN 'Module'                        THEN 'Modules'\n      WHEN 'SalvageModifier'               THEN 'Salvage Equipment'\n      WHEN 'ExternalFuelTank'              THEN 'External Fuel Tanks'\n      WHEN 'TractorBeam'                   THEN 'Tractor Beams'\n      WHEN 'EMP'                           THEN 'EMP'\n      WHEN 'Cargo'                         THEN 'Cargo'\n      WHEN 'LifeSupportGenerator'          THEN 'Life Support'\n      WHEN 'QuantumFuelTank'               THEN 'Quantum Fuel Tanks'\n      WHEN 'DockingCollar'                 THEN 'Docking Collars'\n      WHEN 'QuantumInterdictionGenerator'  THEN 'QI Generators'\n      WHEN 'JumpDrive'                     THEN 'Jump Drives'\n      ELSE comp_type\n    END,\n    COUNT(*)::int,\n    COUNT(*) FILTER (WHERE hidden = false)::int,\n    3,\n    CASE comp_type\n      WHEN 'PowerPlant' THEN 31 WHEN 'Cooler' THEN 32 WHEN 'Shield' THEN 33\n      WHEN 'QuantumDrive' THEN 34 WHEN 'MiningModifier' THEN 35 WHEN 'Module' THEN 36\n      WHEN 'SalvageModifier' THEN 37 WHEN 'ExternalFuelTank' THEN 38\n      WHEN 'TractorBeam' THEN 39 WHEN 'EMP' THEN 40 WHEN 'Cargo' THEN 41\n      WHEN 'LifeSupportGenerator' THEN 42 WHEN 'QuantumFuelTank' THEN 43\n      WHEN 'DockingCollar' THEN 44 WHEN 'QuantumInterdictionGenerator' THEN 45\n      WHEN 'JumpDrive' THEN 46 ELSE 99\n    END,\n    'components'::text\n  FROM (\n    SELECT\n      ed.payload->>'type'   AS comp_type,\n      (hi.slug IS NOT NULL) AS hidden\n    FROM entity_display ed\n    LEFT JOIN datap4k_hidden_items hi\n      ON hi.slug = ed.slug AND hi.entity_type = 'component'\n    WHERE ed.entity_type = 'component'\n      AND ed.payload->>'type' IN (\n        'PowerPlant','Cooler','Shield','QuantumDrive','MiningModifier',\n        'Module','SalvageModifier','ExternalFuelTank','TractorBeam',\n        'EMP','Cargo','LifeSupportGenerator','QuantumFuelTank',\n        'DockingCollar','QuantumInterdictionGenerator','JumpDrive'\n      )\n  ) comp_base\n  GROUP BY comp_type\n  HAVING COUNT(*) FILTER (WHERE hidden = false) >= 3\n\n  UNION ALL\n\n  -- ── Mining ─────────────────────────────────────────────────────────────────\n  SELECT\n    'mining','Mining','mining', payload->>'section','section',\n    CASE payload->>'section'\n      WHEN 'elements' THEN 'Elements' WHEN 'compositions' THEN 'Compositions'\n      WHEN 'planet-mineables' THEN 'Planet Mineables'\n      ELSE initcap(replace(payload->>'section','-',' '))\n    END,\n    COUNT(*)::int, COUNT(*)::int,\n    4,\n    CASE payload->>'section'\n      WHEN 'elements' THEN 1 WHEN 'compositions' THEN 2\n      WHEN 'planet-mineables' THEN 3 ELSE 9\n    END,\n    NULL::text\n  FROM entity_display WHERE entity_type = 'mining' AND NOT hidden\n  GROUP BY payload->>'section'\n\n  UNION ALL\n\n  -- ── Items ──────────────────────────────────────────────────────────────────\n  SELECT\n    'items','Items','items', payload->>'category','category',\n    CASE payload->>'category'\n      WHEN 'misc' THEN 'Miscellaneous' WHEN 'food-drink' THEN 'Food & Drink'\n      WHEN 'melee' THEN 'Melee Weapons' WHEN 'medical-stim' THEN 'Medical & Stims'\n      WHEN 'tool-gadget' THEN 'Tools & Gadgets' WHEN 'hacking-tool' THEN 'Hacking Tools'\n      WHEN 'throwable' THEN 'Throwables' ELSE initcap(payload->>'category')\n    END,\n    COUNT(*)::int, COUNT(*)::int,\n    5,\n    CASE payload->>'category'\n      WHEN 'misc' THEN 1 WHEN 'food-drink' THEN 2 WHEN 'melee' THEN 3\n      WHEN 'medical-stim' THEN 4 WHEN 'tool-gadget' THEN 5\n      WHEN 'hacking-tool' THEN 6 WHEN 'throwable' THEN 7 ELSE 9\n    END,\n    NULL::text\n  FROM entity_display WHERE entity_type = 'items' AND NOT hidden\n  GROUP BY payload->>'category'\n\n  UNION ALL\n\n  -- ── Mining Gear ────────────────────────────────────────────────────────────\n  SELECT 'mining_gear','Mining Gear','mining_gear',NULL,NULL,'All Mining Gear',\n    COUNT(*)::int, COUNT(*)::int, 6, 1, NULL::text\n  FROM entity_display WHERE entity_type = 'mining_gear' AND NOT hidden\n\n  UNION ALL\n\n  -- ── Universe ───────────────────────────────────────────────────────────────\n  SELECT 'universe','Universe','system',NULL,NULL,'Star Systems',\n    COUNT(*)::int,COUNT(*)::int,7,1,NULL::text\n  FROM entity_display WHERE entity_type='system'\n  UNION ALL\n  SELECT 'universe','Universe','planet',NULL,NULL,'Planets',\n    COUNT(*)::int,COUNT(*)::int,7,2,NULL::text\n  FROM entity_display WHERE entity_type='planet'\n  UNION ALL\n  SELECT 'universe','Universe','moon',NULL,NULL,'Moons',\n    COUNT(*)::int,COUNT(*)::int,7,3,NULL::text\n  FROM entity_display WHERE entity_type='moon'\n  UNION ALL\n  SELECT 'universe','Universe','location',NULL,NULL,'Locations',\n    COUNT(*)::int,COUNT(*)::int,7,4,NULL::text\n  FROM entity_display WHERE entity_type='location'\n\n  UNION ALL\n\n  -- ── Economy ────────────────────────────────────────────────────────────────\n  SELECT 'economy','Economy','terminal',NULL,NULL,'Trade Terminals',\n    COUNT(*)::int,COUNT(*)::int,8,1,NULL::text\n  FROM entity_display WHERE entity_type='terminal'\n  UNION ALL\n  SELECT 'economy','Economy','commodity',NULL,NULL,'Commodities',\n    COUNT(*)::int,COUNT(*)::int,8,2,NULL::text\n  FROM entity_display WHERE entity_type='commodity'\n  UNION ALL\n  SELECT 'economy','Economy','company',NULL,NULL,'Companies',\n    COUNT(*)::int,COUNT(*)::int,8,3,NULL::text\n  FROM entity_display WHERE entity_type='company'\n\n) s\n-- ── Universal config filter + display_name_override ─────────────────────────\n-- NULL sub_key rows (flat entries) never match the JOIN — always shown\n-- Any non-null sub_key can be hidden by inserting a row with hidden=true\nLEFT JOIN folder_category_config fcc\n  ON  fcc.group_key   = s.group_key\n  AND fcc.entity_type = s.entity_type\n  AND fcc.sub_key     = s.sub_key\nWHERE fcc.hidden IS NOT TRUE\n-- group_sort keeps groups in order\n-- COALESCE(parent_key,'') groups children after their parent row\n-- COALESCE(sort_order, sub_sort) puts lower sort_order values first within context\nORDER BY s.group_sort, COALESCE(s.parent_key, ''), COALESCE(fcc.sort_order, s.sub_sort)\n","options":{}},"id":"4cbc9a7c-09c0-4b42-8f22-dbad9f473d27","name":"Get KB Folders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-608,128],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst groupMap   = {};\nconst groupOrder = [];\n\nfor (const item of items) {\n  const {\n    group_key, group_label, entity_type,\n    sub_key, sub_field, display_name,\n    total_count, browse_count, parent_key\n  } = item.json;\n\n  if (!groupMap[group_key]) {\n    groupMap[group_key] = {\n      group_key, group_label,\n      total_count: 0, browse_count: 0,\n      sub_types: []\n    };\n    groupOrder.push(group_key);\n  }\n\n  const g = groupMap[group_key];\n\n  if (!parent_key) {\n    // Normal sub_type — add to group, accumulate group totals\n    g.total_count  += Number(total_count);\n    g.browse_count += Number(browse_count);\n    const entry = {\n      entity_type,\n      sub_key:     sub_key   || null,\n      sub_field:   sub_field || null,\n      display_name,\n      total_count:  Number(total_count),\n      browse_count: Number(browse_count)\n    };\n    // Pre-attach children array for entries that will have children\n    // (identified by sub_key matching a known parent key)\n    entry._childrenHolder = sub_key || null;\n    g.sub_types.push(entry);\n  } else {\n    // Sub-sub-type — find parent sub_type by its sub_key matching parent_key\n    const parent = g.sub_types.find(st => st._childrenHolder === parent_key);\n    if (parent) {\n      if (!parent.children) parent.children = [];\n      parent.children.push({\n        entity_type,\n        sub_key:     sub_key   || null,\n        sub_field:   sub_field || null,\n        display_name,\n        total_count:  Number(total_count),\n        browse_count: Number(browse_count)\n      });\n    }\n  }\n}\n\n// Clean up internal marker\nfor (const g of Object.values(groupMap)) {\n  for (const st of g.sub_types) {\n    delete st._childrenHolder;\n  }\n}\n\nreturn [{ json: { groups: groupOrder.map(k => groupMap[k]) } }];\n"},"id":"b689a3c0-da32-41e7-9328-40d7ed93d922","name":"Format Folder List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,128]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,-80],"id":"f1698989-dc27-4f4c-b6bb-fe9b24f87780","name":"Manual testing node"}],"connections":{"Entity Type":{"main":[[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"What Job","type":"main","index":0}],[{"node":"Error missing entity type","type":"main","index":0}]]},"Get Full Document List":{"main":[[{"node":"add Count","type":"main","index":0}]]},"Webhook Site":{"main":[[{"node":"Normalize query params","type":"main","index":0}]]},"What Job":{"main":[[{"node":"Check Q length and not empty","type":"main","index":0}],[{"node":"Get Full Document List","type":"main","index":0}],[{"node":"Error missing Job","type":"main","index":0}]]},"Error missing Job":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Normalize query params":{"main":[[{"node":"What Job1","type":"main","index":0}]]},"Get Search by Entity type":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Source Type":{"main":[[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Get Search by Entity and Source type","type":"main","index":0}],[{"node":"Error invalid source type","type":"main","index":0}]]},"Error invalid source type":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error missing entity type":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Search by Entity and Source type":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"source type empty?":{"main":[[{"node":"Source Type","type":"main","index":0}],[{"node":"Get Search by Entity type","type":"main","index":0}]]},"Error query missing or short":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"add Count":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Check Q length and not empty":{"main":[[{"node":"Type General check","type":"main","index":0}],[{"node":"Error query missing or short","type":"main","index":0}]]},"Type General check":{"main":[[{"node":"source type empty?","type":"main","index":0}],[{"node":"Get Search Q only","type":"main","index":0}]]},"Get Search Q only":{"main":[[{"node":"add Count1","type":"main","index":0}]]},"add Count1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook lookup":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook FolderList":{"main":[[{"node":"Get KB Folders","type":"main","index":0}]]},"What Job1":{"main":[[{"node":"Entity Type","type":"main","index":0}],[{"node":"Get Full Document List","type":"main","index":0}],[{"node":"Error missing Job","type":"main","index":0}]]},"If":{"main":[[{"node":"Get KB Content","type":"main","index":0}],[{"node":"Error missing slug","type":"main","index":0}]]},"Error missing slug":{"main":[[{"node":"Respond to lookup","type":"main","index":0}]]},"Get KB Content":{"main":[[{"node":"Respond to lookup","type":"main","index":0}]]},"Get KB Folders":{"main":[[{"node":"Format Folder List","type":"main","index":0}]]},"Format Folder List":{"main":[[{"node":"Respond to lookup1","type":"main","index":0}]]},"Manual testing node":{"main":[[{"node":"Get KB Folders","type":"main","index":0}]]}},"pinData":{},"meta":null}