2026/05/25/K4LiVZ1DWXuQbyk3.json
{"nodes":[{"parameters":{},"id":"94dcf1b4-ce83-4a90-b025-072c61cfe539","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,0]},{"parameters":{"inputSource":"passthrough"},"id":"93799c17-37d2-44e1-bbcf-29f32254d9ad","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-176]},{"parameters":{"operation":"executeQuery","query":"SELECT id, slug, name, manufacturer, category\nFROM datap4k_mining_gear_norm\nORDER BY category, name;","options":{}},"id":"ca4d4cd5-078d-4210-9be3-b105c97b8f49","name":"Mining Gear – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,0],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"options":{}},"id":"2e89dd48-2a3f-40d7-8fbf-957e041e3140","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  mg.id, mg.raw_id, mg.slug, mg.name, mg.manufacturer, mg.category, mg.size,\n  mg.filter_modifier, mg.shatter_modifier, mg.charge_rate_modifier,\n  mg.instability_modifier, mg.window_size_modifier, mg.catastrophic_rate_modifier,\n  mg.stats, mg.uex_id,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'terminal', t.name,\n      'buy', p.buy_price,\n      'sell', p.sell_price\n    ) ORDER BY t.name)\n    FROM prices p\n    JOIN trade_terminals t ON t.id = p.terminal_id\n    WHERE p.item_external_id = mg.uex_id\n      AND mg.uex_id IS NOT NULL\n      AND GREATEST(COALESCE(p.buy_price, 0), COALESCE(p.sell_price, 0)) > 0\n  ), '[]'::jsonb) AS uex_prices,\n\n  COALESCE((\n    SELECT jsonb_agg(jsonb_build_object(\n      'shop', si.shop,\n      'location', si.location,\n      'buy', si.buy_auec,\n      'sell', si.sell_auec\n    ) ORDER BY si.shop)\n    FROM datap4k_shop_inventory si\n    WHERE si.item_raw_id = mg.raw_id\n      AND si.item_raw_table = 'datap4k_mining_gear_raw'\n      AND GREATEST(COALESCE(si.buy_auec, 0), COALESCE(si.sell_auec, 0)) > 0\n  ), '[]'::jsonb) AS datap4k_prices\n\nFROM datap4k_mining_gear_norm mg\nWHERE mg.id = {{$json[\"id\"]}};","options":{}},"id":"d72a930c-c36b-43b6-9868-17c8c3b12bfd","name":"Mining Gear – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[592,16],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"functionCode":"var row = items[0].json;\nvar catLabels = {\n  'mining-laser': 'Mining Laser',\n  'mining-module-active': 'Mining Module (Active)',\n  'mining-module-passive': 'Mining Module (Passive)',\n  'mining-gadget': 'Mining Gadget'\n};\nvar categoryLabel = catLabels[row.category] || row.category || 'Mining Gear';\n\nfunction fmtMod(v) {\n  if (v === null || v === undefined || v === '') return null;\n  var n = Number(v);\n  if (!Number.isFinite(n)) return null;\n  return (n >= 0 ? '+' : '') + n + '%';\n}\n\n\nfunction parsePrices(raw) {\n  if (!raw) return [];\n  if (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { return []; } }\n  if (Array.isArray(raw)) return raw;\n  return [];\n}\nfunction fmtPrice(v) {\n  if (v === null || v === undefined) return null;\n  var n = Number(v);\n  if (!Number.isFinite(n) || n <= 0) return null;\n  return n.toLocaleString('en-US', {minimumFractionDigits: 0, maximumFractionDigits: 0});\n}\nvar uexPrices = parsePrices(row.uex_prices);\nvar datap4kPrices = parsePrices(row.datap4k_prices);\nvar hasUex = uexPrices.length > 0;\nvar hasDp4k = datap4kPrices.length > 0;\n\nvar lines = [];\nlines.push('# ' + row.name);\nlines.push('');\nlines.push('- **Category:** ' + categoryLabel);\nif (row.manufacturer) lines.push('- **Manufacturer:** ' + row.manufacturer);\nif (row.size) lines.push('- **Size:** ' + row.size);\nlines.push('');\n\nif (row.category === 'mining-laser') {\n  lines.push('## Stats');\n  lines.push('');\n  var statRows = [\n    ['Filter Modifier', fmtMod(row.filter_modifier)],\n    ['Shatter Modifier', fmtMod(row.shatter_modifier)],\n    ['Charge Rate Modifier', fmtMod(row.charge_rate_modifier)],\n    ['Instability Modifier', fmtMod(row.instability_modifier)],\n    ['Window Size Modifier', fmtMod(row.window_size_modifier)],\n    ['Catastrophic Rate Modifier', fmtMod(row.catastrophic_rate_modifier)]\n  ].filter(function(r) { return r[1] !== null; });\n  if (statRows.length) {\n    lines.push('| Stat | Value |');\n    lines.push('|---|---|');\n    for (var i = 0; i < statRows.length; i++) lines.push('| ' + statRows[i][0] + ' | ' + statRows[i][1] + ' |');\n  } else { lines.push('_No stat data available._'); }\n} else {\n  var stats = row.stats;\n  if (typeof stats === 'string') { try { stats = JSON.parse(stats); } catch(e) { stats = []; } }\n  if (Array.isArray(stats) && stats.length > 0) {\n    lines.push('## Modifiers');\n    lines.push('');\n    lines.push('| Effect | Value |');\n    lines.push('|---|---|');\n    for (var j = 0; j < stats.length; j++) lines.push('| ' + stats[j].label + ' | ' + stats[j].value + ' |');\n  } else { lines.push('## Modifiers'); lines.push(''); lines.push('_No modifier data available._'); }\n}\n\nlines.push('');\nlines.push('## Availability');\nlines.push('');\nif (hasUex) {\n  lines.push('> _Prices from UEX (live data)._');\n  lines.push('');\n  lines.push('| Terminal | Buy (aUEC) | Sell (aUEC) |');\n  lines.push('|---|---|---|');\n  for (var k = 0; k < uexPrices.length; k++) {\n    var p = uexPrices[k];\n    lines.push('| ' + p.terminal + ' | ' + (fmtPrice(p.buy) || '-') + ' | ' + (fmtPrice(p.sell) || '-') + ' |');\n  }\n} else if (hasDp4k) {\n  lines.push('> _Prices from DataPack (may be outdated)._');\n  lines.push('');\n  lines.push('| Shop | Location | Buy (aUEC) | Sell (aUEC) |');\n  lines.push('|---|---|---|---|');\n  for (var m = 0; m < datap4kPrices.length; m++) {\n    var dp = datap4kPrices[m];\n    lines.push('| ' + dp.shop + ' | ' + dp.location + ' | ' + (fmtPrice(dp.buy) || '-') + ' | ' + (fmtPrice(dp.sell) || '-') + ' |');\n  }\n} else {\n  lines.push('_No purchase pricing currently available._');\n}\n\nreturn [{ json: { item_id: row.id, slug: row.slug, name: row.name, markdown_detailed: lines.join('\\n') } }];\n"},"id":"ab8fac49-8251-46bc-8d1f-4e54775b00d7","name":"Build Markdown","type":"n8n-nodes-base.function","typeVersion":1,"position":[752,16]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) \"\n  + \"VALUES ('\" + slug + \"', 'mining_gear', NULL, '\" + content + \"', 'KB - Mining Gear Markdown v1', now(), now()) \"\n  + \"ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, \"\n  + \"source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];\n"},"id":"3b39151b-5ffc-4506-acb1-eb3335b996a7","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"ea5850a4-2837-44bf-8bf9-180f7a8e171d","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1200,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Mining Gear – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Mining Gear – List","type":"main","index":0}]]},"Mining Gear – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Mining Gear – Detail","type":"main","index":0}]]},"Mining Gear – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}