2026/05/25/pTuo4A7gEmnaS2Bo.json
{"nodes":[{"parameters":{},"id":"8b9efe18-4138-4fd2-a5db-93c5cf927f05","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,-192]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-288],"id":"0c6a0803-fd35-4775-9ddf-394b89e556c7","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,-384],"id":"07cad95b-ae29-4a02-ad3b-c002b7651246","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n  v.id,\n  v.name\nFROM vehicles v\nORDER BY v.name;","options":{}},"id":"8b6761e9-8c78-45b8-b7ec-39a59c326991","name":"Vehicles – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[64,-288],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  v.id,\n  v.name,\n  v.name_full,\n  v.slug,\n  split_part(v.source_id, ':', 2)::int AS uex_vehicle_id,\n\n  -- Core identity\n  v.company_name,\n  v.company_uex_id,\n  v.scu,\n  v.crew_min,\n  v.crew_max,\n  v.pad_type,\n  v.game_version,\n  v.is_spaceship,\n  v.is_ground_vehicle,\n  v.is_concept,\n  v.is_quantum_capable,\n  v.metadata->'raw'->>'container_sizes' AS container_sizes,\n\n  -- Some interesting flags from metadata.raw (optional, can be null)\n  (v.metadata->'raw'->>'is_military')::int    AS is_military,\n  (v.metadata->'raw'->>'is_civilian')::int    AS is_civilian,\n  (v.metadata->'raw'->>'is_industrial')::int  AS is_industrial,\n  (v.metadata->'raw'->>'is_exploration')::int AS is_exploration,\n  (v.metadata->'raw'->>'is_mining')::int      AS is_mining,\n  (v.metadata->'raw'->>'is_transport')::int   AS is_transport,\n\n  /* ========== PURCHASE LOCATIONS (aUEC) ========== */\n\n  COALESCE((\n    SELECT COUNT(*)\n    FROM vehicle_purchase_prices vpp\n    WHERE vpp.vehicle_id = v.id\n      AND vpp.price_buy > 0\n  ), 0) AS purchase_count,\n\n  COALESCE((\n    SELECT jsonb_agg(\n             jsonb_build_object(\n               'star_system_name', vpp.star_system_name,\n               'planet_name',      vpp.planet_name,\n               'city_name',        vpp.city_name,\n               'orbit_name',       vpp.orbit_name,\n               'terminal_name',    vpp.terminal_name,\n               'terminal_code',    vpp.terminal_code,\n               'price_buy',        vpp.price_buy\n             )\n             ORDER BY\n               vpp.star_system_name,\n               vpp.planet_name,\n               vpp.city_name,\n               vpp.orbit_name,\n               vpp.terminal_name\n           )\n    FROM vehicle_purchase_prices vpp\n    WHERE vpp.vehicle_id = v.id\n      AND vpp.price_buy > 0\n  ), '[]'::jsonb) AS purchase_points,\n\n  /* ========== RENTAL LOCATIONS ========== */\n\n  COALESCE((\n    SELECT COUNT(*)\n    FROM vehicle_rental_prices vrp\n    WHERE vrp.vehicle_id = v.id\n      AND vrp.price_rent > 0\n  ), 0) AS rental_count,\n\n  COALESCE((\n    SELECT jsonb_agg(\n             jsonb_build_object(\n               'star_system_name', vrp.star_system_name,\n               'planet_name',      vrp.planet_name,\n               'city_name',        vrp.city_name,\n               'orbit_name',       vrp.orbit_name,\n               'terminal_name',    vrp.terminal_name,\n               'terminal_code',    vrp.terminal_code,\n               'price_rent',       vrp.price_rent\n             )\n             ORDER BY\n               vrp.star_system_name,\n               vrp.planet_name,\n               vrp.city_name,\n               vrp.orbit_name,\n               vrp.terminal_name\n           )\n    FROM vehicle_rental_prices vrp\n    WHERE vrp.vehicle_id = v.id\n      AND vrp.price_rent > 0\n  ), '[]'::jsonb) AS rental_points,\n\n  /* ========== PLEDGE STORE PRICES (USD/etc) ========== */\n\n  COALESCE((\n    SELECT COUNT(*)\n    FROM vehicle_store_prices vsp\n    WHERE vsp.vehicle_id = v.id\n      AND COALESCE(vsp.price, 0) > 0\n  ), 0) AS store_count,\n\n  COALESCE((\n    SELECT jsonb_agg(\n             jsonb_build_object(\n               'currency',         vsp.currency,\n               'price',            vsp.price,\n               'price_package',    vsp.price_package,\n               'price_warbond',    vsp.price_warbond,\n               'price_concierge',  vsp.price_concierge,\n               'on_sale',          vsp.on_sale,\n               'on_sale_package',  vsp.on_sale_package,\n               'on_sale_warbond',  vsp.on_sale_warbond,\n               'on_sale_concierge',vsp.on_sale_concierge,\n               'game_version',     vsp.game_version\n             )\n             ORDER BY vsp.game_version\n           )\n    FROM vehicle_store_prices vsp\n    WHERE vsp.vehicle_id = v.id\n      AND COALESCE(vsp.price, 0) > 0\n  ), '[]'::jsonb) AS store_prices\n\nFROM vehicles v\nWHERE v.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"a7678011-4434-4d7b-9968-8bc91c25f9cb","name":"Vehicles – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[512,-272],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"functionCode":"const row = $json;\n\n// ---------- helpers ----------\n\nfunction cleanBoolFlag(x) {\n  if (x === null || x === undefined) return null;\n  // Some are stored as 0/1 ints in metadata\n  const n = Number(x);\n  if (!Number.isNaN(n)) return n !== 0 ? 'Yes' : 'No';\n  const s = String(x).toLowerCase();\n  if (['true', 't', 'yes', 'y', '1'].includes(s)) return 'Yes';\n  if (['false', 'f', 'no', 'n', '0'].includes(s)) return 'No';\n  return null;\n}\n\nfunction parseJsonArray(value) {\n  if (Array.isArray(value)) return value;\n  if (!value) return [];\n  if (typeof value === 'object') return Object.values(value);\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch {\n      return [];\n    }\n  }\n  return [];\n}\n\n// Build \"System / Location – Terminal\" label\nfunction formatLocationEntry(p, priceKey) {\n  if (!p || typeof p !== 'object') return {\n    label: 'Unknown location / terminal',\n    price: null,\n  };\n\n  const system   = String(p.star_system_name || '').trim();\n  const planet   = String(p.planet_name      || '').trim();\n  const city     = String(p.city_name        || '').trim();\n  const orbit    = String(p.orbit_name       || '').trim();\n  const terminal = String(p.terminal_name    || '').trim();\n  const code     = String(p.terminal_code    || '').trim();\n\n  let locBits = [];\n  if (system) locBits.push(system);\n  if (planet) locBits.push(planet);\n  if (city)   locBits.push(city);\n  if (orbit && !locBits.includes(orbit)) locBits.push(orbit);\n\n  let label = '';\n  if (locBits.length) label = locBits.join(' / ');\n  if (terminal) label += (label ? ' – ' : '') + terminal;\n  if (code)     label += ` (${code})`;\n\n  if (!label) label = 'Unknown location / terminal';\n\n  const price = priceKey && p[priceKey] != null\n    ? Number(p[priceKey])\n    : null;\n\n  return { label, price };\n}\n\n// Select 2 lowest, 2 highest, 1 middle by price\nfunction pickFiveByPrice(entries) {\n  const withPrice = entries\n    .filter(e => typeof e.price === 'number' && !Number.isNaN(e.price))\n    .sort((a, b) => a.price - b.price);\n\n  if (withPrice.length <= 5) return withPrice;\n\n  const first = withPrice[0];\n  const second = withPrice[1];\n  const last = withPrice[withPrice.length - 1];\n  const secondLast = withPrice[withPrice.length - 2];\n  const midIndex = Math.floor(withPrice.length / 2);\n  const mid = withPrice[midIndex];\n\n  // Deduplicate if there are very few unique prices\n  const result = [];\n  const seen = new Set();\n  for (const e of [first, second, mid, secondLast, last]) {\n    const key = `${e.label}|${e.price}`;\n    if (!seen.has(key)) {\n      seen.add(key);\n      result.push(e);\n    }\n  }\n  return result;\n}\n\n// ---------- parse arrays from row ----------\n\nconst purchasePointsRaw = parseJsonArray(row.purchase_points);\nconst rentalPointsRaw   = parseJsonArray(row.rental_points);\nconst storePricesRaw    = parseJsonArray(row.store_prices);\n\nconst purchaseEntries = purchasePointsRaw.map(p => formatLocationEntry(p, 'price_buy'));\nconst rentalEntries   = rentalPointsRaw.map(p => formatLocationEntry(p, 'price_rent'));\n\nconst storeEntries = storePricesRaw.map(sp => {\n  if (!sp || typeof sp !== 'object') return null;\n  const currency = String(sp.currency || '').trim() || 'N/A';\n  const price    = sp.price != null ? Number(sp.price) : null;\n  const gv       = String(sp.game_version || '').trim();\n  const onSale   = cleanBoolFlag(sp.on_sale);\n  return { currency, price, gameVersion: gv, onSale };\n}).filter(Boolean);\n\n// ---------- container sizes ----------\n\nlet containerSizes = [];\n\nif (row.container_sizes) {\n  // If your SQL already selects metadata->'raw'->>'container_sizes' AS container_sizes\n  containerSizes = String(row.container_sizes)\n    .split(',')\n    .map(s => s.trim())\n    .filter(Boolean);\n} else if (row.metadata && row.metadata.raw && row.metadata.raw.container_sizes) {\n  // Fallback: pull directly from metadata.raw if needed\n  containerSizes = String(row.metadata.raw.container_sizes)\n    .split(',')\n    .map(s => s.trim())\n    .filter(Boolean);\n}\n\n// Normalize to ints and only keep valid SCU sizes\nconst validSizes = [1, 2, 4, 8, 16, 24, 32];\ncontainerSizes = containerSizes\n  .map(s => Number(s))\n  .filter(n => Number.isInteger(n) && validSizes.includes(n))\n  .sort((a, b) => a - b);\n\n\n// ---------- shared header ----------\n\nconst headerLines = [];\n\nheaderLines.push(`# ${row.name}`);\nheaderLines.push('');\n\nif (row.name_full && row.name_full !== row.name) {\n  headerLines.push(`- **Full Name:** ${row.name_full}`);\n}\n\nif (row.company_name) {\n  headerLines.push(`- **Manufacturer:** ${row.company_name}`);\n}\n\nheaderLines.push(`- **UEX Vehicle ID:** ${row.uex_vehicle_id || 'N/A'}`);\n\nif (row.scu != null) {\n  let line = `- **SCU Capacity:** ${row.scu}`;\n\n  if (containerSizes && containerSizes.length) {\n    line += ` (Supports ${containerSizes.join(', ')} containers)`;\n  }\n\n  headerLines.push(line);\n}\n\n\nconst crewBits = [];\nif (row.crew_min != null) crewBits.push(`Min ${row.crew_min}`);\nif (row.crew_max != null) crewBits.push(`Max ${row.crew_max}`);\nif (crewBits.length) {\n  headerLines.push(`- **Crew:** ${crewBits.join(' / ')}`);\n}\n\nif (row.pad_type) {\n  headerLines.push(`- **Pad Size:** ${row.pad_type}`);\n}\n\nconst roleTags = [];\nif (cleanBoolFlag(row.is_military)   === 'Yes') roleTags.push('Military');\nif (cleanBoolFlag(row.is_civilian)   === 'Yes') roleTags.push('Civilian');\nif (cleanBoolFlag(row.is_industrial) === 'Yes') roleTags.push('Industrial');\nif (cleanBoolFlag(row.is_exploration)=== 'Yes') roleTags.push('Exploration');\nif (cleanBoolFlag(row.is_mining)     === 'Yes') roleTags.push('Mining');\nif (cleanBoolFlag(row.is_transport)  === 'Yes') roleTags.push('Transport');\nif (roleTags.length) {\n  headerLines.push(`- **Role Flags:** ${roleTags.join(', ')}`);\n}\n\nconst flags = [];\nconst fSpaceship = cleanBoolFlag(row.is_spaceship);\nconst fGround    = cleanBoolFlag(row.is_ground_vehicle);\nconst fConcept   = cleanBoolFlag(row.is_concept);\nconst fQuantum   = cleanBoolFlag(row.is_quantum_capable);\nif (fSpaceship) flags.push(`Spaceship: ${fSpaceship}`);\nif (fGround)    flags.push(`Ground Vehicle: ${fGround}`);\nif (fConcept)   flags.push(`Concept: ${fConcept}`);\nif (fQuantum)   flags.push(`Quantum-Capable: ${fQuantum}`);\nif (flags.length) {\n  headerLines.push(`- **Flags:** ${flags.join(' | ')}`);\n}\n\nif (row.game_version) {\n  headerLines.push(`- **Last Seen Game Version (UEX):** ${row.game_version}`);\n}\n\nconst purchaseCount = Number(row.purchase_count ?? purchaseEntries.length) || 0;\nconst rentalCount   = Number(row.rental_count   ?? rentalEntries.length)   || 0;\nconst storeCount    = Number(row.store_count    ?? storeEntries.length)    || 0;\n\nheaderLines.push(`- **In-Game Purchase Offers (aUEC):** ${purchaseCount}`);\nheaderLines.push(`- **In-Game Rental Offers (aUEC):** ${rentalCount}`);\nheaderLines.push(`- **Pledge Store Entries:** ${storeCount}`);\nheaderLines.push('');\n\n// ---------- purchase summary (smart 5) ----------\n\nlet purchaseSummary = [];\nlet purchaseSuffix = '';\n\nif (purchaseCount <= 5) {\n  purchaseSummary = purchaseEntries;\n} else {\n  purchaseSummary = pickFiveByPrice(purchaseEntries);\n  purchaseSuffix = ` (${purchaseSummary.length} of ${purchaseCount})`;\n}\n\n// ---------- SUMMARY MARKDOWN ----------\n\nconst summaryLines = [...headerLines];\n\nsummaryLines.push(`## In-Game Purchase Locations${purchaseSuffix}`);\nsummaryLines.push('');\nsummaryLines.push('> _Note: Price data is based on UEX reports and may change with patches._');\nsummaryLines.push('');\n\nif (purchaseSummary.length === 0) {\n  summaryLines.push('_No confirmed in-game purchase locations recorded yet for this vehicle._');\n} else {\n  for (const p of purchaseSummary) {\n    const priceText = (typeof p.price === 'number' && !Number.isNaN(p.price))\n      ? `${p.price.toLocaleString('en-US')} aUEC`\n      : 'aUEC price unknown';\n    summaryLines.push(`- ${p.label}: ${priceText}`);\n  }\n  if (purchaseCount > purchaseSummary.length) {\n    summaryLines.push('… and more');\n  }\n}\n\n// Rentals summary (simple first 5)\nsummaryLines.push('');\nsummaryLines.push('## In-Game Rental Locations');\nsummaryLines.push('');\nsummaryLines.push('> _Where this ship can be rented in-game (if available)._');\nsummaryLines.push('');\n\nif (rentalEntries.length === 0) {\n  summaryLines.push('_No rental locations recorded yet for this vehicle._');\n} else {\n  const rentalsToShow = rentalEntries.slice(0, 5);\n  for (const r of rentalsToShow) {\n    const priceText = (typeof r.price === 'number' && !Number.isNaN(r.price))\n      ? `${r.price.toLocaleString('en-US')} aUEC`\n      : 'aUEC price unknown';\n    summaryLines.push(`- ${r.label}: ${priceText}`);\n  }\n  if (rentalEntries.length > rentalsToShow.length) {\n    summaryLines.push('… and more');\n  }\n}\n\n// Store prices summary\nsummaryLines.push('');\nsummaryLines.push('## Pledge Store Snapshot');\nsummaryLines.push('');\nsummaryLines.push('> _Non-exhaustive summary of recent pledge prices from UEX._');\nsummaryLines.push('');\n\nif (storeEntries.length === 0) {\n  summaryLines.push('_No pledge store data recorded yet for this vehicle._');\n} else {\n  const byCurrency = {};\n  for (const sp of storeEntries) {\n    if (!byCurrency[sp.currency]) byCurrency[sp.currency] = [];\n    byCurrency[sp.currency].push(sp);\n  }\n\n  for (const [currency, list] of Object.entries(byCurrency)) {\n    const prices = list\n      .map(x => x.price)\n      .filter(x => typeof x === 'number' && !Number.isNaN(x))\n      .sort((a, b) => a - b);\n    if (!prices.length) continue;\n\n    const min = prices[0];\n    const max = prices[prices.length - 1];\n    summaryLines.push(\n      `- ${currency}: ${min === max\n        ? `${min} (typical)`\n        : `${min} – ${max}`}`,\n    );\n  }\n}\n\n// ---------- DETAILED MARKDOWN ----------\n\nconst detailedLines = [...headerLines];\n\n// Detailed purchases\ndetailedLines.push('## In-Game Purchase Locations (Detailed)');\ndetailedLines.push('');\ndetailedLines.push('> _Full list of UEX-reported purchase offers for this ship._');\ndetailedLines.push('');\n\nif (purchaseEntries.length === 0) {\n  detailedLines.push('_No confirmed in-game purchase locations recorded yet for this vehicle._');\n} else {\n  for (const p of purchaseEntries) {\n    const priceText = (typeof p.price === 'number' && !Number.isNaN(p.price))\n      ? `${p.price.toLocaleString('en-US')} aUEC`\n      : 'aUEC price unknown';\n    detailedLines.push(`- ${p.label}: ${priceText}`);\n  }\n}\n\n// Detailed rentals\ndetailedLines.push('');\ndetailedLines.push('## In-Game Rental Locations (Detailed)');\ndetailedLines.push('');\ndetailedLines.push('> _Full list of UEX-reported rental offers for this ship._');\ndetailedLines.push('');\n\nif (rentalEntries.length === 0) {\n  detailedLines.push('_No rental locations recorded yet for this vehicle._');\n} else {\n  for (const r of rentalEntries) {\n    const priceText = (typeof r.price === 'number' && !Number.isNaN(r.price))\n      ? `${r.price.toLocaleString('en-US')} aUEC`\n      : 'aUEC price unknown';\n    detailedLines.push(`- ${r.label}: ${priceText}`);\n  }\n}\n\n// Detailed store prices\ndetailedLines.push('');\ndetailedLines.push('## Pledge Store History (Detailed)');\ndetailedLines.push('');\ndetailedLines.push('> _Each row reflects a recorded pledge-store listing from UEX._');\ndetailedLines.push('');\n\nif (storeEntries.length === 0) {\n  detailedLines.push('_No pledge store data recorded yet for this vehicle._');\n} else {\n  for (const sp of storeEntries) {\n    const priceText = (typeof sp.price === 'number' && !Number.isNaN(sp.price))\n      ? `${sp.price.toLocaleString('en-US')} ${sp.currency}`\n      : `Price unknown (${sp.currency})`;\n    const onSale = sp.onSale ? ` (On Sale: ${sp.onSale})` : '';\n    const gv = sp.gameVersion ? ` [Game: ${sp.gameVersion}]` : '';\n    detailedLines.push(`- ${priceText}${gv}${onSale}`);\n  }\n}\n\n// ---------- file paths ----------\n\nconst slug = String(row.slug || row.name || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\nconst filePathSummary  = `/RAG/KB/vehicles/${slug}.md`;\nconst filePathDetailed = `/RAG/KB/vehicles/${slug}_detailed.md`;\n\nreturn [\n  {\n    json: {\n      vehicle_id: row.id,\n      slug,\n      name: row.name,\n\n      markdown_summary:  summaryLines.join('\\n'),\n      filePath_summary:  filePathSummary,\n\n      markdown_detailed: detailedLines.join('\\n'),\n      filePath_detailed: filePathDetailed,\n    },\n  },\n];\n"},"id":"3bbc1a9d-c777-4fc1-9e85-55b189f26f95","name":"Build Markdown","type":"n8n-nodes-base.function","typeVersion":1,"position":[688,-272]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst entityId = item.vehicle_id || null;\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) VALUES ('\" + slug + \"', 'vehicle', '\" + entityId + \"'::uuid, '\" + content + \"', 'KB - Vehicles Markdown v2.2', now(), now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, entity_type = EXCLUDED.entity_type, source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"31d13a18-1b7c-49e2-a535-21a3ccf4e5f8","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-272]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"08da8c2a-4484-4a76-9155-7a6b9152793a","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1136,-272],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Vehicles – List","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Vehicles – Detail","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Vehicles – List","type":"main","index":0}]]},"Vehicles – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Vehicles – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}