2026/05/25/sbpG5lw7jLD8spVc.json
{"nodes":[{"parameters":{},"id":"6cdcf740-6761-4845-838a-6df6f05d294b","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-896,184]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,112],"id":"35b2690b-ceba-4030-992a-71b19295582a","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,-8],"id":"0202b96f-ce3a-469d-bc0c-64434109a799","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  b.id,\n  b.name,\n  COALESCE(\n    b.metadata->>'slug',\n    lower(regexp_replace(b.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug\nFROM bodies b\nJOIN systems s\n  ON s.id = b.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nWHERE COALESCE(b.metadata->>'is_available_live','1') = '1'\nORDER BY s.name, b.name;\n","options":{}},"id":"446127af-7c29-4917-9e6e-aa6e556a7da1","name":"Bodies – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-672,112],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  b.id,\n  b.name,\n  COALESCE(\n    b.metadata->>'slug',\n    lower(regexp_replace(b.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug,\n  s.name                   AS system_name,\n  b.metadata->>'id'        AS uex_body_id,\n  b.body_type      AS body_kind,     -- e.g. planet / moon (adjust if your metadata key differs)\n  COALESCE(loc.locations_total, 0)          AS locations_total,\n  COALESCE(loc.locations_list, '[]'::jsonb) AS locations_list\nFROM bodies b\nJOIN systems s\n  ON s.id = b.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nLEFT JOIN (\n  SELECT\n    l.body_id,\n    COUNT(*) AS locations_total,\n    jsonb_agg(l.name ORDER BY l.name) AS locations_list\n  FROM locations l\n  WHERE\n    COALESCE(l.metadata->>'is_available_live','1') = '1'\n  GROUP BY l.body_id\n) AS loc\n  ON loc.body_id = b.id\nWHERE b.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"d7096b38-ecbe-4dd7-9d6f-60d9be6b89b1","name":"Bodies – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-224,128],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,128],"id":"dd006fbe-3005-4130-9638-70cb8e5c560f","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,208],"id":"86a1a9c7-b7cb-4c0d-899e-fa1fe1c761d4","name":"Execute a SQL query","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — PLANETS + MOONS (Bodies)\n// Inputs (by node name):\n// - Bodies – Detail\n// Output:\n// - jsonkb (object), jsonkb_file_path, slug, folder, etc.\n// ============================================================\n\n// Pull body detail row\nconst bodyItems = $items(\"Bodies – Detail\");\nif (!bodyItems || bodyItems.length === 0) {\n  throw new Error('JSONKB Bodies: Missing input from node \"Bodies – Detail\".');\n}\nconst row = bodyItems[0].json;\n\n\n// ---------- Parse locations list ----------\nlet locations = [];\nif (Array.isArray(row.locations_list)) {\n  locations = row.locations_list;\n} else if (typeof row.locations_list === 'string') {\n  try { locations = JSON.parse(row.locations_list); } catch (e) { locations = []; }\n} else if (row.locations_list && typeof row.locations_list === 'object') {\n  locations = Object.values(row.locations_list);\n}\n\nlocations = (locations || [])\n  .map(n => String(n || '').trim())\n  .filter(n => n.length > 0)\n  .sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }));\n\nconst totalLocations = Number(row.locations_total ?? locations.length) || 0;\n\n\n// ---------- Classify body: planet vs moon ----------\nconst kindRaw = String(row.body_kind || '').toLowerCase();\nconst isMoon = kindRaw.includes('moon');\n\nconst entity_type = isMoon ? 'moon' : 'planet';\nconst folderSegment = isMoon ? 'moons' : 'planets';\nconst bodyTypeDisplay = isMoon ? 'Moon' : 'Planet';\n\n// ---------- Slug ----------\nconst slug = String(row.slug || row.name || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\nif (!slug) {\n  throw new Error('JSONKB Bodies: slug is empty (cannot write JSONKB file).');\n}\n\n\nconst kb_links = {\n  kb_page_path: `/kb/${entity_type}/${slug}`,\n  kb_browse_path: `/browse?category=${entity_type}`,\n};\n\n// ---------- Deterministic kb_text ----------\nconst name = row.name || `Unknown ${bodyTypeDisplay}`;\nconst systemName = row.system_name || 'Unknown system';\n\nconst kb_text =\n  `${name} is a ${bodyTypeDisplay.toLowerCase()} in the ${systemName} system with ${totalLocations} known locations.`;\n\n// ---------- entity_metadata ----------\nconst entity_metadata = {\n  uex_body_id: row.uex_body_id != null ? Number(row.uex_body_id) : null,\n  system_name: systemName,\n  body_type: entity_type,\n  location_count: totalLocations,\n  locations, // list of names\n};\n\n// ---------- rag_hints (stub) ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      id: \"body.core\",\n      description: \"Fetch a planet or moon by body id.\",\n      params: [{\"name\":\"body_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT b.id, b.name, b.slug, b.system_id, b.parent_body_id, b.body_type\nFROM bodies b\nWHERE b.id = :body_id\nLIMIT 1;`\n    },\n    {\n      id: \"body.moons\",\n      description: \"List moons for a planet body.\",\n      params: [{\"name\":\"planet_body_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT b.id, b.name, b.slug\nFROM bodies b\nWHERE b.parent_body_id = :planet_body_id\n  AND lower(b.body_type) = 'moon'\nORDER BY b.name;`\n    },\n    {\n      id: \"body.parent_planet\",\n      description: \"Fetch the parent planet for a moon.\",\n      params: [{\"name\":\"moon_body_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT p.id, p.name, p.slug\nFROM bodies m\nJOIN bodies p ON p.id = m.parent_body_id\nWHERE m.id = :moon_body_id\n  AND lower(m.body_type) = 'moon'\nLIMIT 1;`\n    },\n  ],\n  notes: null\n};\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Planet_Moons v1',\n  game_version: row.game_version || null,\n  is_live_only: true,\n};\n\n\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type,\n  entity_id: row.id || null,\n  entity_slug: slug,\n  entity_name: name,\n\n  source: 'uex',\nsource_id: row.uex_body_id != null ?  `${entity_type}:${Number(row.uex_body_id)}` : null,\n\n  source_table: 'bodies',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null; // defensive; shouldn’t happen\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm); // keep array order\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n\n    return v;\n  }\n\n  return JSON.stringify(norm(value));\n}\n\n// ---------- hash (FNV32 doubled => 16 hex chars) ----------\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/${entity_type}/${slug}`;\n\nreturn [\n  {\n    json: {\n      body_id: row.id,\n      slug,\n      name,\n      body_type: bodyTypeDisplay,\n      folder: folderSegment,\n\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"80b6acea-0b73-4dd0-99c8-0ac584c6bcae","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[0,128]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,128],"id":"fa915087-38c2-498f-9a7b-7ea4134180fd","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,128],"id":"d468c357-23d5-4fbe-9060-2919db8d42b4","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,128],"id":"48a4ca53-326d-42d3-afba-77765f2c43fa","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Bodies – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Bodies – List","type":"main","index":0}]]},"Bodies – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Bodies – Detail","type":"main","index":0}]]},"Bodies – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}