2026/05/25/WGin9OgRPIqVchVN.json
{"nodes":[{"parameters":{},"id":"a21d3527-e36b-43c6-9c03-001f6a84e793","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,-208]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,-208],"id":"9cea6131-ae17-4211-8a31-a43ed1299008","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,-384],"id":"0572bc2c-dc64-49ff-b8b9-f52acee2f8ba","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  tt.id\nFROM trade_terminals tt\nJOIN locations l\n  ON l.id = tt.location_id\nJOIN systems s\n  ON s.id = l.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nWHERE EXISTS (\n  SELECT 1\n  FROM prices p\n  WHERE p.terminal_id = tt.id\n    AND GREATEST(\n          COALESCE(p.sell_price, 0),\n          COALESCE(p.buy_price, 0)\n        ) > 0\n)\nORDER BY\n  s.name NULLS LAST,\n  l.name NULLS LAST,\n  tt.name;\n","options":{}},"id":"01a7d098-30f4-4510-afa1-b7dbdb8bac93","name":"Terminals – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[32,-208],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  tt.id,\n  tt.name,\n  tt.terminal_type,\n  l.name AS location_name,\n  s.name AS system_name,\n\n  -- how many distinct priced items (any asset_type) at this terminal\n  COALESCE(\n    (\n      SELECT COUNT(*)\n      FROM (\n        SELECT DISTINCT\n          di.asset_type,\n          di.item_name,\n          di.price\n        FROM (\n          SELECT\n            p2.asset_type,\n            GREATEST(\n              COALESCE(p2.sell_price, 0),\n              COALESCE(p2.buy_price, 0)\n            ) AS price,\n            COALESCE(\n              p2.asset_name,\n              p2.item_name,\n              p2.metadata->>'commodity_name',\n              p2.metadata->>'item_name',\n              p2.metadata->>'name'\n            ) AS item_name\n          FROM prices p2\n          WHERE p2.terminal_id = tt.id\n            AND GREATEST(\n                  COALESCE(p2.sell_price, 0),\n                  COALESCE(p2.buy_price, 0)\n                ) > 0\n        ) AS di\n      ) AS distinct_items\n    ),\n    0\n  ) AS item_count,\n\n  -- list of items (commodities, clothing, etc.) with prices and categories\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'item_name',      di.item_name,\n                 'asset_type',     di.asset_type,\n                 'commodity_code',\n                   CASE\n                     WHEN di.asset_type = 'commodity'\n                     THEN c.metadata->>'code'\n                     ELSE NULL\n                   END,\n                 'category',\n                   CASE\n                     WHEN di.asset_type = 'commodity'\n                       THEN c.metadata->>'kind'\n                     ELSE\n                       NULLIF(\n                         concat_ws(' / ', di.category_section, di.category_name),\n                         ''\n                       )\n                   END,\n                 'price',          di.price\n               )\n               ORDER BY di.item_name\n             )\n      FROM (\n        SELECT DISTINCT\n          p1.asset_type,\n          p1.commodity_id,\n          GREATEST(\n            COALESCE(p1.sell_price, 0),\n            COALESCE(p1.buy_price, 0)\n          ) AS price,\n          COALESCE(\n            p1.asset_name,\n            p1.item_name,\n            p1.metadata->>'commodity_name',\n            p1.metadata->>'item_name',\n            p1.metadata->>'name'\n          ) AS item_name,\n          (p1.metadata->>'id_category')::int AS category_id,\n          (\n            SELECT payload->>'name'\n            FROM uex_categories_raw cat\n            WHERE (cat.payload->>'id')::int = (p1.metadata->>'id_category')::int\n            ORDER BY cat.fetched_at DESC\n            LIMIT 1\n          ) AS category_name,\n          (\n            SELECT payload->>'section'\n            FROM uex_categories_raw cat\n            WHERE (cat.payload->>'id')::int = (p1.metadata->>'id_category')::int\n            ORDER BY cat.fetched_at DESC\n            LIMIT 1\n          ) AS category_section\n        FROM prices p1\n        WHERE p1.terminal_id = tt.id\n          AND GREATEST(\n                COALESCE(p1.sell_price, 0),\n                COALESCE(p1.buy_price, 0)\n              ) > 0\n      ) AS di\n      LEFT JOIN commodities c\n        ON c.id = di.commodity_id\n    ),\n    '[]'::jsonb\n  ) AS items_with_price\n\nFROM trade_terminals tt\nLEFT JOIN locations l\n  ON l.id = tt.location_id\nLEFT JOIN systems s\n  ON s.id = l.system_id\nWHERE tt.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"5e3a6f62-b860-441a-aecd-52f1997a0a56","name":"Terminals – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[416,-192],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"functionCode":"// Use the current item's JSON directly\nconst row = $json;\n\n// ---------- Parse items_with_price (JSON array from SQL) ----------\n\nlet raw = [];\nif (Array.isArray(row.items_with_price)) {\n  raw = row.items_with_price;\n} else if (typeof row.items_with_price === 'string') {\n  try {\n    raw = JSON.parse(row.items_with_price);\n  } catch (e) {\n    raw = [];\n  }\n} else if (row.items_with_price && typeof row.items_with_price === 'object') {\n  raw = Object.values(row.items_with_price);\n}\n\n// Normalize into a clean list of entries\nlet entries = (raw || [])\n  .map(it => {\n    if (it && typeof it === 'object') {\n      const name = String(\n        it.item_name ||\n        it.asset_name ||\n        it.commodity_name ||\n        it.name ||\n        ''\n      ).trim();\n\n      const assetType = String(it.asset_type || 'unknown').trim() || 'unknown';\n      const code = String(it.commodity_code || it.code || '').trim() || null;\n      const category = String(it.category || '').trim() || null;\n      const priceVal = it.price ?? it.sell_price ?? it.buy_price ?? null;\n      const price = priceVal !== null ? Number(priceVal) : null;\n\n      return { name, assetType, code, category, price };\n    }\n\n    const name = String(it || '').trim();\n    return { name, assetType: 'unknown', code: null, category: null, price: null };\n  })\n  .filter(it => it.name.length > 0);\n\n// Sort by name for detailed view\nentries.sort((a, b) =>\n  a.name.localeCompare(b.name, undefined, { sensitivity: 'base' }),\n);\n\nconst total = Number(row.item_count ?? entries.length) || 0;\n\n// ---------- Price formatting helper ----------\n\nfunction formatPrice(p) {\n  if (p === null || isNaN(p)) return null;\n  return p.toLocaleString('en-US', {\n    minimumFractionDigits: 0,\n    maximumFractionDigits: 2,\n  });\n}\n\n// ---------- Shared header ----------\n\nconst headerLines = [];\n\nheaderLines.push(`# Trade Terminal: ${row.name}`);\nheaderLines.push('');\n\nif (row.terminal_type) {\n  headerLines.push(`- **Type:** ${row.terminal_type}`);\n}\nif (row.location_name) {\n  headerLines.push(`- **Location:** ${row.location_name}`);\n}\nif (row.system_name) {\n  headerLines.push(`- **System:** ${row.system_name}`);\n}\nheaderLines.push(`- **Priced items (all asset types):** ${total}`);\nheaderLines.push('');\n\n// ---------- Summary selection (2 low, 2 high, 1 middle) ----------\n\nlet summaryEntries = [];\nlet suffixSummary = '';\n\nif (total <= 5) {\n  summaryEntries = [...entries];\n} else {\n  const priced = entries.filter(\n    it => it.price !== null && !isNaN(it.price),\n  );\n\n  if (priced.length >= 5) {\n    const byPriceAsc = [...priced].sort((a, b) => a.price - b.price);\n    const n = byPriceAsc.length;\n\n    const idxs = [\n      0,                 // lowest\n      1,                 // second lowest\n      Math.floor(n / 2), // middle\n      n - 2,             // second highest\n      n - 1,             // highest\n    ];\n\n    const chosenMap = new Map();\n    for (const idx of idxs) {\n      const it = byPriceAsc[idx];\n      if (!it) continue;\n      const key = it.name + '|' + it.assetType;\n      if (!chosenMap.has(key)) chosenMap.set(key, it);\n    }\n\n    // Fill up to 5 if we somehow got fewer uniques\n    if (chosenMap.size < 5) {\n      for (const it of entries) {\n        if (chosenMap.size >= 5) break;\n        const key = it.name + '|' + it.assetType;\n        if (!chosenMap.has(key)) chosenMap.set(key, it);\n      }\n    }\n\n    summaryEntries = Array.from(chosenMap.values());\n  } else {\n    // Not enough priced entries, just first 5 alphabetically\n    summaryEntries = entries.slice(0, 5);\n  }\n\n  suffixSummary = ` (${summaryEntries.length} of ${total})`;\n}\n\n// Sort chosen summary set alphabetically for display\nsummaryEntries.sort((a, b) =>\n  a.name.localeCompare(b.name, undefined, { sensitivity: 'base' }),\n);\n\n// ---------- SUMMARY MARKDOWN ----------\n\nconst summaryLines = [...headerLines];\n\nsummaryLines.push(`## Priced Items${suffixSummary}`);\nsummaryLines.push('');\nsummaryLines.push('> _Note: Lists below are unordered and not ranked._');\nsummaryLines.push('');\n\nif (summaryEntries.length === 0) {\n  summaryLines.push(\n    '_No priced items are currently recorded at this terminal._',\n  );\n} else {\n  for (const it of summaryEntries) {\n    const priceText = formatPrice(it.price);\n    const codePart = it.code ? ` (${it.code})` : '';\n    const typeTag = it.assetType ? ` [${it.assetType}]` : '';\n    if (priceText) {\n      summaryLines.push(`- ${it.name}${codePart}${typeTag}: ${priceText} aUEC`);\n    } else {\n      summaryLines.push(`- ${it.name}${codePart}${typeTag}`);\n    }\n  }\n  if (total > summaryEntries.length) {\n    summaryLines.push('… and more');\n  }\n}\n\n// ---------- DETAILED MARKDOWN ----------\n\nconst detailedLines = [...headerLines];\n\ndetailedLines.push('## Priced Items');\ndetailedLines.push('');\ndetailedLines.push(\n  '> _Detailed view. Lists below are unordered and not ranked._',\n);\ndetailedLines.push('');\n\nif (entries.length === 0) {\n  detailedLines.push(\n    '_No priced items are currently recorded at this terminal._',\n  );\n} else {\n  for (const it of entries) {\n    const priceText = formatPrice(it.price);\n    const codePart = it.code ? ` (${it.code})` : '';\n    const typeTag = it.assetType ? ` [${it.assetType}]` : '';\n    if (priceText) {\n      detailedLines.push(`- ${it.name}${codePart}${typeTag}: ${priceText} aUEC`);\n    } else {\n      detailedLines.push(`- ${it.name}${codePart}${typeTag}`);\n    }\n  }\n}\n\n// ---------- Slug + file paths ----------\n\nconst slug = String(row.name || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\nconst filePathSummary = `/RAG/KB/terminals/${slug}.md`;\nconst filePathDetailed = `/RAG/KB/terminals/${slug}_detailed.md`;\n\nreturn [\n  {\n    json: {\n      terminal_id: row.id,\n      slug,\n      name: row.name,\n\n      item_count: total,\n\n      markdown_summary: summaryLines.join('\\n'),\n      filePath_summary: filePathSummary,\n\n      markdown_detailed: detailedLines.join('\\n'),\n      filePath_detailed: filePathDetailed,\n    },\n  },\n];\n"},"id":"44078809-8c01-4457-aef6-eebc5bf2efab","name":"Build Markdown","type":"n8n-nodes-base.function","typeVersion":1,"position":[608,-192]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst entityId = item.terminal_id || null;\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) VALUES ('\" + slug + \"', 'terminal', '\" + entityId + \"'::uuid, '\" + content + \"', 'KB - Trade Terminals Markdown v2.2', now(), now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, entity_type = EXCLUDED.entity_type, source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"411113ed-96f5-41b1-b4af-d1d473c599af","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-192]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"f0ee587f-b72f-4fa8-b973-20535363db76","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1056,-192],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Terminals – List","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Terminals – Detail","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Terminals – List","type":"main","index":0}]]},"Terminals – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Terminals – Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}