2026/05/31/EJalW9gDV82reqn8.json
{"nodes":[{"parameters":{"path":"v3/admin/orgs","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"d6f9e2d9-afbb-40ac-b680-798b7a032a26","name":"Admin List Orgs Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"d6dae194-5455-4827-86f7-da744482251a","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(json_agg(json_build_object('org_id', org_id, 'slug', slug, 'name', name, 'description', description, 'logo_url', logo_url, 'rsi_url', rsi_url, 'site_url', site_url, 'discord_invite', discord_invite, 'is_visible', is_visible, 'is_recruiting', is_recruiting, 'source', source, 'member_count', member_count, 'created_at', created_at) ORDER BY created_at DESC NULLS LAST), '[]'::json) AS orgs FROM sc_orgs","options":{}},"id":"4b270118-bf43-4c57-8895-25a3538fc492","name":"DB Admin List Orgs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,0],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"jsCode":"const row = $input.first().json;\nconst orgs = row.orgs;\nconst parsed = typeof orgs === 'string' ? JSON.parse(orgs) : (orgs ?? []);\nreturn [{ json: { orgs: Array.isArray(parsed) ? parsed : [] } }];"},"id":"28d4c765-fd09-456f-9db6-446b30426d5e","name":"Build Admin Orgs Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"7a17a1a3-bde7-4015-8c41-641d53a5f825","name":"Respond Admin Orgs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,0]},{"parameters":{"path":"v3/admin/users","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"a57b5299-4dbc-4be1-94aa-1bf712528914","name":"Admin List Users Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,192],"webhookId":"14252a8a-fcb2-458d-a84f-f87f1bb92d9e","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(json_agg(json_build_object('user_id', u.user_id::text, 'display_name', u.display_name, 'created_at', u.created_at, 'sc_handle', u.sc_handle, 'sc_verified', COALESCE(u.sc_verified, false), 'color_theme', up.color_theme, 'providers', COALESCE((SELECT json_agg(json_build_object('provider', ap.provider, 'username', ap.username)) FROM auth_providers ap WHERE ap.user_id = u.user_id), '[]'::json)) ORDER BY u.created_at DESC), '[]'::json) AS users FROM users u LEFT JOIN user_preferences up ON up.user_id = u.user_id","options":{}},"id":"abc9e7e5-8bc8-4296-b318-3cb7f550e641","name":"DB Admin List Users","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,192],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"jsCode":"const row = $input.first().json;\nconst users = row.users;\nconst parsed = typeof users === 'string' ? JSON.parse(users) : (users ?? []);\nreturn [{ json: { users: Array.isArray(parsed) ? parsed : [] } }];"},"id":"4d03ade4-257e-4af2-b6b1-96c5555bfca6","name":"Build Admin Users Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,192]},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"0430bfa0-a704-4f3c-ad22-122470df48a7","name":"Respond Admin Users","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,192]}],"connections":{"Admin List Orgs Webhook":{"main":[[{"node":"DB Admin List Orgs","type":"main","index":0}]]},"DB Admin List Orgs":{"main":[[{"node":"Build Admin Orgs Response","type":"main","index":0}]]},"Build Admin Orgs Response":{"main":[[{"node":"Respond Admin Orgs","type":"main","index":0}]]},"Admin List Users Webhook":{"main":[[{"node":"DB Admin List Users","type":"main","index":0}]]},"DB Admin List Users":{"main":[[{"node":"Build Admin Users Response","type":"main","index":0}]]},"Build Admin Users Response":{"main":[[{"node":"Respond Admin Users","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}