2026/05/31/ESlkzqiLSBnPOi9h.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_vehicle_prices_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Vehicle_prices\"].json[\"id\"]}},{{ JSON.stringify($('JS vehicle_prices').item.json.row) }}"}},"id":"fa7b9b03-e373-4876-91ac-8d5603822783","name":"Insert uex_vehicle_prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,2896],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/vehicles_prices/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for vehicle_prices'\n)\nRETURNING id;\n","options":{}},"id":"00b9dbef-1e89-4a02-9884-7731376bd7e0","name":"Create Batch Vehicle_prices","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,2800],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/vehicles_prices/","options":{}},"id":"f0cb76c1-54c7-432b-81b4-67da0d2e54c9","name":"Get vehicles_prices","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,2896],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,2992],"id":"9551d9fe-7135-47b2-a8e4-bf5df37faa1a","name":"JS vehicle_prices","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,2896],"id":"f670c95d-c9c6-4e8d-ba13-45df9a4aa86d","name":"Loop Over vehicle_prices"},{"parameters":{"inputSource":"passthrough"},"id":"f6fa14ef-1429-4817-87ca-7f6846b067d3","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,2896]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,2896],"id":"4415b11e-c5fe-4f58-9855-347dfafdc27c","name":"Merge"}],"connections":{"Get vehicles_prices":{"main":[[{"node":"JS vehicle_prices","type":"main","index":0},{"node":"Create Batch Vehicle_prices","type":"main","index":0}]]},"JS vehicle_prices":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over vehicle_prices":{"main":[[],[{"node":"Insert uex_vehicle_prices_raw","type":"main","index":0}]]},"Create Batch Vehicle_prices":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_vehicle_prices_raw":{"main":[[{"node":"Loop Over vehicle_prices","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get vehicles_prices","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over vehicle_prices","type":"main","index":0}]]}},"pinData":{},"meta":null}