2026/05/31/G6YSU18Kw4v4bu7z.json
{"nodes":[{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/planets/","options":{}},"id":"cff74887-5dd6-4730-9c39-7995d70722e4","name":"Get planets","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[48,208],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_planets_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Planets\"].json[\"id\"]}},{{ JSON.stringify($('JS Planets').item.json.row) }}"}},"id":"61f01a5d-bc39-4674-914a-402558945d93","name":"Insert uex_planets_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[944,208],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,304],"id":"904b104f-091c-4fe2-904a-b018c1e69561","name":"JS Planets","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/planets/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for planets'\n)\nRETURNING id;\n","options":{}},"id":"4a6e384b-616b-4010-be12-7b2251c70ac4","name":"Create Batch Planets","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[272,112],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,208],"id":"e8cec853-cb79-4217-8fe7-07e06759926c","name":"Loop Over Planets"},{"parameters":{"inputSource":"passthrough"},"id":"38e042e9-3580-4026-baa7-7953d79871f9","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-176,208]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[496,208],"id":"d5337189-fec1-4112-aaa2-12ebfcfa3a5c","name":"Merge"}],"connections":{"Get planets":{"main":[[{"node":"JS Planets","type":"main","index":0},{"node":"Create Batch Planets","type":"main","index":0}]]},"Insert uex_planets_raw":{"main":[[{"node":"Loop Over Planets","type":"main","index":0}]]},"Create Batch Planets":{"main":[[{"node":"Merge","type":"main","index":0}]]},"JS Planets":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Planets":{"main":[[],[{"node":"Insert uex_planets_raw","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get planets","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Planets","type":"main","index":0}]]}},"pinData":{},"meta":null}