2026/05/31/ibAVaxFCMpfE6NkG.json
{"nodes":[{"id":"c2e3a9a0-45e7-4b53-b64c-4bbdf72ad105","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"v3/kb","responseMode":"responseNode","httpMethod":"GET"},"webhookId":"a30c5c07-1bc3-4ea5-b58d-abf137eeb32b","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"b69b4ea6-cb38-4c6a-9bdd-089a266cc691","name":"List Entities","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[500,300],"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT COALESCE(json_agg(row_to_json(t) ORDER BY t.entity_name), '[]'::json) AS items FROM (SELECT slug AS entity_slug, entity_type, name AS entity_name, manufacturer, category, uex_id, is_base_variant FROM entity_display WHERE entity_type = $1 AND (is_base_variant = TRUE OR $2::boolean) AND ($3 = '*' OR payload->>$4 = $3) AND NOT hidden) t","options":{"queryReplacement":"={{ $json.query.type }},{{ $json.query.include_variants === 'true' ? 'true' : 'false' }},{{ $json.query.sub_category || '*' }},{{ $json.query.sub_field || 'category' }}"}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"ede386ad-ddf2-4b92-811f-a9b7aee89441","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,300],"parameters":{"respondWith":"json","responseBody":"={{ $json.items }}"}}],"connections":{"Webhook":{"main":[[{"node":"List Entities","type":"main","index":0}]]},"List Entities":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}