2026/05/31/KZmVjd3ZfwWvuoel.json
{"nodes":[{"parameters":{"httpMethod":"PATCH","path":"v3/orgs/manager-desc","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"9e666b65-6051-44f9-9d9e-c02bbef1fc24","name":"Manager Desc Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"32f9498e-5e33-415d-b654-f6a409f24b98","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"const body = ($json.body && typeof $json.body === 'object') ? $json.body : {};\nconst user_id = (body.user_id || '').trim();\nif (!user_id) throw new Error('user_id is required');\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRe.test(user_id)) throw new Error('user_id must be a valid UUID');\nconst has_description = 'manager_description' in body;\nconst manager_description = has_description\n  ? (body.manager_description !== null ? String(body.manager_description).substring(0, 5000) : null)\n  : null;\nreturn [{ json: { user_id, manager_description, has_description } }];"},"id":"8c5590b9-9935-4966-bd0b-0f4127d33dbe","name":"Build Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,304]},{"parameters":{"operation":"executeQuery","query":"SELECT managed_org_id::text FROM users WHERE user_id = '{{ $json.user_id }}'::uuid","options":{}},"id":"4d0b9174-cead-4d7b-935e-28cc265bfd83","name":"Get User Org","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"1","leftValue":"={{ $json.managed_org_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"4ffc25a0-b057-4498-bea3-0fd5609f6b6f","name":"Check Has Org","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,304]},{"parameters":{"jsCode":"const params = $('Build Params').item.json;\nconst orgId = $json.managed_org_id;\nfunction esc(s) { return \"'\" + String(s).replace(/'/g, \"''\") + \"'\"; }\nconst parts = ['updated_at = now()'];\nif (params.has_description) {\n  const desc = params.manager_description !== null ? esc(params.manager_description) : 'NULL';\n  parts.push('manager_description = ' + desc);\n}\nconst sql = \"UPDATE sc_orgs SET \" + parts.join(', ') + \" WHERE org_id = '\" + orgId + \"'::uuid RETURNING org_id::text, slug\";\nreturn [{ json: { sql } }];"},"id":"a54bcf0e-6c55-47b5-8b44-b94076a9a45a","name":"Build Update SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,208]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"7e98ddc6-fea6-4dd7-bd47-600a632d8b33","name":"Update Manager Desc","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,208],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true }) }}","options":{}},"id":"771d1a43-f3eb-4af2-afce-6c28674b99a1","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, error: \"not an org manager\" }) }}","options":{"responseCode":403}},"id":"e6fa07d0-d17d-4379-9954-356ec8a1aea7","name":"Respond No Org","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,400]}],"connections":{"Manager Desc Webhook":{"main":[[{"node":"Build Params","type":"main","index":0}]]},"Build Params":{"main":[[{"node":"Get User Org","type":"main","index":0}]]},"Get User Org":{"main":[[{"node":"Check Has Org","type":"main","index":0}]]},"Check Has Org":{"main":[[{"node":"Build Update SQL","type":"main","index":0}],[{"node":"Respond No Org","type":"main","index":0}]]},"Build Update SQL":{"main":[[{"node":"Update Manager Desc","type":"main","index":0}]]},"Update Manager Desc":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true}}