2026/05/31/VEQ7IQTLr7R3vgZm.json
{"nodes":[{"id":"68ed1be8-cdfa-45fb-a806-0eed670ed93b","name":"POST /v3/auth/user-login","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"v3/auth/user-login","responseMode":"responseNode","options":{}},"webhookId":"2730392c-448c-497a-93c1-9ce2e363e3fd"},{"id":"b01fc166-9045-41e9-a9c8-efb26e69800b","name":"login_discord()","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"parameters":{"operation":"executeQuery","query":"SELECT * FROM login_discord($1, $2, NULLIF($3,'null'), NULLIF($4,'null'), NULLIF($5,'null'), NULLIF($6,'null'), NULLIF($7,'null')::timestamptz, $8::boolean)","options":{"queryReplacement":"={{ $json.body.discord_id }},{{ $json.body.username }},{{ $json.body.avatar ?? null }},{{ $json.body.email ?? null }},{{ $json.body.access_token ?? null }},{{ $json.body.refresh_token ?? null }},{{ $json.body.token_expires_at ?? null }},{{ $json.body.is_superadmin ?? false }}"}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"abb9ac98-9b5a-4d51-a013-609ce28c0cf5","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,0],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify($json) }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"fcb92325-8d8c-4785-b396-8f24d809322f","name":"POST /v3/users/preferences","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,224],"parameters":{"httpMethod":"POST","path":"v3/users/preferences","responseMode":"responseNode","options":{}},"webhookId":"292da9f4-2662-424f-a0c6-7275a2e764a6"},{"id":"b31a0c49-be6f-4af1-98dd-39080fa253db","name":"Save Preferences","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,224],"parameters":{"operation":"executeQuery","query":"INSERT INTO user_preferences (user_id, color_theme) VALUES ($1::uuid, $2) ON CONFLICT (user_id) DO UPDATE SET color_theme = EXCLUDED.color_theme, updated_at = now()","options":{"queryReplacement":"={{ $json.body.user_id }},{{ $json.body.color_theme }}"}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"f0190e24-d974-4694-ba66-560466a322d0","name":"Respond Prefs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,224],"parameters":{"options":{"responseCode":200,"responseData":"={\"ok\":true}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"POST /v3/auth/user-login":{"main":[[{"node":"login_discord()","type":"main","index":0}]]},"login_discord()":{"main":[[{"node":"Respond","type":"main","index":0}]]},"POST /v3/users/preferences":{"main":[[{"node":"Save Preferences","type":"main","index":0}]]},"Save Preferences":{"main":[[{"node":"Respond Prefs","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"}}