2026/05/31/vsgV9i0KrQdbEhyR.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_outposts_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Outposts\"].json[\"id\"]}},{{ JSON.stringify($('JS outposts').item.json.row) }}"}},"id":"3b8e5164-30ab-459f-82d5-fdb71f40da76","name":"Insert uex_outposts_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,1312],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/outposts/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for outposts'\n)\nRETURNING id;\n","options":{}},"id":"9badf093-57ef-43e8-988a-b07fb72fcb5d","name":"Create Batch Outposts","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[288,1216],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/outposts/","options":{}},"id":"55b0aeb7-2686-4a81-bab5-1acc3feb97f9","name":"Get outposts","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[64,1312],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1408],"id":"d90d1b03-4ac8-4889-82ed-ecda9e0595a4","name":"JS outposts","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,1312],"id":"ce992fb6-57cf-472e-b29a-70bc507c1058","name":"Loop Over outposts"},{"parameters":{"inputSource":"passthrough"},"id":"77be19e9-8621-40e4-b1b2-b177f8497bae","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,1312]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,1312],"id":"d18f97c7-c9e6-47a4-aa3c-7ee6aa7b6e44","name":"Merge"}],"connections":{"Get outposts":{"main":[[{"node":"JS outposts","type":"main","index":0},{"node":"Create Batch Outposts","type":"main","index":0}]]},"JS outposts":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over outposts":{"main":[[],[{"node":"Insert uex_outposts_raw","type":"main","index":0}]]},"Create Batch Outposts":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_outposts_raw":{"main":[[{"node":"Loop Over outposts","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get outposts","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over outposts","type":"main","index":0}]]}},"pinData":{},"meta":null}