2026/05/31/VxF1QcWxnmkRuOCe.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-144],"id":"8f89fd19-3d89-44ee-9ea2-836e37a3bf4e","name":"When clicking 'Execute workflow'"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_changes","mode":"list","cachedResultName":"jsonkb_changes"},"returnAll":true,"where":{"values":[{"column":"processed_at","condition":"IS NULL"}]},"sort":{"values":[{"column":"created_at"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,-144],"id":"6a32ce09-a64e-4bc5-a23a-996b5868ddb1","name":"Select rows from a table","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,-48],"id":"58c3289d-daf2-4fea-8260-f7466d51c733","name":"Loop Over Items"},{"parameters":{"jsCode":"const pgTimestamp = new Date()\n  .toISOString()\n  .replace('T', ' ')\n  .replace('Z', '+00');\nreturn [{ json: { ts: pgTimestamp } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-32],"id":"e29a9564-ecdd-4c6d-a09d-c254daee94ac","name":"TIMESTAMP"},{"parameters":{"operation":"executeQuery","query":"SELECT entity_slug, entity_type, content, content_hash FROM jsonkb_store WHERE entity_slug = '{{$(\"Loop Over Items\").item.json.entity_slug}}' AND entity_type = '{{$(\"Loop Over Items\").item.json.entity_type}}' LIMIT 1","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,-32],"id":"c556d87e-9e83-4d94-a2b6-43f88fba0fb8","name":"Get JSONKB from Store","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"collections","mode":"list","cachedResultName":"collections"},"limit":1,"where":{"values":[{"column":"name","value":"=jsonkb:{{ $json.entity_type }}"}]},"options":{"outputColumns":["id"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,-32],"id":"190235a4-a01f-4e08-949e-fa7feac957eb","name":"Get Collections ID","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"// Read JSONKB content from jsonkb_store (postgres returns JSONB as parsed object)\nconst storeRow = $('Get JSONKB from Store').item.json;\nif (!storeRow || !storeRow.content) {\n  const slug = $('Loop Over Items').item.json.entity_slug;\n  throw new Error('JSONKB not found in store for: ' + slug);\n}\nreturn [{ json: storeRow.content }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-32],"id":"77060545-0645-42fb-ab42-67f68fa40667","name":"Nomalize JSONKB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b89becba-04e6-49f8-ac4b-dbcfa2955114","leftValue":"={{ $json.source_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[928,-32],"id":"7127f249-2a91-40fc-9ceb-1a359bff9206","name":"If"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"columns":{"mappingMode":"defineBelow","value":{"metadata":"={{ JSON.stringify($json) }}","source_type":"jsonkb","title":"={{ $json.entity_name }}","source":"={{ $json.source }}","source_id":"={{ $json.source_id }}","collection_id":"={{ $('Get Collections ID').item.json.id }}","updated_at":"={{ $('TIMESTAMP').item.json.ts }}"},"matchingColumns":["source","source_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"collection_id","displayName":"collection_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source_id","displayName":"source_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"source_type","displayName":"source_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"ingest_batch_id","displayName":"ingest_batch_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"outputColumns":["id"],"replaceEmptyStrings":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,-48],"id":"c25fa0c5-e55a-4de5-9ef3-c190ab58af50","name":"UPSERT Document table","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_changes","mode":"list","cachedResultName":"jsonkb_changes"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $('Loop Over Items').item.json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,144],"id":"b86648fa-eb05-487d-b227-9e548d224f53","name":"Delete table or rows","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_changes","mode":"list","cachedResultName":"jsonkb_changes"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Select rows from a table').item.json.id }}","processed_at":"={{ $('TIMESTAMP').item.json.ts }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"entity_id","displayName":"entity_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"entity_slug","displayName":"entity_slug","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"jsonkb_file_path","displayName":"jsonkb_file_path","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"processed_at","displayName":"processed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,-48],"id":"716015cd-82ce-47b7-969b-1fbd1292afc8","name":"Update Processed time JSONKB changes","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"httpMethod":"POST","path":"embed-jsonkb","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-512,16],"id":"0c56728f-5418-4a11-9225-4f6978669ff8","name":"Webhook – Run Embed","webhookId":"70ef0927-1733-4719-bece-14008f11996d"},{"parameters":{"rule":{"interval":[{"triggerAtHour":20,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,-304],"id":"7ae99c18-eeec-46fc-8341-9a2f5cb0029b","name":"830pm"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"TIMESTAMP","type":"main","index":0}]]},"TIMESTAMP":{"main":[[{"node":"Get JSONKB from Store","type":"main","index":0}]]},"Get JSONKB from Store":{"main":[[{"node":"Get Collections ID","type":"main","index":0}]]},"Get Collections ID":{"main":[[{"node":"Nomalize JSONKB","type":"main","index":0}]]},"Nomalize JSONKB":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"UPSERT Document table","type":"main","index":0}],[{"node":"Delete table or rows","type":"main","index":0}]]},"UPSERT Document table":{"main":[[{"node":"Update Processed time JSONKB changes","type":"main","index":0}]]},"Delete table or rows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Processed time JSONKB changes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook – Run Embed":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"830pm":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}