2026/06/06/a5jCmudWBoLsuN3E.json
{"nodes":[{"parameters":{"path":"v3/adv-search","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1184,1344],"id":"94cfab81-209a-413e-bd93-6844661736f9","name":"Webhook adv-search","webhookId":"adv-search-webhook-001","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"jsCode":"// ── Advanced Search: Sanitize & Normalize ──────────────────────────────\nconst query = $json.query || {};\n\nconst MAX_Q_LENGTH = 150;\nconst MAX_LIMIT    = 100;\nconst MAX_OFFSET   = 10000;\n\n// ── q ───────────────────────────────────────────────────────────────────\nconst raw_q = String(query.q || '').trim().toLowerCase();\nlet q_norm  = null;\nlet q_error = null;\n\nif (raw_q.length === 0) {\n  q_error = 'missing';\n} else if (raw_q.length < 2) {\n  q_error = 'too_short';\n} else if (raw_q.length > MAX_Q_LENGTH) {\n  q_error = 'too_long';\n} else {\n  q_norm = raw_q;\n}\n\n// ── category ────────────────────────────────────────────────────────────\n// Accept any entity_type slug (letters, digits, underscores only — safe for parameterized query)\nconst raw_cat = String(query.category || '').trim().toLowerCase();\nlet category_norm  = '*';\nlet category_error = '';\n\nif (raw_cat.length > 0) {\n  if (/^[a-z0-9_]+$/.test(raw_cat)) {\n    category_norm = raw_cat;\n  } else {\n    category_error = raw_cat;\n  }\n}\n\n// ── limit / offset ──────────────────────────────────────────────────────\nconst limit_norm  = Math.min(Math.max(parseInt(query.limit)  || 25, 1), MAX_LIMIT);\nconst offset_norm = Math.min(Math.max(parseInt(query.offset) || 0,  0), MAX_OFFSET);\n\nreturn {\n  json: {\n    q_norm,\n    q_error,\n    category_norm,\n    category_error,\n    limit_norm,\n    offset_norm\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,1344],"id":"5042e2bf-2c7c-41d1-a3b5-374d61938451","name":"Sanitize & Normalize"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"vq1","leftValue":"={{ $json.q_norm }}","rightValue":false,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-736,1344],"id":"cc6743a0-7a20-4c5b-94fa-2c4737f8d30f","name":"Validate Q"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"error\": true,\n  \"reason\": {\n    \"txt\": \"Search query is missing, too short, or too long.\",\n    \"field\": \"q\",\n    \"min_length\": 2,\n    \"max_length\": 150\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,1440],"id":"df60e350-ef59-481d-8f33-529119cea66e","name":"Error - Q invalid"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  slug          AS entity_slug,\n  name          AS entity_name,\n  entity_type,\n  manufacturer,\n  category,\n  NULL::text    AS kb_text,\n  COUNT(*) OVER() AS count\nFROM entity_display\nWHERE (\n    search_vector @@ plainto_tsquery('english', $1)\n    OR name ILIKE '%' || $1 || '%'\n  )\n  AND ($2 = '*' OR entity_type = $2)\n  ORDER BY\n    ts_rank(search_vector, plainto_tsquery('english', $1)) DESC,\n    name ASC\n  LIMIT $3::int OFFSET $4::int;","options":{"queryReplacement":"={{ $json.q_norm }},{{ $json.category_norm }},{{ $json.limit_norm }},{{ $json.offset_norm }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,1248],"id":"1a382e9f-2d3e-40a1-aac8-11d4b3df72ab","name":"Advanced Search DB","alwaysOutputData":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-288,1344],"id":"bcc8dd00-406b-4556-b504-8aad790cd740","name":"Respond to Webhook"}],"connections":{"Webhook adv-search":{"main":[[{"node":"Sanitize & Normalize","type":"main","index":0}]]},"Sanitize & Normalize":{"main":[[{"node":"Validate Q","type":"main","index":0}]]},"Validate Q":{"main":[[{"node":"Advanced Search DB","type":"main","index":0}],[{"node":"Error - Q invalid","type":"main","index":0}]]},"Advanced Search DB":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error - Q invalid":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"pinData":{},"meta":null}