2026/06/06/AOf4snMxjm4R2ml2.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_categories_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Categories\"].json[\"id\"]}},{{ JSON.stringify($('JS categories').item.json.row) }}"}},"id":"f6cc7569-4d7a-4e05-a3c9-1079e247fe19","name":"Insert uex_categories_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[800,4320],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/categories/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for categories'\n)\nRETURNING id;\n","options":{}},"id":"58a7659d-a6a2-49cd-b9dd-15267c17302a","name":"Create Batch Categories","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[128,4224],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/categories/","options":{}},"id":"ee5bd552-8a19-449e-9388-1e90216465f0","name":"Get categories","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-96,4320],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,4416],"id":"17a3f9dc-c5c8-4c6b-9dfa-2fe4e18f1644","name":"JS categories","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,4320],"id":"cd70dcbd-0a40-4d7c-b55e-ae6cf3e95a73","name":"Loop Over categories"},{"parameters":{"inputSource":"passthrough"},"id":"c14bfef4-3e08-460c-950b-6dd7e8c1f1f1","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-320,4320]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[352,4320],"id":"4be28b3b-aa23-493f-9970-57ebd2c7930b","name":"Merge"}],"connections":{"Get categories":{"main":[[{"node":"JS categories","type":"main","index":0},{"node":"Create Batch Categories","type":"main","index":0}]]},"JS categories":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over categories":{"main":[[],[{"node":"Insert uex_categories_raw","type":"main","index":0}]]},"Create Batch Categories":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_categories_raw":{"main":[[{"node":"Loop Over categories","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get categories","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over categories","type":"main","index":0}]]}},"pinData":{},"meta":null}