2026/06/06/FPkY597nzJ8gT5wI.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_vehicle_rental_prices_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Vehicle_rental_prices\"].json[\"id\"]}},{{ JSON.stringify($('JS vehicle_rental_prices').item.json.row) }}"}},"id":"91639fed-a177-47a3-9438-22e67fdc9b5c","name":"Insert uex_vehicle_rental_prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,3472],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/vehicles_rentals_prices/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for vehicle_rental_prices'\n)\nRETURNING id;\n","options":{}},"id":"b8df80f7-ce19-4819-a6fc-dc02c1665a07","name":"Create Batch Vehicle_rental_prices","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,3376],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/vehicles_rentals_prices/","options":{}},"id":"b7eb39ae-d46f-4b9a-8214-f82d927263cc","name":"Get vehicles_rentals_prices","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,3472],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,3568],"id":"9256d107-516b-42e5-bb2f-7de0610067a2","name":"JS vehicle_rental_prices","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,3472],"id":"46a5fba5-7017-418b-ba4d-8ff961edec82","name":"Loop Over vehicle_rental_prices"},{"parameters":{"inputSource":"passthrough"},"id":"7767266b-9ad5-46d6-b6b4-11341b546078","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,3472]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,3472],"id":"a1fd40f4-07ed-4378-b86a-9d932c33a369","name":"Merge"}],"connections":{"Get vehicles_rentals_prices":{"main":[[{"node":"JS vehicle_rental_prices","type":"main","index":0},{"node":"Create Batch Vehicle_rental_prices","type":"main","index":0}]]},"JS vehicle_rental_prices":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over vehicle_rental_prices":{"main":[[],[{"node":"Insert uex_vehicle_rental_prices_raw","type":"main","index":0}]]},"Create Batch Vehicle_rental_prices":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_vehicle_rental_prices_raw":{"main":[[{"node":"Loop Over vehicle_rental_prices","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get vehicles_rentals_prices","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over vehicle_rental_prices","type":"main","index":0}]]}},"pinData":{},"meta":null}