2026/06/06/OmE4vHQ63jjIM6E2.json
{"nodes":[{"parameters":{},"id":"915f8f26-dc63-4155-a437-fd5b472cb926","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,0]},{"parameters":{"functionCode":"// Based on \"Commodity – Detail\" output\nconst row = items[0].json;\n\n// ---------- Terminals list (supports name-only or name+price) ----------\n\nlet rawTerminals = [];\n\n// Prefer terminals_with_price if present, else fallback to terminals_list\nconst sourceTerminals = row.terminals_with_price ?? row.terminals_list;\n\nif (Array.isArray(sourceTerminals)) {\n  rawTerminals = sourceTerminals;\n} else if (typeof sourceTerminals === 'string') {\n  try {\n    rawTerminals = JSON.parse(sourceTerminals);\n  } catch (e) {\n    rawTerminals = [];\n  }\n} else if (sourceTerminals && typeof sourceTerminals === 'object') {\n  rawTerminals = Object.values(sourceTerminals);\n}\n\n// Normalize into { name, price } objects\nlet terminals = (rawTerminals || [])\n  .map(t => {\n    if (t && typeof t === 'object') {\n      const name =\n        (t.terminal_name ?? t.name ?? '').toString().trim();\n      const priceRaw =\n        t.price ?? t.sell_price ?? t.buy_price ?? null;\n      const price = priceRaw !== null ? Number(priceRaw) : null;\n      return { name, price };\n    }\n\n    const name = String(t || '').trim();\n    return { name, price: null };\n  })\n  .filter(t => t.name.length > 0);\n\n// Sort alphabetically by name (for detailed list)\nterminals.sort((a, b) =>\n  a.name.localeCompare(b.name, undefined, { sensitivity: 'base' }),\n);\n\nconst total = Number(row.terminals_total ?? terminals.length) || 0;\n\n// Helper: format price nicely\nfunction formatPrice(p) {\n  if (p === null || isNaN(p)) return null;\n  return p.toLocaleString('en-US', {\n    minimumFractionDigits: 0,\n    maximumFractionDigits: 2,\n  });\n}\n\n// ---------- COMMON HEADER PART ----------\n\nconst headerLines = [];\n\nheaderLines.push(`# ${row.name}`);\nheaderLines.push('');\n\n// Use commodity_code if available, fall back to code\nconst codeValue = row.commodity_code || row.code || 'N/A';\n\nheaderLines.push(\n  `- **UEX Commodity ID:** ${row.uex_commodity_id || 'N/A'}`,\n);\nheaderLines.push(`- **Code:** ${codeValue}`);\nheaderLines.push(`- **Category:** ${row.category || 'Unknown'}`);\nif (total === 0) {\n  headerLines.push(`- **Trade Presence:** No live price data yet`);\n} else {\n  headerLines.push(`- **Trade Presence:** Seen at ${total} terminals`);\n}\nheaderLines.push('');\n\n// ---------- SUMMARY (LIMITED) VERSION ----------\n\n// Selection rule:\n// - If total <= 5 → show all\n// - If total > 5 → pick 2 lowest, 2 highest, 1 middle by price\n\nlet shownSummary = [];\nlet suffixSummary = '';\n\nif (total <= 5) {\n  // Just use all of them\n  shownSummary = [...terminals];\n} else {\n  // Filter to those with numeric prices for ranking\n  const priced = terminals.filter(\n    t => t.price !== null && !isNaN(t.price),\n  );\n\n  if (priced.length >= 5) {\n    // Sort by price ascending\n    const byPriceAsc = [...priced].sort(\n      (a, b) => a.price - b.price,\n    );\n    const n = byPriceAsc.length;\n\n    const idxs = [\n      0, // lowest\n      1, // second lowest\n      Math.floor(n / 2), // middle\n      n - 2, // second highest\n      n - 1, // highest\n    ];\n\n    const chosenMap = new Map();\n\n    for (const idx of idxs) {\n      const t = byPriceAsc[idx];\n      if (!t) continue;\n      if (!chosenMap.has(t.name)) {\n        chosenMap.set(t.name, t);\n      }\n    }\n\n    // If we somehow got <5 unique terminals, fill from remaining (alphabetical)\n    if (chosenMap.size < 5) {\n      for (const t of terminals) {\n        if (chosenMap.size >= 5) break;\n        if (!chosenMap.has(t.name)) {\n          chosenMap.set(t.name, t);\n        }\n      }\n    }\n\n    shownSummary = Array.from(chosenMap.values());\n  } else {\n    // Not enough priced entries, fallback to first 5 alphabetically\n    shownSummary = terminals.slice(0, 5);\n  }\n\n  suffixSummary = ` (${shownSummary.length} of ${total})`;\n}\n\n// Sort the chosen summary set alphabetically by name for display\nshownSummary.sort((a, b) =>\n  a.name.localeCompare(b.name, undefined, { sensitivity: 'base' }),\n);\n\nconst summaryLines = [...headerLines];\n\nsummaryLines.push(`## Seen At Terminals${suffixSummary}`);\nsummaryLines.push('');\nsummaryLines.push(\n  '> _Note: Lists below are unordered and not ranked._',\n);\nsummaryLines.push('');\n\nif (shownSummary.length === 0) {\n  summaryLines.push(\n    '_No terminals with live sell prices found yet._',\n  );\n} else {\n  for (const t of shownSummary) {\n    const priceText = formatPrice(t.price);\n    if (priceText) {\n      summaryLines.push(`- ${t.name}: ${priceText} aUEC`);\n    } else {\n      summaryLines.push(`- ${t.name}`);\n    }\n  }\n  if (total > shownSummary.length) {\n    summaryLines.push('… and more');\n  }\n}\n\n// ---------- DETAILED (FULL) VERSION ----------\n\nconst detailedLines = [...headerLines];\n\ndetailedLines.push(`## Seen At Terminals`);\ndetailedLines.push('');\ndetailedLines.push(\n  '> _Detailed view. Lists below are unordered and not ranked._',\n);\ndetailedLines.push('');\n\nif (terminals.length === 0) {\n  detailedLines.push(\n    '_No terminals with live sell prices found yet._',\n  );\n} else {\n  for (const t of terminals) {\n    const priceText = formatPrice(t.price);\n    if (priceText) {\n      detailedLines.push(`- ${t.name}: ${priceText} aUEC`);\n    } else {\n      detailedLines.push(`- ${t.name}`);\n    }\n  }\n}\n\n// ---------- SLUG + FILE PATHS ----------\n\nconst slug = row.name\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\nconst filePathSummary = `/RAG/KB/commodities/${slug}.md`;\nconst filePathDetailed = `/RAG/KB/commodities/${slug}_detailed.md`;\n\nreturn [\n  {\n    json: {\n      commodity_id: row.id,\n      slug,\n      name: row.name,\n\n      markdown_summary: summaryLines.join('\\n'),\n      filePath_summary: filePathSummary,\n\n      markdown_detailed: detailedLines.join('\\n'),\n      filePath_detailed: filePathDetailed,\n    },\n  },\n];\n"},"id":"c8b1b37b-2a43-44ad-8527-4c94f6dd4a40","name":"Build Markdown","type":"n8n-nodes-base.function","typeVersion":1,"position":[752,16]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,0],"id":"155be1da-8dce-4416-ac18-3dd304481d3c","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-176],"id":"55023006-93d3-4311-a4ca-320e258152b8","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst slug = (item.slug || '').replace(/'/g, \"''\");\nconst entityId = item.commodity_id || null;\nconst content = (item.markdown_detailed || '').replace(/'/g, \"''\");\nconst query = \"INSERT INTO kb_content (entity_slug, entity_type, entity_id, content, source_workflow, generated_at, updated_at) VALUES ('\" + slug + \"', 'commodity', '\" + entityId + \"'::uuid, '\" + content + \"', 'KB - Commodities Markdown v2.2', now(), now()) ON CONFLICT (entity_slug, entity_type) DO UPDATE SET content = EXCLUDED.content, entity_type = EXCLUDED.entity_type, source_workflow = EXCLUDED.source_workflow, generated_at = EXCLUDED.generated_at, updated_at = now()\";\nreturn [{ json: { query, entity_slug: item.slug } }];"},"id":"f28637bf-7e85-486b-898f-d228bafd0f02","name":"Prepare Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,16]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"f1e1801c-cc2e-4b9d-bc34-0f3cc767d74d","name":"Upsert to kb_content","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1200,16],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  (c.metadata->>'kind') AS commodity_type,\n  (c.metadata->>'id') AS uex_commodity_id\nFROM commodities c\nORDER BY c.name;\n","options":{}},"id":"76b1955c-84c4-4ede-83c3-250ab1fc3147","name":"Commodities List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[208,0],"executeOnce":true,"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  c.id,\n  c.name,\n  (c.metadata->>'uex_id')  AS uex_commodity_id,\n  (c.metadata->>'kind')    AS category,\n  (c.metadata->>'code')    AS commodity_code,\n\n  COALESCE(\n    (\n      SELECT COUNT(*) \n      FROM (\n        SELECT DISTINCT t2.id\n        FROM prices p2\n        JOIN trade_terminals t2\n          ON t2.id = p2.terminal_id\n        WHERE p2.commodity_id = c.id\n          AND p2.asset_type = 'commodity'\n          AND GREATEST(\n                COALESCE(p2.sell_price, 0),\n                COALESCE(p2.buy_price, 0)\n              ) > 0\n      ) AS term_ids\n    ),\n    0\n  ) AS terminals_total,\n\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'terminal_name', sub.terminal_name,\n                 'price', sub.price\n               )\n               ORDER BY sub.terminal_name\n             )\n      FROM (\n        SELECT DISTINCT\n          t1.name AS terminal_name,\n          GREATEST(\n            COALESCE(p1.sell_price, 0),\n            COALESCE(p1.buy_price, 0)\n          ) AS price\n        FROM prices p1\n        JOIN trade_terminals t1\n          ON t1.id = p1.terminal_id\n        WHERE p1.commodity_id = c.id\n          AND p1.asset_type = 'commodity'\n          AND GREATEST(\n                COALESCE(p1.sell_price, 0),\n                COALESCE(p1.buy_price, 0)\n              ) > 0\n      ) AS sub\n    ),\n    '[]'::jsonb\n  ) AS terminals_with_price\n\nFROM commodities c\nWHERE c.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"19661817-0438-444a-b176-bc6b8b8d7dca","name":"Commodity Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[592,16],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Commodities List","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Commodity Detail","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Commodities List","type":"main","index":0}]]},"Build Markdown":{"main":[[{"node":"Prepare Upsert","type":"main","index":0}]]},"Prepare Upsert":{"main":[[{"node":"Upsert to kb_content","type":"main","index":0}]]},"Upsert to kb_content":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Commodities List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Commodity Detail":{"main":[[{"node":"Build Markdown","type":"main","index":0}]]}},"pinData":{},"meta":null}