2026/06/06/S5yK3RAgxoWp1Era.json
{"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"40f9bdca-f936-41ac-8176-255982386ba9","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,4896]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,4848],"id":"d88a99c2-b5a8-48bb-985a-4656c6a08948","name":"Merge"},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/commodities_raw_prices_all/","options":{}},"id":"3cfbe725-3e22-41b3-aa69-76b172471a26","name":"Get Commodities prices","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-384,4896],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => {\n  \n  let asset_type;\n  let asset_source_id;\n\n  // Detect type based on which ID exists\n  if (row.id_item !== undefined) {\n    // Item pricing\n    asset_type = 'item';\n    asset_source_id = `items:${row.id_item}`;\n  } else if (row.id_commodity !== undefined) {\n    // Commodity pricing\n    asset_type = 'commodity';\n    asset_source_id = `commodities:${row.id_commodity}`;\n  } else {\n    throw new Error('Row does not contain id_item or id_commodity — cannot determine asset type');\n  }\n\n  return {\n    json: {\n      row,\n      asset_type,\n      asset_source_id\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,4896],"id":"a5872860-2b8e-4fbe-aca8-cccbe204d265","name":"JS Commodities Prices All","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/commodities_prices_all/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for commodities_prices_all'\n)\nRETURNING id;\n","options":{}},"id":"fdd08a77-8942-417f-8e5f-7101be2e289b","name":"Create Batch Items Commodities All","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-192,4720],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,4848],"id":"61f13da7-01e3-4ccf-8024-aadbee557a6b","name":"Loop Over Commodities Prices"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_prices_raw (\n    ingest_batch_id,\n    asset_type,\n    asset_source_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::TEXT,\n    $3::TEXT,\n    $4::jsonb\n);","options":{"queryReplacement":"={{$node[\"Create Batch Items Commodities All\"].json[\"id\"]}},{{ $json.asset_type }},{{ $json.asset_source_id }},{{ $json.row }}"}},"id":"d5df519a-7ef2-42e0-9795-edc24cb2d887","name":"Insert uex_prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[464,4864],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Start":{"main":[[{"node":"Get Commodities prices","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Commodities Prices","type":"main","index":0}]]},"Get Commodities prices":{"main":[[{"node":"Create Batch Items Commodities All","type":"main","index":0},{"node":"JS Commodities Prices All","type":"main","index":0}]]},"JS Commodities Prices All":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create Batch Items Commodities All":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Loop Over Commodities Prices":{"main":[[],[{"node":"Insert uex_prices_raw","type":"main","index":0}]]},"Insert uex_prices_raw":{"main":[[{"node":"Loop Over Commodities Prices","type":"main","index":0}]]}},"pinData":{},"meta":null}