2026/06/06/UKOpfpJi2BMo5iak.json
{"nodes":[{"parameters":{},"id":"0a650a8a-352e-42d7-8b65-845475ae8319","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,224]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,32],"id":"04e21a48-3f02-4961-ab35-3e3035256436","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,144],"id":"8fea1a1c-b969-4f13-a853-24d0bef4283c","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  l.id,\n  l.name,\n  COALESCE(\n    l.metadata->>'slug',\n    lower(regexp_replace(l.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug\nFROM locations l\nJOIN systems s\n  ON s.id = l.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nLEFT JOIN trade_terminals tt\n  ON tt.location_id = l.id\nLEFT JOIN prices p\n  ON p.terminal_id = tt.id\n AND p.asset_type = 'commodity'\n AND p.sell_price > 0\nWHERE\n  (\n    (l.metadata->>'is_available_live') = '1'\n    OR EXISTS (\n      SELECT 1\n      FROM trade_terminals tt2\n      JOIN prices p2\n        ON p2.terminal_id = tt2.id\n       AND p2.asset_type = 'commodity'\n       AND p2.sell_price > 0\n      WHERE tt2.location_id = l.id\n    )\n  )\nGROUP BY\n  l.id,\n  l.name,\n  l.metadata\nORDER BY\n  l.name;\n","options":{}},"id":"3b580e28-6e18-464e-b11c-52df51d8a028","name":"Locations – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[224,144],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  l.id,\n  l.name,\n  COALESCE(\n    l.metadata->>'slug',\n    lower(regexp_replace(l.name, '[^a-zA-Z0-9]+', '-', 'g'))\n  ) AS slug,\n  l.location_type,\n  s.name AS system_name,\n  b.name AS body_name,\n  l.source_id,\n  CASE\n    WHEN (l.metadata->>'is_space_station') = '1'\n         AND b.name IS NOT NULL\n      THEN 'Orbits ' || b.name\n    WHEN b.name IS NOT NULL\n      THEN b.name\n    ELSE 'N/A'\n  END AS body_name_or_orbit,\n  l.metadata->>'id' AS uex_location_id,\n  COUNT(DISTINCT tt.id) FILTER (WHERE tt.id IS NOT NULL) AS terminals_total,\n  COALESCE(\n    JSONB_AGG(DISTINCT tt.name ORDER BY tt.name)\n      FILTER (WHERE tt.id IS NOT NULL),\n    '[]'::jsonb\n  ) AS terminals_list\nFROM locations l\nJOIN systems s\n  ON s.id = l.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nLEFT JOIN bodies b\n  ON b.id = l.body_id\nLEFT JOIN trade_terminals tt\n  ON tt.location_id = l.id\nWHERE l.id = '{{$json[\"id\"]}}'\nGROUP BY\n  l.id,\n  l.name,\n  l.metadata,\n  l.location_type,\n  s.name,\n  b.name;\n","options":{}},"id":"70a5c707-a34c-459c-91f8-14e1516d6939","name":"Location – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[672,160],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,160],"id":"c82a8aac-2a75-4a22-816b-c43dfa854817","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2016,224],"id":"5277c7bf-12a8-4efc-a36c-e972a6f86500","name":"Execute a SQL query","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — LOCATIONS\n// Inputs (by node name):\n// - Location – Detail\n// - Get KB share file\n// - Set KB folder defaults\n// ============================================================\n\n// ---------- pull inputs ----------\nconst dItems = $items(\"Location – Detail\");\nif (!dItems || dItems.length === 0) {\n  throw new Error('JSONKB Locations: Missing input from node \"Location – Detail\".');\n}\nconst row = dItems[0].json;\n\n\n\n// ---------- helpers ----------\nfunction slugify(s) {\n  return String(s || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nfunction asNum(x) {\n  if (x === null || x === undefined || x === '') return null;\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction compactObj(obj) {\n  if (!obj || typeof obj !== 'object') return obj;\n  const out = Array.isArray(obj) ? [] : {};\n  for (const [k, v] of Object.entries(obj)) {\n    if (v === null || v === undefined) continue;\n\n    if (typeof v === 'object' && !Array.isArray(v)) {\n      const inner = compactObj(v);\n      if (inner && Object.keys(inner).length) out[k] = inner;\n      continue;\n    }\n\n    if (Array.isArray(v)) {\n      if (v.length) out[k] = v;\n      continue;\n    }\n\n    out[k] = v;\n  }\n  return out;\n}\n\n// deep-stable stringify (same as your v1.2 proof)\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null;\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm);\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n    return v;\n  }\n  return JSON.stringify(norm(value));\n}\n\n// ---------- slug / name ----------\nconst name = row.name || row.location_name || 'Unknown Location';\nconst slug = slugify(row.slug || name);\nif (!slug) throw new Error('JSONKB Locations: slug is empty.');\n\n// ---------- kb_links (share must exist; markdown runs first) ----------\n\nconst kb_links = {\n  kb_page_path: `/kb/${slug}`,\n  kb_browse_path: `/browse?category=location`,\n};\n\n// ---------- deterministic kb_text ----------\nconst locationType = row.location_type || row.type || 'location';\nconst systemName = row.system_name || 'Unknown system';\nconst bodyOrOrbit = row.body_name_or_orbit || row.body_name || row.orbit_name || null;\nconst terminalsTotal = Number(row.terminals_total ?? row.terminals_count ?? 0) || 0;\n\nlet kb_text =\n  `${name} is a ${locationType} located in the ${systemName} system.`;\n\nif (bodyOrOrbit) {\n  kb_text += ` It is associated with ${bodyOrOrbit}.`;\n}\n\nkb_text += ` It has ${terminalsTotal} trade terminals.`;\n\n// ---------- entity_metadata ----------\nlet entity_metadata = {\n  uex_location_id: row.uex_location_id != null ? Number(row.uex_location_id) : null,\n  location_type: locationType || null,\n  system_name: systemName || null,\n  body_or_orbit: bodyOrOrbit,\n  terminals_total: asNum(row.terminals_total ?? row.terminals_count) ?? terminalsTotal,\n};\n\nentity_metadata = compactObj(entity_metadata);\n\n// ---------- rag_hints (locked-spec only; leave empty) ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      id: \"location.terminals\",\n      description: \"Trade terminals at this location.\",\n      params: [{ name: \"location_id\", type: \"uuid\", required: true }],\n      sql_template: `SELECT t.id, t.name, t.terminal_type\nFROM trade_terminals t\nWHERE t.location_id = :location_id\nORDER BY t.name;`\n    }\n  ],\n  notes: null\n};\n\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Locations v1',\n  game_version: row.game_version || null,\n  is_live_only: true,\n};\n\n// ---------- hash (single hash includes rag_hints) ----------\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\n// ---------- JSONKB object ----------\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type: 'location',\n  entity_id: row.id || null,\n  entity_slug: slug,\n  entity_name: name,\n\n  source: 'uex',\n  source_id: row.source_id || (row.uex_location_id != null ? `locations:${row.uex_location_id}` : (row.source_id || null)),\n  source_table: 'locations',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/location/${slug}`;\n\nreturn [\n  {\n    json: {\n      location_id: row.id,\n      slug,\n      name,\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"b2a8cb15-6ba7-4015-a411-74a1949d43a9","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[896,160]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,160],"id":"317dfe07-18bf-403e-8071-7fc52d2c0831","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,160],"id":"747b10e2-e1da-4c2f-bc08-98b034a29349","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,160],"id":"06ae094f-d3cb-4d96-a394-0efa93c4a7a7","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Locations – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Locations – List","type":"main","index":0}]]},"Locations – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Location – Detail","type":"main","index":0}]]},"Location – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}