2026/06/06/xsyhYvdVrYCoWZ4d.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_terminals_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Terminals\"].json[\"id\"]}},{{ JSON.stringify($('JS terminals').item.json.row) }}"}},"id":"ad1cd880-9fd4-464b-bf29-4a8f9419201b","name":"Insert uex_terminals_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,1824],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/terminals/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for terminals'\n)\nRETURNING id;\n","options":{}},"id":"d7fa1bd8-0827-4fe7-9149-4ddc04c3cd73","name":"Create Batch Terminals","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[288,1728],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/terminals/","options":{}},"id":"ed766f6c-3101-492b-828f-81371b326595","name":"Get terminals","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[64,1824],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1920],"id":"237e0b8b-b066-444f-b76c-ca6993e5d35b","name":"JS terminals","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,1824],"id":"5ec7e7c2-ad8f-440d-8342-5b71209bc702","name":"Loop Over terminals"},{"parameters":{"inputSource":"passthrough"},"id":"654c0519-8fef-42cd-98b9-47931b52c59d","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,1824]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,1824],"id":"2b8cc876-bc07-4994-bf4e-66a00edd3a13","name":"Merge"}],"connections":{"Get terminals":{"main":[[{"node":"JS terminals","type":"main","index":0},{"node":"Create Batch Terminals","type":"main","index":0}]]},"JS terminals":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over terminals":{"main":[[],[{"node":"Insert uex_terminals_raw","type":"main","index":0}]]},"Create Batch Terminals":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_terminals_raw":{"main":[[{"node":"Loop Over terminals","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get terminals","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over terminals","type":"main","index":0}]]}},"pinData":{},"meta":null}