2026/06/06/ZcS41eGc1HKBpZ7h.json
{"nodes":[{"parameters":{},"id":"7ce1b663-c08d-4cab-83a9-84002ef60327","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,176]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,64],"id":"4b104d7c-8b4e-4f5b-930c-198e3ecbb1f3","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"61159723-637d-4290-931e-e40f7bc3d21f","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  tt.id\nFROM trade_terminals tt\nJOIN locations l\n  ON l.id = tt.location_id\nJOIN systems s\n  ON s.id = l.system_id\nJOIN active_systems asys\n  ON asys.id = s.id\nWHERE EXISTS (\n  SELECT 1\n  FROM prices p\n  WHERE p.terminal_id = tt.id\n    AND GREATEST(\n          COALESCE(p.sell_price, 0),\n          COALESCE(p.buy_price, 0)\n        ) > 0\n)\nORDER BY\n  s.name NULLS LAST,\n  l.name NULLS LAST,\n  tt.name;\n","options":{}},"id":"8ca1b239-bb2b-43d5-b082-dfc82db1eebb","name":"Terminals – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[352,64],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  tt.id,\n  tt.name,\n  tt.terminal_type,\n  l.name AS location_name,\n  s.name AS system_name,\n  tt.source_id,\n\n  -- how many distinct priced items (any asset_type) at this terminal\n  COALESCE(\n    (\n      SELECT COUNT(*)\n      FROM (\n        SELECT DISTINCT\n          di.asset_type,\n          di.item_name,\n          di.price\n        FROM (\n          SELECT\n            p2.asset_type,\n            GREATEST(\n              COALESCE(p2.sell_price, 0),\n              COALESCE(p2.buy_price, 0)\n            ) AS price,\n            COALESCE(\n              p2.asset_name,\n              p2.item_name,\n              p2.metadata->>'commodity_name',\n              p2.metadata->>'item_name',\n              p2.metadata->>'name'\n            ) AS item_name\n          FROM prices p2\n          WHERE p2.terminal_id = tt.id\n            AND GREATEST(\n                  COALESCE(p2.sell_price, 0),\n                  COALESCE(p2.buy_price, 0)\n                ) > 0\n        ) AS di\n      ) AS distinct_items\n    ),\n    0\n  ) AS item_count,\n\n  -- list of items (commodities, clothing, etc.) with prices and categories\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'item_name',      di.item_name,\n                 'asset_type',     di.asset_type,\n                 'commodity_code',\n                   CASE\n                     WHEN di.asset_type = 'commodity'\n                     THEN c.metadata->>'code'\n                     ELSE NULL\n                   END,\n                 'category',\n                   CASE\n                     WHEN di.asset_type = 'commodity'\n                       THEN c.metadata->>'kind'\n                     ELSE\n                       NULLIF(\n                         concat_ws(' / ', di.category_section, di.category_name),\n                         ''\n                       )\n                   END,\n                 'price',          di.price\n               )\n               ORDER BY di.item_name\n             )\n      FROM (\n        SELECT DISTINCT\n          p1.asset_type,\n          p1.commodity_id,\n          GREATEST(\n            COALESCE(p1.sell_price, 0),\n            COALESCE(p1.buy_price, 0)\n          ) AS price,\n          COALESCE(\n            p1.asset_name,\n            p1.item_name,\n            p1.metadata->>'commodity_name',\n            p1.metadata->>'item_name',\n            p1.metadata->>'name'\n          ) AS item_name,\n          (p1.metadata->>'id_category')::int AS category_id,\n          (\n            SELECT payload->>'name'\n            FROM uex_categories_raw cat\n            WHERE (cat.payload->>'id')::int = (p1.metadata->>'id_category')::int\n            ORDER BY cat.fetched_at DESC\n            LIMIT 1\n          ) AS category_name,\n          (\n            SELECT payload->>'section'\n            FROM uex_categories_raw cat\n            WHERE (cat.payload->>'id')::int = (p1.metadata->>'id_category')::int\n            ORDER BY cat.fetched_at DESC\n            LIMIT 1\n          ) AS category_section\n        FROM prices p1\n        WHERE p1.terminal_id = tt.id\n          AND GREATEST(\n                COALESCE(p1.sell_price, 0),\n                COALESCE(p1.buy_price, 0)\n              ) > 0\n      ) AS di\n      LEFT JOIN commodities c\n        ON c.id = di.commodity_id\n    ),\n    '[]'::jsonb\n  ) AS items_with_price\n\nFROM trade_terminals tt\nLEFT JOIN locations l\n  ON l.id = tt.location_id\nLEFT JOIN systems s\n  ON s.id = l.system_id\nWHERE tt.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"54b3f02b-0d0f-48b8-ae86-994ff26c41b8","name":"Terminals – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[736,80],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,80],"id":"585a94de-2fc2-4177-9bd4-c83a2ceb54ab","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,64],"id":"ed2d4ce0-ec46-40eb-ad0b-fa76aa0cf5f1","name":"Execute a SQL query","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — TRADE TERMINALS\n// Inputs (by node name):\n// - Terminals – Detail\n// - Get KB share file\n// - Set KB folder defaults\n// ============================================================\n\n// ---------- pull inputs ----------\nconst dItems = $items(\"Terminals – Detail\");\nif (!dItems || dItems.length === 0) {\n  throw new Error('JSONKB Terminals: Missing input from node \"Terminals – Detail\".');\n}\nconst row = dItems[0].json;\n\n\n\n// ---------- helpers ----------\nfunction slugify(s) {\n  return String(s || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nfunction asNum(x) {\n  if (x === null || x === undefined || x === '') return null;\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction compactObj(obj) {\n  if (!obj || typeof obj !== 'object') return obj;\n  const out = Array.isArray(obj) ? [] : {};\n  for (const [k, v] of Object.entries(obj)) {\n    if (v === null || v === undefined) continue;\n\n    if (typeof v === 'object' && !Array.isArray(v)) {\n      const inner = compactObj(v);\n      if (inner && Object.keys(inner).length) out[k] = inner;\n      continue;\n    }\n\n    if (Array.isArray(v)) {\n      if (v.length) out[k] = v;\n      continue;\n    }\n\n    out[k] = v;\n  }\n  return out;\n}\n\n// deep-stable stringify (prevents hash flapping)\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null;\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm);\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n    return v;\n  }\n  return JSON.stringify(norm(value));\n}\n\n// ---------- slug / name ----------\nconst name = row.name || 'Unknown Terminal';\nconst slug = slugify(row.slug || row.terminal_code || name);\nif (!slug) throw new Error('JSONKB Terminals: slug is empty.');\n\n// ---------- kb_links (share must exist; markdown runs first) ----------\n\nconst kb_links = {\n  kb_page_path: `/kb/${slug}`,\n  kb_browse_path: `/browse?category=terminal`,\n};\n\n// ---------- deterministic kb_text (spec template) ----------\nconst terminalType = row.terminal_type || 'terminal';\nconst locationName = row.location_name || 'Unknown location';\nconst systemName = row.system_name || 'Unknown system';\n\nconst kb_text =\n  `${name} is a ${terminalType} terminal at ${locationName} in the ${systemName} system.`;\n\n// ---------- derive small metadata ----------\nfunction parseItemsListed(src) {\n  // v0.5 detail SQL often emits items_with_price as json/jsonb/text\n  if (Array.isArray(src)) return src;\n  if (src && typeof src === 'object') {\n    // could be object keyed; normalize to values\n    return Array.isArray(Object.values(src)) ? Object.values(src) : [];\n  }\n  if (typeof src === 'string') {\n    try {\n      const j = JSON.parse(src);\n      if (Array.isArray(j)) return j;\n      if (j && typeof j === 'object') return Object.values(j);\n    } catch (_) {\n      return [];\n    }\n  }\n  return [];\n}\n\nconst items = parseItemsListed(row.items_with_price || row.items_listed || null);\n\n// asset_types_served (compact, sorted, unique)\nconst assetTypes = Array.from(\n  new Set(\n    (items || [])\n      .map(it => (it && typeof it === 'object') ? String(it.asset_type || '').trim().toLowerCase() : '')\n      .filter(Boolean)\n  )\n).sort();\n\n// has_live_prices: if there are any price rows at all\nconst hasLivePrices = (Array.isArray(items) && items.length > 0) ? true : null;\n\nlet entity_metadata = {\n  terminal_type: terminalType || null,\n  system_name: systemName || null,\n  location_name: locationName || null,\n\n  uex_terminal_code: row.terminal_code || row.code || null,\n\n  asset_types_served: assetTypes.length ? assetTypes : null,\n  has_live_prices: hasLivePrices,\n\n  item_count: asNum(row.item_count) ?? (items.length ? items.length : null),\n};\n\nentity_metadata = compactObj(entity_metadata);\n\n// ---------- rag_hints (LOCKED) ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      id: \"terminal.items_listed\",\n      description: \"List assets at a terminal (commodities or items).\",\n      params: [{ name: \"terminal_id\", type: \"uuid\", required: true }],\n      // exact locked template\n      sql_template: \"SELECT COALESCE((SELECT jsonb_agg(jsonb_build_object('item_name',di.item_name,'asset_type',di.asset_type,'buy_price',di.buy_price,'sell_price',di.sell_price) ORDER BY di.item_name) FROM (SELECT DISTINCT p.asset_type, COALESCE(p.asset_name,p.item_name,p.metadata->>'commodity_name',p.metadata->>'item_name',p.metadata->>'name') AS item_name, p.buy_price, p.sell_price FROM prices p WHERE p.terminal_id = :terminal_id) di),'[]'::jsonb) AS items_listed;\"\n    }\n  ],\n  notes: null\n}; // :contentReference[oaicite:1]{index=1}\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Trade Terminals v1',\n  game_version: row.game_version || null,\n  is_live_only: true,\n};\n\n// ---------- hash (single hash includes rag_hints) ----------\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\n// ---------- JSONKB object ----------\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type: 'terminal',\n  entity_id: row.id || null,\n  entity_slug: slug,\n  entity_name: name,\n\n  source: 'uex',\n  // If your terminals table has a UEX id/code, keep it; otherwise, null is acceptable.\n  source_id: row.source_id || ((row.uex_terminal_id != null) ? `terminals:${row.uex_terminal_id}` : (row.source_id || null)),\n  source_table: 'trade_terminals',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/terminal/${slug}`;\n\nreturn [\n  {\n    json: {\n      terminal_id: row.id,\n      slug,\n      name,\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"386cd717-a04f-4957-bf8a-1112c90e5d40","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[944,80]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,80],"id":"2f7a931f-30c1-4824-b929-4fcffc63e348","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,80],"id":"4e7a0312-b2b9-4d10-8d02-45cee26a0bd0","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1760,64],"id":"4219b0bb-1b2d-4eac-832b-735e476477e3","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Terminals – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Terminals – List","type":"main","index":0}]]},"Terminals – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Terminals – Detail","type":"main","index":0}]]},"Terminals – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}