2026/06/07/cUbEERDvrSvrDxdM.json
{"nodes":[{"parameters":{"path":"/auth/discord/start","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-896,-176],"id":"05c4edac-db3d-4104-8694-74eac33897ee","name":"Webhook Auth Start","webhookId":"28d5eec3-6dce-419c-b0c6-2128a0005492"},{"parameters":{"options":{"responseCode":302,"responseHeaders":{"entries":[{"name":"Location","value":"https://arkoncore.cc/"},{"name":"X-Cookie-Preview","value":"={{ $json.cookiepreview }}\n"},{"name":"Cache-Control","value":"no-store"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1424,192],"id":"a8edbda2-282a-4100-85b0-dc1511f142fd","name":"Respond to Webhook"},{"parameters":{"path":"/auth/discord/callback","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-880,208],"id":"ccd647a7-85c0-4671-bc88-3073f41f8f11","name":"Webhook Auth Callback","webhookId":"28d5eec3-6dce-419c-b0c6-2128a0005492"},{"parameters":{"options":{"responseCode":302,"responseHeaders":{"entries":[{"name":"Location","value":"={{$json.authorizeUrl}}"},{"name":"Cache-Control","value":"no-store"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[32,-160],"id":"c123f846-156a-467e-96f7-d55a0468bc0b","name":"Respond with redirect"},{"parameters":{"jsCode":"const clientId = $json.clientId;\nconst redirectUri = encodeURIComponent($json.redirectUri);\n\n// Use state provided by Set node (expression), not crypto\nconst state = $json.state;\n\nconst authorizeUrl =\n  'https://discord.com/oauth2/authorize' +\n  `?client_id=${clientId}` +\n  `&redirect_uri=${redirectUri}` +\n  '&response_type=code' +\n  '&scope=identify' +\n  `&state=${encodeURIComponent(state)}`;\n\nreturn [{ authorizeUrl, state }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-160],"id":"4aa134a5-831e-4632-89f2-08348547c88c","name":"Set Auth headers"},{"parameters":{"method":"POST","url":"https://discord.com/api/oauth2/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.clientId }}"},{"name":"client_secret","value":"={{ $json.clientsecret }}"},{"name":"grant_type","value":"authorization_code"},{"name":"code","value":"={{ $json.code }}"},{"name":"redirect_uri","value":"={{ $json.redirectUri }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,192],"id":"9e25cfa9-719f-440e-9398-01a3db0bb438","name":"discord oauth token request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb57f773-fcdf-468d-b607-efc1f572da82","leftValue":"={{ $json.webhookUrl }}","rightValue":"start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.webhookUrl }}","rightValue":"callback","operator":{"type":"string","operation":"contains"},"id":"398c2a6f-d208-4e97-a761-16a1cabfff52"}],"combinator":"and"},"renameOutput":true,"outputKey":"callback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-320,-16],"id":"e93c852a-b077-4787-9844-a4d9c8625e3f","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"7d543019-65ff-4074-9a96-ec29adc2c830","name":"clientId","value":"1455743225087266869","type":"string"},{"id":"87d0c771-6af1-4ba9-9e27-e7ffaf3a25d9","name":"redirectUri","value":"https://n8.saladins.io/webhook-test/auth/discord/callback","type":"string"},{"id":"4f0ae62a-9dd1-4ffc-acfa-ff64cc3fe93c","name":"state","value":"={{ $json.query.state }}","type":"string"},{"id":"4fe08f8d-bece-4476-ae5d-045f3112126f","name":"clientsecret","value":"EKRwyGTnjxzgrGQNryBWk9Q9wAeygBZb","type":"string"},{"id":"9042d752-88e5-4a11-bcd6-a9364ea8d471","name":"code","value":"={{ $json.query.code }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-16],"id":"7f73825c-8239-483d-9f18-ab3b36e443ce","name":"Set Fields"},{"parameters":{"url":"https://discord.com/api/users/@me","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$json.access_token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,192],"id":"5a80eed1-f0a8-42ab-a4e3-ffdebbc2c271","name":"HTTP Request"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO app_users (discord_user_id, username, global_name, avatar)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (discord_user_id) DO UPDATE\nSET username = EXCLUDED.username,\n    global_name = EXCLUDED.global_name,\n    avatar = EXCLUDED.avatar,\n    updated_at = now()\nRETURNING id, discord_user_id, username, global_name, avatar, created_at, updated_at;","options":{"queryReplacement":"={{ $json.id }},{{ $json.username }},{{ $json.global_name }},{{ $json.avatar }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,192],"id":"13c70557-f22f-4f77-813a-dde06f7582dd","name":"Upsert app_users","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"action":"generate","dataPropertyName":"state"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-672,-16],"id":"55076f6c-ac58-42d8-bf7b-07f716496433","name":"UUID State"},{"parameters":{"action":"generate","dataPropertyName":"session_token"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[576,192],"id":"bf2776a9-7ca4-4547-9498-abed804cd0c8","name":"Session UUID"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO app_sessions (user_id, session_token_hash, expires_at)\nVALUES ($1, $2, $3)\nRETURNING id, user_id, expires_at;\n","options":{"queryReplacement":"={{ $json.id }},{{ $json.session_token }},{{ $json.expires_at }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[992,192],"id":"165cf0ad-1a54-463c-bc7d-e89ffafbb07e","name":"Insert app_sessions","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"assignments":{"assignments":[{"id":"6a370af2-8c3b-47d9-9b0c-e17f0931a263","name":"expires_at","value":"={{ $now.plus({ days: 30 }).toISO() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,192],"id":"8dafbe15-3530-438b-a790-822790435af2","name":"set expire time"},{"parameters":{"assignments":{"assignments":[{"id":"b157ef0d-a5a1-47ae-aa85-6ad1bc4a177c","name":"cookiepreview","value":"={{('sxh_session=' + $node[\"set expire time\"].json.session_token + '; Path=/; HttpOnly; Secure; SameSite=Lax; Max-Age=2592000').replace(/[\\r\\n]/g,'')}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,192],"id":"2ce7088d-8f2d-4dac-bc26-b234e9b8ba6d","name":"Edit Fields"}],"connections":{"Webhook Auth Start":{"main":[[{"node":"UUID State","type":"main","index":0}]]},"Webhook Auth Callback":{"main":[[{"node":"UUID State","type":"main","index":0}]]},"Set Auth headers":{"main":[[{"node":"Respond with redirect","type":"main","index":0}]]},"Respond with redirect":{"main":[[]]},"discord oauth token request":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set Auth headers","type":"main","index":0}],[{"node":"discord oauth token request","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upsert app_users","type":"main","index":0}]]},"Upsert app_users":{"main":[[{"node":"Session UUID","type":"main","index":0}]]},"UUID State":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Session UUID":{"main":[[{"node":"set expire time","type":"main","index":0}]]},"Insert app_sessions":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"set expire time":{"main":[[{"node":"Insert app_sessions","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}