2026/06/07/sLFzIP3IOHbSUNcw.json
{"nodes":[{"parameters":{},"id":"a5d7575a-b279-4dc8-be49-2f637c183b83","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,224]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,144],"id":"c0fb9f59-5c11-4209-bffd-1cbac014abf3","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,32],"id":"75ba2e7d-0e9c-4832-8a07-00274cf0594d","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n  v.id,\n  v.name\nFROM vehicles v\nORDER BY v.name;","options":{}},"id":"9301b759-16c6-4f19-834f-2af1766d6d24","name":"Vehicles – List","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[224,144],"executeOnce":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57d2be5f-ef7e-43ea-8edd-a20fb7f33d2e","leftValue":"={{ $json.should_write }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,160],"id":"9399d770-8a02-4eed-a7bb-1cdcb4fe7262","name":"Should Write"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  v.id,\n  v.name,\n  v.name_full,\n  v.slug,\n  split_part(v.source_id, ':', 2)::int AS uex_vehicle_id,\n  v.source_id,\n\n  -- Core identity\n  v.company_name,\n  v.company_uex_id,\n  v.scu,\n  v.crew_min,\n  v.crew_max,\n  v.pad_type,\n  v.game_version,\n  v.is_spaceship,\n  v.is_ground_vehicle,\n  v.is_concept,\n  v.is_quantum_capable,\n  v.metadata->'raw'->>'container_sizes' AS container_sizes,\n  v.metadata->'raw' AS raw,\n\n  -- Some interesting flags from metadata.raw (optional, can be null)\n  (v.metadata->'raw'->>'is_military')::int    AS is_military,\n  (v.metadata->'raw'->>'is_civilian')::int    AS is_civilian,\n  (v.metadata->'raw'->>'is_industrial')::int  AS is_industrial,\n  (v.metadata->'raw'->>'is_exploration')::int AS is_exploration,\n  (v.metadata->'raw'->>'is_mining')::int      AS is_mining,\n  (v.metadata->'raw'->>'is_transport')::int   AS is_transport,\n\n  /* ========== PURCHASE LOCATIONS (aUEC) ========== */\n\n  COALESCE((\n    SELECT COUNT(*)\n    FROM vehicle_purchase_prices vpp\n    WHERE vpp.vehicle_id = v.id\n      AND vpp.price_buy > 0\n  ), 0) AS purchase_count,\n\n  COALESCE((\n    SELECT jsonb_agg(\n             jsonb_build_object(\n               'star_system_name', vpp.star_system_name,\n               'planet_name',      vpp.planet_name,\n               'city_name',        vpp.city_name,\n               'orbit_name',       vpp.orbit_name,\n               'terminal_name',    vpp.terminal_name,\n               'terminal_code',    vpp.terminal_code,\n               'price_buy',        vpp.price_buy\n             )\n             ORDER BY\n               vpp.star_system_name,\n               vpp.planet_name,\n               vpp.city_name,\n               vpp.orbit_name,\n               vpp.terminal_name\n           )\n    FROM vehicle_purchase_prices vpp\n    WHERE vpp.vehicle_id = v.id\n      AND vpp.price_buy > 0\n  ), '[]'::jsonb) AS purchase_points,\n\n  /* ========== RENTAL LOCATIONS ========== */\n\n  COALESCE((\n    SELECT COUNT(*)\n    FROM vehicle_rental_prices vrp\n    WHERE vrp.vehicle_id = v.id\n      AND vrp.price_rent > 0\n  ), 0) AS rental_count,\n\n  COALESCE((\n    SELECT jsonb_agg(\n             jsonb_build_object(\n               'star_system_name', vrp.star_system_name,\n               'planet_name',      vrp.planet_name,\n               'city_name',        vrp.city_name,\n               'orbit_name',       vrp.orbit_name,\n               'terminal_name',    vrp.terminal_name,\n               'terminal_code',    vrp.terminal_code,\n               'price_rent',       vrp.price_rent\n             )\n             ORDER BY\n               vrp.star_system_name,\n               vrp.planet_name,\n               vrp.city_name,\n               vrp.orbit_name,\n               vrp.terminal_name\n           )\n    FROM vehicle_rental_prices vrp\n    WHERE vrp.vehicle_id = v.id\n      AND vrp.price_rent > 0\n  ), '[]'::jsonb) AS rental_points,\n\n  /* ========== PLEDGE STORE PRICES (USD/etc) ========== */\n\n  COALESCE((\n    SELECT COUNT(*)\n    FROM vehicle_store_prices vsp\n    WHERE vsp.vehicle_id = v.id\n      AND COALESCE(vsp.price, 0) > 0\n  ), 0) AS store_count,\n\n  COALESCE((\n    SELECT jsonb_agg(\n             jsonb_build_object(\n               'currency',         vsp.currency,\n               'price',            vsp.price,\n               'price_package',    vsp.price_package,\n               'price_warbond',    vsp.price_warbond,\n               'price_concierge',  vsp.price_concierge,\n               'on_sale',          vsp.on_sale,\n               'on_sale_package',  vsp.on_sale_package,\n               'on_sale_warbond',  vsp.on_sale_warbond,\n               'on_sale_concierge',vsp.on_sale_concierge,\n               'game_version',     vsp.game_version\n             )\n             ORDER BY vsp.game_version\n           )\n    FROM vehicle_store_prices vsp\n    WHERE vsp.vehicle_id = v.id\n      AND COALESCE(vsp.price, 0) > 0\n  ), '[]'::jsonb) AS store_prices\n\nFROM vehicles v\nWHERE v.id = '{{$json[\"id\"]}}';\n","options":{}},"id":"f2b83207-41fd-4ee6-9daa-1b34e4075c2a","name":"Vehicle – Detail","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[688,160],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"functionCode":"// ============================================================\n// JSONKB v1 — VEHICLES (compact metadata, only emit TRUE flags)\n// Inputs (by node name):\n// - Vehicle – Detail\n// ============================================================\n\n// Pull vehicle detail row\nconst vItems = $items(\"Vehicle – Detail\");\nif (!vItems || vItems.length === 0) {\n  throw new Error('JSONKB Vehicles: Missing input from node \"Vehicle – Detail\".');\n}\nconst row = vItems[0].json;\n\n\n// ---------- helpers ----------\nfunction cleanBool(v) {\n  if (v === true || v === 1 || v === '1' || String(v).toLowerCase() === 'true') return true;\n  return false;\n}\n\nfunction stableStringify(value) {\n  const seen = new WeakSet();\n\n  function norm(v) {\n    if (v === null || v === undefined) return v;\n\n    if (typeof v === 'object') {\n      if (seen.has(v)) return null; // defensive; shouldn’t happen\n      seen.add(v);\n\n      if (Array.isArray(v)) return v.map(norm); // keep array order\n\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n\n    return v;\n  }\n\n  return JSON.stringify(norm(value));\n}\n\nfunction slugify(s) {\n  return String(s || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nfunction asNum(x) {\n  if (x === null || x === undefined || x === '') return null;\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction asInt(x) {\n  const n = asNum(x);\n  return Number.isFinite(n) ? Math.trunc(n) : null;\n}\n\nfunction asBool01(x) {\n  if (x === null || x === undefined) return null;\n  const n = Number(x);\n  if (!Number.isNaN(n)) return n !== 0;\n  const s = String(x).toLowerCase();\n  if (['true','t','yes','y','1'].includes(s)) return true;\n  if (['false','f','no','n','0'].includes(s)) return false;\n  return null;\n}\n\nfunction pickUrl(x) {\n  const s = String(x || '').trim();\n  return s ? s : null;\n}\n\nfunction compactObj(obj) {\n  // remove null/undefined/empty objects\n  if (!obj || typeof obj !== 'object') return obj;\n  const out = Array.isArray(obj) ? [] : {};\n  for (const [k, v] of Object.entries(obj)) {\n    if (v === null || v === undefined) continue;\n    if (typeof v === 'object' && !Array.isArray(v)) {\n      const inner = compactObj(v);\n      if (inner && Object.keys(inner).length) out[k] = inner;\n      continue;\n    }\n    if (Array.isArray(v)) {\n      if (v.length) out[k] = v;\n      continue;\n    }\n    out[k] = v;\n  }\n  return out;\n}\n\nfunction onlyTrueFlags(obj) {\n  // keep ONLY keys whose value is === true\n  const out = {};\n  for (const [k, v] of Object.entries(obj || {})) {\n    if (v === true) out[k] = true;\n  }\n  return out;\n}\n\nfunction parseContainerSizes(v) {\n  const valid = new Set([1,2,4,8,16,24,32]);\n  const src = (v ?? '').toString();\n  if (!src.trim()) return [];\n  return src.split(',')\n    .map(s => Number(s.trim()))\n    .filter(n => Number.isInteger(n) && valid.has(n))\n    .sort((a,b) => a - b);\n}\n\n// ---------- slug ----------\nconst slug = slugify(row.slug || row.name);\nif (!slug) throw new Error('JSONKB Vehicles: slug is empty.');\n\n\nconst kb_links = {\n  kb_page_path: `/kb/${slug}`,\n  kb_browse_path: `/browse?category=vehicle`,\n};\n\n// ---------- deterministic kb_text ----------\nconst name = row.name || 'Unknown Vehicle';\nconst manufacturer = row.company_name || 'Unknown manufacturer';\n\nconst isGround = cleanBool(row.is_ground_vehicle);\nconst vehicleKind = isGround ? 'ground vehicle' : 'spacecraft';\n\nconst scu = (row.scu === null || row.scu === undefined || row.scu === '') ? 'unknown' : row.scu;\nconst crewMin = (row.crew_min === null || row.crew_min === undefined || row.crew_min === '') ? '?' : row.crew_min;\nconst crewMax = (row.crew_max === null || row.crew_max === undefined || row.crew_max === '') ? '?' : row.crew_max;\n\nconst kb_text =\n  `${name} is a ${vehicleKind} manufactured by ${manufacturer}. ` +\n  `It has an SCU capacity of ${scu} and supports a crew size of ${crewMin} to ${crewMax}.`;\n\n// ---------- normalize metadata/raw ----------\n// IMPORTANT:\n// If you add `v.metadata->'raw' AS raw` to Vehicle–Detail SQL, you'll get row.raw.\nconst raw = (row.raw && typeof row.raw === 'object') ? row.raw : {};\n\n// ---------- container sizes ----------\nconst containerSizes = parseContainerSizes(row.container_sizes ?? raw.container_sizes ?? '');\n\n// ---------- flags (TRUE only) ----------\nconst ship_flags = onlyTrueFlags({\n  is_spaceship:       asBool01(row.is_spaceship ?? raw.is_spaceship),\n  is_ground_vehicle:  asBool01(row.is_ground_vehicle ?? raw.is_ground_vehicle),\n  is_concept:         asBool01(row.is_concept ?? raw.is_concept),\n  is_quantum_capable: asBool01(row.is_quantum_capable ?? raw.is_quantum_capable),\n});\n\n// Role flags come from your Vehicle–Detail SQL columns (is_military, etc).\n// Fallback to raw.* if you later include raw.\nconst role_flags = onlyTrueFlags({\n  is_military:    asBool01(row.is_military    ?? raw.is_military),\n  is_civilian:    asBool01(row.is_civilian    ?? raw.is_civilian),\n  is_industrial:  asBool01(row.is_industrial  ?? raw.is_industrial),\n  is_exploration: asBool01(row.is_exploration ?? raw.is_exploration),\n  is_mining:      asBool01(row.is_mining      ?? raw.is_mining),\n  is_transport:   asBool01(row.is_transport   ?? raw.is_transport),\n});\n\n// Capability-ish flags: only populated if you include raw (recommended)\nconst capability_flags = onlyTrueFlags({\n  is_cargo:        asBool01(raw.is_cargo),\n  is_racing:       asBool01(raw.is_racing),\n  is_tractor_beam: asBool01(raw.is_tractor_beam),\n  is_interdiction: asBool01(raw.is_interdiction),\n  is_medical:      asBool01(raw.is_medical),\n  is_salvage:      asBool01(raw.is_salvage),\n  is_refuel:       asBool01(raw.is_refuel),\n  is_repair:       asBool01(raw.is_repair),\n  is_science:      asBool01(raw.is_science),\n  is_stealth:      asBool01(raw.is_stealth),\n  is_starter:      asBool01(raw.is_starter),\n});\n\n// ---------- entity_metadata (compact) ----------\nlet entity_metadata = {\n  uex_vehicle_id: row.uex_vehicle_id != null ? Number(row.uex_vehicle_id) : null,\n  manufacturer: row.company_name || raw.company_name || null,\n  name_full: (row.name_full && row.name_full !== row.name) ? row.name_full : null,\n\n  scu_capacity: row.scu != null ? Number(row.scu) : asNum(raw.scu),\n  crew_min: row.crew_min != null ? Number(row.crew_min) : asInt(raw.crew),\n  crew_max: row.crew_max != null ? Number(row.crew_max) : asInt(raw.crew),\n  pad_type: row.pad_type || raw.pad_type || null,\n\n  supported_container_sizes: containerSizes,\n\n  ship_flags: Object.keys(ship_flags).length ? ship_flags : null,\n  role_flags: Object.keys(role_flags).length ? role_flags : null,\n  capability_flags: Object.keys(capability_flags).length ? capability_flags : null,\n\n  // optional: only if you include raw OR add fields to SQL\n  dimensions_m: (raw.length != null || raw.width != null || raw.height != null) ? {\n    length: asNum(raw.length),\n    width:  asNum(raw.width),\n    height: asNum(raw.height),\n  } : null,\n\n  urls: (raw.url_photo || raw.url_store || raw.url_video || raw.url_brochure || raw.url_hotsite) ? {\n    uex_photo: pickUrl(raw.url_photo),\n    rsi_store: pickUrl(raw.url_store),\n    video:     pickUrl(raw.url_video),\n    brochure:  pickUrl(raw.url_brochure),\n    hotsite:   pickUrl(raw.url_hotsite),\n  } : null,\n\n  game_version: row.game_version || raw.game_version || null,\n};\n\nentity_metadata = compactObj(entity_metadata);\n\n// ---------- rag_hints ----------\nconst rag_hints = {\n  sql_hints: [\n    {\n      id: \"vehicle.core\",\n      description: \"Core vehicle fields + raw metadata.\",\n      params: [{\"name\":\"vehicle_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT v.id, v.name, v.name_full, v.slug, v.company_name, v.company_uex_id, v.scu, v.crew_min, v.crew_max, v.pad_type, v.game_version, v.is_spaceship, v.is_ground_vehicle, v.is_concept, v.is_quantum_capable, v.metadata->'raw' AS raw\nFROM vehicles v\nWHERE v.id = :vehicle_id\nLIMIT 1;`\n    },\n    {\n      id: \"vehicle.purchase_points\",\n      description: \"Purchase locations + buy prices (aUEC).\",\n      params: [{\"name\":\"vehicle_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT COALESCE((SELECT jsonb_agg(jsonb_build_object('star_system_name',vpp.star_system_name,'planet_name',vpp.planet_name,'city_name',vpp.city_name,'orbit_name',vpp.orbit_name,'terminal_name',vpp.terminal_name,'terminal_code',vpp.terminal_code,'price_buy',vpp.price_buy) ORDER BY vpp.star_system_name,vpp.planet_name,vpp.city_name,vpp.orbit_name,vpp.terminal_name) FROM vehicle_purchase_prices vpp WHERE vpp.vehicle_id = :vehicle_id AND vpp.price_buy > 0),'[]'::jsonb) AS purchase_points;`\n    },\n    {\n      id: \"vehicle.rental_points\",\n      description: \"Rental locations + rent prices.\",\n      params: [{\"name\":\"vehicle_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT COALESCE((SELECT jsonb_agg(jsonb_build_object('star_system_name',vrp.star_system_name,'planet_name',vrp.planet_name,'city_name',vrp.city_name,'orbit_name',vrp.orbit_name,'terminal_name',vrp.terminal_name,'terminal_code',vrp.terminal_code,'price_rent',vrp.price_rent) ORDER BY vrp.star_system_name,vrp.planet_name,vrp.city_name,vrp.orbit_name,vrp.terminal_name) FROM vehicle_rental_prices vrp WHERE vrp.vehicle_id = :vehicle_id AND vrp.price_rent > 0),'[]'::jsonb) AS rental_points;`\n    },\n    {\n      id: \"vehicle.store_prices\",\n      description: \"Pledge store prices (USD/etc) by game_version.\",\n      params: [{\"name\":\"vehicle_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT COALESCE((SELECT jsonb_agg(jsonb_build_object('currency',vsp.currency,'price',vsp.price,'price_package',vsp.price_package,'price_warbond',vsp.price_warbond,'price_concierge',vsp.price_concierge,'on_sale',vsp.on_sale,'on_sale_package',vsp.on_sale_package,'on_sale_warbond',vsp.on_sale_warbond,'on_sale_concierge',vsp.on_sale_concierge,'game_version',vsp.game_version) ORDER BY vsp.game_version) FROM vehicle_store_prices vsp WHERE vsp.vehicle_id = :vehicle_id AND COALESCE(vsp.price,0) > 0),'[]'::jsonb) AS store_prices;`\n    },\n    {\n      id: \"vehicle.manufacturer\",\n      description: \"Manufacturer fields for this vehicle.\",\n      params: [{\"name\":\"vehicle_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT v.company_name, v.company_uex_id\nFROM vehicles v\nWHERE v.id = :vehicle_id\nLIMIT 1;`\n    },\n    {\n      id: \"vehicle.manufacturer_vehicles\",\n      description: \"List vehicles by same manufacturer (company_uex_id).\",\n      params: [{\"name\":\"vehicle_id\",\"type\":\"uuid\",\"required\":true}],\n      sql_template: `SELECT v2.id, v2.name, v2.name_full, v2.slug, v2.scu, v2.is_spaceship, v2.is_ground_vehicle, v2.is_concept\nFROM vehicles v1\nJOIN vehicles v2 ON v2.company_uex_id = v1.company_uex_id\nWHERE v1.id = :vehicle_id\nORDER BY v2.name;`\n    },\n  ],\n  notes: null\n};\n\n// ---------- provenance ----------\nconst provenance = {\n  generated_at: new Date().toISOString(),\n  kb_generator_workflow: 'JSONKB - Vehicles v1',\n  game_version: row.game_version || raw.game_version || null,\n  is_live_only: true,\n};\n\n// ---------- hash (FNV32 doubled => 16 hex chars) ----------\nfunction fnv1a32Hex(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash + ((hash << 1) + (hash << 4) + (hash << 7) + (hash << 8) + (hash << 24))) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hash16(str) {\n  const a = fnv1a32Hex(str);\n  const b = fnv1a32Hex(str + '|v2');\n  return a + b;\n}\n\n// ---------- JSONKB object ----------\nconst jsonkb = {\n  kb_version: '1.0',\n\n  entity_type: 'vehicle',\n  entity_id: row.id || null,\n  entity_slug: slug,\n  entity_name: name,\n\n  source: 'uex',\n  source_id: row.source_id || (row.uex_vehicle_id != null ? `vehicles:${row.uex_vehicle_id}` : (row.source_id || null)),\n  source_table: 'vehicles',\n\n  kb_text,\n  kb_links,\n  entity_metadata,\n  rag_hints,\n  provenance,\n};\n\nconst hashBasis = stableStringify({\n  entity_type: jsonkb.entity_type,\n  entity_id: jsonkb.entity_id,\n  kb_text: jsonkb.kb_text,\n  entity_metadata: jsonkb.entity_metadata,\n  rag_hints: jsonkb.rag_hints,\n});\n\njsonkb.provenance.content_hash = hash16(hashBasis);\n// const hashBasis = `${jsonkb.entity_type}|${jsonkb.entity_id}|${jsonkb.kb_text}|${jsonkb.entity_metadata}`;\n//jsonkb.provenance.content_hash = hash16(hashBasis);\n\n// ---------- JSONKB file path ----------\nconst jsonkb_file_path = `/kb/vehicle/${slug}`;\n\nreturn [\n  {\n    json: {\n      vehicle_id: row.id,\n      slug,\n      name,\n      jsonkb,\n      jsonkb_file_path,\n    },\n  },\n];\n"},"id":"8bd8a89e-b1d6-4260-a8bd-65b794303e8c","name":"Build JSONKB","type":"n8n-nodes-base.function","typeVersion":1,"position":[896,160]},{"parameters":{"operation":"executeQuery","query":"SELECT content_hash FROM jsonkb_store WHERE entity_slug = '{{$('Build JSONKB').item.json.slug}}' AND entity_type = '{{$('Build JSONKB').item.json.jsonkb.entity_type}}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,160],"id":"1f117ad0-3d5d-4ce3-9048-46f0d2db4ff0","name":"Get Existing Hash","alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const buildResult = $('Build JSONKB').item.json;\nconst existingRow = items[0].json;\nconst currentHash = buildResult.jsonkb?.provenance?.content_hash || null;\nconst existingHash = existingRow?.content_hash || null;\nconst should_write = !existingHash || existingHash !== currentHash;\nreturn [{ json: { ...buildResult, should_write, existing_hash: existingHash } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,160],"id":"bb9bc5b9-ef24-41fd-9bd9-05bd9baee7ee","name":"Compare Hash"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"jsonkb_store","mode":"list","cachedResultName":"jsonkb_store"},"columns":{"mappingMode":"defineBelow","value":{"entity_slug":"={{ $('Build JSONKB').item.json.slug }}","entity_type":"={{ $('Build JSONKB').item.json.jsonkb.entity_type }}","content":"={{ JSON.stringify($('Build JSONKB').item.json.jsonkb) }}","content_hash":"={{ $('Build JSONKB').item.json.jsonkb.provenance.content_hash }}","updated_at":"={{ new Date().toISOString() }}"},"matchingColumns":["entity_slug","entity_type"],"schema":[{"id":"entity_slug","displayName":"entity_slug","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"entity_type","displayName":"entity_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":false},{"id":"content_hash","displayName":"content_hash","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1776,176],"id":"3386c72f-a8f7-4535-a582-ba3db4e203fa","name":"Upsert to jsonkb_store","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO jsonkb_changes (entity_type, entity_id, entity_slug, jsonkb_file_path, content_hash)\nVALUES (\n  '{{$('Build JSONKB').item.json.jsonkb.entity_type}}',\n  '{{$('Build JSONKB').item.json.jsonkb.entity_id}}',\n  '{{$('Build JSONKB').item.json.slug}}',\n  '{{$('Build JSONKB').item.json.jsonkb_file_path}}',\n  '{{$('Build JSONKB').item.json.jsonkb.provenance.content_hash}}'\n)\nON CONFLICT DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,240],"id":"51585c3d-9ecc-44e6-8ea9-14d3e64424a9","name":"log change","credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Vehicles – List","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Vehicles – List","type":"main","index":0}]]},"Vehicles – List":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Vehicle – Detail","type":"main","index":0}]]},"Vehicle – Detail":{"main":[[{"node":"Build JSONKB","type":"main","index":0}]]},"Build JSONKB":{"main":[[{"node":"Get Existing Hash","type":"main","index":0}]]},"Get Existing Hash":{"main":[[{"node":"Compare Hash","type":"main","index":0}]]},"Compare Hash":{"main":[[{"node":"Should Write","type":"main","index":0}]]},"Should Write":{"main":[[{"node":"Upsert to jsonkb_store","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Upsert to jsonkb_store":{"main":[[{"node":"log change","type":"main","index":0}]]},"log change":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}