2026/05/29/89vIp18oSPNAf9EU.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_companies_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Companies\"].json[\"id\"]}},{{ JSON.stringify($('JS companies').item.json.row) }}"}},"id":"0077f543-f9b1-457e-bfb0-a927af393844","name":"Insert uex_companies_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,4560],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/companies/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for companies'\n)\nRETURNING id;\n","options":{}},"id":"511c316d-2dbf-4bbf-b857-a275057123b0","name":"Create Batch Companies","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[256,4464],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/companies/","options":{}},"id":"7fe8571a-65fd-418c-9e5b-6322a88f5d57","name":"Get companies","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[32,4560],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,4656],"id":"16aaa1b5-c92a-4dfa-a789-cea1ae64b18c","name":"JS companies","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,4560],"id":"d8299f8f-3034-46b1-bb4c-39b7e37be343","name":"Loop Over companies"},{"parameters":{"inputSource":"passthrough"},"id":"994a5468-90a5-4579-b567-36712a3c9af5","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-192,4560]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,4560],"id":"b77336eb-faf5-40ea-9c2f-616668368739","name":"Merge"}],"connections":{"Get companies":{"main":[[{"node":"JS companies","type":"main","index":0},{"node":"Create Batch Companies","type":"main","index":0}]]},"JS companies":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over companies":{"main":[[],[{"node":"Insert uex_companies_raw","type":"main","index":0}]]},"Create Batch Companies":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_companies_raw":{"main":[[{"node":"Loop Over companies","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get companies","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over companies","type":"main","index":0}]]}},"pinData":{},"meta":null}