2026/05/29/Ns0B3cBjQFy1ivRb.json
{"nodes":[{"parameters":{"formTitle":"Prospect to Member Request","formDescription":"This will be where you put in a request to become a full member. Do keep in mind after submission this will be a process handled by leadership. You will get notified in the end of the process of approval or denial. NOTE: This may take time at this point notify leadership by approprate channel.","formFields":{"values":[{"fieldLabel":"Discord Name (include full discord name)","requiredField":true},{"fieldName":"Approval 1","fieldType":"hiddenField"},{"fieldName":"Approval 2","fieldType":"hiddenField"},{"fieldLabel":"Why are you here? What is the meaning of being a member to you?","fieldType":"textarea","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-48,-240],"id":"9c108eb9-2ddd-4a27-b615-186e577bb0ae","name":"On form submission","webhookId":"d9b0bd5f-e2ee-4e92-9f48-fdcc53fbede4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Approver1 && $json.Approver2 }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"26d68977-f54f-47c3-9dc8-511f6761752c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approvals Missing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd3fe49a-8d66-4889-a4ae-848919834923","leftValue":"={{ $json.Approver1 && $json.Approver2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[608,-336],"id":"01db7e32-9111-444c-a62c-406d146af660","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Approver1 }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true},"id":"26d68977-f54f-47c3-9dc8-511f6761752c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approval 1 Needed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd3fe49a-8d66-4889-a4ae-848919834923","leftValue":"={{ $json.Approver2 }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Approval 2 Needed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d69400f-4e34-4710-97e5-a616e3bf911f","leftValue":"={{ $json.Approver1 && $json.Approver2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Approvals Good"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[832,-352],"id":"0403661a-6f8b-4eb2-8717-7082e028a5d2","name":"Switch1"},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"message":"={{ $json.Name }} is asking to become a member, they had stated the reason to be a member is \"{{ $json.Reason }}\". Do you approve this user to be a member? (First Approval)","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Your Discord Name? (For first approval process)","placeholder":"[Copy User Name from discord directly]","requiredField":true},{"fieldLabel":"=Do you Approve of {{ $json.Name }} becoming a member?","fieldType":"checkbox","fieldOptions":{"values":[{"option":"Yes"}]},"requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1056,-432],"id":"38436fcc-337c-48c2-b0f7-f76386febe55","name":"Get Approval #1","webhookId":"7d7a78c0-9089-4e3b-9f94-7b1a7af19c69","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"5VLP8eMAra0paVce","mode":"list","cachedResultName":"Propecttomember","cachedResultUrl":"/projects/g0HiVJMWXSnCxJ5n/datatables/5VLP8eMAra0paVce"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[384,-336],"id":"b4bd75d0-a709-4a9f-9b37-f6697179a00e","name":"Get row(s)"},{"parameters":{"dataTableId":{"__rl":true,"value":"5VLP8eMAra0paVce","mode":"list","cachedResultName":"Propecttomember","cachedResultUrl":"/projects/g0HiVJMWXSnCxJ5n/datatables/5VLP8eMAra0paVce"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json['Discord Name (include full discord name)'] }}","Reason":"={{ $json['Why are you here? What is the meaning of being a member to you?'] }}","Approver1":"={{ $json['Approval 1'] }}","approved":false,"Approver2":"={{ $json['Approval 2'] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Approver1","displayName":"Approver1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Approver2","displayName":"Approver2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"approved","displayName":"approved","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[160,-240],"id":"b5415384-0eca-4544-a89f-8573a116c5ae","name":"Insert row"},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"message":"={{ $json.Name }} is asking to become a member, they had stated the reason to be a member is \"{{ $json.Reason }}\". Do you approve this user to be a member? (Second Approval)","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Your Discord Name? (For second approval process)","placeholder":"[Copy User Name from discord directly]","requiredField":true},{"fieldLabel":"=Do you Approve of {{ $json.Name }} becoming a member?","fieldType":"checkbox","fieldOptions":{"values":[{"option":"Yes"}]},"requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1056,-240],"id":"cbf307ba-6454-4b67-a100-1e9e9adbc975","name":"Get Approval #2","webhookId":"7d7a78c0-9089-4e3b-9f94-7b1a7af19c69","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2480,48],"id":"944508d9-0e76-4611-917f-a42c5e4cd2bc","name":"Delete a message","webhookId":"f4166d7f-e94f-4085-89c0-d6f073a96a4e","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"limit":1,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2256,48],"id":"1b9616fd-5ccf-4f6d-8c63-b7e9c03841d8","name":"Get many messages","webhookId":"bfe95873-950e-4dc6-9c89-89019ae2679e","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"sendAndWait","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"sendTo":"user","userId":{"__rl":true,"value":"={{ $json.approver }}","mode":"id"},"message":"Do you confirm approval?","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2032,48],"id":"403138ba-da5e-43f3-8f21-6d6370b3aa25","name":"Send message and wait for response","webhookId":"24f20eb9-0fb7-48e1-9e51-5ec3c7e2f514","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"5VLP8eMAra0paVce","mode":"list","cachedResultName":"Propecttomember","cachedResultUrl":"/projects/g0HiVJMWXSnCxJ5n/datatables/5VLP8eMAra0paVce"},"filters":{"conditions":[{"keyValue":"={{ $('Insert row').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"Approver2":"={{ $json.matchedValue }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Approver1","displayName":"Approver1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Approver2","displayName":"Approver2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"approved","displayName":"approved","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2432,-256],"id":"5dfae877-39ac-4603-99da-cb675d84cc7f","name":"update Approver #2"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"5VLP8eMAra0paVce","mode":"list","cachedResultName":"Propecttomember","cachedResultUrl":"/projects/g0HiVJMWXSnCxJ5n/datatables/5VLP8eMAra0paVce"},"filters":{"conditions":[{"keyValue":"={{ $('Get row(s)').first().json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"Approver1":"={{ $json.matchedValue }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Reason","displayName":"Reason","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Approver1","displayName":"Approver1","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Approver2","displayName":"Approver2","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"approved","displayName":"approved","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2432,-448],"id":"ef7b36f1-e4c7-4af5-95ff-e6c98b718412","name":"update approver #1"},{"parameters":{"resource":"member","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1616,-432],"id":"a5d233f5-9f0f-4626-b2c4-af304cda521b","name":"Get many members1","webhookId":"afde6697-1e82-46fb-86b6-66603a709ed9","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,-16],"id":"49a506eb-a3c3-42b3-9b74-f9f32ecbeec3","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Form Start","height":256,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-96,-336],"typeVersion":1,"id":"5411a3d2-3987-4c15-8fe3-7c72994fc922","name":"Sticky Note1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1JrgX7JQXif1Aq27sx14A1IqDt70ErfzkH7sXC0fPkoI/edit?gid=1743475012#gid=1743475012","mode":"url"},"sheetName":{"__rl":true,"value":1743475012,"mode":"list","cachedResultName":"Form Responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JrgX7JQXif1Aq27sx14A1IqDt70ErfzkH7sXC0fPkoI/edit#gid=1743475012"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-336,-80],"id":"06c2990e-3015-49ac-94df-497bcf8c3695","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"1JmPbxR7lATeA3Nv","name":"Google Sheets Trigger account"}},"disabled":true},{"parameters":{"resource":"member","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1616,-240],"id":"73331cf6-47eb-4760-878a-5aa956484e74","name":"Get many members","webhookId":"afde6697-1e82-46fb-86b6-66603a709ed9","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012122540281928","mode":"list","cachedResultName":"approved","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012122540281928"},"content":"=@{{ $json.Name }} has been approved to be a member.\n\nThey stated in submission:\n{{ $json.Reason }}\n\nWith the fellow people have done approval process:\n1. {{ $json.Approver1 }}\n2. {{ $json.Approver2 }}\n\nCongrates on making it to this step.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[784,-32],"id":"7209a67f-f69c-411f-ae86-0ad7c608786e","name":"Send a message","webhookId":"2be66ea6-7fb5-4f80-8e19-90b48e8f4d0b","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efda84dd-ec4b-4c78-9a90-c4544fa81e63","leftValue":"={{ $json.ok }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,-240],"id":"4def404e-360e-4046-b720-27760c9e91ec","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efda84dd-ec4b-4c78-9a90-c4544fa81e63","leftValue":"={{ $json.ok }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,-432],"id":"47216a76-749a-4518-83a9-039e5dad3e31","name":"If1"},{"parameters":{"jsCode":"// ALWAYS-RETURN, FIXED-SCHEMA VERSION\n// Inputs:\n// - members array discovered like your snippet (items[0].json or common variants)\n// - approver text from $('update Approver #2').first().json.Approver2\n\n// ---------- defaults & helpers ----------\nconst canon = (s) => (s ?? '').toLowerCase().trim();\nconst defaults = {\n  ok: false,\n  error: null,\n  message: null,\n  query: null,\n  candidateCount: 0,\n  userId: null,\n  matchedField: null,\n  matchedValue: null,\n};\nconst done = (overrides = {}) => [{ json: { ...defaults, ...overrides } }];\n\n// ---------- 0) Collect members (your discovery logic) ----------\nlet members = [];\nif (Array.isArray(items?.[0]?.json)) members = items[0].json;\nelse if (Array.isArray(items?.[0]?.json?.data)) members = items[0].json.data;\nelse if (Array.isArray(items?.[0]?.json?.members)) members = items[0].json.members;\nelse if (Array.isArray(items) && items.length && items.every(i => i?.json && i.json.user)) {\n  members = items.map(i => i.json);\n} else if (Array.isArray($json)) {\n  members = $json;\n}\n\n// ---------- 1) Read approver ----------\nconst raw = String($('Get Approval #1').first().json.data['Your Discord Name? (For first approval process)'] ?? '').trim();\n\n// If we can't proceed, still return fixed-shape JSON\nif (!members.length) {\n  return done({\n    error: 'members_not_found',\n    message: 'Could not locate the members array on the incoming data.',\n    query: raw || null,\n    candidateCount: 0,\n  });\n}\nif (!raw) {\n  return done({\n    error: 'empty_query',\n    message: 'Approver is empty.',\n    query: null,\n    candidateCount: members.length,\n  });\n}\n\n// ---------- 2) Short-circuit: mention or raw snowflake ID ----------\nconst mention = raw.match(/^<@!?(\\d{17,20})>$/);\nif (mention) {\n  return done({\n    ok: true,\n    query: raw,\n    candidateCount: members.length,\n    userId: mention[1],\n    matchedField: 'mention',\n    matchedValue: raw,\n  });\n}\nif (/^\\d{17,20}$/.test(raw)) {\n  return done({\n    ok: true,\n    query: raw,\n    candidateCount: members.length,\n    userId: raw,\n    matchedField: 'id',\n    matchedValue: raw,\n  });\n}\n\n// ---------- 3) Build candidate list (ignore bots unless explicitly matched) ----------\nconst q = raw.replace(/^@+/, '').toLowerCase();\nconst ignoreBots = true;\nlet candidates = ignoreBots\n  ? members.filter(m => !m?.user?.bot || canon(m?.user?.username) === q)\n  : members;\n\n// ---------- 4) Scoring + rules ----------\nfunction score(m) {\n  const nick  = canon(m?.nick);\n  const user  = canon(m?.user?.username);\n  const gname = canon(m?.user?.global_name);\n  const nz = q.length > 0;\n  return [\n    nick === q,               // 0 exact:nick\n    gname === q,              // 1 exact:global_name\n    user === q,               // 2 exact:username\n    nz && nick.startsWith(q), // 3 starts:nick\n    nz && gname.startsWith(q),// 4 starts:global_name\n    nz && user.startsWith(q), // 5 starts:username\n    nz && nick.includes(q),   // 6 contains:nick\n    nz && gname.includes(q),  // 7 contains:global_name\n    nz && user.includes(q),   // 8 contains:username\n  ];\n}\nconst rules = [\n  'exact:nick',\n  'exact:global_name',\n  'exact:username',\n  'starts:nick',\n  'starts:global_name',\n  'starts:username',\n  'contains:nick',\n  'contains:global_name',\n  'contains:username',\n];\n\n// ---------- 5) Select best match ----------\nlet picked = null;\nlet matchedRule = null;\nfor (let r = 0; r < rules.length && !picked; r++) {\n  const idx = candidates.findIndex(m => score(m)[r]);\n  if (idx !== -1) { picked = candidates[idx]; matchedRule = rules[r]; }\n}\n\n// ---------- 6) Return result in fixed shape ----------\nif (!picked?.user?.id) {\n  return done({\n    error: 'no_match',\n    message: `No match for \"${raw}\" in ${members.length} members.`,\n    query: raw,\n    candidateCount: members.length,\n    userId: null,\n    matchedField: null,\n    matchedValue: null,\n  });\n}\n\nlet matchedValue = null;\nif (matchedRule.endsWith('nick'))         matchedValue = picked.nick ?? null;\nif (matchedRule.endsWith('global_name'))  matchedValue = picked.user?.global_name ?? null;\nif (matchedRule.endsWith('username'))     matchedValue = picked.user?.username ?? null;\n\nreturn done({\n  ok: true,\n  error: null,\n  message: null,\n  query: raw,\n  candidateCount: members.length,\n  userId: picked.user.id,\n  matchedField: matchedRule,\n  matchedValue,\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,-432],"id":"fb1803d2-1a4f-420a-9256-b7886e31c9c3","name":"Get Member ID 1"},{"parameters":{"jsCode":"// ALWAYS-RETURN, FIXED-SCHEMA VERSION\n// Inputs:\n// - members array discovered like your snippet (items[0].json or common variants)\n// - approver text from $('update Approver #2').first().json.Approver2\n\n// ---------- defaults & helpers ----------\nconst canon = (s) => (s ?? '').toLowerCase().trim();\nconst defaults = {\n  ok: false,\n  error: null,\n  message: null,\n  query: null,\n  candidateCount: 0,\n  userId: null,\n  matchedField: null,\n  matchedValue: null,\n};\nconst done = (overrides = {}) => [{ json: { ...defaults, ...overrides } }];\n\n// ---------- 0) Collect members (your discovery logic) ----------\nlet members = [];\nif (Array.isArray(items?.[0]?.json)) members = items[0].json;\nelse if (Array.isArray(items?.[0]?.json?.data)) members = items[0].json.data;\nelse if (Array.isArray(items?.[0]?.json?.members)) members = items[0].json.members;\nelse if (Array.isArray(items) && items.length && items.every(i => i?.json && i.json.user)) {\n  members = items.map(i => i.json);\n} else if (Array.isArray($json)) {\n  members = $json;\n}\n\n// ---------- 1) Read approver ----------\nconst raw = String($('Get Approval #2').first().json.data['Your Discord Name? (For second approval process)'] ?? '').trim();\n\n// If we can't proceed, still return fixed-shape JSON\nif (!members.length) {\n  return done({\n    error: 'members_not_found',\n    message: 'Could not locate the members array on the incoming data.',\n    query: raw || null,\n    candidateCount: 0,\n  });\n}\nif (!raw) {\n  return done({\n    error: 'empty_query',\n    message: 'Approver is empty.',\n    query: null,\n    candidateCount: members.length,\n  });\n}\n\n// ---------- 2) Short-circuit: mention or raw snowflake ID ----------\nconst mention = raw.match(/^<@!?(\\d{17,20})>$/);\nif (mention) {\n  return done({\n    ok: true,\n    query: raw,\n    candidateCount: members.length,\n    userId: mention[1],\n    matchedField: 'mention',\n    matchedValue: raw,\n  });\n}\nif (/^\\d{17,20}$/.test(raw)) {\n  return done({\n    ok: true,\n    query: raw,\n    candidateCount: members.length,\n    userId: raw,\n    matchedField: 'id',\n    matchedValue: raw,\n  });\n}\n\n// ---------- 3) Build candidate list (ignore bots unless explicitly matched) ----------\nconst q = raw.replace(/^@+/, '').toLowerCase();\nconst ignoreBots = true;\nlet candidates = ignoreBots\n  ? members.filter(m => !m?.user?.bot || canon(m?.user?.username) === q)\n  : members;\n\n// ---------- 4) Scoring + rules ----------\nfunction score(m) {\n  const nick  = canon(m?.nick);\n  const user  = canon(m?.user?.username);\n  const gname = canon(m?.user?.global_name);\n  const nz = q.length > 0;\n  return [\n    nick === q,               // 0 exact:nick\n    gname === q,              // 1 exact:global_name\n    user === q,               // 2 exact:username\n    nz && nick.startsWith(q), // 3 starts:nick\n    nz && gname.startsWith(q),// 4 starts:global_name\n    nz && user.startsWith(q), // 5 starts:username\n    nz && nick.includes(q),   // 6 contains:nick\n    nz && gname.includes(q),  // 7 contains:global_name\n    nz && user.includes(q),   // 8 contains:username\n  ];\n}\nconst rules = [\n  'exact:nick',\n  'exact:global_name',\n  'exact:username',\n  'starts:nick',\n  'starts:global_name',\n  'starts:username',\n  'contains:nick',\n  'contains:global_name',\n  'contains:username',\n];\n\n// ---------- 5) Select best match ----------\nlet picked = null;\nlet matchedRule = null;\nfor (let r = 0; r < rules.length && !picked; r++) {\n  const idx = candidates.findIndex(m => score(m)[r]);\n  if (idx !== -1) { picked = candidates[idx]; matchedRule = rules[r]; }\n}\n\n// ---------- 6) Return result in fixed shape ----------\nif (!picked?.user?.id) {\n  return done({\n    error: 'no_match',\n    message: `No match for \"${raw}\" in ${members.length} members.`,\n    query: raw,\n    candidateCount: members.length,\n    userId: null,\n    matchedField: null,\n    matchedValue: null,\n  });\n}\n\nlet matchedValue = null;\nif (matchedRule.endsWith('nick'))         matchedValue = picked.nick ?? null;\nif (matchedRule.endsWith('global_name'))  matchedValue = picked.user?.global_name ?? null;\nif (matchedRule.endsWith('username'))     matchedValue = picked.user?.username ?? null;\n\nreturn done({\n  ok: true,\n  error: null,\n  message: null,\n  query: raw,\n  candidateCount: members.length,\n  userId: picked.user.id,\n  matchedField: matchedRule,\n  matchedValue,\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,-240],"id":"1eb97a0d-4af8-4575-a0a5-b4d39f162152","name":"Get Member ID 2"},{"parameters":{"resource":"message","operation":"deleteMessage","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1440,-240],"id":"ceb0f8d4-4106-472d-892e-18f7ab2c1f2e","name":"Delete a message1","webhookId":"eafdb641-5e51-4d03-91a5-9a95b1209895","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"limit":1,"options":{"simplify":false}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1248,-432],"id":"96244481-f5f2-4361-8b73-005b9602dcdf","name":"get approval msg for ID","webhookId":"bfe95873-950e-4dc6-9c89-89019ae2679e","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"getAll","guildId":{"__rl":true,"value":"196315042797322240","mode":"list","cachedResultName":"Wolf Forge","cachedResultUrl":"https://discord.com/channels/196315042797322240"},"channelId":{"__rl":true,"value":"1430012036582211635","mode":"list","cachedResultName":"needs-approval","cachedResultUrl":"https://discord.com/channels/196315042797322240/1430012036582211635"},"limit":1,"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1248,-240],"id":"27354b47-acfb-45b4-aaf9-88cec5a4bc7a","name":"get approval msg for ID 2","webhookId":"bfe95873-950e-4dc6-9c89-89019ae2679e","credentials":{"discordBotApi":{"id":"bZgjaau93Tx3n2y9","name":"Discord Bot account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"n66WGoUUJxjfJvwV","mode":"list","cachedResultUrl":"/workflow/n66WGoUUJxjfJvwV","cachedResultName":"Delete msgs"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1456,-432],"id":"b802fd54-97fc-4ad8-a96a-c025be9880ae","name":"Call 'Delete msgs'"}],"connections":{"On form submission":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Get Approval #1","type":"main","index":0}],[{"node":"Get Approval #2","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Get Approval #1":{"main":[[{"node":"get approval msg for ID","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get Approval #2":{"main":[[{"node":"get approval msg for ID 2","type":"main","index":0}]]},"Delete a message":{"main":[[]]},"Get many messages":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"update Approver #2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"update approver #1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Get many members1":{"main":[[{"node":"Get Member ID 1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Get many members":{"main":[[{"node":"Get Member ID 2","type":"main","index":0}]]},"If":{"main":[[{"node":"update Approver #2","type":"main","index":0}],[{"node":"Get Approval #2","type":"main","index":0}]]},"If1":{"main":[[{"node":"update approver #1","type":"main","index":0}],[{"node":"Get Approval #1","type":"main","index":0}]]},"Get Member ID 1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get Member ID 2":{"main":[[{"node":"If","type":"main","index":0}]]},"Send a message":{"main":[[]]},"Delete a message1":{"main":[[{"node":"Get many members","type":"main","index":0}]]},"get approval msg for ID":{"main":[[{"node":"Call 'Delete msgs'","type":"main","index":0}]]},"get approval msg for ID 2":{"main":[[{"node":"Delete a message1","type":"main","index":0}]]},"Call 'Delete msgs'":{"main":[[{"node":"Get many members1","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}