2026/05/29/YHfbAHPEoIxngh2m.json
{"nodes":[{"id":"c94856b8-89b0-4679-ac18-06fdf71b99bc","name":"Lookup Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"v3/orgs/lookup","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"796fc04b-552e-4fd1-afc8-aa1785babe09","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"3865cd9e-c108-4348-a4fa-287256b52092","name":"Build Lookup SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0],"parameters":{"jsCode":"const raw = ($json.body.sid || \"\").trim();\nconst urlMatch = raw.match(/\\/orgs\\/([A-Z0-9_-]+)/i);\nconst sid = urlMatch ? urlMatch[1].toUpperCase() : raw.toUpperCase().replace(/[^A-Z0-9_-]/g, \"\");\nif (!sid) throw new Error(\"sid is required\");\nreturn [{ json: { sid } }];"}},{"id":"3d5d466e-f8a2-4dd1-ac0a-9ef693e140e9","name":"DB Lookup Org","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,0],"parameters":{"operation":"executeQuery","query":"SELECT o.org_id, o.slug, o.name, o.description, o.logo_url, o.rsi_url, o.site_url, o.discord_invite, o.is_visible, o.is_recruiting, o.source, o.member_count, (o.org_id IS NOT NULL) AS in_db FROM (VALUES ($1::text)) AS x(slug_param) LEFT JOIN sc_orgs o ON o.slug = x.slug_param","options":{"queryReplacement":"={{ $json.sid }}"}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"4aa5a14b-bb8d-4421-b0af-cf623c171506","name":"RSI Org Page Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,0],"parameters":{"url":"={{ \"https://robertsspaceindustries.com/orgs/\" + $('Build Lookup SQL').first().json.sid }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":8000}}},{"id":"8b1eaf60-5ff2-4f5a-9d16-fa1014d127c3","name":"Build Lookup Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"parameters":{"jsCode":"const sid = $('Build Lookup SQL').first().json.sid;\nconst dbRow = $('DB Lookup Org').first().json;\nconst inDb = dbRow.in_db === true || dbRow.in_db === 't' || dbRow.in_db === 'true';\nconst rsiResp = $('RSI Org Page Check').first().json || {};\nconst rsiStatus = rsiResp.statusCode;\nconst html = rsiResp.data || rsiResp.body || '';\nconst rsiExists = rsiStatus === 200 && html.length > 1000;\nvar rsiOrg = null;\nif (rsiExists) {\n  var nameMatch = html.match(/<h1>([^\\/<\\n]+?)\\s*\\/\\s*<span class=\"symbol\">/i);\n  var logoMatch = html.match(/class=\"logo[^\"]*\">\\s*<img src=\"([^\"]+)\"/i);\n  var countMatch = html.match(/class=\"count\">(\\d+)\\s*members/i);\n  var is_recruiting = html.indexOf('js-orgs-apply') !== -1;\n  var descMatch = html.match(/class=\"body markitup-text\">([\\s\\S]{0,2000}?)<\\/div>/i);\n  var archMatch = html.match(/class=\"model\">([^<]+)/i);\n  rsiOrg = { name: nameMatch ? nameMatch[1].trim() : null, logo_url: logoMatch ? 'https://robertsspaceindustries.com' + logoMatch[1] : null, member_count: countMatch ? parseInt(countMatch[1]) : null, is_recruiting, description: descMatch ? descMatch[1].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim().substring(0,500) : null, archetype: archMatch ? archMatch[1].trim() : null };\n}\nconst org = inDb ? { org_id: dbRow.org_id, slug: dbRow.slug, name: dbRow.name, description: dbRow.description, logo_url: dbRow.logo_url, rsi_url: dbRow.rsi_url, site_url: dbRow.site_url, discord_invite: dbRow.discord_invite, is_visible: dbRow.is_visible, is_recruiting: dbRow.is_recruiting, source: dbRow.source, member_count: dbRow.member_count } : null;\nreturn [{ json: { sid, in_db: inDb, rsi_exists: rsiExists, org, rsi_org: rsiOrg } }];"}},{"id":"6812efbb-db38-4b1e-a9ff-23cad8a3c0a0","name":"Respond Lookup","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,0],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"09c5a811-0dab-4feb-9dbe-1957070dfa40","name":"Sync Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,400],"parameters":{"httpMethod":"POST","path":"v3/orgs/sync","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"f015500b-a605-419f-be29-9b1d42af1ba7","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"ee27779f-243a-43e7-b4ef-20c12cbba0ef","name":"RSI Get User Orgs","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,400],"parameters":{"method":"GET","url":"={{ \"https://robertsspaceindustries.com/en/citizens/\" + $json.body.sc_handle + \"/organizations\" }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":10000}}},{"id":"2cd17209-ffb7-4d40-b6c6-f22da965cb83","name":"Parse Orgs and Build SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,400],"parameters":{"jsCode":"const syncBody = $('Sync Webhook').first().json.body;\nconst userId = syncBody.user_id;\nconst resp = $input.first().json || {};\nconst statusCode = resp.statusCode;\nconst html = resp.data || resp.body || '';\nconst hasOrgsSection = html.indexOf('orgs-content') !== -1;\nconst rsiBlocked = statusCode !== 200 || !hasOrgsSection;\nconst orgs = [];\nif (!rsiBlocked) {\n  const parts = html.split('<div class=\"box-content org ');\n  for (var i = 1; i < parts.length; i++) {\n    var block = parts[i];\n    var isMain = /^main[\\s\"]/i.test(block);\n    var sidMatch = block.match(/href=\"\\/orgs\\/([A-Z0-9_-]+)\"/i);\n    if (!sidMatch) continue;\n    var sid = sidMatch[1].toUpperCase();\n    var nameMatch = block.match(/href=\"\\/orgs\\/[^\"]+\"\\ class=\"[^\"]*value[^\"]*\">([^<]+)<\\/a>/i);\n    var name = nameMatch ? nameMatch[1].trim() : sid;\n    var rankMatch = block.match(/Organization rank[\\s\\S]{0,500}?<strong[^>]*>([^<]+)<\\/strong>/i);\n    var rank = rankMatch ? rankMatch[1].trim() : 'member';\n    var logoMatch = block.match(/<img src=\"([^\"]+)\"\\s*\\/>/i);\n    var logo_url = logoMatch ? 'https://robertsspaceindustries.com' + logoMatch[1] : null;\n    var is_recruiting = block.indexOf('js-orgs-apply') !== -1;\n    orgs.push({ slug: sid, name: name, logo_url: logo_url, is_main_org: isMain, org_role: rank, is_recruiting: is_recruiting });\n  }\n}\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\nvar orgsJson = JSON.stringify(orgs).replace(/'/g, \"''\");\nreturn [{ json: { sql: \"SELECT * FROM sync_user_orgs('\" + userId + \"'::uuid, '\" + orgsJson + \"'::jsonb)\", rsi_blocked: rsiBlocked, org_count: orgs.length } }];"}},{"id":"e948f15a-09f0-420e-8825-1b65f82c29dc","name":"DB Sync User Orgs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,400],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"4f81fc5f-f605-4f2e-be29-51ca0c478b7e","name":"Build Sync Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400],"parameters":{"jsCode":"const dbResult = $('DB Sync User Orgs').first().json;\nconst parseResult = $('Parse Orgs and Build SQL').first().json;\nreturn [{ json: { org_count: dbResult.org_count ?? 0, new_orgs: dbResult.new_orgs ?? 0, rsi_blocked: parseResult.rsi_blocked } }];"}},{"id":"7738cc18-4382-4091-b616-f324af61184f","name":"Respond Sync","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1504,400],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"272a959f-5fa4-46c3-ae71-4ff5fbb90a9d","name":"User Orgs Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,800],"parameters":{"httpMethod":"GET","path":"v3/users/orgs","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"ac6a436a-f555-479a-8cf2-c4ac82063f34","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"d8ed9236-8269-4ac0-85e9-9090592f482c","name":"Validate User Orgs","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,800],"parameters":{"jsCode":"const userId = ($json.query?.user_id || '').trim();\nif (!userId) throw new Error('user_id is required');\nif (!/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(userId)) { throw new Error('user_id must be a valid UUID'); }\nreturn [{ json: { user_id: userId } }];"}},{"id":"f6eb642b-4b53-42b5-81ec-2ff18db1fae8","name":"DB Get User Orgs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,800],"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(json_agg(json_build_object('org_id', so.org_id, 'slug', so.slug, 'name', so.name, 'logo_url', so.logo_url, 'rsi_url', so.rsi_url, 'site_url', so.site_url, 'discord_invite', so.discord_invite, 'is_visible', so.is_visible, 'is_recruiting', so.is_recruiting, 'member_count', so.member_count, 'is_main_org', uo.is_main_org, 'org_role', uo.org_role, 'synced_at', uo.synced_at) ORDER BY uo.is_main_org DESC, so.name ASC), '[]'::json) AS orgs FROM user_orgs uo JOIN sc_orgs so ON so.org_id = uo.org_id WHERE uo.user_id = $1::uuid","options":{"queryReplacement":"={{ $json.user_id }}"}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"98bc15d8-e891-4031-816b-1ba28cb73f7e","name":"Build User Orgs Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,800],"parameters":{"jsCode":"const row = $input.first().json;\nconst orgs = row.orgs;\nconst parsed = typeof orgs === 'string' ? JSON.parse(orgs) : (orgs ?? []);\nreturn [{ json: { orgs: Array.isArray(parsed) ? parsed : [] } }];"}},{"id":"ed2ba851-6fdd-44f7-9f65-7347eceb736e","name":"Respond User Orgs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,800],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"3ac64b2a-f4a2-4945-ab47-882efcdce311","name":"Admin Add Org Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1200],"parameters":{"httpMethod":"POST","path":"v3/admin/orgs","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"4dbb8c0e-6d2f-49e7-94b4-493a11634ebd","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"cdd83dfb-a854-4f87-ad57-4f12989406a9","name":"Build Add Org SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,1200],"parameters":{"jsCode":"const body = $json.body;\nconst slug = (body.sid || '').toUpperCase().replace(/[^A-Z0-9_-]/g, '');\nif (!slug) throw new Error('sid is required');\nfunction esc(s) { return s ? String(s).replace(/'/g, \"''\") : null; }\nconst name = esc(body.name);\nconst description = esc(body.description);\nconst logo_url = esc(body.logo_url);\nconst rsi_url = esc(body.rsi_url) || ('https://robertsspaceindustries.com/orgs/' + slug);\nconst site_url = esc(body.site_url);\nconst discord_invite = esc(body.discord_invite);\nconst is_recruiting = body.is_recruiting === true ? 'true' : 'false';\nconst member_count = (body.member_count != null && !isNaN(parseInt(body.member_count))) ? parseInt(body.member_count) : null;\nconst v = (s) => s ? \"'\" + s + \"'\" : 'NULL';\nconst mc = member_count != null ? String(member_count) : 'NULL';\nconst sql = \"INSERT INTO sc_orgs (slug, name, description, logo_url, rsi_url, site_url, discord_invite, is_visible, is_recruiting, member_count, source) VALUES ('\" + slug + \"', \" + v(name) + \", \" + v(description) + \", \" + v(logo_url) + \", '\" + rsi_url + \"', \" + v(site_url) + \", \" + v(discord_invite) + \", true, \" + is_recruiting + \", \" + mc + \", 'manual') ON CONFLICT (slug) DO UPDATE SET name = COALESCE(EXCLUDED.name, sc_orgs.name), description = COALESCE(EXCLUDED.description, sc_orgs.description), logo_url = COALESCE(EXCLUDED.logo_url, sc_orgs.logo_url), rsi_url = EXCLUDED.rsi_url, site_url = COALESCE(EXCLUDED.site_url, sc_orgs.site_url), discord_invite = COALESCE(EXCLUDED.discord_invite, sc_orgs.discord_invite), is_visible = true, is_recruiting = EXCLUDED.is_recruiting, member_count = COALESCE(EXCLUDED.member_count, sc_orgs.member_count), source = 'manual', updated_at = NOW() RETURNING org_id, slug\";\nreturn [{ json: { slug, sql } }];"}},{"id":"621406db-18d4-4a8b-907f-8f13e1cc7b4a","name":"DB Insert Org","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,1200],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"5201207b-c99e-4d8f-a83a-20ec846a5d16","name":"Build Add Org Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1200],"parameters":{"jsCode":"const dbRow = $input.first().json;\nreturn [{ json: { ok: true, org_id: dbRow.org_id, slug: dbRow.slug } }];"}},{"id":"c37a4a7b-0551-4aac-baf6-987494ebf026","name":"Respond Add Org","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,1200],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"ed033a75-7391-4ccc-bca7-558e8171bdd0","name":"Admin Update Org Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1600],"parameters":{"httpMethod":"PATCH","path":"v3/admin/orgs","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"d93b80e1-4921-4061-a645-a731a1fa734e","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"05fbe5ec-e3d7-436b-9785-15e3d58c0b12","name":"Build Update Org SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,1600],"parameters":{"jsCode":"const body = $json.body;\nconst slug = (body.slug || '').toUpperCase().replace(/[^A-Z0-9_-]/g, '');\nif (!slug) throw new Error('slug is required');\nfunction esc(s) { return s != null ? String(s).replace(/'/g, \"''\") : null; }\nconst sets = [];\nif ('name' in body) sets.push('name = ' + (body.name ? \"'\" + esc(body.name) + \"'\" : 'NULL'));\nif ('description' in body) sets.push('description = ' + (body.description ? \"'\" + esc(body.description) + \"'\" : 'NULL'));\nif ('logo_url' in body) sets.push('logo_url = ' + (body.logo_url ? \"'\" + esc(body.logo_url) + \"'\" : 'NULL'));\nif ('rsi_url' in body) sets.push('rsi_url = ' + (body.rsi_url ? \"'\" + esc(body.rsi_url) + \"'\" : 'NULL'));\nif ('site_url' in body) sets.push('site_url = ' + (body.site_url ? \"'\" + esc(body.site_url) + \"'\" : 'NULL'));\nif ('discord_invite' in body) sets.push('discord_invite = ' + (body.discord_invite ? \"'\" + esc(body.discord_invite) + \"'\" : 'NULL'));\nif ('is_visible' in body) sets.push('is_visible = ' + (body.is_visible ? 'true' : 'false'));\nif ('is_recruiting' in body) sets.push('is_recruiting = ' + (body.is_recruiting ? 'true' : 'false'));\nif ('member_count' in body) sets.push('member_count = ' + (body.member_count != null ? parseInt(body.member_count) : 'NULL'));\nif (sets.length === 0) throw new Error('No fields to update');\nsets.push('updated_at = NOW()');\nconst sql = 'UPDATE sc_orgs SET ' + sets.join(', ') + \" WHERE slug = '\" + slug + \"' RETURNING org_id, slug, name, is_visible, is_recruiting\";\nreturn [{ json: { slug, sql } }];"}},{"id":"1695389d-5615-4132-9481-8aef323d48fa","name":"DB Update Org","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,1600],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"06e7b2eb-51ac-4923-b80d-d911f912d894","name":"Build Update Org Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1600],"parameters":{"jsCode":"const dbRow = $input.first().json;\nif (!dbRow.slug) return [{ json: { ok: false, error: 'Org not found' } }];\nreturn [{ json: { ok: true, org_id: dbRow.org_id, slug: dbRow.slug, name: dbRow.name, is_visible: dbRow.is_visible, is_recruiting: dbRow.is_recruiting } }];"}},{"id":"5e4f85ee-db2d-4297-bb43-90a731b3708e","name":"Respond Update Org","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,1600],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"7954384e-68a9-4343-ae29-d418cd2bc30d","name":"List Orgs Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,2000],"parameters":{"httpMethod":"GET","path":"v3/orgs","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"ee8b6ed7-83a7-4f42-98e3-5e44bcaa6e1c","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"7c59eb06-346d-40eb-b73c-cd44b51e0881","name":"DB List Orgs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,2000],"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(json_agg(json_build_object('slug', slug, 'name', name, 'description', description, 'logo_url', logo_url, 'rsi_url', rsi_url, 'site_url', site_url, 'discord_invite', discord_invite, 'is_recruiting', is_recruiting, 'member_count', member_count) ORDER BY name ASC), '[]'::json) AS orgs FROM sc_orgs WHERE is_visible = true OR is_recruiting = true","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"4eca34c0-3515-4cd7-af3f-d137308ad754","name":"Build List Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,2000],"parameters":{"jsCode":"const row = $input.first().json;\nconst orgs = row.orgs;\nconst parsed = typeof orgs === 'string' ? JSON.parse(orgs) : (orgs ?? []);\nreturn [{ json: { orgs: Array.isArray(parsed) ? parsed : [] } }];"}},{"id":"418850f3-c093-4877-ad23-da8f9d4dc0cc","name":"Respond List Orgs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,2000],"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"5071c535-36db-45a4-ba65-3fe21166a1e6","name":"Admin Delete Org Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,2400],"parameters":{"httpMethod":"DELETE","path":"v3/admin/orgs","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"ea1e4401-ffa4-4bec-ba20-3ca536662eeb","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"id":"dbdf2fba-5e2d-4e87-ae6f-c3d5f4a7122a","name":"Build Delete Org SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,2400],"parameters":{"jsCode":"const body = $json.body || {};\nconst rawSlug = typeof body.slug === 'string' ? body.slug.trim().toUpperCase().replace(/[^A-Z0-9_-]/g, '') : '';\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\nif (!rawSlug) {\n  return [{ json: { valid: false, slug: '', sql: \"SELECT NULL AS slug WHERE false\" } }];\n}\nconst safeSlug = esc(rawSlug);\nconst sql = \"WITH target AS (SELECT org_id, slug FROM sc_orgs WHERE slug = '\" + safeSlug + \"'), clear_manager AS (UPDATE users SET managed_org_id = NULL WHERE managed_org_id IN (SELECT org_id FROM target) RETURNING 1), clear_members AS (DELETE FROM user_orgs WHERE org_id IN (SELECT org_id FROM target) RETURNING 1) DELETE FROM sc_orgs WHERE org_id IN (SELECT org_id FROM target) RETURNING slug\";\nreturn [{ json: { valid: true, slug: rawSlug, sql } }];"}},{"id":"3c2b2f19-dc22-4dc9-b9cf-0278b3d907ad","name":"DB Delete Org","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,2400],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"ecc77dd1-8d75-4c0c-bed7-abf1d2de1ffd","name":"Build Delete Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,2400],"parameters":{"jsCode":"const items = $input.all();\nconst buildSql = $('Build Delete Org SQL').first().json;\nconst deleted = items.length > 0 && items[0].json && items[0].json.slug;\nif (deleted) {\n  return [{ json: { ok: true, slug: items[0].json.slug } }];\n} else if (!buildSql.slug) {\n  return [{ json: { ok: false, error: 'slug is required' } }];\n} else {\n  return [{ json: { ok: false, error: 'Org not found' } }];\n}"}},{"id":"25f69ddc-bb55-425e-acdb-52a8efe3fba4","name":"Respond Delete Org","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,2400],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Lookup Webhook":{"main":[[{"node":"Build Lookup SQL","type":"main","index":0}]]},"Build Lookup SQL":{"main":[[{"node":"DB Lookup Org","type":"main","index":0}]]},"DB Lookup Org":{"main":[[{"node":"RSI Org Page Check","type":"main","index":0}]]},"RSI Org Page Check":{"main":[[{"node":"Build Lookup Response","type":"main","index":0}]]},"Build Lookup Response":{"main":[[{"node":"Respond Lookup","type":"main","index":0}]]},"Sync Webhook":{"main":[[{"node":"RSI Get User Orgs","type":"main","index":0}]]},"RSI Get User Orgs":{"main":[[{"node":"Parse Orgs and Build SQL","type":"main","index":0}]]},"Parse Orgs and Build SQL":{"main":[[{"node":"DB Sync User Orgs","type":"main","index":0}]]},"DB Sync User Orgs":{"main":[[{"node":"Build Sync Response","type":"main","index":0}]]},"Build Sync Response":{"main":[[{"node":"Respond Sync","type":"main","index":0}]]},"User Orgs Webhook":{"main":[[{"node":"Validate User Orgs","type":"main","index":0}]]},"Validate User Orgs":{"main":[[{"node":"DB Get User Orgs","type":"main","index":0}]]},"DB Get User Orgs":{"main":[[{"node":"Build User Orgs Response","type":"main","index":0}]]},"Build User Orgs Response":{"main":[[{"node":"Respond User Orgs","type":"main","index":0}]]},"Admin Add Org Webhook":{"main":[[{"node":"Build Add Org SQL","type":"main","index":0}]]},"Build Add Org SQL":{"main":[[{"node":"DB Insert Org","type":"main","index":0}]]},"DB Insert Org":{"main":[[{"node":"Build Add Org Response","type":"main","index":0}]]},"Build Add Org Response":{"main":[[{"node":"Respond Add Org","type":"main","index":0}]]},"Admin Update Org Webhook":{"main":[[{"node":"Build Update Org SQL","type":"main","index":0}]]},"Build Update Org SQL":{"main":[[{"node":"DB Update Org","type":"main","index":0}]]},"DB Update Org":{"main":[[{"node":"Build Update Org Response","type":"main","index":0}]]},"Build Update Org Response":{"main":[[{"node":"Respond Update Org","type":"main","index":0}]]},"List Orgs Webhook":{"main":[[{"node":"DB List Orgs","type":"main","index":0}]]},"DB List Orgs":{"main":[[{"node":"Build List Response","type":"main","index":0}]]},"Build List Response":{"main":[[{"node":"Respond List Orgs","type":"main","index":0}]]},"Admin Delete Org Webhook":{"main":[[{"node":"Build Delete Org SQL","type":"main","index":0}]]},"Build Delete Org SQL":{"main":[[{"node":"DB Delete Org","type":"main","index":0}]]},"DB Delete Org":{"main":[[{"node":"Build Delete Response","type":"main","index":0}]]},"Build Delete Response":{"main":[[{"node":"Respond Delete Org","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}