2026/05/29/YJjpPj6bBrb4BvEY.json
{"nodes":[{"id":"1844b0b1-440b-4914-a1ca-f7270d7f2076","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"id":"361a2bb9-2649-4a4d-96b1-6baed7cb9cc7","name":"Schema Counts","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,150],"parameters":{"operation":"executeQuery","query":"SELECT 'counts' AS section, 'datap4k' AS source, 'norm' AS subcategory, 'table' AS obj_type, 'datap4k_armor_norm' AS name, COUNT(*)::int AS row_count FROM datap4k_armor_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_armor_raw', COUNT(*)::int FROM datap4k_armor_raw\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_components_norm', COUNT(*)::int FROM datap4k_components_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_components_raw', COUNT(*)::int FROM datap4k_components_raw\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_crafting_norm', COUNT(*)::int FROM datap4k_crafting_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_crafting_raw', COUNT(*)::int FROM datap4k_crafting_raw\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_crafting_slots', COUNT(*)::int FROM datap4k_crafting_slots\nUNION ALL SELECT 'counts', 'datap4k', 'links', 'table', 'datap4k_entity_links', COUNT(*)::int FROM datap4k_entity_links\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_ground_vehicles_norm', COUNT(*)::int FROM datap4k_ground_vehicles_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_ground_vehicles_raw', COUNT(*)::int FROM datap4k_ground_vehicles_raw\nUNION ALL SELECT 'counts', 'datap4k', 'config', 'table', 'datap4k_hidden_items', COUNT(*)::int FROM datap4k_hidden_items\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_items_norm', COUNT(*)::int FROM datap4k_items_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_items_raw', COUNT(*)::int FROM datap4k_items_raw\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_loot_tables_raw', COUNT(*)::int FROM datap4k_loot_tables_raw\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_mining_gear_norm', COUNT(*)::int FROM datap4k_mining_gear_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_mining_gear_raw', COUNT(*)::int FROM datap4k_mining_gear_raw\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_mining_norm', COUNT(*)::int FROM datap4k_mining_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_mining_raw', COUNT(*)::int FROM datap4k_mining_raw\nUNION ALL SELECT 'counts', 'datap4k', 'links', 'table', 'datap4k_ship_loadout_links', COUNT(*)::int FROM datap4k_ship_loadout_links\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_ship_loadout_norm', COUNT(*)::int FROM datap4k_ship_loadout_norm\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_ships_norm', COUNT(*)::int FROM datap4k_ships_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_ships_raw', COUNT(*)::int FROM datap4k_ships_raw\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_shop_inventory', COUNT(*)::int FROM datap4k_shop_inventory\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_shops_raw', COUNT(*)::int FROM datap4k_shops_raw\nUNION ALL SELECT 'counts', 'datap4k', 'links', 'table', 'datap4k_vehicle_links', COUNT(*)::int FROM datap4k_vehicle_links\nUNION ALL SELECT 'counts', 'datap4k', 'norm', 'table', 'datap4k_weapons_norm', COUNT(*)::int FROM datap4k_weapons_norm\nUNION ALL SELECT 'counts', 'datap4k', 'raw', 'table', 'datap4k_weapons_raw', COUNT(*)::int FROM datap4k_weapons_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_categories_raw', COUNT(*)::int FROM uex_categories_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_cities_raw', COUNT(*)::int FROM uex_cities_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_commodities_raw', COUNT(*)::int FROM uex_commodities_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_companies_raw', COUNT(*)::int FROM uex_companies_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_fuel_prices_raw', COUNT(*)::int FROM uex_fuel_prices_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_jurisdictions_raw', COUNT(*)::int FROM uex_jurisdictions_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_moons_raw', COUNT(*)::int FROM uex_moons_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_outposts_raw', COUNT(*)::int FROM uex_outposts_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_planets_raw', COUNT(*)::int FROM uex_planets_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_poi_raw', COUNT(*)::int FROM uex_poi_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_prices_raw', COUNT(*)::int FROM uex_prices_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_refinery_methods_raw', COUNT(*)::int FROM uex_refinery_methods_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_space_stations_raw', COUNT(*)::int FROM uex_space_stations_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_star_systems_raw', COUNT(*)::int FROM uex_star_systems_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_terminals_raw', COUNT(*)::int FROM uex_terminals_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_vehicle_loaners_raw', COUNT(*)::int FROM uex_vehicle_loaners_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_vehicle_prices_raw', COUNT(*)::int FROM uex_vehicle_prices_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_vehicle_purchase_prices_raw', COUNT(*)::int FROM uex_vehicle_purchase_prices_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_vehicle_rental_prices_raw', COUNT(*)::int FROM uex_vehicle_rental_prices_raw\nUNION ALL SELECT 'counts', 'uex', 'raw', 'table', 'uex_vehicles_raw', COUNT(*)::int FROM uex_vehicles_raw\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_bodies_normalized_src', COUNT(*)::int FROM uex_bodies_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_bodies_raw_latest', COUNT(*)::int FROM uex_bodies_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_categories_raw_latest', COUNT(*)::int FROM uex_categories_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_cities_normalized_src', COUNT(*)::int FROM uex_cities_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_commodities_normalized_src', COUNT(*)::int FROM uex_commodities_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_commodities_raw_latest', COUNT(*)::int FROM uex_commodities_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_commodity_prices_raw_latest', COUNT(*)::int FROM uex_commodity_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_companies_normalized_src', COUNT(*)::int FROM uex_companies_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_companies_raw_latest', COUNT(*)::int FROM uex_companies_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_fuel_prices_raw_latest', COUNT(*)::int FROM uex_fuel_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_item_prices_raw_latest', COUNT(*)::int FROM uex_item_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_jurisdictions_normalized_src', COUNT(*)::int FROM uex_jurisdictions_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_jurisdictions_raw_latest', COUNT(*)::int FROM uex_jurisdictions_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'meta', 'view', 'uex_latest_batches', COUNT(*)::int FROM uex_latest_batches\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_locations_normalized_src', COUNT(*)::int FROM uex_locations_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_locations_raw_latest', COUNT(*)::int FROM uex_locations_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_moons_raw_latest', COUNT(*)::int FROM uex_moons_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_outposts_raw_latest', COUNT(*)::int FROM uex_outposts_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_planets_raw_latest', COUNT(*)::int FROM uex_planets_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_poi_raw_latest', COUNT(*)::int FROM uex_poi_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_prices_raw_latest', COUNT(*)::int FROM uex_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_refinery_methods_raw_latest', COUNT(*)::int FROM uex_refinery_methods_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_space_stations_raw_latest', COUNT(*)::int FROM uex_space_stations_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_star_systems_normalized_src', COUNT(*)::int FROM uex_star_systems_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_star_systems_raw_latest', COUNT(*)::int FROM uex_star_systems_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_systems_raw_latest', COUNT(*)::int FROM uex_systems_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'norm', 'view', 'uex_terminals_normalized_src', COUNT(*)::int FROM uex_terminals_normalized_src\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_terminals_raw_latest', COUNT(*)::int FROM uex_terminals_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_vehicle_loaners_raw_latest', COUNT(*)::int FROM uex_vehicle_loaners_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_vehicle_prices_raw_latest', COUNT(*)::int FROM uex_vehicle_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_vehicle_purchase_prices_raw_latest', COUNT(*)::int FROM uex_vehicle_purchase_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_vehicle_rental_prices_raw_latest', COUNT(*)::int FROM uex_vehicle_rental_prices_raw_latest\nUNION ALL SELECT 'counts', 'uex', 'raw', 'view', 'uex_vehicles_raw_latest', COUNT(*)::int FROM uex_vehicles_raw_latest\nUNION ALL SELECT 'counts', 'rsi', 'norm', 'table', 'rsi_manufacturers_norm', COUNT(*)::int FROM rsi_manufacturers_norm\nUNION ALL SELECT 'counts', 'rsi', 'raw', 'table', 'rsi_manufacturers_raw', COUNT(*)::int FROM rsi_manufacturers_raw\nUNION ALL SELECT 'counts', 'rsi', 'norm', 'table', 'rsi_ship_matrix_norm', COUNT(*)::int FROM rsi_ship_matrix_norm\nUNION ALL SELECT 'counts', 'rsi', 'raw', 'table', 'rsi_ship_matrix_raw', COUNT(*)::int FROM rsi_ship_matrix_raw\nUNION ALL SELECT 'counts', 'rsi', 'links', 'table', 'rsi_vehicle_links', COUNT(*)::int FROM rsi_vehicle_links\nUNION ALL SELECT 'counts', 'rsi', 'data', 'table', 'rsi_vehicle_loaners', COUNT(*)::int FROM rsi_vehicle_loaners\nUNION ALL SELECT 'counts', 'core', 'links', 'table', 'armor_set_map', COUNT(*)::int FROM armor_set_map\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'auth_providers', COUNT(*)::int FROM auth_providers\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'bodies', COUNT(*)::int FROM bodies\nUNION ALL SELECT 'counts', 'core', 'meta', 'table', 'changelog', COUNT(*)::int FROM changelog\nUNION ALL SELECT 'counts', 'core', 'links', 'table', 'chunk_links', COUNT(*)::int FROM chunk_links\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'chunks', COUNT(*)::int FROM chunks\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'collections', COUNT(*)::int FROM collections\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'commodities', COUNT(*)::int FROM commodities\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'companies', COUNT(*)::int FROM companies\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'documents', COUNT(*)::int FROM documents\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'entity_display', COUNT(*)::int FROM entity_display\nUNION ALL SELECT 'counts', 'core', 'links', 'table', 'entity_slug_crossref', COUNT(*)::int FROM entity_slug_crossref\nUNION ALL SELECT 'counts', 'core', 'config', 'table', 'folder_category_config', COUNT(*)::int FROM folder_category_config\nUNION ALL SELECT 'counts', 'core', 'meta', 'table', 'ingest_batches', COUNT(*)::int FROM ingest_batches\nUNION ALL SELECT 'counts', 'core', 'meta', 'table', 'ingest_errors', COUNT(*)::int FROM ingest_errors\nUNION ALL SELECT 'counts', 'core', 'meta', 'table', 'jsonkb_changes', COUNT(*)::int FROM jsonkb_changes\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'jsonkb_store', COUNT(*)::int FROM jsonkb_store\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'jurisdictions', COUNT(*)::int FROM jurisdictions\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'kb_content', COUNT(*)::int FROM kb_content\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'kb_file_shares', COUNT(*)::int FROM kb_file_shares\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'locations', COUNT(*)::int FROM locations\nUNION ALL SELECT 'counts', 'core', 'config', 'table', 'manufacturer_lookup', COUNT(*)::int FROM manufacturer_lookup\nUNION ALL SELECT 'counts', 'core', 'meta', 'table', 'normalization_pipeline_runs', COUNT(*)::int FROM normalization_pipeline_runs\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'notices', COUNT(*)::int FROM notices\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'oauth_states', COUNT(*)::int FROM oauth_states\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'ontology_edges', COUNT(*)::int FROM ontology_edges\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'ontology_nodes', COUNT(*)::int FROM ontology_nodes\nUNION ALL SELECT 'counts', 'core', 'meta', 'table', 'ontology_validation_issues', COUNT(*)::int FROM ontology_validation_issues\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'prices', COUNT(*)::int FROM prices\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'sc_chat_histories', COUNT(*)::int FROM sc_chat_histories\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'sc_orgs', COUNT(*)::int FROM sc_orgs\nUNION ALL SELECT 'counts', 'core', 'links', 'table', 'ship_module_map', COUNT(*)::int FROM ship_module_map\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'systems', COUNT(*)::int FROM systems\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'trade_terminals', COUNT(*)::int FROM trade_terminals\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'user_orgs', COUNT(*)::int FROM user_orgs\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'user_preferences', COUNT(*)::int FROM user_preferences\nUNION ALL SELECT 'counts', 'core', 'user', 'table', 'users', COUNT(*)::int FROM users\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'v_city_locations', COUNT(*)::int FROM v_city_locations\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'v_city_nodes', COUNT(*)::int FROM v_city_nodes\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'v_vehicle_edges_before', COUNT(*)::int FROM v_vehicle_edges_before\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'vehicle_loaners', COUNT(*)::int FROM vehicle_loaners\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'vehicle_purchase_prices', COUNT(*)::int FROM vehicle_purchase_prices\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'vehicle_rental_prices', COUNT(*)::int FROM vehicle_rental_prices\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'vehicle_store_prices', COUNT(*)::int FROM vehicle_store_prices\nUNION ALL SELECT 'counts', 'core', 'data', 'table', 'vehicles', COUNT(*)::int FROM vehicles\nUNION ALL SELECT 'counts', 'core', 'system', 'view', 'active_systems', COUNT(*)::int FROM active_systems\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'bodies_with_ontology_code', COUNT(*)::int FROM bodies_with_ontology_code\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'ontology_nodes_live_locations', COUNT(*)::int FROM ontology_nodes_live_locations\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'ontology_system_mismatches', COUNT(*)::int FROM ontology_system_mismatches\nUNION ALL SELECT 'counts', 'core', 'data', 'view', 'raw_cities_latest', COUNT(*)::int FROM raw_cities_latest\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'systems_with_ontology_code', COUNT(*)::int FROM systems_with_ontology_code\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_body_mapping_v2', COUNT(*)::int FROM vw_body_mapping_v2\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_body_mapping_v3', COUNT(*)::int FROM vw_body_mapping_v3\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_body_mapping_v4', COUNT(*)::int FROM vw_body_mapping_v4\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_body_norm', COUNT(*)::int FROM vw_body_norm\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_city_ontology_edge_status', COUNT(*)::int FROM vw_city_ontology_edge_status\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_city_ontology_mismatch_v3', COUNT(*)::int FROM vw_city_ontology_mismatch_v3\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_city_ontology_v3', COUNT(*)::int FROM vw_city_ontology_v3\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_city_terminal_linkage', COUNT(*)::int FROM vw_city_terminal_linkage\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_city_terminal_linkage_v2', COUNT(*)::int FROM vw_city_terminal_linkage_v2\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_major_location_ontology', COUNT(*)::int FROM vw_major_location_ontology\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_ontology_mismatch_report_v3', COUNT(*)::int FROM vw_ontology_mismatch_report_v3\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_ontology_mismatch_report_v4', COUNT(*)::int FROM vw_ontology_mismatch_report_v4\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_system_mapping_v2', COUNT(*)::int FROM vw_system_mapping_v2\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_system_mapping_v3', COUNT(*)::int FROM vw_system_mapping_v3\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_system_mapping_v4', COUNT(*)::int FROM vw_system_mapping_v4\nUNION ALL SELECT 'counts', 'core', 'ontology', 'view', 'vw_system_norm', COUNT(*)::int FROM vw_system_norm\nORDER BY source, subcategory, name","options":{}},"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"id":"8484b8aa-1a76-4ad6-b488-b1d489dbd5af","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,150],"parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\n\nreturn [{ json: {\n  generated_at: new Date().toISOString(),\n  counts: rows.map(r => ({\n    source:      r.source,\n    subcategory: r.subcategory,\n    obj_type:    r.obj_type,\n    name:        r.name,\n    row_count:   r.row_count\n  }))\n} }];"}},{"id":"e3fa1404-e481-4d26-a99c-5882f9c2a213","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1000,150],"parameters":{"respondWith":"allIncomingItems","options":{}}},{"id":"0fc1b386-6835-4ce0-9e96-d7f8fd122b10","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,300],"parameters":{"httpMethod":"GET","path":"v3/stats","authentication":"basicAuth","responseMode":"responseNode","options":{}},"webhookId":"a08d2bb0-57a3-4a79-a449-b062cadfe8a3","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Schema Counts","type":"main","index":0}]]},"Schema Counts":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Schema Counts","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true}}