2026/06/14/05lXFTKZmhZOqixE.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_poi_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Poi\"].json[\"id\"]}},{{ JSON.stringify($('JS poi').item.json.row) }}"}},"id":"ca0b7082-b897-4667-b6fc-d190ae238740","name":"Insert uex_poi_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,1568],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/poi/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for poi'\n)\nRETURNING id;\n","options":{}},"id":"677fccc9-47ae-4326-a36c-52a2215d71a8","name":"Create Batch Poi","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[288,1472],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/poi/","options":{}},"id":"0e530e6e-24f0-442c-9f79-46df2648492f","name":"Get poi","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[64,1568],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1664],"id":"4fa9d9e3-e36c-41bc-baab-44a466a0a1a3","name":"JS poi","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,1568],"id":"e25b675e-663d-4485-9610-6d0d9b0d716a","name":"Loop Over poi"},{"parameters":{"inputSource":"passthrough"},"id":"30f91e9c-a289-48a1-8981-b1eef930c295","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,1568]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,1568],"id":"bbc965e2-7d7b-4a20-adb1-0da50f2e253a","name":"Merge"}],"connections":{"Get poi":{"main":[[{"node":"JS poi","type":"main","index":0},{"node":"Create Batch Poi","type":"main","index":0}]]},"JS poi":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over poi":{"main":[[],[{"node":"Insert uex_poi_raw","type":"main","index":0}]]},"Create Batch Poi":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert uex_poi_raw":{"main":[[{"node":"Loop Over poi","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get poi","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over poi","type":"main","index":0}]]}},"pinData":{},"meta":null}