2026/06/14/1VJ0RlzhBHz78czz.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-576,-272],"id":"9cf210a6-5f36-4d49-805d-140b36003645","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://robertsspaceindustries.com/ship-matrix/index","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-368,-272],"id":"926b1472-24d0-43a5-804f-02102b0d3f1b","name":"HTTP Request","executeOnce":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-144,0],"id":"73a9a755-b059-4d40-a32b-f6c7bd19250d","name":"Split Out"},{"parameters":{"path":"v3/rsi-ship-company","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-576,-448],"id":"6a636179-5eff-4f38-a4ff-65cf2623ac29","name":"Webhook","webhookId":"d71353a9-8ce5-4476-9ebf-95187af1ea4b"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,-304],"id":"e1b1619b-464e-4857-8d97-8317d0fea9c7","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,-752],"id":"4cd86d93-9ec8-4f1f-8122-f6eb66d4eff2","name":"Loop Over Items"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"manufacturer.id, manufacturer.code, manufacturer.name","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-96,-416],"id":"8b824d61-b36b-40b9-afe4-6e69ab00050d","name":"Remove Duplicates"},{"parameters":{"assignments":{"assignments":[{"id":"84524170-a245-48ba-a7d7-0cee0e392ad7","name":"manufacturer.id","value":"={{ $json.manufacturer.id }}","type":"number"},{"id":"cba89bd4-df87-4e9b-b8e6-6450ed2bda59","name":"manufacturer.code","value":"={{ $json.manufacturer.code }}","type":"string"},{"id":"9763fdb5-afe8-4798-81c9-73576b6373cf","name":"manufacturer.description","value":"={{ $json.manufacturer.description }}","type":"string"},{"id":"359e8f54-2021-4a87-a346-590701030e03","name":"manufacturer.name","value":"={{ $json.manufacturer.name }}","type":"string"},{"id":"7c5c4856-ace9-4155-a666-d30b2d00eb25","name":"manufacturer.media[0].images.logo","value":"={{ $json.manufacturer.media[0].images.logo }}","type":"string"},{"id":"69489da7-a07a-4c9e-83dc-dafc0b06c95b","name":"manufacturer.media[0].images.icon","value":"={{ $json.manufacturer.media[0].images.icon }}","type":"string"},{"id":"34c64ff7-4f57-4c13-928a-3d61d848c986","name":"manufacturer.media[0].source_url","value":"={{ $json.manufacturer.media[0].source_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-416],"id":"4aa1acbf-1550-4b49-8abc-68c2b8908e5d","name":"Manufacturer/Company"},{"parameters":{"assignments":{"assignments":[{"id":"f0bbb354-7089-40b4-a8b6-9250837b4e4f","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"d3e421fb-2402-489e-a28a-f8d8b89381d5","name":"focus","value":"={{ $json.focus }}","type":"string"},{"id":"25a6333a-3f0d-4021-b23a-6f876323f21c","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"42417200-b7b9-4014-b6ba-d0203413fc8b","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"45ca55de-5ab2-49cd-b63f-4210a0833201","name":"cargocapacity","value":"={{ $json.cargocapacity }}","type":"number"},{"id":"da0500f6-4b2c-43eb-b3de-d3103249a2cb","name":"size","value":"={{ $json.size }}","type":"string"},{"id":"faa7094c-ef86-4ddf-a3a6-7be94f3819f9","name":"production_status","value":"={{ $json.production_status }}","type":"string"},{"id":"0ff61ba9-4d0a-46c6-b880-a387f777b955","name":"min_crew","value":"={{ $json.min_crew }}","type":"number"},{"id":"26af63a6-8657-48d9-843c-e4b53c72f49b","name":"max_crew","value":"={{ $json.max_crew }}","type":"number"},{"id":"0b3fb733-3397-4dbc-affe-cc7df3369dc0","name":"height","value":"={{ $json.height }}","type":"number"},{"id":"e27bc0c5-2c83-4fa8-805b-65fbfd90108c","name":"length","value":"={{ $json.length }}","type":"number"},{"id":"e8d8d4b6-fd96-493f-9a37-7071b6340ee7","name":"media[0].images","value":"={{ $json.media[0].images }}","type":"object"},{"id":"6a6526e1-c78c-4a1a-b040-79a94ef6af2f","name":"manufacturer.id","value":"={{ $json.manufacturer.id }}","type":"number"},{"id":"04afdf60-1eb0-4bdd-a20b-671e01e9e87c","name":"manufacturer.code","value":"={{ $json.manufacturer.code }}","type":"string"},{"id":"948f4f24-da64-4799-af8b-0e0f650c0fe7","name":"manufacturer.name","value":"={{ $json.manufacturer.name }}","type":"string"},{"id":"7332bbe8-e7f2-49a5-8de3-4b9051e9071f","name":"compiled.RSIAvionic.radar","value":"={{ $json.compiled.RSIAvionic.radar }}","type":"array"},{"id":"ada7a155-212b-4dd7-8622-1ca7cd5149cc","name":"compiled.RSIPropulsion.quantum_drives","value":"={{ $json.compiled.RSIPropulsion.quantum_drives }}","type":"array"},{"id":"0f45a29c-fcd0-4d8f-bea8-1476194320f3","name":"compiled.RSIPropulsion.jump_modules","value":"={{ $json.compiled.RSIPropulsion.jump_modules }}","type":"array"},{"id":"3756757c-8d50-46e3-bb57-cf2f86b081b8","name":"compiled.RSIModular.power_plants","value":"={{ $json.compiled.RSIModular.power_plants }}","type":"array"},{"id":"b8a2dbbc-8045-4591-94dd-c6366ac009ed","name":"compiled.RSIModular.coolers","value":"={{ $json.compiled.RSIModular.coolers }}","type":"array"},{"id":"79289429-05d8-4b1c-a347-a5a01f412f25","name":"compiled.RSIModular.shield_generators","value":"={{ $json.compiled.RSIModular.shield_generators }}","type":"array"},{"id":"1a2c8f9f-7626-47f3-a682-879ea85538c3","name":"compiled.RSIWeapon.weapons","value":"={{ $json.compiled.RSIWeapon.weapons }}","type":"array"},{"id":"8e9aef80-9573-4d7a-89d3-44fad406c21f","name":"compiled.RSIWeapon.turrets","value":"={{ $json.compiled.RSIWeapon.turrets }}","type":"array"},{"id":"2014e641-6830-4fa1-bd7b-4e7d80eada4e","name":"compiled.RSIWeapon.missiles","value":"={{ $json.compiled.RSIWeapon.missiles }}","type":"array"},{"id":"5d727777-9234-4da5-9ced-6761087f4dc5","name":"compiled.RSIWeapon.utility_items","value":"={{ $json.compiled.RSIWeapon.utility_items }}","type":"array"},{"id":"69fa3b38-9e50-4944-b0ff-50199da9db0a","name":"time_modified.unfiltered","value":"={{ $json['time_modified.unfiltered'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"868b412b-e1ed-498e-929a-7daa5174c0a6","name":"Ship data"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,-80],"id":"27157d22-4685-4889-a4db-34025251184e","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT normalize_rsi_ship_matrix() AS stats","options":{}},"id":"e77a1193-cfa3-46c6-bad7-b5f2b316a1db","name":"Normalize","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1344,-304],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('Split and Build SQL').item.json.ship_sql }}","options":{}},"id":"bb4a0b21-b8e9-47b5-9bf8-73cab524e50f","name":"Insert Ships","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1136,-304],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('Split and Build SQL').item.json.mfr_sql }}","options":{}},"id":"4e5f197a-c2a3-4c98-bde1-90f891846f7f","name":"Insert Manufacturers","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,-304],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"// HTTP Request node returns the JSON array as items\n// Collect all items from input\nconst allItems = $input.all().map(i => i.json);\n\nfunction esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction escJson(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + JSON.stringify(v).replace(/'/g, \"''\") + \"'::jsonb\";\n}\n\n// Split manufacturers vs ships\nconst mfrMap = new Map();\nconst ships  = [];\n\nfor (const item of allItems) {\n  if (item.name && item.url) {\n    ships.push(item);\n  } else if (item.manufacturer && !item.name) {\n    const m = item.manufacturer;\n    if (!mfrMap.has(m.id)) mfrMap.set(m.id, m);\n  }\n}\nconst manufacturers = [...mfrMap.values()];\n\n// TRUNCATE all RSI tables (cascade clears norm + vehicle_links)\nconst truncate = 'TRUNCATE rsi_manufacturers_raw, rsi_ship_matrix_raw RESTART IDENTITY CASCADE';\n\n// Manufacturer INSERT\nlet mfrInsert = 'SELECT 1 -- no manufacturers';\nif (manufacturers.length > 0) {\n  const vals = manufacturers.map(m => {\n    const media  = (m.media && m.media[0]) ? m.media[0] : null;\n    const logo   = media && media.images ? media.images.logo   : null;\n    const icon   = media && media.images ? media.images.icon   : null;\n    const srcUrl = media ? media.source_url : null;\n    return `(${m.id}, ${esc(m.code)}, ${esc(m.name)}, ${esc(m.description)}, ${esc(logo)}, ${esc(icon)}, ${esc(srcUrl)}, ${escJson(m)}, now())`;\n  }).join(',\\n');\n  mfrInsert = `INSERT INTO rsi_manufacturers_raw (rsi_id, code, name, description, logo_url, icon_url, source_url, raw_json, fetched_at) VALUES\\n${vals}`;\n}\n\nconst mfrSql = truncate + ';\\n' + mfrInsert;\n\n// Ship INSERT\nlet shipSql = 'SELECT 1 -- no ships';\nif (ships.length > 0) {\n  const vals = ships.map(s => {\n    const imgs    = (s.media && s.media[0] && s.media[0].images) ? s.media[0].images : null;\n    const storeLg = imgs ? imgs.store_large : null;\n    const slide   = imgs ? imgs.slideshow   : null;\n    const mfrId   = s.manufacturer ? s.manufacturer.id   : null;\n    const mfrCode = s.manufacturer ? s.manufacturer.code : null;\n    const mfrName = s.manufacturer ? s.manufacturer.name : null;\n    return (\n      `(${esc(s.name)}, ${esc(s.url)}, ${esc(s.focus)}, ${esc(s.description)}, ` +\n      `${esc(s.size)}, ${esc(s.production_status)}, ` +\n      `${s.min_crew  != null ? s.min_crew  : 'NULL'}, ` +\n      `${s.max_crew  != null ? s.max_crew  : 'NULL'}, ` +\n      `${s.height    != null ? s.height    : 'NULL'}, ` +\n      `${s.length    != null ? s.length    : 'NULL'}, ` +\n      `${s.cargocapacity != null ? s.cargocapacity : 'NULL'}, ` +\n      `${mfrId != null ? mfrId : 'NULL'}, ` +\n      `${esc(mfrCode)}, ${esc(mfrName)}, ` +\n      `${esc(storeLg)}, ${esc(slide)}, ` +\n      `${escJson(s.media)}, ${escJson(s.compiled)}, ${escJson(s)}, now())`\n    );\n  }).join(',\\n');\n  shipSql = `INSERT INTO rsi_ship_matrix_raw (name, url, focus, description, size, production_status, min_crew, max_crew, height, length, cargo_capacity, manufacturer_rsi_id, manufacturer_code, manufacturer_name, image_store_large, image_slideshow, media, compiled, raw_json, fetched_at) VALUES\\n${vals}`;\n}\n\nreturn [{json: {\n  mfr_sql:   mfrSql,\n  ship_sql:  shipSql,\n  mfr_count: manufacturers.length,\n  ship_count: ships.length\n}}];\n"},"id":"1fa05f0e-3c98-4caa-b2c1-be7cf9481eda","name":"Split and Build SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-304]},{"parameters":{"assignments":{"assignments":[{"id":"b376e22e-6bce-4777-bd2c-72f7aa27d6d2","name":"manufacturer","value":"={{ $json.manufacturer }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-736],"id":"0c5a324d-89a4-4855-9e66-7cd1f6a30390","name":"set manufacturer"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Ship data","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}],[{"node":"set manufacturer","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Manufacturer/Company","type":"main","index":0}]]},"Manufacturer/Company":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Ship data":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Insert Ships":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"Insert Manufacturers":{"main":[[{"node":"Insert Ships","type":"main","index":0}]]},"Split and Build SQL":{"main":[[{"node":"Insert Manufacturers","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split and Build SQL","type":"main","index":0}]]},"set manufacturer":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":null}