2026/06/14/mRXOQQGYS0nty4KK.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"sql-ro","responseMode":"responseNode","options":{}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"3dc640df-ae55-4677-987a-2f3963c95d0c"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst query = body.query;\nif (!query || typeof query !== 'string') {\n  throw new Error('Missing or invalid query field');\n}\nreturn [{ json: { query } }];"},"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Extract Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Run Query RO","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[688,304],"credentials":{"postgres":{"id":"rAV3Mbnk3YkJ5WmA","name":"scuser_ro"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { rows: $input.all().map(i => i.json), count: $input.all().length } }}","options":{}},"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[912,304]}],"connections":{"Webhook":{"main":[[{"node":"Extract Query","type":"main","index":0}]]},"Extract Query":{"main":[[{"node":"Run Query RO","type":"main","index":0}]]},"Run Query RO":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"meta":null}