2026/06/14/QZT164EcNY3Dg55b.json
{"nodes":[{"parameters":{"path":"v3/notices","responseMode":"lastNode","options":{}},"id":"wh-get","name":"Webhook GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,208],"webhookId":"v3-notices-get"},{"parameters":{"operation":"executeQuery","query":"SELECT id,message,type,active,priority,target_pages,expires_at,created_by,created_at,updated_at FROM notices WHERE active=true AND (expires_at IS NULL OR expires_at > now()) ORDER BY priority DESC, created_at DESC","options":{}},"id":"pg-sel","name":"Select Active","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,208],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{data:items.map(i=>i.json)}}];"},"id":"fmt-lst","name":"Format List","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,208]},{"parameters":{"httpMethod":"POST","path":"v3/notices","responseMode":"lastNode","options":{}},"id":"wh-post","name":"Webhook POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,432],"webhookId":"v3-notices-post"},{"parameters":{"jsCode":"function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\";}const b=items[0].json.body;const pages=b.target_pages ? \"'{\" + b.target_pages.join(',') + \"}'\" : 'NULL';const exp=b.expires_at ? esc(b.expires_at)+'::timestamptz' : 'NULL';const sql='INSERT INTO notices (message,type,active,priority,target_pages,expires_at,created_by) VALUES ('+[esc(b.message),esc(b.type||'warning'),b.active!==undefined?b.active:true,b.priority!==undefined?parseInt(b.priority):0,pages,exp,esc(b.created_by)].join(',')+') RETURNING *';return [{json:{sql}}];"},"id":"bld-ins","name":"Build INSERT","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,432]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"pg-ins","name":"Run INSERT","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[656,432],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{data:items[0].json}}];"},"id":"fmt-row","name":"Format Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,432]},{"parameters":{"httpMethod":"PUT","path":"v3/notices","responseMode":"lastNode","options":{}},"id":"wh-put","name":"Webhook PUT","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,640],"webhookId":"v3-notices-put"},{"parameters":{"jsCode":"function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\";}const b=items[0].json.body;const sets=[];if(b.message!==undefined)sets.push('message='+esc(b.message));if(b.type!==undefined)sets.push('type='+esc(b.type));if(b.active!==undefined)sets.push('active='+b.active);if(b.priority!==undefined)sets.push('priority='+parseInt(b.priority));if(b.target_pages!==undefined)sets.push(b.target_pages ? \"target_pages='{\" + b.target_pages.join(',') + \"}'\" : 'target_pages=NULL');if(b.expires_at!==undefined)sets.push(b.expires_at ? 'expires_at='+esc(b.expires_at)+'::timestamptz' : 'expires_at=NULL');if(b.created_by!==undefined)sets.push('created_by='+esc(b.created_by));if(!sets.length)return [{json:{error:'nothing to update'}}];const sql='UPDATE notices SET '+sets.join(',')+ ' WHERE id='+esc(b.id)+' RETURNING *';return [{json:{sql}}];"},"id":"bld-upd","name":"Build UPDATE","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,640]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"pg-upd","name":"Run UPDATE","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[656,640],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{data:items[0].json}}];"},"id":"fmt-put","name":"Format PUT","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,640]},{"parameters":{"httpMethod":"DELETE","path":"v3/notices","responseMode":"lastNode","options":{}},"id":"wh-del","name":"Webhook DELETE","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,864],"webhookId":"v3-notices-del"},{"parameters":{"jsCode":"function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\") +\"'\";}const b=items[0].json.body;const sql=\"DELETE FROM notices WHERE id='\"+b.id.replace(/'/g,\"''\")+\"' RETURNING id\";return [{json:{sql}}];"},"id":"bld-del","name":"Build DELETE","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,864]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"pg-del","name":"Run DELETE","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[656,864],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"return [{json:{success:true,id:items[0].json.id}}];"},"id":"fmt-del","name":"Format DELETE","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,864]}],"connections":{"Webhook GET":{"main":[[{"node":"Select Active","type":"main","index":0}]]},"Select Active":{"main":[[{"node":"Format List","type":"main","index":0}]]},"Webhook POST":{"main":[[{"node":"Build INSERT","type":"main","index":0}]]},"Build INSERT":{"main":[[{"node":"Run INSERT","type":"main","index":0}]]},"Run INSERT":{"main":[[{"node":"Format Row","type":"main","index":0}]]},"Webhook PUT":{"main":[[{"node":"Build UPDATE","type":"main","index":0}]]},"Build UPDATE":{"main":[[{"node":"Run UPDATE","type":"main","index":0}]]},"Run UPDATE":{"main":[[{"node":"Format PUT","type":"main","index":0}]]},"Webhook DELETE":{"main":[[{"node":"Build DELETE","type":"main","index":0}]]},"Build DELETE":{"main":[[{"node":"Run DELETE","type":"main","index":0}]]},"Run DELETE":{"main":[[{"node":"Format DELETE","type":"main","index":0}]]}},"pinData":{},"meta":null}