2026/06/14/tJaEtzcdkbCFjl0X.json
{"nodes":[{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[224,4848],"id":"a8e11f39-c6c9-46dd-a6a4-2f9d785c22b1","name":"Loop Over jurisdictions"},{"parameters":{"inputSource":"passthrough"},"id":"31964445-05d2-4825-beff-11648240ff58","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,4912]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,4848],"id":"636c9412-aea3-4fca-bda5-3b797a6f9e76","name":"Merge"},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/items_prices_all/","options":{}},"id":"f1dabd5a-993f-499e-9ae8-50f30652c423","name":"Get item prices","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-384,4896],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/items_prices_all/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Phase 3 raw ingest for items_prices_all'\n)\nRETURNING id;\n","options":{}},"id":"7a70650b-f962-454e-b51b-b1a63e200713","name":"Create Batch Items Prices All","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-192,4720],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => {\n  \n  let asset_type;\n  let asset_source_id;\n\n  // Detect type based on which ID exists\n  if (row.id_item !== undefined) {\n    // Item pricing\n    asset_type = 'item';\n    asset_source_id = `items:${row.id_item}`;\n  } else if (row.id_commodity !== undefined) {\n    // Commodity pricing\n    asset_type = 'commodity';\n    asset_source_id = `commodities:${row.id_commodity}`;\n  } else {\n    throw new Error('Row does not contain id_item or id_commodity — cannot determine asset type');\n  }\n\n  return {\n    json: {\n      row,\n      asset_type,\n      asset_source_id\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,4896],"id":"7d79677b-1cd9-465e-a4f3-77c00b82bedd","name":"JS Item Prices All","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_prices_raw (\n    ingest_batch_id,\n    asset_type,\n    asset_source_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::TEXT,\n    $3::TEXT,\n    $4::jsonb\n);","options":{"queryReplacement":"={{$node[\"Create Batch Items Prices All\"].json[\"id\"]}},{{ $json.asset_type }},{{ $json.asset_source_id }},{{ $json.row }}"}},"id":"07f5be04-eb34-42c5-82e1-2dc0099506ec","name":"Insert items prices_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[464,4864],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}}],"connections":{"Loop Over jurisdictions":{"main":[[],[{"node":"Insert items prices_raw","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get item prices","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over jurisdictions","type":"main","index":0}]]},"Get item prices":{"main":[[{"node":"Create Batch Items Prices All","type":"main","index":0},{"node":"JS Item Prices All","type":"main","index":0}]]},"Create Batch Items Prices All":{"main":[[{"node":"Merge","type":"main","index":0}]]},"JS Item Prices All":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Insert items prices_raw":{"main":[[{"node":"Loop Over jurisdictions","type":"main","index":0}]]}},"pinData":{},"meta":null}