2026/06/14/yvM8xVTLw1ajn4RQ.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"v3/admin/orgs/resync","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"a3b616fb-1636-4839-acab-7b4a05c5bf1b","name":"Resync Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"36808c55-81c2-44d2-ab6f-ab4ed226a61f","credentials":{"httpBasicAuth":{"id":"LF2cxhn6JCJek4Yw","name":"api-auth-token-wE..sear"}}},{"parameters":{"operation":"executeQuery","query":"SELECT org_id::text, slug FROM sc_orgs ORDER BY created_at","options":{}},"id":"b9ed4bac-8404-4311-8bcc-7f120a4581ae","name":"Get All Orgs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[208,304],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, message: \"resync complete\" }) }}","options":{}},"id":"b03f0922-1dc1-4694-8d6a-3b7e38df55e3","name":"Respond Resync","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[608,112]},{"parameters":{"url":"={{ 'https://robertsspaceindustries.com/orgs/' + $json.slug }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"e971a7cf-ac8a-42b4-9b8e-8199aa2d4c2b","name":"Fetch RSI Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,304]},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst batchItem = $('Split Batches').item.json;\nconst slug = batchItem.slug;\nconst org_id = batchItem.org_id;\nconst html = (resp && resp.data) ? String(resp.data) : '';\n\nif (html.length < 100) {\n  return [{ json: { slug, org_id, html_ok: false, sql: 'SELECT 1 AS skip' } }];\n}\n\nconst nameMatch = html.match(/<h1>([^\\/<\\n]+?)\\s*\\/\\s*<span class=\"symbol\"/i);\nconst name = nameMatch ? nameMatch[1].trim() : null;\n\nconst descMatch = html.match(/class=\"[^\"]*body[^\"]*markitup[^\"]*\">([\\s\\S]{0,3000}?)<\\/div>/i);\nlet description = null;\nif (descMatch) {\n  description = descMatch[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 2000);\n}\n\nconst memberMatch = html.match(/([\\d,]+)\\s+members?/i);\nconst member_count = memberMatch ? parseInt(memberMatch[1].replace(/,/g, ''), 10) : null;\n\nconst logoMatch = html.match(/class=\"[^\"]*thumb[^\"]*\"[^>]*>[\\s\\S]{0,500}?<img[^>]+src=\"([^\"]+)\"/i);\nconst logo_url = logoMatch ? logoMatch[1] : null;\n\nconst is_recruiting = /recruiting/i.test(html);\n\nfunction esc(s) { return String(s).replace(/'/g, \"''\"); }\nconst sets = ['updated_at = now()', 'is_recruiting = ' + is_recruiting];\nif (name) sets.push(\"name = '\" + esc(name) + \"'\");\nif (description !== null) sets.push(\"description = '\" + esc(description) + \"'\");\nif (member_count !== null) sets.push('member_count = ' + member_count);\nif (logo_url) sets.push(\"logo_url = '\" + esc(logo_url) + \"'\");\n\nconst sql = \"UPDATE sc_orgs SET \" + sets.join(', ') + \" WHERE org_id = '\" + org_id + \"'::uuid RETURNING slug, name, member_count\";\nreturn [{ json: { slug, org_id, name, member_count, is_recruiting, sql, html_ok: true } }];"},"id":"5b02569a-e718-4cdd-ae5a-2f59b3cccf0a","name":"Parse RSI Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,304]},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"0b9c7447-59e8-411b-9915-d0dac146d05d","name":"Update Org","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"options":{}},"id":"1cd4131d-20ab-40f4-a506-f13be5e12650","name":"Split Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,304]}],"connections":{"Resync Webhook":{"main":[[{"node":"Get All Orgs","type":"main","index":0}]]},"Get All Orgs":{"main":[[{"node":"Split Batches","type":"main","index":0}]]},"Fetch RSI Page":{"main":[[{"node":"Parse RSI Data","type":"main","index":0}]]},"Parse RSI Data":{"main":[[{"node":"Update Org","type":"main","index":0}]]},"Update Org":{"main":[[{"node":"Split Batches","type":"main","index":0}]]},"Split Batches":{"main":[[{"node":"Respond Resync","type":"main","index":0}],[{"node":"Fetch RSI Page","type":"main","index":0}]]}},"pinData":{},"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true}}