2026/06/10/7PgeZ0BWejgWLXFO.json
{"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO uex_star_systems_raw (\n    ingest_batch_id,\n    payload\n)\nVALUES (\n    $1::uuid,\n    $2::jsonb\n);\n","options":{"queryReplacement":"={{$node[\"Create Batch Systems\"].json[\"id\"]}},{{ JSON.stringify($('JS Systems').item.json.row) }}"}},"id":"f46a3aae-7983-4438-9085-a34ad28066dc","name":"Insert uex_star_systems_raw","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,480],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ingest_batches (\n    source,\n    source_endpoint,\n    source_file_path,\n    source_hash,\n    workflow_version,\n    payload_shape,\n    notes\n) VALUES (\n    'uex',\n    'https://api.uexcorp.space/2.0/star_systems/',\n    NULL,\n    NULL,\n    'phase3-v1',\n    NULL,\n    'Initial Phase 3 raw ingest for star_systems'\n)\nRETURNING id;","options":{}},"id":"a4bbfe07-f669-4dab-a47f-6099b540ded4","name":"Create Batch Systems","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[288,384],"credentials":{"postgres":{"id":"ZdartBUBwtouNDDX","name":"scuser-full"}}},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","url":"https://api.uexcorp.space/2.0/star_systems/","options":{}},"id":"c9ad4e97-0bda-44d5-888d-5d780f75ef2c","name":"Get star_systems","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[64,480],"executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"5Nhjm2pq1zKnjO5W","name":"UEX API"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst root = items[0].json;\n\nif (!root.data || !Array.isArray(root.data)) {\n  throw new Error('Expected root.data to be an array from this UEX endpoint');\n}\n\nreturn root.data.map(row => ({\n  json: { row }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,576],"id":"68353809-0361-4551-9984-724af222d7aa","name":"JS Systems","alwaysOutputData":false},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[736,480],"id":"51f258b1-acea-4916-966a-0adb3226c9dd","name":"Loop Over Systems"},{"parameters":{"inputSource":"passthrough"},"id":"6834cd6e-080d-4379-8f8c-0ddd0390f92e","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,480]},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,480],"id":"6f86b7a5-617f-4855-b306-c8256203df8a","name":"Merge"}],"connections":{"Get star_systems":{"main":[[{"node":"JS Systems","type":"main","index":0},{"node":"Create Batch Systems","type":"main","index":0}]]},"Insert uex_star_systems_raw":{"main":[[{"node":"Loop Over Systems","type":"main","index":0}]]},"Create Batch Systems":{"main":[[{"node":"Merge","type":"main","index":0}]]},"JS Systems":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Systems":{"main":[[],[{"node":"Insert uex_star_systems_raw","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get star_systems","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Systems","type":"main","index":0}]]}},"pinData":{},"meta":null}